@{;
ViewBag.Title = "应急演练";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var DeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Cod
    var drillplanId = request('drillplanId');
    var qyearmonth = request('qyearmonth');//年月
    var mode = request('mode'); //跳转过来的数据
    var IndexMode = request('IndexMode');//首页代办跳转
    var IsGdxy = false;//版本标示 true 标示国电荥阳版本 false 通用版本
    var deptcode = request('deptcode');//统计页面跳转
    var drillmodename = request('drillmode');//统计页面跳转

    $(function () {
        IsGdxy = GetVersion();
        //演练预案类型
        ComBoxForData("DrillType", "MAE_DirllPlanType");
        //方式
        ComBoxForData("DrillMode", "MAE_DirllMode");
        InitialPage();
        GetGrid();
        GetTree();
    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
                $("#itemTree").setTreeHeight($(window).height() - 50);
            }, 200);
            e.stopPropagation();
        });
    }


    //加载组织机构树
    function GetTree() {
        var json = JSON.stringify(
                  {
                      SelectMode: 0,
                      Mode: 0
                  }
                );
        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _parentId = item.value;
                _isOrg = item.Sort;
                $('#btn_Search').trigger("click");
            }
        };

        //初始化
        $("#itemTree").treeview(item);
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            IndexMode: IndexMode,
            deptcode: deptcode,
            drillmodename: drillmodename
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            postData: { queryJson: JSON.stringify(queryJson), drillplanId: drillplanId, qyearmonth: qyearmonth, mode: mode },
            url: "../../EmergencyPlatform/Drillplanrecord/GetPageListJson",
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                { label: '创建人', name: 'createuserid', index: 'createuserid', align: 'center', sortable: true, hidden: true },
                { label: '创建人部门code', name: 'createuserdeptcode', index: 'createuserdeptcode', align: 'center', sortable: true, hidden: true },
                { label: '创建人组织code', name: 'createuserorgcode', index: 'createuserorgcode', align: 'center', sortable: true, hidden: true },
                {
                    label: '操作', name: 'Oper', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        if (rowObject.iscommit == "1") {
                            if (IsGdxy) {
                                if (rowObject.assessperson != "" && rowObject.isassessrecord == "1") {
                                    if (rowObject.assessperson.indexOf(userId) >= 0) {
                                        html += "<a href=javascript:f_assessrecord('" + rowObject.id + "','1')  title='评估'><i class='fa fa-check'></i></a>";
                                        html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
					}
				else{
					if(rowObject.createuserid == userId || rowObject.executepersonid == userId )
					{
                                        html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
					}
					}
				}
				else{
					if(rowObject.createuserid == userId || rowObject.executepersonid == userId )
					{
                                        html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
					}
					}
					

                            } else {
                                if (rowObject.isstartconfig == 0) {
                                    html += "<a href=javascript:f_evaluate('" + rowObject.id + "','1')  title='评价'><i class='fa fa-check'></i></a>";
                                } else if (rowObject.isoverevaluate == "0") {
                                    var roleList = roleNames.split(',');
                                    for (var i = 0; i < roleList.length; i++) {
                                        if (rowObject.evaluaterole.indexOf(roleList[i]) >= 0) {
                                            if (DeptId == rowObject.evaluatedeptid) {
                                                html += "<a href=javascript:f_evaluate('" + rowObject.id + "','0')  title='评价'><i class='fa fa-check'></i></a>";
                                                break;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        //创建人及执行人都可以进行修改
                        else if (rowObject.iscommit == "0" && (rowObject.createuserid == userId || rowObject.executepersonid == userId))
                        {
                             html += "<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        
                        return html;
                    }
                },
                { label: '', name: 'evaluatedeptid ', hidden: true },
                { label: '', name: 'evaluateroleid ', hidden: true }, { label: '', name: 'evaluaterole ', hidden: true },
                 { label: '', name: 'iscommit', hidden: true }, { label: '', name: 'isstartconfig', hidden: true }, { label: '', name: 'isoverevaluate', hidden: true },
                { label: '组织部门', name: 'orgdept', index: 'orgdept', align: 'center', sortable: true },
                { label: '演练部门', name: 'departname', index: 'departname', align: 'center', hidden: true , sortable: true },
                { label: '演练名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '预案名称', name: 'drillplanname', index: 'drillplanname', align: 'center', sortable: true },
                { label: '预案类型', name: 'drilltypename', index: 'drilltypename', align: 'center', sortable: true, width: '120px' },
                { label: '演练方式', name: 'drillmodename', index: 'drillmodename', align: 'center', sortable: true, width: '120px' },
                {
                    label: '演练时间', name: 'drilltime', index: 'drilltime', align: 'center', sortable: true, width: '100px', formatter: function (cellvalue, options, rowObject) {
                        return rowObject.drilltime.substring(0, 10);
                    }
                },
                { label: '演练地点', name: 'drillplace', index: 'drillplace', align: 'center', sortable: true, width: '150px' },
                { label: '参与人数', name: 'drillpeoplenumber', index: 'drillpeoplenumber', align: 'center', sortable: true,width:'80px' },
                {
                    label: '方案附件', name: 'name', align: 'center', sortable: false, width: '120px',
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.id;
                        return loadFile(key);
                    }
                },
                {
                    label: '评估人', name: 'assesspersonname', index: 'assesspersonname', align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.isassessrecord == "1") {
                            return cellvalue;
                        } else {
                            return "";
                        }
                    }
                },
                {
                    label: '演练问题及整改情况', name: '', index: '', align: 'center', width: '250px',hidden:(top.window.isWt != "1"?true:false),
                    formatter: function (cellvalue, options, rowObject) {
                        return "发现问题：" + '<a style="text-decoration:underline;color:blue"  href="javascript:view_Question(\'' + rowObject.id + '\')">' + (rowObject.fxnum == null ? "0" : rowObject.fxnum) + '</a>项&nbsp;&nbsp;已闭环：' + (rowObject.bhnum == null ? "0" : rowObject.fxnum) + '项';
                    }
                },
                 {
                     label: '评价状态', name: 'isoverevaluatestate', align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         if (rowObject.iscommit == 0) {
                             return '<a style="text-decoration:underline;color:blue" >待提交</a>';
                         }
                         else {
                             if (rowObject.isstartconfig == 1) {
                                 if (cellvalue == 0) {
                                     return '<a style="text-decoration:underline;color:blue"  href="javascript:btn_viewflow(\'' + rowObject.id + '\')">评价中</a>';
                                 } else {
                                     return '<a style="text-decoration:underline;color:blue"  href="javascript:btn_viewflow(\'' + rowObject.id + '\')">评价完成</a>';
                                 }
                             } else {
                                 if (cellvalue == 0) {
                                     return '<a style="text-decoration:underline;color:blue" >评价中</a>';
                                 } else {
                                     return '<a style="text-decoration:underline;color:blue" >已评价</a>';
                                 }
                             }
                         }
                     }
                 },
            ],
            viewrecords: true,
            rowNum: 30,
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            multiselect: false,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                //查询用户对该模块的数据操作权限
            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
                if (IsGdxy) {
                    $gridTable.hideCol(["isoverevaluatestate"]);
                    $('#gridTable').setGridWidth(($('.gridPanel').width()));
                } else {
                    $gridTable.hideCol(["assesspersonname"]);
                    $('#gridTable').setGridWidth(($('.gridPanel').width()));
                }

            }
        });
        //查询条件
        $("#queryCondition .dropdown-menu li").click(function () {
            var text = $(this).find('a').html();
            var value = $(this).find('a').attr('data-value');
            $("#queryCondition .dropdown-text").html(text).attr('data-value', value)
        });
        //查询事件
        $("#btn_Search").click(function () {
            if ($(".ui-filter-list").attr("style").indexOf("block") >= 0) {
                ////隐藏搜索框
                var title = $(".ui-filter-text");
                title.trigger("click");
            }
            var queryJson = {
                IndexMode:IndexMode,
                condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
                keyword: $("#txt_Keyword").val(),
                code: _parentId,
                isOrg: _isOrg,
                happentimestart: $("#HAPPENTIMES").val(),
                happentimeend: $("#HAPPENTIMEE").val(),
                DrillType: $("#DrillType").attr('data-value'),
                DrillMode: $("#DrillMode").attr('data-value'),
                name: $("#name").val(),
                qyearmonth: qyearmonth,
                mode: mode,
                deptcode: deptcode,
                drillmodename: drillmodename
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson), drillplanId: drillplanId, qyearmonth: qyearmonth, mode: mode }, page: 1
            }).trigger('reloadGrid');
        });
        $("#btn_Reset").click(function () {
            $("#HAPPENTIMES").val("");
            $("#HAPPENTIMEE").val("");
            $("#DrillType").attr('data-value',"")
            $("#DrillType").attr('data-text',"")
            $("#DrillType div:eq(0)").text("==请选择==");
            $("#DrillMode").attr('data-value',"")
            $("#DrillMode").attr('data-text',"")
            $("#DrillMode div:eq(0)").text("==请选择==");
            $("#name").val("")
        })
        //查询回车
        $('#txt_Keyword').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                $('#btn_Search').trigger("click");
            }
        });
    }

    function f_assessrecord(id) {
        var keyValue = id;
        dialogOpen({
            id: 'Form',
            title: '评估应急演练记录',
            url: '/EmergencyPlatform/Drillplanrecord/Form?type=assessrecord&keyValue=' + keyValue,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 150) + "px",
            btn: ["评估", "关闭"],
            callBack: function (iframeId) {
                top.frames[iframeId].AssessRecordClick();
            }
        })
    }
    //流程图
    function btn_viewflow(id) {
        if (id) {
            var title = "评价流程图";
            var rqUrl = "/EmergencyPlatform/Drillplanrecord/EvaluateFlow?keyValue=" + id;
            dialogOpen({
                id: 'EvaluateFlowForm',
                title: title,
                url: rqUrl,
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 50) + "px",
                btn: null
            });
        } else {
            dialogMsg('请选择查看行！', 0);
        }
    }
    //未配置评价流程时,评价时查询当前人是否进行了评价
    function f_evaluate(id, startconfig) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            if (startconfig == 1) {
                $.ajax({
                    url: '../../EmergencyPlatform/Drillplanrecord/GetEvaluateRecordByUserId',
                    data: { UserId: userId, DrillPlanRecordId: id },
                    dataType: "JSON",
                    async: false,
                    success: function (result) {
                        if (result>0) {
                            dialogMsg('该用户已评价！！！', 0);
                        }
                        else {
                            dialogOpen({
                                id: 'Form',
                                title: '评价应急演练记录',
                                url: '/EmergencyPlatform/Drillplanrecord/Form?type=evaluate&keyValue=' + keyValue,
                                width: ($(top.window).width() - 100) + "px",
                                height: ($(top.window).height() - 150) + "px",
                                btn: ["评价", "关闭"],
                                callBack: function (iframeId) {
                                    top.frames[iframeId].EvaluateClick();
                                }
                            })
                        }
                    }
                });
            } else {
                dialogOpen({
                    id: 'Form',
                    title: '评价应急演练记录',
                    url: '/EmergencyPlatform/Drillplanrecord/Form?type=evaluate&keyValue=' + keyValue,
                    width: ($(top.window).width() - 100) + "px",
                    height: ($(top.window).height() - 150) + "px",
                    btn: ["评价", "关闭"],
                    callBack: function (iframeId) {
                        top.frames[iframeId].EvaluateClick();
                    }
                })
            }
        }
    }
    //导出
    function exported() {
        var condition = $("#queryCondition").find('.dropdown-text').attr('data-value');
        var keyword = $("#txt_Keyword").val();
        var queryJson = {
            IndexMode: IndexMode,
            condition: $("#queryCondition").find('.dropdown-text').attr('data-value'),
            keyword: $("#txt_Keyword").val(),
            code: _parentId,
            isOrg: _isOrg,
            happentimestart: $("#HAPPENTIMES").val(),
            happentimeend: $("#HAPPENTIMEE").val(),
            DrillType: $("#DrillType").attr('data-value'),
            DrillMode: $("#DrillMode").attr('data-value'),
            name: $("#name").val(),
            qyearmonth: qyearmonth,
            mode: mode,
            deptcode: deptcode,
            drillmodename: drillmodename
        }
        var code = _parentId;
        location.href = "../../EmergencyPlatform/Drillplanrecord/ExportDrillplanrecordList?queryJson=" + JSON.stringify(queryJson) + "&drillplanId=" + drillplanId + "&qyearmonth=" + qyearmonth + "&mode=" + mode + "&condition=" + condition + "&keyword=" + keyword + "&code=" + code;
    }

    //新增
    function add() {
        dialogOpen({
            id: 'Form',
            title: '添加应急演练',
            url: '/EmergencyPlatform/Drillplanrecord/Form?type=add',
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 150) + "px",
            btn:null,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //编辑
    function edit(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Form',
                title: '编辑应急演练',
                url: '/EmergencyPlatform/Drillplanrecord/Form?type=edit&keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function del(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../../EmergencyPlatform/Drillplanrecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的应急演练！', 0);
        }
    }

    //加载附件
    function loadFile(cellvalue) {
        $.ajax({
            url: '../../SaftProductTargetManage/SafeProductDutyBook/GetFiles',
            data: { fileId: cellvalue },
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (result == "" || result == undefined || result == null) {
                    cellvalue = "&nbsp;&nbsp;无";
                }
                else {
                    cellvalue = "<a href=javascript:funcAction('" + cellvalue + "') style='color:blue; text-decoration:underline'  title='查看文件'>查看</a>";
                }
            }
        });
        return cellvalue;
    }

    //查看
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看信息',
                url: '/EmergencyPlatform/Drillplanrecord/Form?type=show&keyValue=' + keyValue,
                width: ($(top.window).width() - 100) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }

    //文件显示
    function funcAction(a) {
        var idx = dialogOpen({
            id: "Form",
            title: "查看文件",
            url: '/EmergencyPlatform/Drillplanrecord/Files?filesid=' + a,
            width: "500px",
            height: ($(top.window).height() - 550) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    function view_Question(keyvalue) {
        top.$.tab.addTab('0b9dbcd9-4c98-4993-ae21-485771549996', '../QuestionManage/QuestionInfo/SdIndex?relevanceid=' + keyvalue, '问题台账');
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title">应急演练</div>
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td>查询条件</td>
                            <td style="padding-left: 10px;">
                                <div class="ui-filter" style="width: 200px;">
                                    <div class="ui-filter-text">
                                        <input id="see" type="hidden" />
                                        请选择过滤条件
                                    </div>
                                    <div class="ui-filter-list" style="width: 350px;">
                                        <table class="form" id="filter-form">
                                            <tr>
                                                <th class="formTitle">演练时间：</th>
                                                <td class="formValue">
                                                    <input id="Category" type="hidden" value="1" />
                                                    <div style="float: left; width: 45%;">
                                                        <input id="HAPPENTIMES" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" />
                                                    </div>
                                                    <div style="float: left; width: 10%; text-align: center;">至</div>
                                                    <div style="float: left; width: 45%;">
                                                        <input id="HAPPENTIMEE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">演练方式：</td>
                                                <td class="formValue">
                                                    <div id="DrillMode" type="select" class="ui-select" style="width: 130px;"></div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td class="formTitle">预案类型：</td>
                                                <td class="formValue">
                                                    <div id="DrillType" type="select" class="ui-select" style="width: 130px;"></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formTitle">演练名称：</td>
                                                <td class="formValue">
                                                    <input id="name" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="ui-filter-list-bottom">
                                            <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>
                                            <a id="btn_Reset" class="btn btn-primary">&nbsp;重&nbsp;&nbsp;置</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
                        @*<a class="btn btn-default" onclick="show()"><i class="fa fa-search"></i>查看</a>*@
                        @*<a id="add" class="btn btn-default" onclick="add()"><i class="fa fa-plus"></i>新增</a>
                            <a id="edit" class="btn btn-default" onclick="edit()"><i class="fa fa-pencil-square-o"></i>编辑</a>
                            <a id="del" class="btn btn-default" onclick="del()"><i class="fa fa-trash-o"></i>删除</a>
                            <a id="export" class="btn btn-default" onclick="javascript: exported()"><i class="fa fa-download"></i>&nbsp;导出</a>*@
                    </div>
                    <script>$('.toolbar').authorizeButton()</script>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
