@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var keyValue = request('keyValue');
    var action = request('action');
    var rewardType = "";
    var rewardName = "";
    var rewardNameId = "";
    var rewardNum = "";
    var deptId = "";
    var deptName = "";
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    $(function () {
        
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
            top.window.$(".layui-layer-btn0").hide();
            $("#addreward").hide();
        }
        initControl();
        GetApproveGrid();
        GetGrid();
    });

    //初始化控件
    function initControl() {
        top.window.$(".layui-layer-btn1").attr("style", "background: #5cb85c;border: 1px solid #4cae4c;color: #fff;");
        //$("#trLeader").hide();
        // 获取分管领导
        //$("#LeaderShipId").ComboBox({
        //    url: "../../SafeReward/Safereward/GetLeaderList",
        //    id: "LeaderShipId",
        //    text: "LeaderShipName",
        //    description: "==请选择==",
        //    height: "200px"
        //});
        //公司级用户取机构对象
        @*if (roleNames.indexOf("公司级用户") >= 0)
        {
            deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";  //机构ID
            deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";//机构名称
        }
    else {*@
        deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId"; //部门ID
        deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName"; //部门ID
        //}
        $("#AUDITTIME").val("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")");
        $("#AUDITPEOPLE").val(userName); //审核人姓名
        $("#AUDITPEOPLEID").val(userId); //审核人ID
        $("#AUDITDEPTID").val(deptId); //审核部门ID
        $("#AUDITDEPT").val(deptName); //审核部门名称
        
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../SafeReward/Safereward/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    if (data.FlowState == 1) {
                        $("#export").show();
                    }
                    else {
                        $("#export").hide();
                    }
                    //修改
                    if (data != null) {
                        if (data.ApplyState !== "" && data.ApplyState !== "0" && data.ApplyState !== "6") {
                            top.window.$(".layui-layer-btn0").hide();
                            action = "show";
                            //审批中禁止修改
                            $("#addreward").hide();
                            $("#panel0 tr input").each(function (index, ele) {
                                $(this).attr("disabled", "disabled");
                            });
                            $("#RewardRemark").attr("disabled", "disabled");
                            $("#RewardAccord").attr("disabled", "disabled");

                            if (data.ApproverPeopleIds !== "" && data.ApproverPeopleIds.indexOf('@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId') != -1) {
                                $("#panel1").show();
                                $("#panel2").show();
                                top.window.$(".layui-layer-btn1").show();
                            } else {
                                action = "show";
                                top.window.$(".layui-layer-btn1").hide();
                                $("#panel1").show();
                                $("#panel2").hide();
                            }
                            //部门领导审核时选择下一步的分管领导
                            //if (data.ApplyState == 3) {
                            //    $("#trLeader").show();
                            //}
                        } else if (data.ApplyState == "0") {
                            top.window.$(".layui-layer-btn0").show();
                            top.window.$(".layui-layer-btn1").show();
                            $("#panel1").show();
                        }
                        else {
                            action = "show";
                            $("#panel0 tr input").each(function (index, ele) {
                                $(this).attr("disabled", "disabled");
                            });
                            $("#RewardRemark").attr("disabled", "disabled");

                            top.window.$(".layui-layer-btn0").hide();
                            top.window.$(".layui-layer-btn1").hide();
                            $("#panel1").show();
                        }
                    }
                }
            });
        }
        else {
            $("#ApplyUserName").val(userName); //申请人姓名
            $("#ApplyUserId").val(userId); //申请人id
            $("#BelongDept").val(deptName); //所属专业(部门)
            $("#BelongDeptId").val(deptId); //所属专业(部门)id
            @*$.get("GetRewardCode", function (data) {
                var json = eval("(" + data + ")");
                var year = "@DateTime.Now.ToString("yyyy")";
                var month = "@DateTime.Now.ToString("MM")";
                var rewardCode = "Q/CRPHZHB 2208.06.01-JL01-" + year + month + json;
                $("#SafeRewardCode").val(rewardCode);//奖励编号
            });*@
            top.window.$(".layui-layer-btn0").show();
            top.window.$(".layui-layer-btn1").show();
            $("#panel1").hide();
            $("#panel2").hide();
            $("#export").hide();
            keyValue = keyValue.length === 0 ? "@Guid.NewGuid().ToString()" : keyValue;
        }
        //视频跟图片的附件
        ShowOrEdit(action, "uploader1", keyValue);

        $("#HidStandard").click(function () {
            dialogOpen({
                id: 'RewardStandard',
                title: '奖惩管理标准',
                url: '/SafeReward/SafeReward/RewardStandard',
                width: ($(top.window).width() - 700) + "px",
                height: ($(top.window).height() - 500) + "px",
                btn: []
            });
        });
    }

    //保存表单;
    function AcceptClick() {
        if ($("#ApplyState").val() != 3) {
            $("#LeaderShipId").ComboBoxSetValue(1);
        }

        
        if (!$('#form1').Validform()) {
            return false;
        }
        if ($("#gridTable").jqGrid('getRowData').length == 0) {
            dialogMsg('请先新增被奖励对象！', 0);
            return false
        }
        var postData = $("#form1").formSerialize(keyValue);
        var data = $("#gridTable").jqGrid('getRowData');
        var planData = "";
        var arr = [];
        //var rewardmoney = 0;
        if (data.length > 0) {
            $(data).each(function (i, dom) {
                arr.push({ RewardType: dom.RewardType, RewardName: dom.RewardName, RewardNameId: dom.RewardNameId, RewardNum: dom.RewardNum, Id: dom.Id, RewardId: keyValue });
                //rewardmoney += dom.RewardNum;
            });
        }
        //postData["RewardMoney"] = rewardmoney;
        planData = JSON.stringify(arr);
        postData["dataJson"] = planData;
        $.SaveForm({
            url: "../../SafeReward/Safereward/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }

    //提交表单;
    function CommitApply() {
        if ($("#ApplyState").val() != 3) {
            $("#LeaderShipId").ComboBoxSetValue(1);
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        if ($("#gridTable").jqGrid('getRowData').length == 0) {
            dialogMsg('请先新增被奖励对象！', 0);
            return false
        }
        var postData = $("#form1").formSerialize(keyValue);
        var data = $("#gridTable").jqGrid('getRowData');
        var planData = "";
        var arr = [];
        //var rewardmoney = 0;
        if (data.length > 0) {
            $(data).each(function (i, dom) {
                arr.push({ RewardType: dom.RewardType, RewardName: dom.RewardName, RewardNameId: dom.RewardNameId, RewardNum: dom.RewardNum, Id: dom.Id, RewardId: keyValue });
                //rewardmoney += parseInt(dom.RewardNum);
            });
        }
        //postData["RewardMoney"] = rewardmoney;
        planData = JSON.stringify(arr);
        postData["dataJson"] = planData;
        postData["leaderShipId"] = $("#LeaderShipId").attr('data-value');
        //审核结果
        var auditresult = $("input[name='AUDITRESULT']:checked").val();
        postData["AUDITRESULT"] = auditresult;
        //审核结果
        if ($("#ApplyState").val() != 0 && auditresult != "") {
            if (auditresult == "" || auditresult == undefined) {
                dialogAlert("审查结果未勾选,无法进行提交!!!", function () {
                    return false;
                })
                return false;
            }
        }
        postData["AUDITSIGNIMG"] = $("#AuditSignImg").attr("src");

        $.SaveForm({
            url: "../../SafeReward/Safereward/CommitApply?keyValue=" + keyValue,
            param: postData,
            loading: "正在提交数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }

    //加载表格
    function GetGrid() {
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../SafeReward/Saferewarddetail/GetDataListJson",
            postData: { rewardId: keyValue },
            datatype: "json",
            height: 200,
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        var id = rowObject.Id == undefined ? "-1" : rowObject.Id;
                        if (action !="show") {
                            html += "<a href=javascript:edit('" + rowObject.RewardType + "','" + encodeURIComponent(rowObject.RewardName) + "','" + encodeURIComponent(rowObject.RewardNameId) + "','" + encodeURIComponent(rowObject.RewardNum) + "','" + id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:del('" + rowObject.Id + "','#gridTable')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                { label: '奖励对象类型', name: 'RewardType', width: 250, align: 'center', sortable: false },
                { label: '被奖励对象名称', name: 'RewardName', width: 400, align: 'center', sortable: false },
                { label: '奖励名称ID', name: 'RewardNameId', width: 150, align: 'center', sortable: false, hidden: true },
                { label: '奖励金额', name: 'RewardNum', width: 150, align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 30,
            //sortname: 'CreateDate',
            //sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
            }
        });
    }

    //安全奖励审核列表
    function GetApproveGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#approveGridTable');
        $gridTable.jqGrid({
            url: "../../SafeReward/Safereward/GetSpecialAuditList?keyValue=" + keyValue,
            datatype: "json",
            height: 200,
            autowidth: true,
            colModel: [
                //{
                //    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                //    formatter: function (cellvalue, options, rowObject) {
                //        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                //        return html;
                //    }
                //},
                 {
                     label: '审核部门', name: 'AUDITDEPT', width: 150, align: 'center',
                 },
                { label: '审核人', name: 'AUDITPEOPLE', index: 'AUDITPEOPLE', width: 120, align: 'center' },
                {
                    label: '审核结果', name: 'AUDITRESULT', index: 'AUDITRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.AUDITRESULT == "0" ? "通过" : "不通过";
                        return html;
                    }
                },{
                    label: '审核时间', name: 'AUDITTIME', index: 'AUDITTIME', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.AUDITTIME) {
                            content = rowObject.AUDITTIME.replace("00:00:00", "");
                        }
                        return content;
                    }
                },
                {
                    label: '签名', name: 'AUDITSIGNIMG', index: 'AUDITSIGNIMG', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = !!rowObject.AUDITSIGNIMG ? rowObject.AUDITSIGNIMG : "";
                        var html = "";
                        if (content == "" || content == undefined) {
                            var html = "<img  style=\"height:50px;\" />&nbsp;";
                        } else {
                            html = "<img style=\"height:50px;\"  src=\"" + content + "\"/>&nbsp;";
                        }

                        return html;
                    }
                },
                {
                    label: '审核意见', name: 'AUDITOPINION', index: 'AUDITOPINION', align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (!!rowObject.AUDITOPINION) {
                            html = "<span style='white-space:pre-wrap;' title=" + rowObject.AUDITOPINION + ">" + rowObject.AUDITOPINION + "</span>";
                        }
                        return html;
                    }
                }
                
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }


    //选择奖励人
    function setRewardUser() {
        selectUser({ deptId: "", checkMode: 0, mode: 0, winObject: document.body, domId: 'RewardUserName,,RewardUserId,ApplyDeptId,ApplyDeptCode,ApplyDeptName' });
    }

    //选择专业审核人
    function setSpecialtyPrincipal() {
        $.get("GetDeptPId", { "applyDeptId": $("#ApplyDeptId").val() }, function (data) {
            var json = eval("(" + data + ")");
            if (json != "") {
                selectUser({
                    deptId: json,
                    checkMode: 0,
                    mode: 1,
                    winObject: document.body,
                    domId: 'SpecialtyPrincipalName,,SpecialtyPrincipalId'
                });
            } else {
                selectUser({ deptId: json, checkMode: 0, mode: 0, winObject: document.body, domId: 'SpecialtyPrincipalName,,SpecialtyPrincipalId' });
            }
        });       
    }

    function addreward() {
        var url = "/SafeReward/Safereward/RewardDetail";
        rewardType = ""; rewardName = ""; rewardNameId = ""; rewardNum = "";
        idx = dialogOpen({
            id: "Details",
            title: "新增奖励",
            url: url,
            width: "600px",
            height: "450px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }

    //编辑
    function edit(targetProject, goalValue, realValue, completeStatus, id) {
        var rewardtype = $('#gridTable').jqGridRowValue('RewardType');
        var rewardname = $('#gridTable').jqGridRowValue('RewardName');
        var rewardnameid = $('#gridTable').jqGridRowValue('RewardNameId');
        var rewardnum = $('#gridTable').jqGridRowValue('RewardNum');
        var id = $('#gridTable').jqGridRowValue('Id');
        rewardType = rewardtype; rewardName = rewardname; rewardNameId = rewardnameid; rewardNum = rewardnum;
        idx = dialogOpen({
            id: "Details",
            title: "修改奖励",
            url: '/SafeReward/Safereward/RewardDetail?keyValue=' + id,
            width: "500px",
            height: "450px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    };

    //删除
    function del(id, gId) {
        var jqTable = $(gId);
        if (id != "undefined" && $("#SendStatus").val() != "") {
            $.RemoveForm({
                url: "../../SafeReward/Saferewarddetail/RemoveForm",
                param: { keyValue: id },
                success: function (data) {
                    jqTable.delRowData(jqTable.getGridParam('selrow'));
                }
            })
        } else {
            var idx = dialogConfirm("确认删除吗？", function (isSure) {
                if (isSure) {
                    jqTable.delRowData(jqTable.getGridParam('selrow'));
                    top.layer.close(idx);
                } else {
                    top.layer.close(idx);
                }
            });
        }
    };

    function exportData() {
        window.location.href = "ExportSafeRewardInfo?keyValue=" + keyValue;
    }

    function auditCheck(obj) {
        var signImg = getUserSignPic(userId);
        if (signImg != "" && signImg != undefined) {
            $("#AuditSignImg").attr("src", "../.." + signImg);
        } else {
            $(obj).get(0).checked = false;
        }


    }
</script>
<div class="panel panel-default" id="panel0">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;基础信息</strong>
        <span class="tools" style="float:right">
            <a href="javascript:exportData()" class="btn btn-primary btn-xs" id="export">导出审批表</a>&nbsp;&nbsp;
        </span>
    </div>
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <td class="formTitle" style="width:200px">编号</td>
                <td class="formValue" style="width:70%">
                    <input id="SafeRewardCode" type="text" class="form-control" readonly placeholder="自动生成" />
                    <input type="hidden" id="ApplyState" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">申请人<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="ApplyUserName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                    <input type="hidden" id="ApplyUserId" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">所属专业(部门:)<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="BelongDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly/>
                    <input type="hidden" id="BelongDeptId" />
                </td>
            </tr>
            @*<tr>
                <td class="formTitle">被奖励人员<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="RewardUserName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly onclick="setRewardUser()" />
                    <input type="hidden" id="RewardUserId" />
                </td>
            </tr>

            <tr>
                <td class="formTitle">被奖励部门(单位)<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="ApplyDeptName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onclick="selectDept('', 0, 0, '选择部门', this.parentNode, 'ApplyDeptName,ApplyDeptCode,ApplyDeptId', $('#DeptId').val());" />
                    <input type="hidden" id="ApplyDeptId" />
                    <input type="hidden" id="ApplyDeptCode" />

                </td>
            </tr>
            <tr>
                <td class="formTitle">审核人<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="SpecialtyPrincipalName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly onclick="setSpecialtyPrincipal()" />
                    <input type="hidden" id="SpecialtyPrincipalId" />
                </td>
            </tr>*@
            <tr>
                <td class="formTitle">申请时间<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="ApplyTime" type="text" value='@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")' class="form-control" onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
            @*<tr>
                <td class="formTitle">申请奖励金额<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="ApplyRewardRmb" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNumNotNull" />
                </td>
                <td class="formValue">
                    <a href="#" id="HidStandard" class="btn btn-primary" title='参考标准'><i class='fa fa-pencil-square-o'></i>参考标准</a>
                </td>
            </tr>*@
            <tr>
                <td class="formTitle">奖励信息描述<font face="宋体">*</font></td>
                <td class="formValue">
                    <textarea id="RewardRemark" rows="5" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" style="width:100%"> </textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">奖励依据</td>
                <td class="formValue">
                    <textarea id="RewardAccord" rows="5" type="text" class="form-control" style="width:100%"> </textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">专业意见</td>
                <td class="formValue" colspan="3">
                    <textarea id="SpecialtyOpinion" rows="5" type="text" class="form-control" style="width:100%"> </textarea>
                </td>
            </tr>
            <tr>
                <td class="formTitle">附件信息</td>
                <td class="formValue" colspan="3">
                    <div id="uploader1" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                        <div class="queueList">
                            <div id="uploaderFile" class="placeholder">
                                <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;奖励信息&nbsp;&nbsp;</strong>
        <span class="tools" style="text-align:right">
            <a href="javascript:addreward()" class="btn btn-primary btn-xs" id="addreward">新增奖励</a>&nbsp;&nbsp;
        </span>
    </div>
    <div class="panel-body">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>
@*<div class="panel panel-default" id="panelreward">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;奖励信息</strong>
    </div>
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form">
        </table>
    </div>
</div>*@

<div class="panel panel-default" id="panel1" style="display: none">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;审核记录</strong>
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" title="展开/收起"></a>
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table id="approveGridTable"></table>
        </div>
    </div>
</div>

<div class="panel panel-default" id="panel2" style="display: none">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;审核信息</strong>
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" title="展开/收起"></a>
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">审核人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="AUDITPEOPLE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        <input type="hidden" id="AUDITPEOPLEID" />
                        <input type="hidden" id="AUDITDEPTID" />
                        <input type="hidden" id="AUDITDEPT" />

                    </td>
                    <td class="formTitle">审核时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="AUDITTIME" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" disabled="disabled" readonly isvalid="yes" checkexpession="NotNull" />
                        <input type="hidden" id="PROJECTID" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审核结果<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="AUDITRESULT" id="AUDITRESULT1" value="0" onclick="auditCheck(this)" />同意
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="AUDITRESULT" id="AUDITRESULT2" value="1" onclick="auditCheck(this)" />不同意
                            </label>
                        </div>
                    </td>
                    <td class="formTitle">签名<font face="宋体">*</font></td>
                    <td class="formValue">
                        <img id="AuditSignImg" style="height:50px;" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审核意见</td>
                    <td class="formValue" colspan="3">
                        <textarea id="AUDITOPINION" name="AUDITOPINION" class="form-control"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    @*<div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">审核人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="AUDITPEOPLE" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly />
                        <input type="hidden" id="AUDITPEOPLEID" />
                        <input type="hidden" id="AUDITDEPTID" />
                        <input type="hidden" id="AUDITDEPT" />

                    </td>
                    <td class="formTitle">审核时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="AUDITTIME" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" disabled="disabled" readonly isvalid="yes" checkexpession="NotNull" />
                        <input type="hidden" id="PROJECTID" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审核结果<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="AUDITRESULT" id="AUDITRESULT1" value="0" checked="checked" />同意
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="AUDITRESULT" id="AUDITRESULT2" value="1" />不同意
                            </label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审核意见</td>
                    <td class="formValue" colspan="3">
                        <textarea id="AUDITOPINION" name="AUDITOPINION" class="form-control"></textarea>
                    </td>
                </tr>
                <tr id="trLeader">
                    <td class="formTitle" id="sjxz">分管领导<font face="宋体">*</font></td>
                    <td class="formValue" class="formValue" colspan="3" style="width: 70%">
                        <div id="LeaderShipId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>*@
</div>
