@model ERCHTMS.Entity.SystemManage.AppSettingAssociationEntity
@{
    ViewBag.Title = "EditAssociationFrom";
    Layout = "~/Views/Shared/_Form.cshtml";
    string ParentName = ViewBag.ParentName;
    string ModuleName = ViewBag.ModuleName;
}
<script>
    function AcceptClick(winObj) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/SaveMenuAssociationSetting?keyValue="+$("#Id"),
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                winObj.trigger("reloadGrid");
            }
        })
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div>
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 70px;">上级名称</th>
                <td class="formValue">
                    <input type="text" id="ParentName" value="@ParentName" class="form-control" readonly="readonly" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 70px;">功能模块</th>
                <td class="formValue">
                    <input type="text" id="ModuleName" value="@ModuleName" class="form-control" readonly="readonly" />
                    @Html.HiddenFor(p => p.Id)
                    @Html.HiddenFor(p => p.ModuleId)
                    @Html.HiddenFor(p => p.DeptId)
                    @Html.HiddenFor(p => p.ColumnId)
                    @Html.HiddenFor(p => p.ColumnName)
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 50px;">排序<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="Sort" type="text" class="form-control" style="" placeholder="请输入数字" isvalid="yes" checkexpession="Num" value="@Model.Sort" />
                </td>
            </tr>
        </table>
    </div>
</div>

