
@{
    ViewBag.Title = "RuleInfoForm";
    Layout = "~/Views/Shared/_Form.cshtml";
    string InfoTypeName = string.Empty;//数据类型名称
    string gridtableId = string.Empty;//保存完成后要刷新的grid的id
    switch (Request["infoType"])
    {
        case "1":
            InfoTypeName = "主题";
            gridtableId = "gridThemeType";
            break;
        case "2":
            InfoTypeName = "班组文化墙地址";
            gridtableId = "gridCultural";
            break;
        case "3":
            InfoTypeName = "首页地址";
            break;
        default:
            break;
    }
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<script>
    var keyValue = request('keyValue');
    $(function () {
        if (!!keyValue) {
            $.SetForm({
                url: "../../SystemManage/MenuAuthorize/GetRole",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                }
            });
        }
    })

    //保存表单
    function AcceptClick(winObj) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        console.log(postData)
        $.SaveForm({
            url: "../../SystemManage/MenuAuthorize/SaveRuleForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                winObj.trigger("reloadGrid");
            }
        })
    }
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div style="height: 350px;">
        <table class="form">
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">@InfoTypeName<font face="宋体">*</font></th>
                <td class="formValue">
                    <input id="InfoValue" type="text" class="form-control" style="" placeholder="要维护的数据的值" isvalid="yes" checkexpession="NotNull" />
                    <input type="hidden" id="AuthorizCodeId" value="@Request["authId"]" />
                    <input type="hidden" id="DeptId" value="@Request["DepartId"]" />
                    <input type="hidden" id="InfoType" value="@Request["infoType"]" />
                    <input type="hidden" id="InfoTypeName" value="@InfoTypeName" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">角色</th>
                <td class="formValue">
                    <input id="RuleNames" type="text" class="form-control" placeholder="角色授权" readonly="readonly" onclick=" selectRole($('#RuleIds').val(), undefined, 1, 2, window.document.body, 'RuleNames,RuleIds')" isvalid="yes" checkexpession="NotNull"  />
                    <input type="hidden" id="RuleIds" />
                </td>
            </tr>
            <tr>
                <th class="formTitle" style="text-align: left; padding-left: 7px; width: 55px;">所属单位</th>
                <td class="formValue">
                    <input id="DeptName" type="text" class="form-control" placeholder="所属单位" readonly="readonly"  value="@Request["DepartName"]" />
                </td>
            </tr>
        </table>
    </div>
</div>