@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script>
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户ID
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";//当前用户ID
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var _deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户部门ID
    var _deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户部门编码
    var _deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";//当前用户部门
    var EvaluatePlanId = request('EvaluatePlanId');//评价计划
    var pagetype = request('pagetype');
    var inMember = "";
    var isloadInMember = false;
    $(function () {
        initControl();
        GetGrid(0);
        GetGrid(1);
        if (!EvaluatePlanId) {
            $("#btn_ExportWord").css("display", "none");
        }

        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($(window).width() - 68));
                $('#gridTable2').setGridWidth(($(window).width() - 68));
                $('#gridTable').setGridHeight($(window).height() - ($(window).height() / 1.5));
                $('#gridTable2').setGridHeight($(window).height() - ($(window).height() / 1.5));
            }, 200);
            e.stopPropagation();
        });
    });
    function DefaultValue() {
        if (isloadInMember) {
            $("#InMember").val(inMember);
        }
    }
    //初始化控件
    function initControl() {
        if (pagetype == "report" || pagetype == "approve") {
            //var isDel = actiontype == "view" ? false : true;
            //file_upload.init({
            //    keyValue: EvaluatePlanId, extensions: '', isImage: false, el: '#uploader', extensions: 'doc,docx,xls,xlsx,ppt,pptx,pdf,jpg,jepg,png,gif,mp4,avi', fileSingleSizeLimit: 500 * 1024 * 1024
            //});

            //file_upload.bindFiles(isDel, false, EvaluatePlanId, "uploader", isDel);
            GetStandardGrid(3);
            GetStandardGrid(4);
        }
        //查看
        if (actiontype == "view") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            //$(".center-Panel").removeAttr("style");
            //$(".form-button").css("display", "none");
            $("#form1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $("#add,#import").hide();
            if (!EvaluatePlanId) {
                $(".form-button").css("display", "none");
            }
        }
        //评价报告打开页面  仅查看，并上传附件，提交后可进行审核
        if (pagetype == "report") {
            $('#tr1,#tr2,#tr3,#tr4,#tr5,#add,#import').hide();
            $("#AppraiserUser").attr("isvalid", "no");
            $("#DutyDept").attr("isvalid", "no");
            $("#EvaluateDate").attr("isvalid", "no");
            $("#Approver").attr("isvalid", "no");
            $("#ApproveDept").attr("isvalid", "no");
            $("#ApproveDate").attr("isvalid", "no");
            $("#ApproveResult").attr("isvalid", "no");
            $("#ApproveOpinion").attr("isvalid", "no");
            //获取表单
            if (!!EvaluatePlanId) {
                $.SetForm({
                    url: "../../EvaluateManage/EvaluatePlan/GetFormJson",
                    param: { keyValue: EvaluatePlanId },
                    success: function (data) {
                        if (data.CheckState == 0) {
                            isloadInMember = true;
                            data.EvaluateScope = "公司管理和生产运营活动中涉及的安全、职业健康、环境、质量技术、财务等因素。";
                            data.EvaluateGist = "1、Q/CRPHZHB 2304.08.01―2018《法律法规识别与合规性评价管理标准》2、GB / T28001 - 2011《职业健康安全管理体系 要求》4.3.2 法律法规和其他要求3、GB / T24001 - 2016《环境管理体系要求及使用指南》9.1.2 合规性评价4、GB / T23331 - 2012《能源管理体系 要求》4.4.2法律法规和其他要求5、CMB253N（M）-2015《诺诚综合五星系统常规工业指导手册》4.3.2 法律法规及其他要求，4.5.2 合规性评价。6、相关法律法规和标准";
                            data.RecognizeCondition = "    为了认真贯彻落实国家有关法律法规和控股公司标准化管理要求，华润电力湖北有限公司（以下简称“公司”）始终以“严守安全底线，切实提升安全管控能力，打造本质安全企业”的安健环方针为指引，以“诚实守信、依法合规、以人为本、持续发展、全员参与、追求卓越、风险预控、安全环保、节能高效、健康幸福”的企业安健环政策为保障，正确认识法律法规文件的指导作用，建立具有企业业务自身特点的适用的法定要求体系。";
                            data.EvaluateSummarize = "(一) 我司收集适用的法定要求均纳入企业标准体系。在开展法定要求识别的基础上，对适用法定要求进行动态管理，动态跟踪，保证实效性。根据《职业病防治法》修订，国家加大了对医疗机构职业危害因素的预防控制立法力度，明确要求其必须向卫生行政部门提交放射性职业病危害预评价报告，且其放射性职业病防护设施必须经卫生行政部门验收合格后，方可投入使用等。我司管理人员及时进行识别、解读，并组织了职业病防治知识教育培训，号召全厂职工认真学习文件要求。我司开展的安全大检查部署工作，有效防范和坚决遏制重特大安全生产事故的发生，着重防止粉尘、油气、氨气等可燃物爆炸，深入排查及消除事故隐患。并不时指导各班组认真学习贯彻新《安全生产法》、《电力设备典型设备消防规程》等重要的安全法律法规，理解和掌握规定和内容，查找安全隐患，开展有针对性的防范工作。新收集的法定要求定期更新，通过公司网站进行公告，便于全厂职工及时了解和学习。（二） 公司收集新的法定要求，由各部门、班组或元素负责人结合本公司的企业标准，开展依从性的审查，对不符合法定要求的标准重新走修订流程，同时由各部门、班组或元素负责人组织安排相关人员进行宣贯和学习，对新法定要求进行解读便于职工学习和评价生产经营过程中是否有违法行为。公司高度重视合法经营，多次委派公司管理人员和专责人员参加新法律法规的学习和培训。（三） 我司每年一次对法律法规识别的情况进行合规性评价，并针对出现的不符合，制定和实施纠正与预防措施。管理者代表负责全厂的适用法定要求的清单和评价结果的审批，出现重大不符合时，召集有关部门研究解决问题。每月进行环保、节能技术监督，还对燃烧电厂各类排放如：废水排放、大气排放、噪声排放、灰渣或固体废气物排放和各项危险、安全、健康、经营等管理如：化学品管理、消防管理、特种设备安全、电力安全生产管理、节能管理、劳动防护与职业健康管理、财务管理、党群行政经营管理，对照最新的法定要求进行严格审查与合规评价。 2018年合规性评价综述，见下表：";
                            data.EvaluateVerdict = "    经过评价，我司获取法律法规、标准规范和要求的渠道畅通有效，没有违法国家法律、法规及相关标准。严格遵守国家有关法律方面的规定，密切关注法律法规的变化，并适时调整，严格按法规标准执行。在各生产经营方面都能够有效遵循法律法规，未发生重大安全事故，未发生环境扰民事件、无个人或单位投诉、无环境污染事件发生，无发生尘肺病、传染病及其他卫生防疫问题事件，各项的环境行为符合法律法规和环境要求。我司全面完成年初制定的环境目标指标。每月的水、气、噪声、灰渣等方面严格遵守相关的法律、法规，没有发生重大环境污染事故，除了企业内部进行检查之外，接受政府环保部门的监督，在环保检查中没有发生环保违法违纪事件。";
                        }
                        $("#form1").formDeserialize(data);
                    }
                })
            }
        } else if (pagetype == "approve") {//审核打开页面
            $("#ApproveResult").ComboBox({
                description: "==请选择==",
            }).bind("change", function () {
                if ($("#ApproveResult").attr("data-value") == "0") { //0通过 1不通过
                    $("#ApproveOpinion").attr("checkexpession", "LenStrOrNull");
                } else {
                    $("#ApproveOpinion").attr("checkexpession", "LenStr");
                }
            });
            $('#tr1,#tr2,#add,#import').hide();
            $("#AppraiserUser").attr("isvalid", "no");
            $("#DutyDept").attr("isvalid", "no");
            $("#EvaluateDate").attr("isvalid", "no");
            //获取表单
            if (!!EvaluatePlanId) {
                $.SetForm({
                    url: "../../EvaluateManage/EvaluatePlan/GetFormJson",
                    param: { keyValue: EvaluatePlanId },
                    success: function (data) {
                        $("#form1").formDeserialize(data);
                        $("#Approver").val(userName);
                        $("#ApproveDept").val(_deptName);
                        $("#ApproveDate").val("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")");
                    }
                })
            }
        } else {
            $('#tr3,#tr4,#tr5,#tr6,#ReviewDateDiv,#InMemberDiv,#EvaluateScopeDiv,#EvaluateScopeDiv,#EvaluateGistDiv,#RecognizeConditionDiv,#ImplementStandardDiv,#CrippledStandardDiv,#EvaluateSummarizeDiv,#EvaluateVerdictDiv').hide();
            $("#Approver").attr("isvalid", "no");
            $("#ApproveDept").attr("isvalid", "no");
            $("#ApproveDate").attr("isvalid", "no");
            $("#ApproveResult").attr("isvalid", "no");
            $("#ApproveOpinion").attr("isvalid", "no");
            //获取表单
            if (!!keyValue) {
                $.SetForm({
                    url: "../../EvaluateManage/Evaluate/GetFormJson",
                    param: { keyValue: keyValue },
                    success: function (data) {
                        $("#form1").formDeserialize(data);
                        if (actiontype != "view") {
                            $("#AppraiserUser").val(userName);
                            $("#AppraiserUserId").val(userId);
                            $("#EvaluateDate").val("@DateTime.Now.ToString("yyyy-MM-dd HH:mm")");
                        }
                    }
                })
            }
        }
    }
    //加载表格
    function GetGrid(IsConform) {

        var queryJson = {
            queryJson: JSON.stringify({ IsConform: IsConform, MainId: keyValue, EvaluatePlanId: EvaluatePlanId })
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        if (IsConform == 0) {
            $gridTable = $('#gridTable');
            $gridTable.jqGrid({
                autowidth: true,
                height: $(window).height() - ($(window).height() / 1.5),
                url: "../../EvaluateManage/EvaluateDetails/GetListJson",
                postData: queryJson,
                datatype: "json",
                sortname: 'CreateDate',
                sortorder: 'desc',
                colModel: [
                    { label: '主键', name: 'Id', index: 'Id', width: 100, align: 'left', sortable: true, hidden: true },
                    {
                        label: '操作', name: 'Oper', index: 'Oper', width: 120, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            var html = "";
                            html += "<a href=javascript:show('" + rowObject.Id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                            if ((actiontype != "view" && pagetype != "report" && pagetype != "approve") && rowObject.CreateUserId == userId) {
                                html += "<a href=javascript:btn_edit('" + rowObject.Id + "')  title='修改' name='delete'><i class='fa fa-pencil-square-o'></i></a>";
                                html += "<a href=javascript:btn_delete('" + rowObject.Id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                            }
                            return html;
                        }
                    },
                    { label: '大类', name: 'CategoryName', index: 'Category', align: 'center', width: 100, sortable: false },
                    { label: '小类', name: 'RankName', index: 'Rank', align: 'center', width: 100, sortable: false },
                    { label: '文件编号及名称', name: 'FileName', index: 'FileName', width: 400, align: 'center', sortable: false },
                    { label: '颁布部门', name: 'DutyDept', index: 'DutyDept', width: 200, align: 'center', sortable: false },
                    {
                        label: '实施日期', name: 'PutDate', index: 'PutDate', width: 100, align: 'center', sortable: true,
                        formatter: function (cellvalue, options, rowObject) {
                            return formatDate(cellvalue, 'yyyy-MM-dd');
                        }
                    },
                    { label: '纳入企业标准的名称', name: 'NormName', index: 'NormName', width: 200, align: 'center', sortable: false },
                    { label: '适用条款', name: 'Clause', index: 'Clause', width: 200, align: 'center', sortable: false },
                    { label: '适用范围', name: 'ApplyScope', index: 'ApplyScope', width: 200, align: 'center', sortable: false },
                    {
                        label: '符合性', name: 'IsConform', index: 'IsConform', width: 80, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            if (cellvalue == '0') {
                                return "符合";
                            } else if (cellvalue == '1') {
                                return "不符合";
                            } else {
                                return "";
                            }
                        }
                    },
                    { label: '现状符合性描述', name: 'Describe', index: 'Describe', width: 200, align: 'center', sortable: false },
                    {
                        label: '评价人', name: 'EvaluatePerson', index: 'EvaluatePerson', width: 100, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            debugger;
                            if (inMember.indexOf(cellvalue) == -1) {
                                inMember += cellvalue + ",";
                            }
                            return cellvalue == null ? "" : cellvalue;
                        }
                    },
                    //{ label: '整改意见', name: 'Opinion', index: 'Opinion', width: 100, align: 'center', sortable: false },
                    //{ label: '整改计划完成时间', name: 'FinishTime', index: 'FinishTime', width: 150, align: 'center', sortable: false },
                    //{ label: '备注', name: 'Remake', index: 'Remake', width: 100, align: 'center', sortable: false },
                    { label: '', name: 'CreateUserId', index: 'CreateUserId', hidden: true },
                    { label: '', name: 'CreateUserDeptCode', index: 'CreateUserDeptCode', hidden: true },
                    { label: '', name: 'CreateUserOrgCode', index: 'CreateUserOrgCode', hidden: true }
                ],
                onSelectRow: function () {
                    selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                },
                gridComplete: function () {
                    DefaultValue();
                    $gridTable.setGridWidth(($(window).width() - 68));
                }
            });
        }
        if (IsConform == 1) {
            $gridTable = $('#gridTable2');
            $gridTable.jqGrid({
                autowidth: true,
                height: $(window).height() - ($(window).height() / 1.5),
                url: "../../EvaluateManage/EvaluateDetails/GetListJson",
                postData: queryJson,
                datatype: "json",
                sortname: 'CreateDate',
                sortorder: 'desc',
                colModel: [
                    { label: '主键', name: 'Id', index: 'Id', width: 100, align: 'left', sortable: true, hidden: true },
                    {
                        label: '操作', name: 'Oper', index: 'Oper', width: 120, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            var html = "";
                            html += "<a href=javascript:show('" + rowObject.Id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                            if ((actiontype != "view" && pagetype != "report" && pagetype != "approve") && rowObject.CreateUserId == userId) {
                                html += "<a href=javascript:btn_edit('" + rowObject.Id + "')  title='修改' name='delete'><i class='fa fa-pencil-square-o'></i></a>";
                                html += "<a href=javascript:btn_delete('" + rowObject.Id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                            }
                            return html;
                        }
                    },
                    { label: '大类', name: 'CategoryName', index: 'CategoryName', align: 'center', width: 100, sortable: false },
                    { label: '小类', name: 'RankName', index: 'RankName', align: 'center', width: 100, sortable: false },
                    { label: '文件编号及名称', name: 'FileName', index: 'FileName', width: 400, align: 'center', sortable: false },
                    { label: '颁布部门', name: 'DutyDept', index: 'DutyDept', width: 200, align: 'center', sortable: false },
                    {
                        label: '实施日期', name: 'PutDate', index: 'PutDate', width: 100, align: 'center', sortable: true,
                        formatter: function (cellvalue, options, rowObject) {
                            return formatDate(cellvalue, 'yyyy-MM-dd');
                        }
                    },
                    { label: '纳入企业标准的名称', name: 'NormName', index: 'NormName', width: 200, align: 'center', sortable: false },
                    { label: '适用条款', name: 'Clause', index: 'Clause', width: 200, align: 'center', sortable: false },
                    { label: '适用范围', name: 'ApplyScope', index: 'ApplyScope', width: 200, align: 'center', sortable: false },
                    {
                        label: '符合性', name: 'IsConform', index: 'IsConform', width: 80, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            if (cellvalue == '0') {
                                return "符合";
                            } else if (cellvalue == '1') {
                                return "不符合";
                            } else {
                                return "";
                            }
                        }
                    },
                    { label: '现状符合性描述', name: 'Describe', index: 'Describe', width: 200, align: 'center', sortable: false },
                    { label: '整改意见', name: 'Opinion', index: 'Opinion', width: 100, align: 'center', sortable: false },
                    { label: '整改截止时间', name: 'FinishTime', index: 'FinishTime', width: 150, align: 'center', sortable: false },
                    {
                        label: '评价人', name: 'EvaluatePerson', index: 'EvaluatePerson', width: 100, align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            if (inMember.indexOf(cellvalue) == -1) {
                                inMember += cellvalue + ",";
                            }
                            return cellvalue;
                        }
                    },
                    //{ label: '备注', name: 'Remake', index: 'Remake', width: 100, align: 'center', sortable: false },
                    { label: '', name: 'CreateUserId', index: 'CreateUserId', hidden: true },
                    { label: '', name: 'CreateUserDeptCode', index: 'CreateUserDeptCode', hidden: true },
                    { label: '', name: 'CreateUserOrgCode', index: 'CreateUserOrgCode', hidden: true }
                ],
                onSelectRow: function () {
                    selectedRowIndex = $('#' + this.id).getGridParam('selrow');
                },
                gridComplete: function () {
                    DefaultValue();
                    $gridTable.setGridWidth(($(window).width() - 68));
                }
            });
        }



    }
    //新增
    function btn_add() {
        EvaluatePlanId = $("#EvaluatePlanId").val();//记录计划ID
        var title = '添加合规性评价';
        dialogOpen({
            id: 'Sikp',
            title: title,
            url: '/EvaluateManage/EvaluateDetails/Form?pId=' + keyValue + '&actiontype=add' + '&EvaluatePlanId=' + EvaluatePlanId,
            width: '60%',
            height: '80%',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function show(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看合规性评价',
            url: '/EvaluateManage/EvaluateDetails/Form?actiontype=view&keyValue=' + keyValue,
            width: '60%',
            height: '80%',
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_edit(keyValue) {
        //var keyValue = $('#gridTable').jqGridRowValue('Id');
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑合规性评价',
                url: '/EvaluateManage/EvaluateDetails/Form?keyValue=' + keyValue,
                width: '60%',
                height: '80%',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete(keyValue) {
        //var keyValue = $('#gridTable').jqGridRowValue('ID');
        if (keyValue) {
            $.RemoveForm({
                url: '../../EvaluateManage/EvaluateDetails/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                    $('#gridTable2').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的合规性评价！', 0);
        }
    }
    //保存表单;
    function AcceptClick(EvaluateState) {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var urlStr = "";
        var confirmStr = "";
        if (!!pagetype) {
            if (pagetype == "approve") {
                //替换状态 //0数据已提交 1评价报告保存 2评价报告提交 3审核保存 4审核提交
                if (EvaluateState == 1) { EvaluateState = 3; }
                if (EvaluateState == 2) { EvaluateState = 4; }
            }
            urlStr = "../../EvaluateManage/EvaluatePlan/SaveForm?keyValue=" + EvaluatePlanId + "&IsSubmit=" + EvaluateState + "&type=2";
            confirmStr = "是否确认完成？";
        } else {
            urlStr = "../../EvaluateManage/Evaluate/SaveForm?keyValue=" + keyValue + "&EvaluateState=" + EvaluateState;
            confirmStr = "提交后无法进行评价，是否确认本部门合规性评价全部完成？";
        }
        if (EvaluateState == 2 || EvaluateState == 4) {
            dialogConfirm(confirmStr, function (res) {
                if (res) {
                    $.SaveForm({
                        url: urlStr,
                        param: postData,
                        loading: "正在保存数据...",
                        success: function () {
                            $.currentIframe().$("#gridTable").trigger("reloadGrid");
                        }
                    })
                }
            });
        } else {
            $.SaveForm({
                url: urlStr,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
    }
    //导出
    function exportData() {
        var queryJson = {
            MainId: keyValue,
            EvaluatePlanId: EvaluatePlanId
        }
        window.location.href = "../../EvaluateManage/EvaluateDetails/ExportExcel?queryJson=" + JSON.stringify(queryJson);
    }
    //导入
    var idx;
    var isImport = false;
    function importData() {
        EvaluatePlanId = $("#EvaluatePlanId").val();//记录计划ID
        idx = dialogOpen({
            id: "Import",
            title: '导入合规性评价',
            url: '/EvaluateManage/EvaluateDetails/Import?keyValue=' + keyValue + '&EvaluatePlanId=' + EvaluatePlanId,
            width: "500px",
            height: ($(top.window).height() - 550) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            },
            cancel: function (index) {
                if (isImport) {
                    isImport = false;
                    var queryJson = {
                        IsConform: 0,
                        MainId: keyValue,
                        EvaluatePlanId: EvaluatePlanId
                    }
                    $("#gridTable").jqGrid('setGridParam', {
                        postData: { queryJson: JSON.stringify(queryJson) },
                        page: 1
                    }).trigger('reloadGrid');

                    var queryJson1 = {
                        IsConform: 1,
                        MainId: keyValue,
                        EvaluatePlanId: EvaluatePlanId
                    }
                    $("#gridTable2").jqGrid('setGridParam', {
                        postData: { queryJson: JSON.stringify(queryJson1) },
                        page: 1
                    }).trigger('reloadGrid');
                }

            }
        });
    }
    //自动识别
    function btn_gain() {
        EvaluatePlanId = $("#EvaluatePlanId").val();//记录计划ID
        var deptname = $("#DutyDept").val();//部门名称（根据评价部门识别对应数据）
        if (!!deptname) {
            $.SaveForm({
                url: "../../EvaluateManage/Evaluate/SaveForm3",
                param: { keyValue: keyValue, DeptName: deptname, EvaluatePlanId: EvaluatePlanId },
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
         }
    }
    //加载表格
    function GetStandardGrid(type) {
        var queryJson = {
            standardtypestr: "5,6",
        };
        var $gridTable = $('#gridTable3');
        if (type == 3) {
            var myDate = new Date();
            queryJson = {
                standardtypestr: "5,6",
                carrydate: myDate.getFullYear()
            };
            $gridTable = $('#gridTable3');
        }
        if (type == 4) {
            queryJson = {
                standardtypestr: "5,6",
                timeliness: "FZ"
            };
            $gridTable = $('#gridTable4');
        }
        var colModel = [
            { label: '主键', name: 'id', width: 10, align: 'left', sortable: true, hidden: true },
            { label: '', name: 'createuserid', hidden: true }, { label: '', name: 'createuserdeptcode', hidden: true }, { label: '', name: 'createuserorgcode', hidden: true },
            {
                label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                formatter: function (cellvalue, options, rowObject) {
                    var html = "";
                    html += "<a href=javascript:btn_show('" + rowObject.id + "','" + rowObject.standardtype + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                    
                    return html;
                }
            },
            { label: '文件编号及名称', name: 'filename', index: 'filename', width: 200, align: 'center', sortable: true },
            { label: '颁布部门', name: 'publishdept', width: 160, align: 'left', sortable: true},
            {
                label: '实施日期', name: 'carrydate', index: 'carrydate', width: 180, align: 'center', sortable: true,
                formatter: function (cellvalue, options, rowObject) {
                    return formatDate(cellvalue, 'yyyy-MM-dd');
                }
            },
            { label: '主键', name: 'standardtype', index: 'standardtype', hidden: true }
        ];
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - ($(window).height() / 1.5),
            url: "../../StandardSystem/Standardsystem/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: colModel,
            viewrecords: true,
            sortname: 'isnew,a.createdate',
            sortorder: 'desc',
            rownumbers: true,
            multiboxonly: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            }
            //,
            //gridComplete: function () {
            //    if (!!actiontype) {
            //        $gridTable.hideCol("Oper");
            //        $gridTable.hideCol("cb");
            //    }
            //}
        });
    }
    //查看
    function btn_show(keyValue, standardtype) {
        if (checkedRow(keyValue)) {
            var idx = dialogOpen({
                id: 'StandardForm',
                title: '查看',
                url: '/StandardSystem/Standardsystem/Form?actiontype=view&keyValue=' + keyValue + "&standardtype=" + standardtype,
                width: "800px",
                height: ($(top.window).height() - 50) + "px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            })
        }
    }
    //导出
    function ExportWord() {
        var queryJson = {
            keyValue: keyValue,
            EvaluatePlanId: EvaluatePlanId
        }
        window.location.href = "../../EvaluateManage/Evaluate/ExportWord?queryJson=" + JSON.stringify(queryJson);
    }
</script>
<div style="margin-top: 60px; margin-right: 30px;">
    <table class="form">
        <tr id="tr1">
            <td class="formTitle">评价人</td>
            <td class="formValue">
                <input id="EvaluatePlanId" type="hidden" />
                <input id="AppraiserUserId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                <input id="AppraiserUser" type="text" class="form-control" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
            </td>
            <td class="formTitle">评价部门</td>
            <td class="formValue">
                <input id="DutyDeptCode" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode" />
                <input id="DutyDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
            </td>
        </tr>
        <tr id="tr2">
            <td class="formTitle">评价时间</td>
            <td class="formValue">
                <input id="EvaluateDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
            </td>
        </tr>
        <tr id="tr3">
            <td class="formTitle">审批人</td>
            <td class="formValue">
                <input id="Approver" type="text" class="form-control" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
            </td>
            <td class="formTitle">审批部门</td>
            <td class="formValue">
                <input id="ApproveDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
            </td>
        </tr>
        <tr id="tr4">
            <td class="formTitle">审批时间</td>
            <td class="formValue">
                <input id="ApproveDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" isvalid="yes" checkexpession="NotNull" disabled="disabled" />
            </td>
            <td class="formTitle">审批结果<font face="宋体">*</font></td>
            <td class="formValue">
                <div id="ApproveResult" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                    <ul>
                        <li data-value="0">通过</li>
                        <li data-value="1">不通过</li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr id="tr5">
            <td class="formTitle">审批意见</td>
            <td class="formValue" colspan="3">
                <textarea id="ApproveOpinion" class="form-control" style="height: 80px;" isvalid="yes" checkexpession="LenStrOrNull" length="300"></textarea>
            </td>
        </tr>
        @*<tr id="tr6">
                <td class="formTitle">附件信息</td>
                <td class="formValue" colspan="3">
                    <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                        <div class="queueList">
                            <div id="uploaderFile" class="placeholder">
                                <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                        </div>
                    </div>
                </td>
            </tr>*@
    </table>

    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="ReviewDateDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;一、评审时间</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="ReviewDate" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="InMemberDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;二、参加评价的主要成员</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="InMember" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="EvaluateScopeDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;三、评价范围</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="EvaluateScope" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="EvaluateGistDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;四、评价依据</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="EvaluateGist" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="RecognizeConditionDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;五、法定要求识别情况</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="RecognizeCondition" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="1000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;合规性评价</strong>
                <span class="tools pull-right">
                    @*<a id="gain" onclick="btn_gain()" style="cursor:pointer;"><i class="fa fa-plus"></i>&nbsp;自动识别</a>&nbsp;&nbsp;*@
                    <a id="add" onclick="btn_add()" style="cursor:pointer;"><i class="fa fa-plus"></i>&nbsp;添加</a>&nbsp;&nbsp;
                    <a id="import" onclick="importData()" style="cursor:pointer;"><i class="fa fa-file-excel-o"></i>&nbsp;导入</a>&nbsp;&nbsp;
                    <a id="export" onclick="exportData()" style="cursor:pointer;"><i class="fa fa-upload"></i>&nbsp;导出</a>&nbsp;&nbsp;
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <div class="panel-TitlePage">
                    <div style="padding:5px;"><b>符合项</b></div>
                </div>
                <div class="gridPanel">
                    <table id="gridTable"></table>
                </div>
                <div class="panel-TitlePage">
                    <div style="padding:5px;"><b>不符合项</b></div>
                </div>
                <div class="gridPanel">
                    <table id="gridTable2"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="ImplementStandardDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;最新（本年度）实施的法律法规、指导标准清单</strong>
                @*<span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>*@
            </div>
            <div class="panel-body" style="padding:0px;">
                <div class="gridPanel">
                    <table id="gridTable3"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="CrippledStandardDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;废止的法律法规、指导标准清单</strong>
                @*<span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>*@
            </div>
            <div class="panel-body" style="padding:0px;">
                <div class="gridPanel">
                    <table id="gridTable4"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="EvaluateSummarizeDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;六、合规性评价综述</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="EvaluateSummarize" class="form-control" style="height: 100px;" isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
            </div>
        </div>
    </div>
    <div class="center-Panel" style="margin-left: 30px;margin-top:10px;" id="EvaluateVerdictDiv">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;七、评价结论</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body" style="padding:0px;">
                <textarea id="EvaluateVerdict" class="form-control" style="height: 50px;" isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Save" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="AcceptClick(1)"><i class="fa fa-check"></i>&nbsp;保&nbsp;&nbsp;存</a>
        &nbsp; &nbsp;
        <a id="btn_Submit" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="AcceptClick(2)"><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_ExportWord" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="ExportWord()"><i class="fa fa-mail-forward"></i>&nbsp;导&nbsp;&nbsp;出</a>
        &nbsp; &nbsp;
    </div>
</div>
