@model ERCHTMS.Entity.HseManage.CheckRecordEntity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/layui/layui.all.js"></script>
<script src="~/Content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<style>
    .imgitem {
        width: 120px;
        height: 80px;
    }
</style>
<script>
    var lastSel, id = '@ViewBag.id', isShow = true, name, clientid, recid, action='@ViewBag.view';
    jQuery(function () {
        if (action == 'view') {
            jQuery('#uploader').remove();
        }

        jQuery('#CardName').click(function () {
            jQuery(this).blur();
            dialogOpen({
                id: "form1",
                title: '选择预警指标卡',
                url: '/..@Url.Action("Select")',
                width: "600px",
                height: "400px",
                callBack: function (iframeId) {
                    var data = top.document.getElementById(iframeId).contentWindow.AcceptClick();
                    jQuery('#CardName').val(data.CardName);
                    jQuery('#CardId').val(data.CardId);

                    jQuery.getJSON('@Url.Action("CardDetail")', { id: data.CardId }, function (data) {
                        if (data && data.CheckContents) {
                            jQuery('.unwritten').remove();
                            jQuery('#grid').jqGrid('clearGridData');

                            for (var i = 0; i < data.CheckContents.length; i++) {
                                jQuery('#grid').jqGrid('addRowData', i, {clientid:new Date().getTime().toString(), CheckContent: data.CheckContents[i].Content, CheckContentId: data.CheckContents[i].CheckContentId, Num1: 0, Num2: 0, Num3: 0, Num4: 0 });
                            }
                        }
                    });
                }
            });
        });

        var json = JSON.parse('@Html.Raw(ViewBag.json)');
        jQuery('#grid').jqGrid({
            autowidth: true,
            rownumbers: true,
            //multiselect: true,
            //multiboxonly: true,
            height: 230,
            editurl: 'clientArray',
            datatype: 'local',
            data: json,
            colModel: [
                { name: 'CheckItemId', index: 'CheckItemId', hidden: true },
                { name: 'CheckContentId', index: 'CheckContentId', hidden: true },
                { name: 'clientid', index: 'clientid', hidden: true },
                { name: 'Dangerous', index: 'Dangerous', hidden: true },
                { name: 'Measures', index: 'Measures', hidden: true },
                { name: 'Dangerous2', index: 'Dangerous2', hidden: true },
                { name: 'Measures2', index: 'Measures2', hidden: true },
                { label: '检查内容', name: 'CheckContent', index: 'CheckContent', width: 300, align: 'center' },
                { label: '安全数量', name: 'Num1', index: 'Num1', width: 100, align: 'center', editable: true, edittype: 'text', editrules: { required: true, number: true, minValue: 0, maxValue: 100 } },
                { label: '风险数量', name: 'Num2', index: 'Num2', width: 100, align: 'center', editable: true, edittype: 'text', editrules: { required: true, number: true, minValue: 0, maxValue: 100 } },
                { label: '紧急的风险数量', name: 'Num3', index: 'Num3', width: 100, align: 'center', editable: true, edittype: 'text', editrules: { required: true, number: true, minValue: 0, maxValue: 100 } },
                { label: '不适应', name: 'Num4', index: 'Num4', width: 100, align: 'center', editable: true, edittype: 'text', editrules: { required: true, number: true, minValue: 0, maxValue: 100 } },
            ],
            onSelectRow: function (rowid) {
                if (rowid && rowid != lastSel) {
                    jQuery('#grid').jqGrid('saveRow', lastSel);
                    lastSel = rowid;
                    jQuery('.ssss').hide();
                    isShow = false;
                }
                jQuery('#grid').jqGrid('editRow', rowid, true);
            },
        });

        jQuery('.ssss').hide();
        isShow = false;

        jQuery(document).on('focus', 'input[name="Num2"]', function () {
            name = 'Num2';
            var val = 0;
            try {
                val = parseInt(jQuery(this).val());
            } catch (e) {
                val = 0
            }
            if (val > 0) {
                jQuery('.ssss input').text('');
                jQuery('.ssss').show();
                isShow = true;
                editRow();
            } else {
                jQuery('.ssss').hide();
                isShow = false;
            }
        });

        jQuery(document).on('focus', 'input[name="Num3"]', function () {
            name = 'Num3';
            var val = 0;
            try {
                val = parseInt(jQuery(this).val());
            } catch (e) {
                val = 0
            }
            if (val > 0) {
                jQuery('.ssss input').text('');
                jQuery('.ssss').show();
                isShow = true;
                editRow();
            } else {
                jQuery('.ssss').hide();
                isShow = false;
            }
        });

        jQuery(document).on('keyup', 'input[name="Num2"]', function () {
            name = 'Num2';
            var val = 0;
            try {
                val = parseInt(jQuery(this).val());
            } catch (e) {
                val = 0
            }
            if (val > 0) {
                jQuery('.ssss input').text('');
                jQuery('.ssss').show();
                isShow = true;
                editRow();
            } else {
                jQuery('.ssss').hide();
                isShow = false;
            }
        });

        jQuery(document).on('keyup', 'input[name="Num3"]', function () {
            name = 'Num3';
            var val = 0;
            try {
                val = parseInt(jQuery(this).val());
            } catch (e) {
                val = 0
            }
            if (val > 0) {
                jQuery('.ssss input').text('');
                jQuery('.ssss').show();
                isShow = true;
                editRow();
            } else {
                jQuery('.ssss').hide();
                isShow = false;
            }
        });

        jQuery('#dangerouse').change(function () {
            if (isShow) {
                var rowid = jQuery('#grid').jqGrid('getGridParam', 'selrow');
                if (name == 'Num2')
                    jQuery('#grid').jqGrid('setCell', rowid, 'Dangerous', jQuery(this).val());
                else
                    jQuery('#grid').jqGrid('setCell', rowid, 'Dangerous2', jQuery(this).val());
            }
        });
        jQuery('#measures').change(function () {
            if (isShow) {
                var rowid = jQuery('#grid').jqGrid('getGridParam', 'selrow');
                if (name == 'Num2')
                    jQuery('#grid').jqGrid('setCell', rowid, 'Measures', jQuery(this).val());
                else
                    jQuery('#grid').jqGrid('setCell', rowid, 'Measures2', jQuery(this).val());
            }
        });

        jQuery('#uploader').change(function () {
            if (!(jQuery('#uploader').val().toLowerCase().endsWith('.jpg') || jQuery('#uploader').val().toLowerCase().endsWith('.png') || jQuery('#uploader').val().toLowerCase().endsWith('.gif'))) {
                dialogAlert('请选择图片文件', -1);
                jQuery('#uploader').val('');
                return;
            }

            var form1 = document.querySelector('#form1');
            jQuery.ajax({
                url: '@Url.Action("Import")/' + clientid,
                type: 'POST',
                dataType: 'json',
                data: new FormData(form1),
                processData: false,
                contentType: false,
                success: function (data, status) {
                    Loading(false);
                    jQuery('#uploader').val('');

                    if (data.type == 3) {
                        dialogAlert(data.message, -1);
                    } else {
                        jQuery('#imagelist').append('<img class="imgitem" src="' + data.resultdata.FilePath + '" />');
                    }
                }
            });
        });
    });

    function editRow() {
        var rowid = jQuery('#grid').jqGrid('getGridParam', 'selrow');
        var rowdata = jQuery('#grid').jqGrid('getRowData', rowid);
        clientid = rowdata.clientid;

        if (name == 'Num2') {
            jQuery('#dangerouse').val(rowdata.Dangerous);
            jQuery('#measures').val(rowdata.Measures);
        } else {
            jQuery('#dangerouse').val(rowdata.Dangerous2);
            jQuery('#measures').val(rowdata.Measures2);
        }

        var rrid = rowdata.CheckItemId;
        if (!rrid) rowdata.clientid;

        if (recid != rrid) loadImages(rrid);
    }

    function loadImages(id) {
        recid = id;
        jQuery.getJSON('@Url.Action("GetFiles")/' + id, function (data) {
            jQuery('#imagelist').empty();
            jQuery.each(data, function (i, o) {
                jQuery('#imagelist').append('<img class="imgitem" src="' + o.FilePath + '" />');
            });
        });
    }

    function AcceptClick(dlg) {
        if (lastSel)
            jQuery('#grid').jqGrid('saveRow', lastSel);

        var data = jQuery('#grid').jqGrid('getRowData');
        var valid = true;
        jQuery.each(data, function (i, o) {
            if (!(o.Num1 > 0 || o.Num2 > 0 || o.Num3 > 0 || o.Num4 > 0)) {
                layer.msg('行 ' + (i + 1) + ' 检查结果未填写！');
                valid = false;
                return false;
            }
        });

        if (!valid) return false;

        if (!$('#form1').Validform()) {
            return false;
        }

        var postData = $("#form1").formSerialize();
        postData.CheckItems = data;

        jQuery.SaveForm({
            url: '/..@Url.Action("Edit")',
            type: 'post',
            contentType: 'application/json',
            dataType: 'json',
            param: JSON.stringify(postData),
            success: function (data) {
                $.currentIframe().reload();
                top.layer.close(dlg);
            }
        });
    }


    function fun1() {
        dialogOpen({
            id: 'LllegalForm',
            title: '新增违章',
            url: '/..@Url.Action("Form", "LllegalRegister", new { area = "LllegalManage" })?callFormId=LllegalForm',
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }

    function fun2() {
        var url = '/..@Url.Action("Form", "HTBaseInfo", new { area = "HiddenTroubleManage" } )"? SAFETYCHECKOBJECTID=' + '' + '&SAFETYCHECKTYPE=' + '';
        //if (curUserRole.indexOf("省级用户") >= 0) {
        //    url = '/HiddenTroubleManage/HTBaseInfo/CForm?SAFETYCHECKOBJECTID=' + '' + '&SAFETYCHECKTYPE=' + '';
        //}
        dialogOpen({
            id: 'HidForm',
            title: '新增隐患',
            url: url,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }

    function selectChecker(obj) {
        selectUser({
            Ids: $("#DeptId").val(), deptId: $("#DeptId").val(), checkMode: 1, mode: 1, callBack: function (userNames) {
                jQuery(obj).val(userNames);
            }, winObject: document.body, domId: 'CheckUsers,CheckLevelID,,,CheckDeptCode', userIds: $('#CheckLevelID').val()
        });
    }
</script>
<div style="margin: 10px;">
    <input id="DeptId" type="hidden" value="@Html.Raw(ViewBag.deptid)" />
    <table class="form">
        <tr>
            <td class="formTitle">
                <a id="btn1" class="btn btn-primary" onclick="fun1();">&nbsp;登记违章</a>
            </td>
            <td class="formValue">
                <a id="btn2" class="btn btn-primary" onclick="fun2();">&nbsp;登记隐患</a>
            </td>
            <td class="formTitle"></td>
            <td class="formValue"></td>
        </tr>
        <tr>
            <td class="formTitle">类别<font face="宋体">*</font></td>
            <td class="formValue">
                @Html.DropDownListFor(x => x.Category, ViewData["Category"] as List<SelectListItem>, new { @class = "form-control selectpicker", maxlength = 500, placeholder = "请选择类别" })
                @Html.HiddenFor(x => x.CardId)
                @*<input id="Category" name="Category" type="text" maxlength="6" class="form-control" isvalid="yes" checkexpession="NotNull" />*@
            </td>
            <td class="formTitle">名称<font face="宋体">*</font></td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.CardName, new { @class = "form-control", placeholder = "请输入名称", isvalid = "yes", checkexpession = "NotNull", maxlength = 200 })
                @*<input id="CardName" name="CardName" type="text" maxlength="50" class="form-control" isvalid="yes" checkexpession="NotNull" />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">检查人</td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.CheckUser, new { @class = "form-control", onfocus = "blur()", onclick = "selectChecker(this)" })
            </td>
            <td class="formTitle">检查时间</td>
            <td class="formValue">
                @Html.TextBoxFor(x => x.CheckTime, new { @class = "form-control", onfocus = "WdatePicker({dateFmt:\"yyyy-MM-dd HH:mm:ss\"});" })
                @*<input id="SubmitTime" name="SubmitTime" type="text" class="form-control disabled" isvalid="yes" checkexpession="NotNull" disabled />*@
            </td>
        </tr>
        <tr>
            <td class="formTitle">检查地点</td>
            <td class="formValue" colspan="3">
                @Html.TextBoxFor(x => x.CheckPlace, new { @class = "form-control" })
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <table id="grid"></table>
            </td>
        </tr>
        <tr class="ssss">
            <td class="formTitle">存在风险</td>
            <td class="formValue" colspan="3">
                <input class="form-control" id="dangerouse" name="dangerous" type="text" value="">
            </td>
        </tr>
        <tr class="ssss">
            <td class="formTitle">采取措施</td>
            <td class="formValue" colspan="3">
                <input class="form-control" id="measures" name="measures" type="text" value="">
            </td>
        </tr>
        <tr class="ssss">
            <td class="formTitle" rowspan="2">照片</td>
            <td class="formValue" colspan="3">
                <div id="imagelist"></div>
            </td>
        </tr>
        <tr class="ssss">
            <td class="formValue" colspan="3">
                <input type="file" name="file" id="uploader" value="选择照片" />
            </td>
        </tr>
    </table>
</div>