@using ERCHTMS.Entity.HseToolMange;
@using ERCHTMS.Entity.HseManage.ViewModel;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Form.cshtml";
    List<string> submitUserNames = ViewBag.SubmitUser;
    List<string> notSubmitUserNames = ViewBag.NotSubmitUser;
    EvaluateGroupSummaryEntity groupSummary = ViewBag.GroupSummary;
    Dictionary<string, int> dangerKV = ViewBag.DangerKV;//安全危害
    Dictionary<string, int> ppeKV = ViewBag.PPEKV;//PPE需求
    List<HseEvaluateKv> hseKV = ViewBag.hseKV;//hse培训与授权
    List<HseEvaluateKv> safeKV = ViewBag.SafetyDT;//安全参与
}
<style>
    table td, th {
        height: 30px;
    }

    .txt_left {
        text-align: left !important;
    }

    .c_table {
        width: 100%;
        text-align: center;
        border: 1px solid;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .txt_center {
        height: 30px;
        line-height: 30px;
        text-align: center;
    }
    .div_border {
        min-height: 200px;
        border: 1px solid;
    }
</style>
<script>
    var deptid = request('deptid');
    var year = request('year');
    var month = request('month');
    $(function () {
        $("#tab_ul li").click(function () {
            $(this).addClass("active").siblings().removeClass("active")
            var code = $(this).attr("code");
            $("#" + code).show().siblings().hide();
        })

        $.ajax({
            url: "/..@Url.Action("GetFiveData")?deptid=" + deptid + "&year=" + year + "&month=" + month+"&type=1",//交通
            type: "POST",
            success: function (data) {
                var htmlStr = "";
                if (data.Code == 0 && data.Data.length > 0) {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row"><h5><b>交通</b></h5></div>'
                    htmlStr += '  <div class="row div_border">'
                    $.each(data.Data, function (i, item) {
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Key + '</div>'
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Value + '人次</div>'
                    });
                    htmlStr += '</div>'
                    htmlStr += ' </div>'
                } else {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row">交通</div>'
                    htmlStr += '   <div class="row div_border">'
                    htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                    htmlStr += '   </div>'
                    htmlStr += '  </div>'
                }
                $("#div_fiveData").append(htmlStr);
            },
            error: function(error) {
                var htmlStr = "";
                htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                htmlStr += '  <div class="row">交通</div>'
                htmlStr += '   <div class="row div_border">'
                htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                htmlStr += '   </div>'
                htmlStr += '  </div>'
                $("#div_fiveData").append(htmlStr);
            }
        })

          $.ajax({
            url: "/..@Url.Action("GetFiveData")?deptid=" + deptid + "&year=" + year + "&month=" + month+"&type=2",//用电
            type: "POST",
            success: function (data) {
                var htmlStr = "";
                if (data.Code == 0 && data.Data.length > 0) {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row"><h5><b>用电</b></h5></div>'
                    htmlStr += '  <div class="row div_border">'
                    $.each(data.Data, function (i, item) {
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Key + '</div>'
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Value + '人次</div>'
                    });
                    htmlStr += '</div>'
                    htmlStr += ' </div>'
                } else {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row">用电</div>'
                    htmlStr += '   <div class="row div_border">'
                    htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                    htmlStr += '   </div>'
                    htmlStr += '  </div>'
                }
                $("#div_fiveData").append(htmlStr);
            },
            error: function(error) {
                var htmlStr = "";
                htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                htmlStr += '  <div class="row">用电</div>'
                htmlStr += '   <div class="row div_border">'
                htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                htmlStr += '   </div>'
                htmlStr += '  </div>'
                $("#div_fiveData").append(htmlStr);
            }
        })

                 $.ajax({
            url: "/..@Url.Action("GetFiveData")?deptid=" + deptid + "&year=" + year + "&month=" + month+"&type=3",//防火
            type: "POST",
            success: function (data) {
                var htmlStr = "";
                if (data.Code == 0 && data.Data.length > 0) {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row"><h5><b>防火</b></h5></div>'
                    htmlStr += '  <div class="row div_border">'
                    $.each(data.Data, function (i, item) {
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Key + '</div>'
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Value + '人次</div>'
                    });
                    htmlStr += '</div>'
                    htmlStr += ' </div>'
                } else {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row">防火</div>'
                    htmlStr += '   <div class="row div_border">'
                    htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                    htmlStr += '   </div>'
                    htmlStr += '  </div>'
                }
                $("#div_fiveData").append(htmlStr);
            },
            error: function(error) {
                var htmlStr = "";
                htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                htmlStr += '  <div class="row">防火</div>'
                htmlStr += '   <div class="row div_border">'
                htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                htmlStr += '   </div>'
                htmlStr += '  </div>'
                $("#div_fiveData").append(htmlStr);
            }
        })


         $.ajax({
            url: "/..@Url.Action("GetFiveData")?deptid=" + deptid + "&year=" + year + "&month=" + month+"&type=4",//体力操作
            type: "POST",
            success: function (data) {
                var htmlStr = "";
                if (data.Code == 0 && data.Data.length > 0) {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row"><h5><b>体力操作</b></h5></div>'
                    htmlStr += '  <div class="row div_border">'
                    $.each(data.Data, function (i, item) {
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Key + '</div>'
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Value + '人次</div>'
                    });
                    htmlStr += '</div>'
                    htmlStr += ' </div>'
                } else {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row">体力操作</div>'
                    htmlStr += '   <div class="row div_border">'
                    htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                    htmlStr += '   </div>'
                    htmlStr += '  </div>'
                }
                $("#div_fiveData").append(htmlStr);
            },
            error: function(error) {
                var htmlStr = "";
                htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                htmlStr += '  <div class="row">体力操作</div>'
                htmlStr += '   <div class="row div_border">'
                htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                htmlStr += '   </div>'
                htmlStr += '  </div>'
                $("#div_fiveData").append(htmlStr);
            }
        })

        $.ajax({
            url: "/..@Url.Action("GetFiveData")?deptid=" + deptid + "&year=" + year + "&month=" + month+"&type=4",//其他
            type: "POST",
            success: function (data) {
                var htmlStr = "";
                if (data.Code == 0 && data.Data.length > 0) {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row"><h5><b>其他</b></h5></div>'
                    htmlStr += '  <div class="row div_border">'
                    $.each(data.Data, function (i, item) {
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Key + '</div>'
                        htmlStr += ' <div class="col-md-6 txt_center">' + item.Value + '人次</div>'
                    });
                    htmlStr += '</div>'
                    htmlStr += ' </div>'
                } else {
                    htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                    htmlStr += '  <div class="row">其他</div>'
                    htmlStr += '   <div class="row div_border">'
                    htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                    htmlStr += '   </div>'
                    htmlStr += '  </div>'
                }
                $("#div_fiveData").append(htmlStr);
            },
            error: function(error) {
                var htmlStr = "";
                htmlStr += '<div class="col-md-6" style=" margin-top:5px;">'
                htmlStr += '  <div class="row">其他</div>'
                htmlStr += '   <div class="row div_border">'
                htmlStr += '     <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>'
                htmlStr += '   </div>'
                htmlStr += '  </div>'
                $("#div_fiveData").append(htmlStr);
            }
        })

    })
</script>
<div class="border-left border-right border-top" style="margin: 5px; margin-bottom: 0px; padding-bottom: 2px;">
    <div style="height: 200px;">
        <table class="form">
            <tr>
                <th class="" style="text-align: left; padding-left: 7px;" colspan="2">已填报人员<font>&nbsp;&nbsp;@submitUserNames.Count</font></th>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.TextArea("submitUserNames", string.Join(",", submitUserNames), new { @class = "form-control", @style = "min-height:80px;", @readonly = "true" })
                </td>
            </tr>
            <tr>
                <th colspan="2" class="" style="text-align: left; padding-left: 7px;">未填报人员<font>&nbsp;&nbsp;@notSubmitUserNames.Count</font></th>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.TextArea("notSubmitUserNames", string.Join(",", notSubmitUserNames), new { @class = "form-control", @style = "min-height:80px;", @readonly = "true" })
                </td>
            </tr>
            <tr>
                <th colspan="2" class="" style="text-align: left; padding-left: 7px;">填报情况小结</th>
            </tr>
            <tr>
                <td colspan="2">
                    @Html.TextArea("notSubmitUserNames", groupSummary == null ? "" : groupSummary.Content, new { @class = "form-control", @style = "min-height:80px;", @readonly = "true" })
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <ul class="nav nav-tabs" id="tab_ul">
                        <li code="td_danger" class="active"><a data-toggle="tab">工作危害与个人防护</a></li>
                        <li code="td_hse"><a data-toggle="tab">HSE培训与授权</a></li>
                        <li code="td_safe"><a data-toggle="tab">安全参与</a></li>
                        <li code="td_gyajh"><a code="" data-toggle="tab">工余安健环</a></li>
                    </ul>
                </th>
            </tr>
            <tr>
                <td colspan="2" id="td_danger">
                    <div class="row" style="width:49%; float:left; margin-top:5px;"><h5><b>安全危害</b></h5></div>
                    <div class="row" style="width:49%; float:right; margin-top:5px; "><h5><b>PPE需求</b></h5></div>
                    <div class="row" style="width:49%; float:left; min-height:200px;border:1px solid;">
                        @if (dangerKV != null && dangerKV.Count > 0)
                        {
                            foreach (KeyValuePair<string, int> kv in dangerKV)
                            {
                                <div class="col-md-6" style="height:30px; line-height:30px; text-align:center;">@kv.Key</div>
                                <div class="col-md-6" style="height:30px; line-height:30px; text-align:center;">@Html.Raw(kv.Value.ToString() + "人次")</div>
                            }
                        }
                        else
                        {
                            <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>
                        }
                    </div>
                    <div class="row" style="width:49%; float:right;min-height:200px; border:1px solid;">
                        @if (ppeKV != null && ppeKV.Count > 0)
                        {
                            foreach (KeyValuePair<string, int> kv in ppeKV)
                            {
                                <div class="col-md-3" style="height:30px; line-height:30px;">@Html.Raw(kv.Key + kv.Value.ToString())</div>
                            }
                        }
                        else
                        {
                            <div class="col-md-12" style="text-align:center;"><h3>暂无数据</h3></div>
                        }
                    </div>
                </td>
                <td colspan="2" id="td_hse" style="display:none;">
                   <table class="c_table">
                       <tr>
                           <th>专项培训</th>
                           <th>应参加人数</th>
                           <th>完成培训人数</th>
                           <th>获取帽贴人数</th>
                           <th>未完成人数</th>
                       </tr>
                       
                          @if (hseKV != null && hseKV.Count > 0)
                          {
                              foreach (HseEvaluateKv item in hseKV)
                              {
                               <tr>
                                   <td>@item.Key</td>
                                   <td>@item.V4</td>
                                   <td>@item.V1</td>
                                   <td>@item.V2</td>
                                   <td>@item.V3</td>
                               </tr>
                              }
                          }
                          else
                          {
                              <tr><td colspan="5"><h3>暂无数据</h3></td></tr>
                          }
                   </table>
                </td>
                <td colspan="2" id="td_safe" style="display:none;">
                    <table class="c_table">
                        <tr>
                            <th style="width:17%;">内容</th>
                            <th>≥4</th>
                            <th>3</th>
                            <th>2</th>
                            <th>1</th>
                            <th>0</th>
                        </tr>

                        @if (safeKV  != null && safeKV.Count > 0)
                        {
                            foreach (HseEvaluateKv item in safeKV)
                            {
                        <tr>
                            <td>@item.Key</td>
                            <td>@item.V1</td>
                            <td>@item.V2</td>
                            <td>@item.V3</td>
                            <td>@item.V4</td>
                            <td>@item.V5</td>
                        </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="6"><h3>暂无数据</h3></td></tr>
                        }
                    </table>
                </td>
                <td colspan="2" id="td_gyajh" style="display:none;">
                    <div class="row" id="div_fiveData">
                  
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>


