@using ERCHTMS.Entity.HseToolMange
@model ERCHTMS.Entity.HseToolMange.SelfEvaluateEntity
@{
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/scripts/plugins/jqgrid/jqgrid.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/dialog/dialog.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/layout/jquery.layout.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="~/Content/scripts/plugins/jqgrid/jqgrid.min.js"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var orgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";//当前用户所属机构id
    var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var keyValue = request('keyValue');
</script>
<div style="padding-top: 10px; margin-right: 30px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工作危害与个人防护</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <span style="font-weight:bold">我的工作环境有如下安全危害</span><br>
            <span style="white-space:pre-wrap">@Model.A.Danger</span><br><br>
            <span style="font-weight:bold">适用的PEE</span><br>
            <span style="white-space:pre-wrap">@Model.A.UsePPE</span><br><br>
            <span style="font-weight:bold">其他防护装备</span>
            <span style="white-space:pre-wrap">@Model.A.OtherEquip</span><br><br>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;HSE培训与授权</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                @if (!string.IsNullOrEmpty(Model.B.DGPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">电工培训</td>
                        <td class="formValue">
                            @switch (Model.B.DGPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.DGPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.QZDZPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">起重吊装培训</td>
                        <td class="formValue">
                            @switch (Model.B.QZDZPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.QZDZPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.CNJDCPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">场内机动车培训</td>
                        <td class="formValue">
                            @switch (Model.B.CNJDCPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.CNJDCPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.YLRQ))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">压力容器</td>
                        <td class="formValue">
                            @switch (Model.B.YLRQ)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.YLRQ</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.GLSPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">锅炉水培训</td>
                        <td class="formValue">
                            @switch (Model.B.GLSPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.GLSPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.GLZYPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">锅炉作业培训</td>
                        <td class="formValue">
                            @switch (Model.B.GLZYPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.GLZYPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.DHZYPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">电焊作业培训</td>
                        <td class="formValue">
                            @switch (Model.B.DHZYPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.DHZYPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }

                @if (!string.IsNullOrEmpty(Model.B.JSJZYPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">脚手架作业培训</td>
                        <td class="formValue">
                            @switch (Model.B.JSJZYPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.JSJZYPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.GKZYPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">高空作业培训</td>
                        <td class="formValue">
                            @switch (Model.B.GKZYPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.GKZYPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.JJPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">急救培训</td>
                        <td class="formValue">
                            @switch (Model.B.JJPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.JJPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
                @if (!string.IsNullOrEmpty(Model.B.NONEPX))
                {
                    <tr>
                        <td class="formTitle" style="text-align:left;font-weight:bold">无具体培训要求</td>
                        <td class="formValue" style="padding-left:10px">
                            @switch (Model.B.NONEPX)
                            {
                                case "0":
                                    <span style="white-space:pre-wrap">未完成</span>
                                    break;
                                case "1":
                                    <span style="white-space:pre-wrap">完成</span>
                                    break;
                                case "2":
                                    <span style="white-space:pre-wrap">授权帽贴</span>
                                    break;
                                default:
                                    <span style="white-space:pre-wrap">@Model.B.NONEPX</span>
                                    break;
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;安全具体参与</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">安全观察卡</td>
                    <td class="formValue">
                        @if (Model.C.AQGCK.HasValue)
                        {
                            if (Model.C.AQGCK.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.AQGCK.Value</span>
                            }

                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">领先指标卡</td>
                    <td class="formValue">
                        @if (Model.C.LXZBK.HasValue)
                        {

                            if (Model.C.LXZBK.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.LXZBK.Value</span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">安全会议</td>
                    <td class="formValue">
                        @if (Model.C.AQHY.HasValue)
                        {

                            if (Model.C.AQHY.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.AQHY.Value</span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">作业安全交底</td>
                    <td class="formValue">
                        @if (Model.C.ZYAQJD.HasValue)
                        {

                            if (Model.C.ZYAQJD.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.ZYAQJD.Value</span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">安全检查</td>
                    <td class="formValue">
                        @if (Model.C.AQJC.HasValue)
                        {

                            if (Model.C.AQJC.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.AQJC.Value</span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;font-weight:bold">安全培训</td>
                    <td class="formValue">
                        @if (Model.C.AQPX.HasValue)
                        {

                            if (Model.C.AQPX.Value == 4)
                            {
                                <span>&ge;4</span>
                            }
                            else
                            {
                                <span>@Model.C.AQPX.Value</span>
                            }
                        }
                        else
                        {
                            <span>0</span>
                        }

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;岗位安全</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <span style="font-weight:bold">本月主要工作</span><br>
            <span style="white-space:pre-wrap">@Model.D.MainTask</span><br><br>
            <span style="font-weight:bold">潜在安全风险</span><br>
            <span style="white-space:pre-wrap">@Model.D.SafeRisk</span><br><br>
            <span style="font-weight:bold">关键控制措施</span><br>
            <span style="white-space:pre-wrap">@Model.D.ControlMeasure</span><br><br>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;工余安健环</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            @if (!string.IsNullOrEmpty(Model.E.Traffic))
            {
                <span style="font-weight:bold">交通</span><br>
                <span style="white-space:pre-wrap">@Model.E.Traffic</span><br><br>

            }
            @if (!string.IsNullOrEmpty(Model.E.TraOther))
            {
                <span style="font-weight:bold">交通</span><br>
                <span style="white-space:pre-wrap">@Model.E.TraOther</span><br><br>

            }
            @if (!string.IsNullOrEmpty(Model.E.EleOther))
            {
                <span style="font-weight:bold">用电</span><br>
                <span style="white-space:pre-wrap">@Model.E.EleOther</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.Electricity))
            {
                <span style="font-weight:bold">用电</span><br>
                <span style="white-space:pre-wrap">@Model.E.Electricity</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.Fire))
            {
                <span style="font-weight:bold">防火</span><br>
                <span style="white-space:pre-wrap">@Model.E.Fire</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.FireOther))
            {
                <span style="font-weight:bold">防火</span>
                <span style="white-space:pre-wrap">@Model.E.FireOther</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.Power))
            {
                <span style="font-weight:bold">体力操作</span><br>
                <span style="white-space:pre-wrap">@Model.E.Power</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.PowOther))
            {
                <span style="font-weight:bold">体力操作</span><br>
                <span style="white-space:pre-wrap">@Model.E.PowOther</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.Other))
            {
                <span style="font-weight:bold">其他</span><br>
                <span style="white-space:pre-wrap">@Model.E.Other</span><br><br>
            }
            @if (!string.IsNullOrEmpty(Model.E.OthOther))
            {
                <span style="font-weight:bold">其他</span><br>
                <span style="white-space:pre-wrap">@Model.E.OthOther</span><br><br>
            }
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;员工HSE自我评估小结</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td class="formValue" colspan="4">
                        <span style="white-space:pre-wrap">@Model.Summary</span>
                    </td>

                </tr>
                <tr>
                    <td class="formValue" colspan="4">
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" style="text-align:left;"><span style="font-weight:bold">填报人</span> @Model.CreateUser</td>
                    <td class="formValue">
                    </td>
                    <td class="formTitle" style="text-align:left;">
                        <span style="font-weight:bold">提交时间</span>
                        @if (Model.CreateDate.HasValue)
                        {
                            <span>@Model.CreateDate.Value.ToShortDateString() </span>
                        }
                        else
                        {
                            <span></span>
                        }
                    </td>
                    <td class="formValue">
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>