@*@model System.Collections.Generic.List<ERCHTMS.Entity.SystemManage.MenuConfigEntity>
    *@

    @{
    Layout = "~/Views/Shared/_Form.cshtml";
    @*List<string>
        associationIdList = ViewBag.AssociationIdList;

        string type0, type1, type2 = string.Empty;*@
        }
        <script>
            $(function () {
                var item = {
                    height: 540,
                    showcheck: true,
                    url: "../../SystemManage/MenuConfig/GetTreeJson?showCheckBox=true",
                    //onnodeclick: function(item) {
                    //    //if (item.checkstate == 0) {
                    //    //    $("#ModuleTree").setCheckedNodeOne(item.id);
                    //    //}
                    //}
                };
                $("#ModuleTree").treeview(item);
            })

            function AcceptClick(winObj, associationid, associationname) {
                var Ids = $("#ModuleTree").getCheckedAllNodes();
                var names = $("#ModuleTree").getCheckedTexts();
                //var currItem = $("#ModuleTree").getCurrentNode();
                $(winObj).find("#" + associationid).eq(0).val(Ids);
                $(winObj).find("#" + associationname).eq(0).val(names);
                dialogClose();
            }
        </script>

        <div id="ModuleTree"></div>
        @*<div class="container">

            <div class="col-md-12">


                <div class="col-md-12">
                    Windows终端
                    <div class="col-md-3"></div>
                    <div class="col-md-12">

                        @foreach (var item in Model.Where(x => x.ParentId == "0"))
                        {

                        <input type="checkbox" />@item.ModuleName
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="checkbox" />xxxx
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="checkbox" />xxxx
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="checkbox" />xxxx
                        </div>
                        }

                    </div>

                </div>

                <div class="col-md-12">
                    安卓终端
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        @foreach (var item in Model.Where(x => x.ParentId == "1"))
                        {

                        <input type="checkbox" />@item.ModuleName
                        foreach (var levl2 in Model.Where(x => x.ParentId == item.Id))
                        {
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="checkbox" />@levl2.ModuleName
                            @foreach (var levl3 in Model.Where(a => a.ParentId == levl2.Id))
                            {
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input type="checkbox" />@levl2.ModuleName
                            </div>

                            }
                        </div>
                        }
                        }
                    </div>
                </div>
                <div class="col-md-12">
                    手机APP
                    <div class="col-md-3"></div>
                    <div class="col-md-9">
                        @foreach (var item in Model.Where(x => x.ParentId == "2"))
                        {

                        <input type="checkbox" />@item.ModuleName
                        foreach (var levl2 in Model.Where(x => x.ParentId == item.Id))
                        {
                        <div class="col-md-3"></div>
                        <div class="col-md-9">
                            <input type="checkbox" />@levl2.ModuleName
                            @foreach (var levl3 in Model.Where(a => a.ParentId == levl2.Id))
                            {
                            <div class="col-md-3"></div>
                            <div class="col-md-9">
                                <input type="checkbox" />@levl3.ModuleName
                            </div>

                            }
                        </div>
                        }
                        }
                    </div>
                </div>
            </div>
        </div>*@
