@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
<link href="~/Content/scripts/plugins/cxColor/css/jquery.cxcolor.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/cxColor/js/jquery.cxcolor.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<style>
    .form .formTitle {
        width: 110px;
    }

    .form .formValue select {
        padding: 0px;
    }
</style>
<script>
    var rolename = '@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName';
    var userid = '@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId';
    var username = '@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName';
    var deptid = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId';
    var deptcode = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode';
    var deptname = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName';
    var mode = request('mode');
    var keyValue = request('keyValue');          //主键ID
    var scaffoldtype = request('scaffoldtype');  //0-搭设申请 1-验收申请 2-拆除申请
    var auditstate = 0;                          //作业状态
    var rownum = 1;                              //行数
    var flag = false;
    var riskFlag = false;
    var curflowid = "";
    $(function () {
        GetGrid();
        loadAuditList();
        initControl();
        GetRiskGrid();//加载作业安全分析
        LoadZxGrid(); //执行信息
    });

    //加载架体规格及形式表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#ScaffoldSpec');
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            url: "../../HighRiskWork/Scaffold/GetScaffSpecToJson?scaffoldid=" + keyValue,
            postData: {},
            datatype: "json",
            colModel: [
                { label: '规格ID', name: 'Id', hidden: true, align: 'center' },
                { label: '脚手架信息ID', name: 'ScaffoldId', hidden: true, align: 'center' },
                { label: '长(m)', name: 'SLength', width: '100', align: 'center', sortable: false, },
                { label: '宽(m)', name: 'SWidth', width: '100', align: 'center', sortable: false, },
                { label: '高(m)', name: 'SHigh', width: '100', align: 'center', sortable: false, },
                { label: '架体形式', name: 'SFrameName', align: 'center', sortable: false, },
                { label: '架体形式ID', name: 'SFrameId', hidden: true, align: 'center' },
            ],
            cellsubmit: 'clientArray',
            multiselect: false,
            viewrecords: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);

            }
        });
    }
    //加载审核记录
    function loadAuditList() {
        //-审核记录
        var $gridTable = $('#ScaffoldAudit');
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            url: "../../HighRiskWork/Scaffold/GetScaffAuditToJson?scaffoldid=" + keyValue,
            postData: {},
            datatype: "json",
            colModel: [
                { label: '审核部门', name: 'AuditDeptName', width: '110', sortable: false, align: 'center' },
                { label: '审核人', name: 'AuditUserName', width: '110', sortable: false, align: 'center' },
                {
                    label: '审核时间', name: 'AuditDate', width: '110', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        return formatDate(rowObject.AuditDate, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '审核结果', name: 'AuditState', width: '100', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.AuditState == 1)
                            return "同意";
                        return "不同意";
                    }
                },
                { label: '审核意见', name: 'AuditRemark', width: '100', sortable: false, align: 'center' },
                {
                    label: '签名', name: 'AuditSignImg', index: 'AuditSignImg', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = !!rowObject.AuditSignImg ? rowObject.AuditSignImg : "";
                        var html = "";
                        if (content == "" || content == undefined) {
                            var html = "<img  style=\"height:50px;\" />&nbsp;";
                        } else {
                            html = "<img style=\"height:50px;\"  src=\"../.." + content + "\"/>&nbsp;";
                        }

                        return html;
                    }
                }
            ],
            cellsubmit: 'clientArray',
            multiselect: false,
            viewrecords: true,
            onSelectRow: function () {
            },
            gridComplete: function () {
            }
        });
    }

    //加载执行信息
    function LoadZxGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#conditionGridTable');
        $gridTable.jqGrid({
            url: "../../HighRiskWork/Scaffold/GetConditonToJson?keyvalue=" + keyValue,
            datatype: "json",
            height: "400px",
            postData: {},
            autowidth: true,
            colModel: [
                { label: 'ID', name: 'Id', index: 'Id', width: 500, align: 'center', sortable: false, hidden: true },
                {
                    label: '执行信息', name: 'num', index: 'num', width: 200, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {

                        return "第" + cellvalue + "次作业执行信息";
                    }
                },
                 {
                     label: '作业时间', name: 'ConditionTime', width: 200, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                         var html = "";
                         if (!!rowObject.LedgerType) {
                             if (rowObject.LedgerType == "0") {
                                 html = "开始时间:" + formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                             }
                             else {
                                 html = "结束时间:" + formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                             }
                         }
                         return html;
                     }
                 },
                { label: '执行情况说明', name: 'ConditionContent', index: 'ConditionContent', width: 500, align: 'center', sortable: false },
                {
                    label: '现场图片', name: 'ScenePicPath', index: 'ScenePicPath', width: 300, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (!!rowObject.ScenePicPath) {
                            html = "<div id=\"ScenePic_" + rowObject.Id + "\"><img src=\" ../.." + rowObject.ScenePicPath.substring(1, rowObject.ScenePicPath.length) + "\"  data-original=\" ../.." + rowObject.ScenePicPath.substring(1, rowObject.ScenePicPath.length) + "\" alt=\"\"  style=\"width:150px;height:100px;\" /></div>";
                        }
                        return html;
                    }
                },
                {
                    label: '是否有附件', name: 'isannex', index: 'ISANNEX', width: 150, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {

                        if (rowObject.filenum == 0) {
                            html = "否";
                            return html;

                        } else if (rowObject.filenum > 0) {
                            html = "<a href=javascript:btn_Annex('" + rowObject.Id + "_02" + "') style='color:blue; text-decoration:underline;padding-left:0px;' title='修改'>是</a>";
                            return html;

                        }


                    }

                },
                {
                    label: '填报人', name: 'CreateUserName', index: 'CreateUserName', width: 150, align: 'center', sortable: false
                },
                {
                    label: '填报时间', name: 'CreateDate', index: 'CreateDate', width: 150, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd hh:mm');
                    }

                }
            ],

            pager: false,
            rowNum: "100",
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            ondblClickRow: function (id) {

            },
            gridComplete: function () {
                $("#" + this.id).setSelection(selectedRowIndex, false);
                //获取所有数据
                var datas = $("#" + this.id).jqGrid("getRowData");
                if (!!datas) {
                    $(datas).each(function (i, ele) {
                        viewimg(ele.Id + "_01", "#ScenePic_" + ele.Id, ele.ScenePicPath); //现场图片
                    });
                }
                Merger('conditionGridTable', new Array('num'));
            }
        });
    }

    //预览图片
    function viewimg(id, objid, epath) {
        var $obj = $(objid);
        $.post("../../PublicInfoManage/ResourceFile/GetFilesByRecId", { recId: id }, function (data) {
            var files = eval("(" + data + ")");
            if (files.length > 0) {
                $(files).each(function (i, file) {
                    if (!!file.filepath) {
                        var filepath = file.filepath.substring(15, file.filepath.length);
                        if (!!epath && epath.indexOf(filepath) < 0) {
                            var $li = $('<img title="点击查看大图" alt="点击查看大图" style=\"width:0px;height:0px;\" data-original="' + "/" + file.filepath.substring(1, file.filepath.length) + '" src="' + "/" + file.filepath.substring(1, file.filepath.length) + '"  />');
                            $li.appendTo($obj);
                        }
                    }
                });
                $obj.viewer({ url: "data-original" });
            }
        });
    }

    //初始化控件
    function initControl() {
        if (mode == "add" || mode == "edit") {
            riskFlag = true;
            $("#select,#choose1").removeAttr("disabled");
        }

        ////专业分类
        //$("#SpecialtyType").ComboBox({
        //    param: { EnCode: "SpecialtyType" },
        //    url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
        //    description: "======请选择======",
        //    id: "ItemValue",
        //    text: "ItemName",
        //    height: "230px"
        //});

        //脚手架类型
        $("#SetupType").ComboBox({
            param: { EnCode: "ScaffoldType" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "======请选择======",
            id: "ItemValue",
            text: "ItemName",
            height: "230px"
        }).change(function () {
            $("#SetupInfoId").val("");
            $("#SetupInfoCode").val("");
            $("#SetupCompanyType1").removeAttr("disabled");
            $("#SetupCompanyType2").removeAttr("disabled");
            $("#SetupCompanyId").val("").removeAttr("disabled");
            $("#SetupCompanyCode").val("").removeAttr("disabled");
            $("#SetupCompanyName").val("").removeAttr("disabled");
            $("#ActSetupStartDate").val("").removeAttr("disabled");
            $("#ActSetupEndDate").val("").removeAttr("disabled");
            $("#SetupAddress,#WorkArea").val("").removeAttr("disabled");
            $("#SpecialtyType").html('');
            $("#SpecialtyType").append('<option value="">请选择</option>');
            if ($("#SetupCompanyType").val() == "1") {
                $("#OutProjectName").val("");
                $("#OutProjectId").val("");
                //给工程名称赋验证
                $("#OutProjectName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
                $("#OutProjectName").removeAttr("disabled");
            }
            //架体规格级形式
            var $gridTable = $('#ScaffoldSpec');
            $gridTable.clearGridData();
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HighRiskWork/Scaffold/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //页面加载时，控制工程名称显示
                    if (data.SetupCompanyType == 1) {
                        $("#td_title_projectname").show();
                        $("#td_value_projectname").show();
                        $("#SetupCompanyType2").attr("checked", "checked");
                        $("#OutProjectName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
                        GetSpecialty(data.OutProjectId, data.SpecialtyType);
                    }
                    else {
                        $("#td_title_projectname").hide();
                        $("#td_value_projectname").hide();
                        $("#OutProjectName").removeAttr("isvalid");
                        $("#SetupCompanyType1").attr("checked", "checked");
                        GetSpecialty(data.SetupCompanyId, data.SpecialtyType);
                    }
                    curflowid = data.FlowId;
                    //如果搭设信息不为空，禁用选项不可改
                    if (data.SetupInfoId) {
                        $("#SetupType").attr("disabled", "disabled");
                        $("#SetupCompanyType1").attr("disabled", "disabled");
                        $("#SetupCompanyType2").attr("disabled", "disabled");
                        $("#SetupCompanyType").attr("disabled", "disabled"); //拆除单位类别
                        $("#SetupCompanyName").attr("disabled", "disabled"); //拆除单位名称
                        $("#SetupCompanyCode").attr("disabled", "disabled"); //拆除单位代码
                        $("#SetupCompanyId").attr("disabled", "disabled"); //拆除单位Id
                        $("#ActSetupStartDate").attr("disabled", "disabled"); //实际搭设时间
                        $("#ActSetupEndDate").attr("disabled", "disabled"); //实际搭设时间
                        $("#WorkArea").attr("disabled", "disabled"); //作业区域
                        $("#SetupAddress").attr("disabled", "disabled"); //搭设地点
                        var depttype = $("input[name='SetupCompanyType']:checked").val();
                        if (depttype == "1") {
                            $("#OutProjectName").attr("disabled", "disabled");//工程
                        }

                    }

                    //流程结束后显示导出按钮(流程不通过或通过)
                    if (data.AuditState == 2 || data.AuditState == 3) {
                        $("#btn_Export").show();
                    } else {
                        $("#btn_Export").hide();
                    }

                }
            })
        } else {
            keyValue = "@Guid.NewGuid().ToString()";


            //页面加载时，控制工程名称显示
            if (rolename.indexOf("承包商") >= 0 || rolename.indexOf("分包商") >= 0) {
                $("#td_title_projectname").show();
                $("#td_value_projectname").show();

                $("#SetupCompanyType").val("1");
                $("#SetupCompanyType1").prop("checked", false).attr("disabled", "disabled");
                $("#SetupCompanyType2").prop("checked", true).attr("disabled", "disabled");
            }
            else {
                $("#td_title_projectname").hide();
                $("#td_value_projectname").hide();
                $("#OutProjectName").removeAttr("checkexpession").removeAttr("isvalid");

                $("#SetupCompanyType").val("0");
            }

        }

        //查看
        if (mode == "view") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            $("#btn_Audit").css("display", "none");
            $("#btn_Transfer").css("display", "none");
            $("#form1 input,textarea,select, .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });

            $("#panel_auditrecord").show();
            $("#panel6").show();
            $("#panel_audit").hide();
        } else if (mode == "audit") {

            $("#AuditUserId").val(userid);
            $("#AuditUserName").val(username);
            $("#AuditDeptId").val(deptid);
            $("#AuditDeptCode").val(deptcode);
            $("#AuditDeptName").val(deptname);
            $("#ScaffoldId").val(keyValue);

            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            $("#panel_info input,#panel_info textarea,#panel_info select, .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });

            $("#panel_audit").show();
            $("#panel6").hide();
            $("#panel_auditrecord").show();
        } else {
            //是否可上传
            flag = true;
            $("#btn_Audit").css("display", "none");
            $("#btn_Transfer").css("display", "none");
            $("#btn_Export").hide();
            $("#panel_audit").hide();
            $("#panel").hide();
            $("#panel_auditrecord").hide();
            $("#panel6").hide();
        }

        file_upload.init({
            keyValue: keyValue, extensions: '', isImage: false, el: '#uploader'
        });
        file_upload.bindFiles(flag, false, keyValue, 'uploader', flag);

        //选择搭设单位类别时，控制工程名称显示
        $("input[name='SetupCompanyType']").click(function () {
            if ($(this).val() == "0") {
                $("#td_title_projectname").hide();
                $("#td_value_projectname").hide();
                $("#OutProjectName").removeAttr("checkexpession").removeAttr("isvalid");
            } else {
                $("#td_title_projectname").show();
                $("#td_value_projectname").show();
                $("#OutProjectName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
            }
            //清空搭设单位值
            $("#SetupCompanyName,#SetupCompanyCode,#SetupCompanyId,#OutProjectId,#OutProjectName").val("");
            $("#SetupCompanyType").val($(this).val());
        });

        

        //作业区域
        $("#WorkArea").attr("onclick", "selectArea(window.document.body, 'WorkArea,');").attr("placeholder", "请选择作业区域");

        //申请类型
        $("#ScaffoldType").val(scaffoldtype);

        $("#SetupChargePerson").change(function () {
            $("#MeasureCarryout").val($("#SetupChargePerson").val()); //措施落实人
            $("#MeasureCarryoutId").val($("#SetupChargePersonIds").val()); //措施落实人ID
        });


        $("#btn_Save").click(function () {
            auditstate = 0;
            AcceptClick();
        });
        $("#btn_Submit").click(function () {
            auditstate = 1;
            AcceptClick();
        });

        //审批转交
        $("#btn_Transfer").click(function () {
            TransferAction();
        });
    }
    //选择脚手架信息
    function selectScaffold() {
        var setuptype = $("#SetupType").attr("data-value");
        var setupcompanytype = $("#SetupCompanyType").val();
        if (!setuptype) {
            dialogMsg('请先选择脚手架搭设类型！', 0);
            return;
        }
        dialogOpen({
            id: "SelectScaffold",
            title: '选择关联的脚手架搭设申请信息',
            url: '/HighRiskWork/Scaffold/SelectScaffold?setuptype=' + setuptype + '&scaffoldtype=' + scaffoldtype + '&companytype=' + setupcompanytype,
            width: "1200px",
            height: "500px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick(function (keyValue) {
                    $.SetForm({
                        url: "../../HighRiskWork/Scaffold/GetFormJson",
                        param: { keyValue: keyValue },
                        success: function (data) {
                            $("#SetupCompanyType1").attr("disabled", "disabled");
                            $("#SetupCompanyType2").attr("disabled", "disabled");
                            $("#SetupCompanyType").val(data.SetupCompanyType).attr("disabled", "disabled"); //拆除单位类别
                            $("#SetupCompanyName").val(data.SetupCompanyName).attr("disabled", "disabled"); //拆除单位名称
                            $("#SetupCompanyCode").val(data.SetupCompanyCode).attr("disabled", "disabled"); //拆除单位代码
                            $("#SetupCompanyId").val(data.SetupCompanyId).attr("disabled", "disabled"); //拆除单位Id
                            $("#ActSetupStartDate").val(data.ActSetupStartDate).attr("disabled", "disabled"); //实际搭设时间
                            $("#ActSetupEndDate").val(data.ActSetupEndDate).attr("disabled", "disabled"); //实际搭设时间
                            $("#WorkArea").val(data.WorkArea).attr("disabled", "disabled"); //作业区域
                            $("#WorkAreaCode").val(data.WorkAreaCode);//作业区域Code
                            $("#SetupAddress").val(data.SetupAddress).attr("disabled", "disabled"); //搭设地点
                            $("#SetupChargePerson").val(data.SetupChargePerson); //拆除负责人
                            $("#SetupChargePersonIds").val(data.SetupChargePersonIds); //拆除负责人ID
                            $("#DismentlePersons").val(data.SetupPersons); //拆除人员
                            $("#DismentlePersonsIds").val(data.SetupPersonsIds); //拆除人员ID
                            $("#MeasureCarryout").val(data.SetupChargePerson); //措施落实人
                            $("#MeasureCarryoutId").val(data.SetupChargePersonIds); //措施落实人ID
                            $("#SetupInfoCode").val(data.ApplyCode);     //脚手架信息
                            $("#SetupInfoId").val(data.Id);  //脚手架信息ID

                            //页面加载时，控制工程名称显示
                            if (data.SetupCompanyType == 1) {
                                $("#td_title_projectname").show();
                                $("#td_value_projectname").show();
                                $("#SetupCompanyType2").attr("checked", "checked");

                                $("#OutProjectName").val(data.OutProjectName);
                                $("#OutProjectId").val(data.OutProjectId);
                                $("#OutProjectName").attr("checkexpession", "NotNull").attr("isvalid", "yes");
                                $("#OutProjectName").attr("disabled", "disabled");
                                GetSpecialty(data.OutProjectId, data.SpecialtyType);
                            }
                            else {
                                $("#td_title_projectname").hide();
                                $("#td_value_projectname").hide();
                                $("#SetupCompanyType1").attr("checked", "checked");
                                GetSpecialty(data.SetupCompanyId, data.SpecialtyType);
                            }

                            //架体规格级形式
                            var $gridTable = $('#ScaffoldSpec');
                            $gridTable.clearGridData();
                            if (data.ScaffoldSpecs && data.ScaffoldSpecs.length > 0) {
                                for (var i = 0; i < data.ScaffoldSpecs.length; i++) {
                                    var spec = data.ScaffoldSpecs[i];
                                    rownum = rownum + 1;
                                    $gridTable.addRowData(rownum, { Id: '', ScaffoldId: data.Id, SLength: spec.SLength, SWidth: spec.SWidth, SHigh: spec.SHigh, SFrameName: spec.SFrameName, SFrameId: spec.SFrameId });
                                }
                                $(".unwritten").hide();
                            }
                        }
                    })
                });
            }
        });
    }
    //选择使用单位
    function selectCompany() {
        var flag = false;
        var setupcompanytype = $("input[type=radio]:checked").val();
        /**
        1.选择单位内部时，工程名称隐藏,当前角色为“厂级部门”，搭设单位为所有单位，否则为搭设单位本部门及以下单位。
        2.选择外包单位时，工程名称显示,当前角色为“厂级部门”，搭设单位为所有外包单位,否则搭设单位为本部门及以下级部门管辖的外包单位。
        3.另工程名称为选择搭设单位后单位管辖的工程，选择工程后把作业区域代入文本框。
        **/
        if (setupcompanytype == "0") {
            selectDept('&type=highrisk', 0, 4, '选择使用单位', document.body, 'SetupCompanyName,SetupCompanyCode,SetupCompanyId', "", function () {
                $("#SetupCompanyName1").val($("#SetupCompanyName").val());
                $("#SetupCompanyCode1").val($("#SetupCompanyCode").val());
                $("#SetupCompanyId1").val($("#SetupCompanyId").val());
                var departid = $("#SetupCompanyId").val();
                $("#SpecialtyType").html('');
                $("#SpecialtyType").append('<option value="">请选择</option>');
                GetSpecialty(departid, "");

            });
        } else {
            selectDept('', 0, 7, '选择使用单位', document.body, 'SetupCompanyName,SetupCompanyCode,SetupCompanyId', "1", function () {
                var departid = $("#SetupCompanyId").val();
                $("#SpecialtyType").html('');
                $("#SpecialtyType").append('<option value="">请选择</option>');
                $("#OutProjectId,#OutProjectName").val("");
            });
        }
    }

    function selectCompany1() {
        selectDept('', 0, 0, '选择拆除单位', document.body, 'SetupCompanyName1,SetupCompanyCode1,SetupCompanyId1');
    }


    //获取部门下的专业类别
    function GetSpecialty(departid, stype) {
        var specialtytype = stype;
        if (mode == "edit" || mode == "add") {
            specialtytype = "";
        }
        var workdepttype = $("input[name='SetupCompanyType']:checked").val();
        var flag = false;
        $.ajax({
            url: "../../HighRiskWork/Scaffold/GetSpecialtyToJson?deptid=" + departid + "&specialtytype=" + specialtytype + "&workdepttype=" + workdepttype,
            asycn: true,
            type: 'get',
            success: function (data) {
                if (!!data) {
                    var json = JSON.parse(data);
                    for (var i = 0; i < json.length; i++) {
                        if (stype == json[i].itemvalue) {
                            $("#SpecialtyType").append('<option value="' + json[i].itemvalue + '" selected="selected">' + json[i].itemname + '</option>');
                        }
                        else {
                            $("#SpecialtyType").append('<option value="' + json[i].itemvalue + '">' + json[i].itemname + '</option>');
                        }
                    }
                }
            }
        });
    }

    //选择工程
    function chooseProject() {
        if (!!$("#SetupCompanyName").val()) {
            SelectOutProject(window.document.body, 'OutProjectName,OutProjectId', $("#SetupCompanyId").val(), function () {
                var outprojectid = $("#OutProjectId").val()
                $("#SpecialtyType").html('');
                $("#SpecialtyType").append('<option value="">请选择</option>');
                GetSpecialty(outprojectid, "");
                //GetEngineerInfo($("#OutProjectId").val());
            });
        }
        else {
            dialogMsg('请先选择使用单位！', 0);
        }
    }

    //获取工程详情
    function GetEngineerInfo(id) {
        $.SetForm({
            url: "../../OutsourcingProject/Outsouringengineer/GetFormJson?keyValue=" + id,
            success: function (data) {
                $("#WorkArea").val(data.data.ENGINEERAREANAME);
            }
        })
    }

    function TransferAction() {
        var url = '/HighRiskWork/HighRiskCommonApply/TransferForm?keyValue=' + keyValue + "&FlowId=" + curflowid;
        idx = dialogOpen({
            id: "Transfer",
            title: '审批转交',
            url: url,
            width: ($(top.window).width() * 0.4) + "px",
            height: ($(top.window).height() * 0.4) + "px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
                //top.layer.close(idx);
                //$.currentIframe().$("#gridTable").trigger("reloadGrid");
            },
            cancel: function (index) {
            }
        });
    }

    function chooseUser(type) {
        switch (type) {
            case 1:
                selectUser({ deptId: '', checkMode: 1, mode: 0, winObject: window.document.body, domId: 'DismentlePersons,,DismentlePersonsIds,', userIds: "DismentlePersonsIds" });
                break;
            case 2:
                selectUser({ deptId: '', checkMode: 1, mode: 0, winObject: window.document.body, domId: 'CopyUserNames,,CopyUserIds,', userIds: "CopyUserIds" });
                break;
            default:

        }
    }

    function showmore(type) {
        switch (type) {
            case 1:
                if (!!$("#DismentlePersons").val()) {
                    var html = $("#DismentlePersons").val();
                    $("#modeltitle").html("拆除人员");
                    $("#modalBody").html(html);
                    $("#QdModal").modal('show');
                }
                else {
                    dialogMsg('请选择拆除人员！', 0);
                }
                break;
            case 2:
                if (!!$("#CopyUserNames").val()) {
                    var html = $("#CopyUserNames").val();
                    $("#modeltitle").html("抄送人员");
                    $("#modalBody").html(html);
                    $("#QdModal").modal('show');
                }
                else {
                    dialogMsg('请选择抄送人员！', 0);
                }
                break;
        }
       
    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["SetupTypeName"] = $("#SetupType").attr("data-text");
        var $gridTable = $('#ScaffoldSpec');
        var measures = $gridTable.jqGrid('getRowData');
        if (measures.length == 0) {
            dialogMsg('请添加架体规格及形式！', 0);
            return false;
        }
        for (var i = 0; i < measures.length; i++) {
            delete measures[i].operat;
            measures[i].ScaffoldId = keyValue;
        }
        postData["ScaffoldSpecs"] = measures;
        postData["AuditState"] = auditstate;

        var $gridTable = $('#gridAnalyse');
        var risk = $gridTable.jqGrid('getRowData');
        var flag = false;
        var arr = [];
        for (var i = 0; i < risk.length; i++) {
            var dom = risk[i];
            if (($.trim($gridTable.find("textarea[name='atrisk']").eq(i).val()).length == 0 || $.trim($gridTable.find("textarea[name='controls']").eq(i).val()).length == 0 || $.trim($gridTable.find("textarea[name='worktask']").eq(i).val()).length == 0 || $.trim($gridTable.find("textarea[name='workprocess']").eq(i).val()).length == 0) && !flag) {
                flag = true;
            } else {
                if ($.trim($gridTable.find("textarea[name='worktask']").eq(i).val()).length <= 500) {
                    arr.push({

                        WorkTask: $gridTable.find("textarea[name='worktask']").eq(i).val(),
                        WorkProcess: $gridTable.find("textarea[name='workprocess']").eq(i).val(),
                        AtRisk: $gridTable.find("textarea[name='atrisk']").eq(i).val(),
                        Controls: $gridTable.find("textarea[name='controls']").eq(i).val(),
                        WorkId: keyValue,
                        Id: newGuid(),
                        CreateDate: formatDate(new Date(), "yyyy-MM-dd hh:mm:ss")
                    });
                }
                else {
                    dialogMsg("工作任务字符过大,不可超过500个字符！", 2);
                    return false;
                }
            }
        }
        if (flag) {
            dialogMsg("工作任务、工序、风险描述和控制措施都不能为空！", 2);
            return false;
        }
        postData["RiskRecord"] = arr;

        $.SaveForm({
            url: "../../HighRiskWork/Scaffold/SaveForm?keyValue=" + keyValue,
            param: { jsonData: JSON.stringify(postData) },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //审核提交
    function AuditSubmit() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //审核结果
        var auditresult = $("input[name='AuditState']:checked").val();
        if (auditresult == "" || auditresult == undefined) {
            dialogAlert("审核结果未勾选,无法进行提交!!!", function () {
                return false;
            })
            return false;
        }
        var postData = {
            ScaffoldId: $("#ScaffoldId").val(),
            AuditUserId: $("#AuditUserId").val(),
            AuditUserName: $("#AuditUserName").val(),
            AuditDeptId: $("#AuditDeptId").val(),
            AuditDeptName: $("#AuditDeptName").val(),
            AuditDeptCode: $("#AuditDeptCode").val(),
            AuditRemark: $("#AuditRemark").val(),
            AuditDate: $("#AuditDate").val(),
            AuditState: auditresult,
            AuditSignImg: $("#AuditSignImg").attr("src")
        }
        $.SaveForm({
            url: "../../HighRiskWork/Scaffold/AuditSubmit?keyValue=" + keyValue,
            param: { jsonData: JSON.stringify({ auditEntity: postData }) },
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                top.refreshWork();//刷新首页待办事项
            }
        })

    }
    //导出
    function ExportDoc() {
        location.href = "../../HighRiskWork/Scaffold/ExportDoc?keyValue=" + keyValue;
    }

    function auditCheck(obj) {
        var signImg = getUserSignPic(userid);
        if (!!signImg) {
            $("#AuditSignImg").attr("src", "../.." + signImg);
        } else {
            $(obj).get(0).checked = false;
        }
    }

    //加载作业安全分析
    function GetRiskGrid() {
        var $gridTable = $('#gridAnalyse');
        $gridTable.jqGrid({
            url: "../../HighRiskWork/HighRiskCommonApply/GetRiskListJson",
            postData: { workId: keyValue },
            datatype: "json",
            height: "200px",
            autowidth: true,
            colModel: [
                { label: '主键', name: 'Id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (riskFlag) {
                            html += "&nbsp;&nbsp;<a href=javascript:delRow('" + rowObject.Id + "',this)  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                {
                    label: '工作任务', name: 'WorkTask', width: 200, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (!riskFlag) {
                            str = 'disabled = "disable"';
                        }
                        var html = '<textarea type="text"  name="worktask" ' + str + ' role="textbox" maxlength="500" style="width: 100%;height:120px;" class="form-control"';
                        html += '>' + cellvalue + '</textarea>';
                        return html;
                    }
                },
                {
                    label: '工序', name: 'WorkProcess', width: 200, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (!riskFlag) {
                            str = 'disabled = "disable"';
                        }
                        var html = '<textarea type="text"  name="workprocess" ' + str + ' role="textbox" maxlength="500" style="width: 100%;height:120px;" class="form-control"> ';
                        if (cellvalue) {
                            html += cellvalue + '</textarea>';
                        }
                        else {
                            html += '</textarea>';
                        }
                        return html;
                    }
                },
                {
                    label: '风险描述', name: 'AtRisk', width: 250, align: 'center', sortable: false, formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (!riskFlag) {
                            str = 'disabled = "disable"';
                        }
                        var html = '<textarea type="text"  name="atrisk" ' + str + ' role="textbox" maxlength="500"  style="width: 100%;height:120px;" class="form-control" >';
                        if (cellvalue) {
                            html += cellvalue + '</textarea>';
                        }
                        else {
                            html += '</textarea>';
                        }
                        return html;
                    }
                },
                {
                    label: '风险控制措施', name: 'Controls', width: 200, sortable: false, align: 'center'
                    , formatter: function (cellvalue, options, rowObject) {
                        var str = "";
                        if (!riskFlag) {
                            str = 'disabled = "disable"';
                        }
                        var html = '<textarea type="text"  name="controls" ' + str + ' role="textbox" maxlength="500" style="width: 100%;height:120px;" class="form-control" ';
                        html += '>' + cellvalue + '</textarea>';
                        return html;
                    }
                }
            ],
            viewrecords: true,
            rowNum: 100000,
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true

        });
    }

    //删除数据行
    function delRow(id, obj) {
        var jqTable = $("#gridAnalyse");
        var idx = dialogConfirm("确认删除吗？", function (isSure) {
            if (isSure) {
                jqTable.delRowData(jqTable.getGridParam('selrow'));
                top.layer.close(idx);
            } else {
                top.layer.close(idx);
            }
        });
    }

    //添加行
    function addItems(obj) {
        var rowId = $("#gridAnalyse").jqGrid('getRowData').length;
        $("#gridAnalyse").addRowData(rowId, { ID: newGuid(), WorkTask: "", WorkProcess: "", AtRisk: "", Controls: "" }, "first");
    }

    //从风险库中选择数据
    function selRisk() {
        dialogOpen({
            id: 'SelectRisk',
            title: '选择工作任务',
            url: '/HighRiskWork/HighRiskCommonApply/Select?worktypevale=-2',
            width: ($(window).width() - 200) + 'px',
            height: ($(window).height() - 20) + 'px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick(window.document.body);
            }
        })
    }

    //查看附件
    function btn_Annex(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            var dlg = dialogOpen({
                id: 'Annex',
                title: '附件列表',
                url: '/OccupationalHealthManage/Occupatioalstaff/FileList?keyValue=' + keyValue,
                width: '600px',
                height: '550px',
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }
</script>
<div style="margin:0px 5px;">
    <div id="div1" style="margin-top: 50px;"></div>
    <div id="panel_info" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;拆除申请基本信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table class="form">
                <tr>
                    <td id="titleTag" class="formTitle">申请单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApplyCompanyName" type="text" disabled="disabled"  class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
                        <input id="ApplyCompanyCode" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode" />
                        <input id="ApplyCompanyId" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId" />
                    </td>
                    <td id="titleTag" class="formTitle">申请人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApplyUserName" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
                        <input id="ApplyUserId" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                    </td>
                </tr>
                <tr>
                    <td id="titleTag" class="formTitle">申请时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApplyDate" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                    </td>
                    <td id="titleTag" class="formTitle">申请编号<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApplyCode" type="text" disabled="disabled" class="form-control" />
                    </td>
                </tr>
                <tr id="tr_setupinfo">
                    <td class="formTitle">脚手架拆除类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="SetupType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        @*<select id="SetupType" name="SetupType" class="form-control" isvalid="yes" checkexpession="NotNull">
                            <option value="">请选择</option>
                            <option value="0">6米以下脚手架拆除申请</option>
                            <option value="1">6米以上脚手架拆除申请</option>
                        </select>*@
                    </td>
                    <td class="formTitle">使用单位类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input type="radio" id="SetupCompanyType1" name="SetupCompanyType" value="0" @(!ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName.Contains("外包单位") ? "checked" : "") /><label for="SetupCompanyType1">单位内部</label>
                        <input type="radio" id="SetupCompanyType2" name="SetupCompanyType" value="1" @(ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName.Contains("外包单位") ? "checked" : "") /><label for="SetupCompanyType2">外包单位</label>
                        <input type="hidden" id="SetupCompanyType" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">
                        脚手架搭设信息<font face="宋体">*</font>
                    </td>
                    <td class="formValue">
                        <input type="text" id="SetupInfoCode" class="form-control" readonly onclick="selectScaffold()" isvalid="yes" checkexpession="NotNull" />
                        <input type="hidden" id="SetupInfoId" />
                    </td>
                    <td class="formTitle">使用单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="SetupCompanyName" type="text" class="form-control" readonly onclick="selectCompany()" isvalid="yes" checkexpession="NotNull" />
                        <input id="SetupCompanyCode" type="hidden" />
                        <input id="SetupCompanyId" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle" id="td_title_projectname">工程名称<font face="宋体">*</font></td>
                    <td class="formValue" id="td_value_projectname">
                        <input id="OutProjectName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly placeholder="请选择工程" onclick="chooseProject();" />
                        <input id="OutProjectId" type="hidden" />
                    </td>
                    <td class="formTitle">作业区域</td>
                    <td class="formValue">
                        <input id="WorkArea" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="50" />
                        <input type="hidden" id="WorkAreaCode" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">搭设地点<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="SetupAddress" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" />
                    </td>
                    <td class="formTitle">实际搭设时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div style="float:left;width:48%;">
                            <input id="ActSetupStartDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'ActSetupEndDate\')}' })" isvalid="yes" checkexpession="NotNull" />
                        </div>
                        <div style="float:left;width:4%;text-align:center;line-height:28px">
                            -
                        </div>
                        <div style="float:left;width:48%">
                            <input id="ActSetupEndDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'ActSetupStartDate\')}' })" isvalid="yes" checkexpession="NotNull" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">架体规格及形式<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <table id="ScaffoldSpec"></table>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">拆除单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="SetupCompanyName1" type="text" class="form-control" readonly onclick="selectCompany1()" isvalid="yes" checkexpession="NotNull" />
                        <input id="SetupCompanyCode1" type="hidden" />
                        <input id="SetupCompanyId1" type="hidden" />
                    </td>
                    <td class="formTitle">专业类别<font face="宋体">*</font></td>
                    <td class="formValue">
                       @*  <div id="SpecialtyType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>*@
                        <select id="SpecialtyType" name="SpecialtyType" class="form-control" isvalid="yes" checkexpession="NotNull">
                            <option value="">请选择</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">拆除负责人/监护人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="SetupChargePerson" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="50" onclick="selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'SetupChargePerson,,SetupChargePersonIds', userIds: $('#setupchargepersonids').val() });" readonly />
                        <input id="SetupChargePersonIds" type="hidden" />
                    </td>
                    <td class="formTitle">拆除人员<font face="宋体">*</font></td>
                    <td class="formValue" style="display:flex">
                        <input id="DismentlePersons" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onclick="chooseUser(1)" maxlength="1000" readonly/>
                        <input id="DismentlePersonsIds" type="hidden" />
                        <a id="btn_more" class="btn btn-primary" style="margin-left:5px;padding:0px 6px;height:28px;line-height:28px;" href="javascript:showmore(1);"><i class="fa fa-check"></i>&nbsp;更&nbsp;&nbsp;多</a>
                    </td>
                    
                </tr>
                <tr>
                    <td class="formTitle">计划拆除时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div style="float:left;width:48%;">
                            <input id="DismentleStartDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'DismentleEndDate\')}' })" isvalid="yes" checkexpession="NotNull" />
                        </div>
                        <div style="float:left;width:4%;text-align:center;line-height:28px">
                            -
                        </div>
                        <div style="float:left;width:48%">
                            <input id="DismentleEndDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'DismentleStartDate\')}' })" isvalid="yes" checkexpession="NotNull" />
                        </div>
                    </td>
                    <td class="formTitle">架体材质<font face="宋体">*</font></td>
                    <td class="formValue">
                        <select id="FrameMaterial" name="FrameMaterial" class="form-control" isvalid="yes" checkexpession="NotNull">
                            <option value="钢管" selected="selected">钢管</option>
                            <option value="木">木</option>
                            <option value="竹">竹</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">拆除部位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DismentlePart" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" max="255" value="整体" />
                    </td>
                    <td class="formTitle">措施落实人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="MeasureCarryout" type="text" class="form-control" maxlength="50" isvalid="yes" checkexpession="NotNull"  onclick="selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'MeasureCarryout,,MeasureCarryoutId' });" readonly/>
                        <input id="MeasureCarryoutId" type="hidden"/>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">方案和措施</td>
                    <td class="formValue">
                        <input id="MeasurePlan" type="text" class="form-control"  maxlength="200" />
                    </td>
                    <td class="formTitle">抄送人</td>
                    <td class="formValue" style="display:flex">
                        <input id="CopyUserNames" type="text" class="form-control" readonly onclick="chooseUser(2)" />
                        <input type="hidden" id="CopyUserIds" value="" />
                        <a id="btn_more" class="btn btn-primary" style="margin-left:5px;padding:0px 6px;height:28px;line-height:28px;" href="javascript:showmore(2);"><i class="fa fa-check"></i>&nbsp;更&nbsp;&nbsp;多</a>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">拆除原因<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <textarea id="DismentleReason" class="form-control" rows="5" isvalid="yes" checkexpession="NotNull" maxlength="255">作业已完工，申请拆除脚手架。</textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">方案上传</td>
                    <td class="formValue" colspan="3">
                        <div class="ibox">
                            <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                <div class="queueList">
                                    <div id="dndArea" class="placeholder">
                                        <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display: none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<div class="panel panel-default" id="riskAnalyse">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;作业安全分析</strong>
        <span class="tools pull-right">
            <a href="javascript:selRisk()" id="select" disabled="disabled" class="btn btn-primary btn-xs">选择工作任务</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="javascript:addItems(this)" id="choose1" disabled="disabled" class="btn btn-primary btn-xs">新增工作任务</a>&nbsp;&nbsp;&nbsp;&nbsp; <a class="fa fa-chevron-down" title="展开/收起"></a>
        </span>
    </div>
    <div class="panel-body">
        <table id="gridAnalyse"></table>
        <div id="AnalysePager"></div>
    </div>
</div>
    <div id="panel_audit" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-top: 5px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">审核部门<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AuditDeptName" type="text" class="form-control" checkexpession="NotNull" readonly />
                        </td>
                        <td class="formTitle">审核人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AuditUserName" type="text" class="form-control" checkexpession="NotNull" readonly />
                            <input type="hidden" id="AuditUserId" />
                            <input type="hidden" id="AuditDeptId" />
                            <input type="hidden" id="AuditDeptCode" />
                            <input type="hidden" id="ScaffoldId" />
                        </td>
                        <td class="formTitle">审核时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AuditDate" type="text" class="form-control" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm:ss' })" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:00")" disabled="disabled" readonly checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">审核结果<font face="宋体">*</font></td>
                        <td class="formValue" colspan="5">
                           <div class="radio-inline">
                                <label>
                                    <input type="radio" name="AuditState" id="AuditState1" value="1" onclick="auditCheck(this, 0)"/>同意
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="AuditState" id="AuditState2" value="0" onclick="auditCheck(this, 0)"/>不同意
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">签名<font face="宋体">*</font></td>
                        <td class="formValue">
                            <img id="AuditSignImg" style="height: 50px;" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">审核意见</td>
                        <td class="formValue" colspan="5">
                            <textarea id="AuditRemark" name="AuditRemark" class="form-control"  maxlength="1000"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="panel_auditrecord" class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核记录</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table id="ScaffoldAudit"></table>
        </div>
    </div>

    <div class="panel panel-default" id="panel6">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;作业执行信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-top: 5px; margin-right: 30px;">
                <table id="conditionGridTable"></table>
            </div>
        </div>
    </div>

</div>
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Export" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="ExportDoc()"><i class="fa fa-mail-forward"></i>&nbsp;导&nbsp;&nbsp;出</a>
        &nbsp; &nbsp;
        <a id="btn_Save" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; "><i class="fa fa-check"></i>&nbsp;保&nbsp;&nbsp;存</a>
        &nbsp; &nbsp;
        <a id="btn_Submit" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; "><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_Audit" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; " onclick="AuditSubmit()"><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_Transfer" class="btn btn-primary" style="background-color: #2e99d4; border-color: #2e99d4; "><i class="fa fa-mail-forward"></i>&nbsp;审&nbsp;&nbsp;批&nbsp;&nbsp;转&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
    </div>
    <!--申请类型-->
    <input type="hidden" id="ScaffoldType" />
    <!--作业状态-->
    <input type="hidden" id="AuditState" />
</div>

<div class="modal" id="QdModal">
    <div class="modal-dialog" style="width: 300px; margin-top: 100px;">
        <div class="modal-content" style="text-align: center;">
            <div class="modal-header">
                <h5 id="modeltitle">拆除人员</h5>
            </div>
            <div class="modal-body" id="modalBody">
            </div>
            <div class="modal-footer">
                <button id="btnModal" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>