@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>

<style type="text/css">
    $ {
        demo .css;
    }

    .css1 {
        width: 50px;
        font-weight: bold;
    }

    .css2 {
        width: 100px;
    }
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var state = 1;
    var deptname = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
    var deptid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var deptcode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
    var rolenames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var organizename = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";
    var organizecode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var organizeid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";

    var starttime = "", endtime = ""; year = ""; deptid = ""; deptcode = "";
    $(function () {
        dafaultdata();
        InitialPage();
        statTJ();
    })

    function InitialPage() {
        $('#desktop').height(1000);
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#desktop').height(1000);
            }, 800);
            e.stopPropagation();

        });
    }

    //高风险作业类型统计
    function statTJ() {
        $("#td1,#td2").attr("style", "display:none");
        $("#td3,#td4").removeAttr("style");
        $("#td3").attr("style", "width: 65px; font-weight: bold;");
        $("#td4").attr("style", "width: 300px;");

        starttime = $("#starttime").val();
        endtime = $("#endtime").val();
        deptid = $("#deptid").val();
        deptcode = $("#deptcode").val();
        $.get("GetHighWorkCount", { starttime: starttime, endtime: endtime, deptid: deptid, deptcode: deptcode }, function (data) {
            var json = eval("(" + data + ")");
            $('#tjcontainer').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: '高风险作业类型统计'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: '比例',
                    colorByPoint: true,
                    data: json
                }]
            });
        });
        //加载表格
        loadtj();
    }

    //高风险作业类型表格
    function loadtj() {
        var $gridTable = $("#gridTable1");
        $gridTable.jqGrid({
            url: "../../HighRiskWork/HighRiskStatistics/GetHighWorkList",
            postData: { starttime: starttime, endtime: endtime, deptid: deptid, deptcode: deptcode },
            datatype: "json",
            mtype: "post",
            height: 300,
            autoheight: true,
            autowidth: true,
            colModel: [
                 { label: '高风险作业类型', name: 'worktype', align: 'center', sortable: false },
                 { label: '作业类型值', name: 'worktypeval', align: 'center', sortable: false, hidden: true },
                 {
                     label: '作业数量', name: 'typenum', align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         if (cellvalue != "0") {
                             return "<a href=javascript:DialogOpenShow('/HighRiskWork/HighRiskStatistics/Report?worktype=" + rowObject.worktypeval + "&starttime=" + starttime + "&endtime=" + endtime + "&deptid=" + deptid + "&deptcode=" + deptcode + "','高危险作业','',''," + true + ") style='color:blue; text-decoration:underline'  title='高危险作业'>" + cellvalue + "</a>";
                         }
                         else return cellvalue;
                     }
                 },
                  {
                      label: '作业数量', name: 'typenum', align: 'center', sortable: false, hidden: true
                  },
                 { label: '比例(%)', name: 'percent', align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 100,
            rownumbers: true,
            gridComplete: function () {

            }, loadComplete: function (xhr) {
                var data = $gridTable.jqGrid('getRowData');
                var num1 = 0;
                $(data).each(function (i, item) {
                    num1 += parseInt(item.typenum);

                });
                $gridTable.addRowData(3, { worktype: '全部', typenum: num1, percent: '-' });
            }
        });
    }

    //月度变化
    function statQS() {
        $("#td3,#td4").attr("style", "display:none");
        $("#td1,#td2").removeAttr("style");
        $("#td1").attr("style", "width: 40px; font-weight: bold;");
        $("#td2").attr("style", "width: 80px;");

        deptid = $("#deptid").val();
        deptcode = $("#deptcode").val();
        year = $("#year").val();
        $.get("GetHighWorkYearCount", { year: year, deptid: deptid, deptcode: deptcode }, function (data) {
            var json = eval("(" + data + ")");
            $('#qscontainer').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '高风险作业变化趋势'
                },
                xAxis: {
                    categories: json.x
                },
                yAxis: {
                    title: {
                        text: '数量'
                    },
                    labels: {
                        formatter: function () {
                            return this.value;
                        }
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    spline: {
                        marker: {
                            radius: 4,
                            lineColor: '#666666',
                            lineWidth: 1
                        }
                    }
                },
                series: [{
                    name: '高风险作业数量',
                    marker: {
                        symbol: 'square'
                    },
                    data: json.y
                }]
            });
        });
        loadQS();
    }

    function loadQS() {
        var $gridTable = $("#gridTable");
        $gridTable.jqGrid({
            url: "../../HighRiskWork/HighRiskStatistics/GetHighWorkYearList",
            postData: { year: year, deptid: deptid, deptcode: deptcode },
            datatype: "json",
            mtype: "post",
            height: 300,
            autoheight: true,
            autowidth: true,
            colModel: [
                 { label: '名称', name: 'name', align: 'center', sortable: false },
                 { label: '1月', name: 'num1', align: 'center', sortable: false },
                 { label: '2月', name: 'num2', align: 'center', sortable: false },
                 { label: '3月', name: 'num3', align: 'center', sortable: false },
                 { label: '4月', name: 'num4', align: 'center', sortable: false },
                 { label: '5月', name: 'num5', align: 'center', sortable: false },
                 { label: '6月', name: 'num6', align: 'center', sortable: false },
                 { label: '7月', name: 'num7', align: 'center', sortable: false },
                 { label: '8月', name: 'num8', align: 'center', sortable: false },
                 { label: '9月', name: 'num9', align: 'center', sortable: false },
                 { label: '10月', name: 'num10', align: 'center', sortable: false },
                 { label: '11月', name: 'num11', align: 'center', sortable: false },
                 { label: '12月', name: 'num12', align: 'center', sortable: false },
            ],
            viewrecords: true,
            rowNum: 100,
            rownumbers: true,
            gridComplete: function () {

            }
        });
    }

    function query() {
        starttime = $("#starttime").val();
        endtime = $("#endtime").val();
        deptid = $("#deptid").val();
        deptcode = $("#deptcode").val();
        if (state == 1) {
            $("#btntj").trigger("click");
            $("#gridTable1").jqGrid('setGridParam', {
                postData: { starttime: starttime, endtime: endtime, deptid: deptid, deptcode: deptcode }, page: 1
            }).trigger('reloadGrid');
        }
        if (state == 2) {
            $('#divQS').show();
            $('#divTJ').hide();
            $(this).addClass('btn-primary');
            statQS();
            $("#gridTable").jqGrid('setGridParam', {
                postData: { year: year, deptid: deptid, deptcode: deptcode }, page: 1
            }).trigger('reloadGrid');
        }
    }


    function dafaultdata() {
        $("#starttime").val("@DateTime.Now.ToString("yyyy")" + "-01-01");
        $("#endtime").val("@DateTime.Now.ToString("yyyy-MM-dd")");
        $("#year").val("@DateTime.Now.ToString("yyyy")");
        if (rolenames.includes("公司") || rolenames.includes("厂级")) {
            $("#deptname").val(organizename);
            $("#deptid").val(organizeid);
            $("#deptcode").val(organizecode);
        }
        else {
            $("#deptname").val(deptname);
            $("#deptid").val(deptid);
            $("#deptcode").val(deptcode);
        }
    }

    //重置
    function reset() {
        dafaultdata();
        query();
    }
</script>
<div class="border" id="desktop" style="background: #fff; overflow-y: auto; overflow-x: hidden;">
    <div style="margin-top: 10px;">
        <div class="row">
            <table style="width: 100%;">
                <tr>
                    <td id="td3" style="width: 65px; font-weight: bold;" align="right">作业时间：</td>
                    <td id="td4" style="width: 300px;">
                        <div id="div1">
                            <div style="float: left; width: 120px;">
                                <input id="starttime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd'})">
                            </div>
                            <div style="float: left; width: 20px; text-align: center; margin-top: 5px;">-</div>
                            <div style="float: left; width: 120px;">
                                <input id="endtime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt:'yyyy-MM-dd' })">
                            </div>
                        </div>
                    </td>
                    <td id="td1" style="width: 40px; font-weight: bold; display: none" align="right">年度：</td>
                    <td id="td2" style="width: 80px; display: none">
                        <div id="div2">
                            <div style="float: left; width: 150px;">
                                <input id="year" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({dateFmt:'yyyy'})">
                            </div>
                        </div>
                    </td>
                    <td style="width: 70px; font-weight: bold;" align="right">作业单位：</td>
                    <td style="width: 145px;">
                        <input id="deptname" type="text" style="width: 140px;" class="form-control" placeholder="请选择作业单位" readonly onclick="selectDept('', 0, 2, '选择作业单位', window.document.body, 'deptname,deptcode,deptid,,,');" />
                        <input id="deptcode" type="hidden" /><input id="deptid" type="hidden" />

                    </td>
                    <td align="right" style="width: 140px;">
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divTJ').show(); $('#divQS').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statTJ();"><i class="fa fa-bar-chart"></i>&nbsp;作业类型统计</button>
                                <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divQS').show(); $('#divTJ').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statQS();"><i class="fa fa-bar-chart"></i>&nbsp;高风险月度变化趋势</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div id="divQS" style="display: none;">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="qscontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="divTJ">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="tjcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable1" title="aaaa"></table>
                </div>
            </div>
        </div>
    </div>
</div>


