<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@BSFramework.Util.Config.GetValue("SystemName").ToString()</title>
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>

    @System.Web.Optimization.Styles.Render("~/Content/styles/framework-ui.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/utils/js")
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/framework-clientdata.js"></script>
    <script src="~/Content/adminDefault/index.js"></script>
    <link href="~/Content/adminDefault/css/index.css" rel="stylesheet" />
    <link href="~/Content/styles/desktop/layout.css" rel="stylesheet" />
    <link href="~/Content/styles/desktop/index2.css" rel="stylesheet" />
    <!--即时通信start-->
    @*<script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
        <script src="@BSFramework.Util.Config.GetValue("SignalRUrl")/hubs"></script>
        <link href="~/Content/styles/framework-im.css" rel="stylesheet" />
        <script src="~/Content/scripts/utils/framework-im.js"></script>*@

    <script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))/hubs"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/content/scripts/bootstrap/html5shiv.js"></script>
        <script src="~/content/scripts/bootstrap/respond.min.js"></script>
        <script src="~/content/scripts/bootstrap/jquery.placeholder.min.js"></script>
        <script src="~/content/scripts/bootstrap/json2.js" type="text/javascript"></script>
    <![endif]-->
    <!--即时通信end-->
    <script>
        var currUserDeptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
        var currUserDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
        var currUserOrgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        var currUserOrgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
        var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
        var currUserAccount = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Account";
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        var currUserDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
        var currUserOrgName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";
        var currUserRoleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        var currUserRoleId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleId";
        var signalRUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))";

        $(function () {
            initialPage();
            @*IMInit({
            url: "@BSFramework.Util.Config.GetValue("SignalRUrl")",
                userId:currUserId,
                userName: "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"
        });*@
            getMessage();
        });
        function SkinIndex() {
            dialogOpenFrame({
                id: "Form",
                title: '个性化设置-皮肤设置',
                url: '/Home/SkinIndex',
                width: "580px",
                height: "350px",
                callBack: function (iframeId) {
                }
            });
        }
        //初始化页面
        function initialPage() {
            if (currUserRoleName.indexOf("公司领导") >= 0 || currUserRoleName.indexOf("厂级部门用户") >= 0 || currUserRoleName.indexOf("省级用户") >= 0) {
                $("#items").show();
                getWork();
            } else {
                $("#items").hide();
            }
            $("#container").height($(window).height());
            $(window).resize(function (e) {
                $("#container").height($(window).height());
            });
            loadnav();
            $(window).load(function () {
                window.setTimeout(function () {
                    $('#ajax-loader').fadeOut();
                }, 300);
            });

            var color = top.$.cookie('SettingColor');
            if (color != undefined && color != null) {
                $("#side").css('background', color);
                $("#nav .item").css('background', color);
                $(".sub-nav-wrap").css('background', color);
            }
            var photo = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Photo";
            if (photo.length > 0) {
                $("#photo").attr("src", ".." + photo);
            }
        }
        //安全检查
        function showBigTrb(val1, val2, val3, val4, val5,url) {
            var title = "安全检查";
            url = url+'&rcnum=' + val1 + "&zxnum=" + val2 + "&jjrnum=" + val3 + "&jjnum=" + val4 + "&zhnum=" + val5;
            openTab("3e3772fb-e1c2-42c9-9f98-fb0477158845", url, "待办安全检查");
        }
        //待办事项
        function getWork() {
        //    $.post("../Home/GetWorkList", {}, function (data) {
        //        var arr = eval(data);
        //        var num = 0;
        //        var html = "<em></em>";
        //        var urls = new Array("", "../HiddenTroubleManage/HTPerfection/Index", "../HiddenTroubleManage/HTApproval/Index", "../HiddenTroubleManage/HTChangeInfo/Index",
        //"../HiddenTroubleManage/HTExtension/Index", "../HiddenTroubleManage/HTAcceptInfo/Index", "", "../HiddenTroubleManage/HTEstimate/Index", "/ERCHTMS/RiskDatabase/RiskPlan/List");
        //        var ids = new Array("", "239a0b2a-598b-480a-b353-091466257aa9", "18e2a7d1-73f6-484c-b2c7-c77f88f0f3e1", "98210480-3531-4441-a913-2ccb93e2f605",
        //            "2a9d84a3-01b3-4faa-b8d8-0a601355ceab", "8463a55b-cc36-439a-bcab-f8fb993c0190", "", "f87023f5-c1ca-4d8d-a57b-0354f052a02e", "7b040bd0-7561-4f87-8967-49c0f969702a");
        //        var titles = new Array("", "隐患完善", "隐患评估", "隐患整改", "延期审(核)批", "隐患验收", "", "整改效果评估", "风险辨识评估计划");
        //        var text = new Array("待执行安全检查数", "待完善隐患数", "待评估隐患数", "待整改隐患数", "待审(核)批整改延期隐患数", "待验收隐患数", "", "待效果评估隐患数", "进行中风险计划数");
        //        for (var i = 0; i < arr.length; i++) {

        //            if (i == 0) {
        //                var itemcheck = arr[i].split(',');
        //                html += "<li><a onclick=showBigTrb('" + itemcheck[1] + "','" + itemcheck[2] + "','" + itemcheck[3] + "','" + itemcheck[4] + "','" + itemcheck[5] + "')>" + text[i] + "<span style='float:right'>" + arr[i].split(',')[0] + "</span></a></li>";
        //                num += parseInt(arr[i].split(',')[0]);
        //            }
        //            else {
        //                if (!!text[i] && !!ids[i] && !!urls[i]) {
        //                    num += parseInt(arr[i]);
        //                    html += "<li><a href=javascript:openTab('" + ids[i] + "','" + urls[i] + "?mode=" + 0 + "','" + titles[i] + "')>" + text[i] + "<span style='float:right'>" + arr[i] + "</span></a></li>";
        //                }
        //            }
        //        }
        //        $("#ulDBSX").append(html);
        //        $("#spanNum").html(num);
            //    });
            $.get("../Desktop/GetDeptStatData", { itemType: "DBSX" }, function (data) {
                if (data.length > 2) {
                    var count = 0;
                    var json = eval("(" + data + ")");
                    var html = "";
                    $(json.resultdata).each(function (i, item) {

                        if (item.Num != "0") {
                        if (item.itemcode == "CKPLAN") {
                            var arr = item.Num.split(',');
                            if (arr[0] != "0") {
                                count += parseInt(item.Num);
                                var content = item.itemstyle.replace("{func}", "showBigTrb('" + arr[1] + "','" + arr[2] + "','" + arr[3] + "','" + arr[4] + "','" + arr[5] + "')");
                                content = content.replace("{Sum}", arr[0]);
                                html += content;
                            }
                        } else {
                            count += parseInt(item.Num);
                            html += item.itemstyle;
                        }

                        }
                    });
                    if (count > 0) {
                        $("#ulDBSX").html(html);
                        $("#spanNum").html(count);
                    } else {
                        $("#items").hide();
                    }
                }
            });

        }

        //短消息
        function getMessage() {
            $.get("../SystemManage/Message/getmessagecount", function (data) {
                if (data != "0") {
                    top.layer.open({
                        type: 0,
                        title: "系统提示",
                        content: "您有新的短消息,<a onclick='OpenMessage()' style='cursor:pointer;font-weight:bold;color:bule;text-decoration:underline;'>点击查看详情</a>",
                        offset: "rb",
                        btn: null,
                        shade: 0,
                        time: 10000
                    });
                }
                $("#msgCount").text(data);
            });
        }
        function OpenMessage() {
            openTab("4333897c-b095-4ff6-87ff-e051ea6f8737", "../SystemManage/Message/Index?status=0", "消息通知");
        }
        //function openTab(id, url, title,num) {
        //    if (top.$.tab != undefined) {
        //         top.$.tab.addTab(id, url, title);
        //    } else {
        //         top.tablist.newTab({ id: id, title: title, closed: true, icon: "fa fa-list-alt", url: url, moduleIdCookie: true });
        //    }
        //}
        
    </script>
</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/Images/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div id="container">
        <div id="side" style="overflow-y:auto; ">

            <ul id="nav"></ul>
        </div>
        <div id="main">
            <header class="bs-header" style="height: 55px; margin-left: 80px;" >
                <div class="clearfix">
                    <h1 class="pull-left">
                        <img src="~/content/images/desktop/logo2.png" alt="">
                      @BSFramework.Util.Config.GetValue("SystemName").ToString()
                    </h1>
                    <div class="pull-right clearfix">
                        <ul class="header_list pull-left">
                            @*<li>
                            <div>短消息<span>3</span></div>
                            <ul class="backlog_list">
                                <li><a href="javascript:;">安全检查<span>1</span></a></li>
                                <li><a href="javascript:;">安全会议<span>2</span></a></li>
                                <li><a href="javascript:;">通知公告<span>3</span></a></li>
                                <li><a href="javascript:;">应急演练<span>4</span></a></li>
                                <li><a href="javascript:;">待评估隐患<span>5</span></a></li>
                                <li><a href="javascript:;">待整改隐患<span>6</span></a></li>
                                <li><a href="javascript:;">待验收隐患<span>7</span></a></li>
                            </ul>
                        </li>*@
                            <li id="items">
                               <div onclick="OpenMessage()" style="background: url('../content/images/desktop/header_icon1.png') no-repeat 20px center; ">短消息<span id="msgCount"></span></div>
                               @* <ul class="backlog_list items10" id="ulDBSX"></ul>*@
                            </li>
                            <li id="items">
                                <div style="background: url('../content/images/desktop/header_icon2.png') no-repeat 20px center; ">待办事项<span id="spanNum"></span></div>
                                <ul class="backlog_list items10" id="ulDBSX"></ul>
                            </li>
                        </ul>
                        <div class="user_center pull-right">
                            <div class=""><img src="~/content/images/desktop/user_icon.png"><span>@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName</span>&nbsp;&nbsp;<i class="fa fa-chevron-down"></i></div>
                            <ul class="user_list" id="userItem">
                                <li id="UserSetting"><img src="~/content/images/desktop/user_center_icon1.png">个人设置</li>
                                <li id="ChangeSkin" onclick="SkinIndex()"><img src="~/content/images/desktop/user_center_icon2.png">更换皮肤</li>
                                <li onclick="IndexOut()"><img src="~/content/images/desktop/user_center_icon3.png">退出系统</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <div id="main-hd">
                <div id="main-hd-title">
                    <a>@BSFramework.Util.Config.GetValue("SystemName").ToString()</a>
                </div>
                    <div style="float: right;">
                @*<ul id="topnav">
                    <li class="list">
                        <a id="todo">
                            <span><i class="fa fa-home"></i></span>
                            待办事项<label id="spanNum"></label>
                        </a>
                        <ul  style="height: 350px; z-index:10000; "></ul>

                    </li>
                    <li class="list" id="HomePage">
                        <a>
                            <span><i class="fa fa-home"></i></span>
                            系统首页
                        </a>
                    </li>
                    <li class="list" id="UserSetting">
                        <a>
                            <span><i class="fa fa-user"></i></span>
                            个人设置
                        </a>
                    </li>
                    <li class="list" id="ChangeSkin" onclick="SkinIndex()">
                        <a>
                            <span><i class="fa fa-reorder"></i></span>
                            更换皮肤
                        </a>
                    </li>

                    <li class="list" onclick="IndexOut()">
                        <a>
                            <span><i class="fa fa-power-off"></i></span>
                            安全退出
                        </a>
                    </li>
                </ul>*@
            </div>
                </div>
            <div id="main-bd">
                <div id="tab_list_add">
                </div>
                <div class="contextmenu">
                    <ul>
                        <li onclick="$.removeTab('reloadCurrent')">刷新当前</li>
                        <li onclick="$.removeTab('closeCurrent')">关闭当前</li>
                        <li onclick="$.removeTab('closeAll')">全部关闭</li>
                        <li onclick="$.removeTab('closeOther')">除此之外全部关闭</li>
                        <div class='m-split'></div>
                        <li>退出</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--载进度条start-->
    <div id="loading_background" class="loading_background" style="display: none;"></div>
    <div id="loading_manage">
        请稍候,正在努力加载中…
    </div>
    <!--载进度条end-->
</body>
</html>
