<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@BSFramework.Util.Config.GetValue("SystemName").ToString()</title>
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/framework-clientdata.js"></script>
    <link href="~/Content/styles/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/scripts/utils/framework-ui.js"></script>
    <script src="~/Content/AdminPretty/index.js"></script>
    <link href="~/Content/AdminPretty/css/index.css" rel="stylesheet" />
    <!--即时通信start-->
    @*<script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
         <script src="@BSFramework.Util.Config.GetValue("SignalRUrl")/hubs"></script>
        <link href="~/Content/styles/framework-im.css" rel="stylesheet" />
         <script src="~/Content/scripts/utils/framework-im.js"></script>*@
    <script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))/hubs"></script>

    <script type="text/javascript">
        var currUserDeptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
        var currUserDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
        var currUserOrgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        var currUserOrgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
        var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
        var currUserAccount = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Account";
        var currUserDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
        var currUserOrgName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";
        var currUserRoleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        var currUserRoleId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleId";
        var signalRUrl = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("SignalRUrl", "MQConfig"))";
        var IsOpenPassword =
            "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsOpenPassword") == "true" && ERCHTMS.Code.OperatorProvider.Provider.Current().AccountType == "1" ? new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("indexOutUrl") : "")";

        $(function () {
            $("#left-bar").width($(window).width() - 500);
            if (currUserRoleName.indexOf("公司领导") >= 0 || currUserRoleName.indexOf("厂级部门用户") >= 0 || currUserRoleName.indexOf("省级用户") >= 0) {
                $(".right-bar").width("450px");
                $("#items").show();
                getWork();
            } else {
                $("#items").hide();
            }
            stat();
            var color = top.$.cookie('SettingColor');
            if (color != undefined && color != null) {
                $(".lea-Head").css('background', color);
                $(".footer").css('background', color);

                $(".dropdown-menu > li > a:hover").css('background-color', color);
                $(".lea-Head ").css('background-color', color);
                $(".menu .popover-menu .active > .menuItem, .menu .popover-menu .menuItem:hover").css('background-color', color);
                //$(".page-tabs-content> .menuTab.active").css('border-top', color);
                //$(".page-tabs-content> .menuTab.active").css('color', color);
                $(".lea-tabs .roll-nav:hover").css('color', color);
                $(".popover-moreMenu > .title").css('color', color);
                $(".moresubmenu .active > .menuItem, .moresubmenu .menuItem:hover, .moresubmenu > .treeview > a.active, .moresubmenu > .treeview > a:hover").css('background-color', color);
                $(".message-window-header").css('background', color);
                $(".layui-layer-iframe").css('border-top-color', color);
                $(".layui-layer-dialog").css('border-top-color', color);
                $(".layui-layer-title").css('border-color', color);
                $(".layui-layer-title").css('background', color);
                $(".layui-layer-title").css('border-color', color);
                $(".layui-layer-title").css('background', color);
                $(".layui-layer-btn .layui-layer-btn0").css('background', color);
                $(".layui-layer-btn .layui-layer-btn0").css('border-color', color);
                $(".menuTab").css("border-top-color", color);
                $(".menuTab").css("color", color);
            }
            var photo = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Photo";
            if (photo.length > 0) {
                $("#photo").attr("src", ".." + photo);
            }
            $(window).resize(function () {
                $("#left-bar").width($(window).width() - 400);
            });
            getMessage();
        });

        function SkinIndex() {
            dialogOpenFrame({
                id: "Form",
                title: '个性化设置-皮肤设置',
                url: '/Home/SkinIndex',
                width: "580px",
                height: "350px",
                callBack: function (iframeId) {
                }
            });
        }
        function stat() {
          
            $.post("../PublicInfoManage/Package/GetVersion", function (data) {
                $("#version").text(data);
            });
        }
        //安全检查
        function showBigTrb(val1, val2, val3, val4, val5,url) {
            var title = "安全检查";
            url = url+'&rcnum=' + val1 + "&zxnum=" + val2 + "&jjrnum=" + val3 + "&jjnum=" + val4 + "&zhnum=" + val5;
            openTab("3e3772fb-e1c2-42c9-9f98-fb0477158845", url, "待办安全检查");
        }
        //待办事项
        function getWork() {
            //$.post("../Home/GetWorkList", {}, function (data) {
            //    var arr = eval(data);
            //    var num = 0;
            //    var html = "<em></em>";
            //    var urls = new Array("", "../HiddenTroubleManage/HTPerfection/Index", "../HiddenTroubleManage/HTApproval/Index", "../HiddenTroubleManage/HTChangeInfo/Index",
            // "../HiddenTroubleManage/HTExtension/Index", "../HiddenTroubleManage/HTAcceptInfo/Index", "", "../HiddenTroubleManage/HTEstimate/Index", "/ERCHTMS/RiskDatabase/RiskPlan/List");
            //    var ids = new Array("", "239a0b2a-598b-480a-b353-091466257aa9", "18e2a7d1-73f6-484c-b2c7-c77f88f0f3e1", "98210480-3531-4441-a913-2ccb93e2f605",
            //        "2a9d84a3-01b3-4faa-b8d8-0a601355ceab", "8463a55b-cc36-439a-bcab-f8fb993c0190", "", "f87023f5-c1ca-4d8d-a57b-0354f052a02e", "7b040bd0-7561-4f87-8967-49c0f969702a");
            //    var titles = new Array("", "隐患完善", "隐患评估", "隐患整改", "延期审(核)批", "隐患验收", "", "整改效果评估", "风险辨识评估计划");
            //    var text = new Array("待执行安全检查数", "待完善隐患数", "待评估隐患数", "待整改隐患数", "待审(核)批整改延期隐患数", "待验收隐患数", "", "待效果评估隐患数", "进行中风险计划数");
            //    for (var i = 0; i < arr.length; i++) {

            //        if (i == 0) {
            //            var itemcheck = arr[i].split(',');
            //            html += "<li><a onclick=showBigTrb('" + itemcheck[1] + "','" + itemcheck[2] + "','" + itemcheck[3] + "','" + itemcheck[4] + "','" + itemcheck[5] + "')>" + text[i] + "<span style='float:right'>" + arr[i].split(',')[0] + "</span></a></li>";
            //            num += parseInt(arr[i].split(',')[0]);
            //        }
            //        else {
            //            if (!!text[i] && !!ids[i] && !!urls[i]) {
            //                num += parseInt(arr[i]);
            //                html += "<li><a href=javascript:openTab('" + ids[i] + "','" + urls[i] + "?mode=" + 0 + "','" + titles[i] + "')>" + text[i] + "<span style='float:right'>" + arr[i] + "</span></a></li>";
            //            }
            //        }
            //    }
            //    $("#ulDBSX").append(html);
            //    $("#spanNum").html(num);
            //});
            $.get("../Desktop/GetDeptStatData", { itemType: "DBSX" }, function (data) {
                if (data.length > 2) {
                    var count = 0;
                    var json = eval("(" + data + ")");
                    var html = "";
                    $(json.resultdata).each(function (i, item) {
                        
                        if (item.Num != "0") {
                        if (item.itemcode == "CKPLAN") {
                            var arr = item.Num.split(',');
                            if (arr[0] != "0") {
                                count += parseInt(item.Num);
                                var content = item.itemstyle.replace("{func}", "showBigTrb('" + arr[1] + "','" + arr[2] + "','" + arr[3] + "','" + arr[4] + "','" + arr[5] + "','"+item.address+"')");
                                content = content.replace("{Sum}", arr[0]);
                                html += content;
                            }

                        } else {
                            count += parseInt(item.Num);
                            html += item.itemstyle;
                        }

                        }
                    });
                    if (count > 0) {
                        $("#ulDBSX").html(html);
                        $("#spanNum").html(count);
                    } else {
                        $("#items").hide();
                    }
                }
            });

        }
        //短消息
        function getMessage() {
            $.get("../SystemManage/Message/getmessagecount", function (data) {
                if (data != "0") {
                    top.layer.open({
                        type: 0,
                        title: "系统提示",
                        content: "您有新的短消息,<a onclick='OpenMessage()' style='cursor:pointer;font-weight:bold;color:bule;text-decoration:underline;'>点击查看详情</a>",
                        offset: "rb",
                        btn: null,
                        shade: 0,
                        time: 10000
                    });
                }
                $("#msgCount").text(data);
            });
        }
        function OpenMessage() {
            openTab("4333897c-b095-4ff6-87ff-e051ea6f8737", "../SystemManage/Message/Index?status=0", "消息通知");
        }
        //function openTab(id, url, title) {
        //    if (top.$.tab != undefined) {
        //        top.$.tab.addTab(id, url, title);
        //    } else {
        //        top.tablist.newTab({ id: id, title: title, closed: true, icon: "fa fa-list-alt", url: url, moduleIdCookie: true });
        //    }
        //}
    </script>


</head>
<body style="overflow: hidden;">
    <div id="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/images/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div class="lea-Head" style="z-index:10;">
        <div class="logo">

        </div>
        <div class="left-bar" id="left-bar" style="z-index: 100; overflow: auto;">
            <ul class="menu" id="top-menu" style="z-index:12; width:3000px;"></ul>
        </div>
        <div class="right-bar">
      
            <ul id="items">
                <li class="dropdown user-menu">
                    <a href="#" onclick="OpenMessage()" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/Content/images/head/user2-160x1602222.jpg" class="user-image photo" alt="User Image">*@
                        <img src="~/Content/Index/images/header_icon1.png" />
                        <span id="msgCount" style="font-size:18px;color:lightyellow">0</span>
                        <span class="hidden-xs">短消</span>

                    </a>
                    @*<ul class="dropdown-menu pull-right items10" id="ulDBSX" style="width:250px;top:80%;"></ul>*@
                </li>
                <li class="dropdown user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        @*<img src="~/Content/images/head/user2-160x1602222.jpg" class="user-image photo" alt="User Image">*@
                        <img src="~/Content/Index/images/header_icon2.png" />
                        <span id="spanNum" style="font-size:18px;color:lightyellow">0</span>
                        <span class="hidden-xs">待办事项<i class="fa fa-caret-down" style="padding-left: 5px;"></i></span>

                    </a>
                    <ul class="dropdown-menu pull-right items10" id="ulDBSX" style="width:250px;top:80%;"></ul>
                </li>
            </ul>

            <ul>
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="~/Resource/PhotoFile/System.jpg" id="photo"
                             class="user-image" alt="User Image">
                        <span class="hidden-xs">@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName</span><i class="fa fa-caret-down" style="padding-left: 5px;"></i>
                    </a>
                    <ul class="dropdown-menu pull-right" id="userItem">
                        <li><a id="UserSetting" class="menuItem" data-id="userInfo" href="../PersonCenter/Index"><i class="fa fa-user"></i>个人设置</a></li>
                        <li><a class="menuItem" data-id="userInfo" onclick="SkinIndex()"><i class="fa fa-image"></i>更换皮肤</a></li>
                        <li><a class="menuItem" data-id="userInfo" href="@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsOpenPassword") == "true" && ERCHTMS.Code.OperatorProvider.Provider.Current().AccountType == "1" ? new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("UpdatePassWordUrl") : "../PersonCenter/Index?pwd")"><i class="fa fa-pencil-square-o"></i>修改密码</a></li>
                        <li class="divider"></li>
                        <li><a onclick="$.index.indexOut(IsOpenPassword)"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                       
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="lea-tabs">
        <div class="menuTabs">
            <div class="page-tabs-content">
                <a href="javascript:;" class="menuTab active" data-id="Desktop" mid="1234567890"><i class="fa fa-home"></i>欢迎首页</a>
            </div>
        </div>
        <div class="tabs-right-tool">
            <button class="roll-nav tabLeft">
                <i class="fa fa fa-chevron-left"></i>
            </button>
            <button class="roll-nav tabRight">
                <i class="fa fa fa-chevron-right" style="margin-left: 3px;"></i>
            </button>
            <button class="roll-nav fullscreen">
                <i class="fa fa-arrows-alt"></i>
            </button>
            <div class="dropdown">
                <button class="roll-nav dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-gear "></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" style="margin-top:40px">
                    <li><a class="tabReload" href="javascript:;">刷新当前</a></li>
                    <li><a class="tabCloseCurrent" href="javascript:;">关闭当前</a></li>
                    <li><a class="tabCloseAll" href="javascript:;">全部关闭</a></li>
                    <li><a class="tabCloseOther" href="javascript:;">除此之外全部关闭</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div id="mainContent" class="lea-content mainContent">
        <iframe class="LRADMS_iframe" id="iframe_content" name="iframe_content" width="100%" height="100%" frameborder="0" data-id="Desktop" src="Desktop" scrolling="auto"></iframe>
    </div>
   
    <div class="footer">
        <div style="float: left; width: 30%;">
            &nbsp;当前版本：<span style="color: white;" id="version"></span>
        </div>
        <div style="float: left; width: 40%; text-align: center;">
            Copyright © @DateTime.Now.Year By Bossien Safety
        </div>
        @*  <div style="float: left; width: 30%; text-align: right;">
                <i id="btn_message" class="fa fa-comments" title="消息通知" style="width: 30px; font-size: 22px; vertical-align: middle; cursor: pointer;margin-top:-1px;margin-right:5px;display:none;"></i>
            </div>*@
    </div>


    <div id="loading_background" class="loading_background" style="display: none;"></div>
    <div id="loading_manage">
        请稍候,正在努力加载中…
    </div>
    <script src="~/Content/scripts/business/jpush.js"></script>
</body>
</html>
