@{
    var user = ERCHTMS.Code.OperatorProvider.Provider.Current();
    ERCHTMS.Busines.SystemManage.DataItemDetailBLL di = new ERCHTMS.Busines.SystemManage.DataItemDetailBLL();
    List<string> lst = new ERCHTMS.Busines.SystemManage.PasswordSetBLL().IsPasswordRuleStatus(user);
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@BSFramework.Util.Config.GetValue("SystemName").ToString()</title>
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/framework-clientdata.js"></script>
    <script src="~/Content/scripts/utils/framework-ui.js"></script>
    <link href="~/Content/styles/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/adminWindos/index.js"></script>
    <link href="~/Content/adminWindos/css/index.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/crypto/crypto.min.js"></script>
    <script src="~/Content/scripts/plugins/datepicker/WdatePicker.js"></script>
    <!--即时通信start-->
    <script src="~/Content/scripts/plugins/signalr/jquery.signalR-2.2.0.min.js"></script>
    <script src="@(di.GetItemValue("SignalRUrl", "MQConfig"))/hubs"></script>

    <!--即时通信end-->
    <!--[if lt IE 9]>
        <script src="~/content/scripts/bootstrap/html5shiv.js"></script>
        <script src="~/content/scripts/bootstrap/respond.min.js"></script>
        <script src="~/content/scripts/bootstrap/jquery.placeholder.min.js"></script>
        <script src="~/content/scripts/bootstrap/json2.js" type="text/javascript"></script>
    <![endif]-->
    <script type="text/javascript">
        var currUserDeptCode = "@user.DeptCode";
        var currUserDeptId = "@user.DeptId";
        var currUserOrgId = "@user.OrganizeId";
        var currUserOrgCode = "@user.OrganizeCode";
        var currUserId = "@user.UserId";
        var currUserAccount = "@user.Account";
        var currUserDeptName = "@user.DeptName";
        var currUserOrgName = "@user.OrganizeName";
        var currUserRoleName = "@user.RoleName";
        var currUserName = "@user.UserName";
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        var currUserRoleId = "@user.RoleId";
        var signalRUrl = "@(di.GetItemValue("SignalRUrl", "MQConfig"))";
        var IsOpenPassword =
            "@(di.GetItemValue("IsOpenPassword") == "true" && user.AccountType == "1" ? di.GetItemValue("indexOutUrl") : "")";
        var isHRDL = "@(lst[0])";
        var pwdReg = "@(lst[1])";
        var pwdMsg = "@(lst[2])";
        var pwdLen = "@(lst[3])";
        //以下2个字段为对接培训平台使用
        var isTrainAdmin = "@user.IsTrainAdmin"; //是否培训管理员
        var tokenId = "@BSFramework.Util.DESEncrypt.EncryptString(user.Account+"gly")";
        var apiUrl = "@(di.GetItemValue("WebApiUrl", "AppSettings"))";
        var itemCode = request("itemCode");
        var isWt = "@ViewBag.IsWt";
        var isWz = "@ViewBag.IsWz";
        var way = "@(di.GetItemValue("WhatWay", "Train"))";
        @*var doshboard = '@ViewBag.doshboard';*@
        var bzUrl = '@ViewBag.bzUrl';
        var bzIndex = '@ViewBag.bzIndex';
        $(function () {
            if (!bzIndex) jQuery('#doshboard').hide();

            if (currUserOrgCode.indexOf("013001004001001") == 0) {
                $("#btnMenu").show();
            }
            if (currUserRoleName.indexOf("公司领导") >= 0 || currUserRoleName.indexOf("厂级部门用户") >= 0) {
                $("#leaderViwe").css("display", "");
            }

            //if (currUserRoleName.indexOf("公司领导") >= 0 || currUserRoleName.indexOf("厂级部门用户") >= 0 || currUserRoleName.indexOf("省级用户") >= 0) {
            //    // $(".right-bar").width("280px");
            //    $("#items").show();
                getWork();
            //} else {
              //  $("#items").hide();
            //}
            $(".sidebar-menu").height($(window).height() - 50);
            if (!$.support.leadingWhitespace) {
                $("#loading_background,#loading_manage").remove();
            }
            getMessage();
            stat();
            $.index.load();
            $.index.loadMenu();
            $.tab.init();
            @*IMInit({
                url: "@BSFramework.Util.Config.GetValue("SignalRUrl")",
                userId: userId,
                userName: "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"
            });*@
            var photo = "@user.Photo";
            if (photo.length > 0) {
                $(".photo").attr("src", ".." + photo);
            }


            var color = top.$.cookie('SettingColor');
            if (color != undefined && color != null) {
                $(".main-header").css('background', color);
                $(".content-tabs").css('background', color);
                $(".page-tabs menuTabs").css('background', color);
                $(".button.roll-nav.roll-left.tabLeft").css('background', color);
                $(".button.roll-nav.roll-right.tabRight").css('background', color);
                $("roll-nav roll-right fullscreen").css('background', color);
                $(".dropdown user-menu").css('background', color);
                $(".navbar-custom-menu .navbar-nav>li>a").css('background', color);
                $(".ul.dropdown-menu.pull-right").css('background', color);
                $(".roll-nav roll-left tabLeft").css('background', color);
                $(".content-wrapper .content-tabs button").css('background', color);
                $(".footer").css('background', color);
                $(".sidebar-menu-left").css('background-color', color);
            }
            //resize重设(表格、树形)宽高
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $(".sidebar-menu").height($(window).height() - 50);
                }, 200);
                e.stopPropagation();
            });
           helpWay();
        });
        //弹出在线咨询扫码对话框
        function showHelp() {
            var nonce = newGuid();
            var timeStamp = new Date().getTime();
            var webToken = top.currUserId;
            var key = "4cb8b460b42b24f2519e8c25e9e87b82";
            var strSign = "nonce=" + nonce + "&timeStamp=" + timeStamp + "&web_token=" + webToken + "&" + key;
            strSign = CryptoJS.SHA1(strSign);

            var url = "https://bsh-safety.s4.udesk.cn/im_client?c_name=" + encodeURIComponent(top.currUserName) + "&nonce=" + nonce + "&timeStamp=" + timeStamp + "&web_token=" + webToken + "&signature=" + strSign+"&robot_modelKey=5&group_id=8517";
            var content = '<center><div style="padding:20px;"><img src="' + contentPath + "/Utility/BuilderImage?mode=1&keyValue=" + url +'" /></div></center><div style="padding:10px;">注：因系统当前无法访问互联网,请用手机扫描二维码后在手机端反馈您的问题。</div>';
            var idx = dialogContent({
                id: "win0",
                title: "在线咨询",
                btn: null,
                content: content,
                width: "300px",
                height: "300px",
                callBack: function (iframeId) {
                    exportData();
                }
            });
        }
        //判断是否能访问互联网
        function helpWay() {
            $.ajax({
                url: "../Utility/HasNetwork?url=https://bsh-safety.s4.udesk.cn",
                type: "get",
                dataType:"json",
                success: function (data) {
                    if (data.type == 1) {
                        $(".zixun").show();
                        $("#ulzx").hide();
                    } else {
                        $(".zixun").hide();
                        $("#ulzx").show();
                    }
                }, error: function (data) {
                    $(".zixun").hide();
                    $("#ulzx").show();
                }
            });
        }
        function SkinIndex() {
            dialogOpenFrame({
                id: "Form",
                title: '个性化设置-皮肤设置',
                url: '/Home/SkinIndex',
                width: "580px",
                height: "350px",
                callBack: function (iframeId) {
                }
            });
        }
        function doshboardSetting() {
            dialogOpen2({
                id: "Form",
                title: '首页展示设置',
                url: bzUrl + 'Home/DoshboardSetting',
                width: "580px",
                height: "650px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
        }
        function stat() {
            $("#version").text("2.0.0.20180604");
            //$.post("../PublicInfoManage/Package/GetVersion", function (data) {
            //    $("#version").text(data);
            //});
        }
        //安全检查
        function showBigTrb(val1, val2, val3, val4, val5, url) {
            var title = "安全检查";
            url = url + '&rcnum=' + val1 + "&zxnum=" + val2 + "&jjrnum=" + val3 + "&jjnum=" + val4 + "&zhnum=" + val5;
            openTab("3e3772fb-e1c2-42c9-9f98-fb0477158845", url, "待办安全检查");
        }

        //短消息
        function getMessage() {
            $.get("../SystemManage/Message/getmessagecount", function (data) {
                if (data != "0") {
                    top.layer.open({
                        type: 0,
                        title: "系统提示",
                        content: "您有新的短消息,<a onclick='OpenMessage()' style='cursor:pointer;font-weight:bold;color:bule;text-decoration:underline;'>点击查看详情</a>",
                        offset: "rb",
                        btn: null,
                        shade: 0,
                        time: 10000
                    });
                }
                $("#msgCount").text(data);
            });
        };
        var dlgTips = null;
        function openItems(){
          top.window.$('#dbsxDrop').dropdown('toggle');
        }
        //待办事项
        function getWork() {
            $.get("../Desktop/GetDeptStatData", { itemType: "DBSX" }, function (data) {
                if (data.length > 2) {
                    var count = 0;
                    var json = eval("(" + data + ")");
                    var html = "";
                    $(json.resultdata).each(function (i, item) {
                        if (item.Num != "0" && item.Num != null) {
                            if (item.itemcode == "CKPLAN") {
                                var arr = item.Num.split(',');
                                if (arr[0] != "0") {
                                    count += parseInt(item.Num);
                                    var content = item.itemstyle.replace("{func}", "showBigTrb('" + arr[1] + "','" + arr[2] + "','" + arr[3] + "','" + arr[4] + "','" + arr[5] + "','" + item.address + "')");
                                    content = content.replace("{Sum}", arr[0]);
                                    html += content;
                                }

                            } else {
                                count += parseInt(item.Num);
                                html += item.itemstyle;

                                if (itemCode == item.itemcode) {
                                    eval(item.callback);
                                }
                            }

                        }
                    });
                    if (count > 0) {
                        $("#ulDBSX").html(html);
                        $("#spanNum").html(count);

                         $.get("../PersonCenter/GetWorkStatus", function (data) {
                            if (data=="1") {
                               dlgTips =  layer.open({
                                  type: 2,
                                  id: "dlgDB",
                                  title: '系统提示',
                                  content: '../content/hsindex/work.html',
                                  area: [ "360px","180px"],
                                  btn: null,
                                  shade:0.6,
                                });
                             }
                         });

                    } else {
                        $("#items").hide();
                    }
                    var isBZ = "@(di.GetItemValue("bzAppUrl"))";
                    if (isBZ.length>0) {
                        //获取班组待办事项
                        $.get("../Desktop/GetItemsForTeam", function (data) {
                            var json = eval("(" + data + ")");
                            if (json.Success) {
                                $(json.Data).each(function (j, item) {
                                    if (item.count > 0) {
                                        count += parseInt(item.count);
                                        $("#ulDBSX").append('<li><a onclick="top.openTab(\'\',\'' + item.url + '\',\'' + item.text + '\')">' + item.text + '<span>' + item.count + '</span></a></li>');
                                    }
                                });
                                $("#spanNum").html(count);
                            }
                        });
                    }
                };
                //var content = '<div>您有新的短消息</div><div style="padding-left:30px;"><a class="btn btn-info btn-xs"onclick="layer.close(dlgTips)">我知道了</a></div>';
                //dlgTips=layer.tips(content, '#idxx', {
                //    tipsMore: true,
                //    time: 60000,
                //    anim:6,
                //    tips: [3, '#78BA32'],
                //    btn:null
                //});
            });
        }
        //function openTab(id, url, title) {
        //    if (top.$.tab != undefined) {
        //        top.$.tab.addTab(id, url, title);
        //    } else {
        //        top.tablist.newTab({ id: id, title: title, closed: true, icon: "fa fa-list-alt", url: url, moduleIdCookie: true });
        //    }
        //}
        function OpenMessage() {
            openTab("4333897c-b095-4ff6-87ff-e051ea6f8737", "../SystemManage/Message/Index?status=0", "消息通知");
        }

        //查看电厂隐患整改情况
        function showDlg(title, mode) {
            top.dlgIndex = top.dialogOpen({
                id: "warn",
                title: title,
                url: "/home/FactoryHtInfo?mode=" + mode,
                width: "900px",
                height: "600px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(top.dlgIndex);
                }
            });
        }
        function showMenu(obj) {
            top.dlgIndex = top.dialogOpen({
                id: "ehs",
                title: "",
                url: "/home/EHSIndex",
                width: "1000px",
                height:"700px",
                btns: 1,
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(top.dlgIndex);
                }
            });
        }
    </script>
    <style type="text/css">
        .nav > li > a {
            position: relative;
            display: block;
            padding: 8px 5px;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini" style="overflow: hidden;">
    <div id="ajax-loader" class="ajax-loader" style="cursor: progress; position: fixed; top: -50%; left: -50%; width: 200%; height: 200%; background: #fff; z-index: 10000; overflow: hidden;">
        <img src="~/Content/images/ajax-loader.gif" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;" />
    </div>
    <div class="wrapper">
        <!--头部信息-->
        <header class="main-header">
            <a href="#" class="logo">
                <span class="logo-lg">@BSFramework.Util.Config.GetValue("SystemName").ToString()</span>
            </a>
            <nav class="navbar navbar-static-top">
                <a class="sidebar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav" id="ulzx" style="display:none;">
                        <li class="dropdown user-menu">
                            <a onclick="showHelp()" class="dropdown-toggle" style="cursor:pointer;" title="在线反馈您的问题">
                                <i class="fa fa-wechat fa-2x"></i>
                                <span class="hidden-xs">在线咨询</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav zixun" style="display:none;">
                        <li class="dropdown user-menu">

                            <a href="https://bsh-safety.s4.udesk.cn/im_client/feedback_tab/new.html" target="_blank" class="dropdown-toggle">
                                <i class="fa fa-exclamation-circle fa-2x"></i>
                                <span class="hidden-xs">问题反馈</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav zixun" style="display:none;">
                        <li class="dropdown user-menu">
                            <a href="https://bsh-safety.s4.udesk.cn/im_client/?code=7jci8f9&web_plugin_id=8710&robot_modelKey=5&group_id=8517" target="_blank" class="dropdown-toggle">
                                <i class="fa fa-wechat fa-2x"></i>
                                <span class="hidden-xs">在线咨询</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav" id="leaderViwe" style="display:none;">
                        <li class="dropdown user-menu">
                            @*安全事例跳转*@
                            <a href="#" onclick="showDlg('安全事例',7)" class="dropdown-toggle" data-toggle="dropdown" id="aqslDrop">
                                <i class="fa fa-calendar fa-2x"></i>
                                <span class="hidden-xs">安全事例</span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown user-menu">
                            <a href="#" onclick="OpenMessage()" class="dropdown-toggle" data-toggle="dropdown" id="dxxDrop">
                                <i class="fa fa-envelope fa-2x" id="idxx"></i>
                                <span style="font-size:18px;color:lightyellow; " id="msgCount">0</span>
                                <span class="hidden-xs">短消息</span>

                            </a>

                        </li>
                    </ul>
                    <ul class="nav navbar-nav" id="items">
                        <li class="dropdown user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dbsxDrop">
                                @*<img src="~/Content/images/head/user2-160x1602222.jpg" class="user-image photo" alt="User Image">*@
                                <i class="fa fa-bell-o fa-2x" id="idb"></i>
                                <span id="spanNum" style="font-size:18px;color:lightyellow">0</span>
                                <span class="hidden-xs">待办事项<i class="fa fa-caret-down" style="padding-left: 5px;"></i></span>

                            </a>
                            <ul class="dropdown-menu pull-right items10" id="ulDBSX" style="width:250px">

                                @*<li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待执行安全检查数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待评估隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待执行安全检查数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待评估隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待整改隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待审(核)批整改延期隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待复查验收隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>待效果评估隐患数</a></li>
                                    <li><a href="javascript:void();" onclick="$.index.indexOut()"><i class="ace-icon fa fa-power-off"></i>进行中风险计划数</a></li>*@
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav">
                        <li class="dropdown user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Content/images/head/user2-160x160.jpg" class="user-image photo" alt="User Image" id="photo">
                                <span class="hidden-xs">@user.UserName<i class="fa fa-caret-down" style="padding-left: 5px;"></i></span>
                            </a>
                            <ul class="dropdown-menu pull-right" id="userItem">
                                <em></em>
                                <li><a class="menuItem" data-id="userInfo" href="../PersonCenter/Index"><i class="fa fa-user"></i>个人设置</a></li>
                                <li><a class="menuItem" data-id="userInfo" onclick="SkinIndex()"><i class="fa fa-image"></i>更换皮肤</a></li>
                                <li><a class="menuItem" data-id="userInfo" href="@(di.GetItemValue("IsOpenPassword") == "true" && user.AccountType == "1" ? di.GetItemValue("UpdatePassWordUrl") : "../PersonCenter/Index?pwd")"><i class="fa fa-pencil-square-o"></i>修改密码</a></li>
                                <li><a id="doshboard" class="menuItem" data-id="userInfo" onclick="doshboardSetting()"><i class="fa fa-list"></i>首页展示设置</a></li>
                                <li class="divider"></li>
                                <li><a href="javascript:void();" onclick="$.index.indexOut(IsOpenPassword)"><i class="ace-icon fa fa-power-off"></i>安全退出</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!--左边导航-->
        <div class="sidebar-menu">
            <em></em>
            <div class="sidebar-menu-left" style="overflow:auto;">
                <div class="head">
                    <i class="fa fa-user"></i>
                </div>
                <ul></ul>
            </div>
            <div class="sidebar-menu-right">
                <ul></ul>
            </div>
        </div>
        <!--中间内容-->
        <div id="content-wrapper" class="content-wrapper">
            <div class="content-tabs">
                <a class="start_menu" href="javascript:;" title="开始菜单">
                    <i class="fa fa-windows" aria-hidden="true"></i>
                </a>

                <nav class="page-tabs menuTabs">
                    <div class="page-tabs-content" style="margin-left: 0px;">
                        <a href="javascript:;" class="menuTab active" data-id="Desktop">首页</a>
                    </div>
                </nav>
                <button class="roll-nav roll-left" style="right:100px; display:none;" onclick="showMenu(this)" id="btnMenu" title="元素导航">
                    <i class="fa fa-laptop fa-2x"></i>
                </button>

                <button class="roll-nav roll-left tabLeft">
                    <i class="fa fa-backward"></i>
                </button>
                <button class="roll-nav roll-right tabRight">
                    <i class="fa fa-forward" style="margin-left: 3px;"></i>
                </button>
                <button class="roll-nav roll-right fullscreen"><i class="fa fa-arrows-alt"></i></button>
            </div>
            <div class="content-tabs-sub" style="display:none;">
                <div class="notice">
                    <i class="fa fa-volume-up"></i>公告：
                    <span>
                        企业信息化敏捷开发框架使用注意事项及新手指南
                    </span>
                </div>
            </div>
            <div class="content-iframe">
                <div class="mainContent" id="content-main">
                    <iframe class="LRADMS_iframe" width="100%" height="100%" frameborder="0" data-id="Desktop" scrolling="auto" id="Desktop" name="Desktop" src="Desktop"></iframe>
                </div>
            </div>
        </div>
        <!--底部-->
        <div class="footer">
            <div style="float: left; width: 30%;">
                &nbsp;当前版本：<span style="color: white;" id="version"></span>

            </div>
            <div style="float: left; width: 40%; text-align: center;">
                Copyright © @DateTime.Now.Year  By Bossien Safety
            </div>
            <div style="float: left; width: 30%; text-align: right;">
                <i id="btn_message" class="fa fa-comments" title="即时通讯" style="width: 30px; font-size: 18px; vertical-align: middle; margin-top: -1px; cursor: pointer; display:none;"></i>
                <i class="fa fa-users" title="在线用户" style="width: 30px; font-size: 14px; vertical-align: middle; margin-top: -1px; cursor: pointer; margin-right: 5px; display:none;"></i>
            </div>
        </div>
    </div>
    <div id="loading_background" class="loading_background" style="display: none;"></div>
    <div id="loading_manage" style="display: none;">
        请稍候,正在努力加载中…
    </div>
    <script src="~/Content/scripts/business/jpush.js"></script>
    @*<a class="zhichi" href="https://bsh-safety.s4.udesk.cn/im_client/feedback_tab/new.html" target="_blank">反馈</a>*@
    <script type="text/javascript">
                                                //(function (a, h, c, b, f, g) { a["UdeskApiObject"] = f; a[f] = a[f] || function () { (a[f].d = a[f].d || []).push(arguments) }; g = h.createElement(c); g.async = 1; g.charset = "utf-8"; g.src = b; c = h.getElementsByTagName(c)[0]; c.parentNode.insertBefore(g, c) })(window, document, "script", "https://assets-cli.s4.udesk.cn/im_client/js/udeskApi.js", "ud");
                                                //ud({
                                                //    "code": "7jci8f9",
                                                //    "link": "https://bsh-safety.s4.udesk.cn/im_client/?web_plugin_id=8710",
                                                //    "mode": "inner",
                                                //    //"pos_flag": "srm",
                                                //    "group_id": "8739"
                                                //});


    </script>
</body>
</html>
