<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/adminWindos/css/index.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/content/scripts/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="~/content/styles/desktop/layout.css">
    <link rel="stylesheet" type="text/css" href="~/content/styles/desktop/date.css" />


    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/scripts/plugins/cookie/jquery.cookie.js"></script>

    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/scripts/plugins/dialog/dialog.js"></script>
    <script src="~/Content/scripts/utils/framework-clientdata.js"></script>
    <script src="~/Content/scripts/utils/framework-ui.js"></script>
    <link href="~/Content/styles/framework-ui.css" rel="stylesheet" />
    <script src="~/Content/adminWindos/index.js"></script>

    <style type="text/css">
        .tab1 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab1 td {
                background-color: white;
                height: 30px;
                text-align: center;
                border: 1px solid #ccc;
            }
    </style>
    <script type="text/javascript">
        var mode = request("mode");  //参数
        var currUserDeptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
        var currUserDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
        var currUserOrgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        var currUserOrgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
        var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
        var currUserAccount = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Account";
        var currUserDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
        var currUserOrgName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";
        var currUserRoleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        var currUserName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
        var contentPath = '@Url.Content("~")'.substr(0, '@Url.Content("~")'.length - 1);
        var currUserRoleId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleId";

        $(function () {
            if (!!mode) {
                //隐患整改情况
                if (mode < 2) {
                    $.get("../desktop/getHtInfo", function (data) {
                        var json = eval("(" + data + ")");
                        var html = "";
                        $(json.resultdata).each(function (i, item) {
                            html += "<tr><td>" + (i + 1) + "</td><td>" + item.name + "</td><td><a onclick=\"openPage('" + item.num + "','" + item.id + "','" + item.name + "')\" style='text-decoration:none;cursor:pointer;'>" + item.num + "</a>%</td></tr>";
                        });
                        $("#tab1").append(html);
                        $("#tips").hide();
                    });
                }
                else if (mode == 2) {
                    //重大隐患数量
                    $("#tab1 tr:eq(0) td:eq(2)").html("重大隐患数量");

                    $.get("../desktop/getHtInfo", { mode: mode }, function (data) {
                        var json = eval("(" + data + ")");
                        var html = "";
                        $(json.resultdata).each(function (i, item) {
                            html += "<tr><td>" + (i + 1) + "</td><td>" + item.name + "</td><td><a onclick=\"openPage('" + item.num + "','" + item.id + "','重大隐患数量')\" style='text-decoration:none;cursor:pointer;'>" + item.num + "</a></td></tr>";
                        });
                        $("#tab1").append(html);
                        $("#tips").hide();
                    });
                }
                else if (mode == 3) {
                    //一级风险数量
                    $("#tab1 tr:eq(0) td:eq(2)").html("一级风险数量");

                    $.get("../desktop/getHtInfo", { mode: mode }, function (data) {
                        var json = eval("(" + data + ")");
                        var html = "";
                        $(json.resultdata).each(function (i, item) {
                            html += "<tr><td>" + (i + 1) + "</td><td>" + item.name + "</td><td><a onclick=\"openPage('" + item.num + "','" + item.id + "','一级风险数量')\" style='text-decoration:none;cursor:pointer;'>" + item.num + "</a></td></tr>";
                        });
                        $("#tab1").append(html);
                        $("#tips").hide();
                    });
                }
                    //一般隐患整改率低于100%的部门
                else if (mode == 4) {
                    $("#tab1 tr:eq(0) td:eq(1)").html("部门名称");
                    $.get("../desktop/RectificationRateUnderHowMany", { rankname: "一般隐患", num: 100 }, function (data) {
                        if (!!data) {
                            var json = eval("(" + data + ")");
                            var html = "";
                            var resultdate = JSON.parse(json.resultdata);
                            $(resultdate).each(function (i, item) {
                                html += "<tr><td>" + (i + 1) + "</td><td>" + item.departmentname + "</td><td><a onclick=\"viewHid('一般隐患','" + item.encode + "')\" style='text-decoration:none;cursor:pointer;'>" + item.zgl + "%</a></td></tr>";
                            });
                            $("#tab1").append(html);
                            $("#tips").hide();
                        }
                    });
                }
                    //重大隐患整改率低于80%的部门
                else if (mode == 5) {
                    $("#tab1 tr:eq(0) td:eq(1)").html("部门名称");
                    $.get("../desktop/RectificationRateUnderHowMany", { rankname: "重大隐患", num: 80 }, function (data) {
                        if (!!data) {
                            var json = eval("(" + data + ")");
                            var html = "";
                            var resultdate = JSON.parse(json.resultdata);
                            $(resultdate).each(function (i, item) {
                                html += "<tr><td>" + (i + 1) + "</td><td>" + item.departmentname + "</td><td><a onclick=\"viewHid('重大隐患','" + item.encode + "')\" style='text-decoration:none;cursor:pointer;'>" + item.zgl + "%</a></td></tr>";
                            });
                            $("#tab1").append(html);
                            $("#tips").hide();
                        }
                    });
                }
                    //高风险作业总数
                else if (mode == 6) {
                    var name = "";
                    var count = 0;
                    $("#tab1 tr:eq(0) td:eq(1)").html("项目名称");
                    $("#tab1 tr:eq(0) td:eq(2)").html("数量");
                    $.get("../desktop/GetHighRiskWorkingNum", {}, function (data) {
                        if (!!data) {
                            var json = eval("(" + data + ")");
                            var html = "";
                            var resultdate = JSON.parse(json.resultdata);
                            $(resultdate).each(function (i, item) {
                                if (i == 0) {
                                    html += "<tr><td>1</td><td>通用作业数量</td><td><a onclick=\"ViewWork('1')\" style='text-decoration:none;cursor:pointer;'>" + item.num + "</a></td></tr>";
                                }
                                else if (i == 1 || i == 2) {
                                    count += item.num;
                                    if (i == 2) {
                                        html += "<tr><td>2</td><td>脚手架作业数量</td><td><a onclick=\"ViewWork('2')\" style='text-decoration:none;cursor:pointer;'>" + count + "</a></td></tr>";
                                    }
                                }
                                else {
                                    html += "<tr><td>3</td><td>安全设施变动数量</td><td><a onclick=\"ViewWork('3')\" style='text-decoration:none;cursor:pointer;'>" + item.num + "</a></td></tr>";
                                }
                            });
                            $("#tab1").append(html);
                            $("#tips").hide();
                        }
                    });
                }
            }
        });



        //隐患跳转
        function openPage(num, id, title) {
            if (parseFloat(num) > 0) {
                top.layer.close(top.dlgIndex);
                //重大隐患数量
                if (mode == 2) {
                    top.openTab("67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0", "../HiddenTroubleManage/HTBaseInfo/Index?mode=qbyh&qrankname=重大隐患&HidDepart=" + id, title);
                }
                    //一级风险数量
                else if (mode == 3) {
                    top.openTab("d472030f-3094-4ad8-89cd-90c949fd4d91", "../RiskDatabase/DangerSource/List?orgId=" + id + "&level=一级", title);
                }
            }
        }

        //查看隐患
        function viewHid(rankname, deptcode) {
            top.layer.close(top.dlgIndex);
            top.openTab("67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0", "../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=未整改&mode=yhtjinfo&qrankname=" + rankname + "&qdeptcode=" + deptcode, "未整改" + rankname + "信息");
        }

        //查看高风险作业
        function ViewWork(type) {
            top.layer.close(top.dlgIndex);
            if (type == "1") {
                top.openTab("95f41b85-75fd-4f97-bc86-dd61b317d3af", "../HighRiskWork/HighRiskCommonApply/Ledger?indexnum=1", "通用作业");
            }
            else if (type == "2") {
                top.openTab("9274b466-750f-4120-963b-e28702e8149b", "../HighRiskWork/Scaffold/Ledger?indexnum=1", "脚手架作业");
            } else {
                top.openTab("c5fe6433-9ece-47cd-b989-d33b4b6b1d3d", "../HighRiskWork/Safetychange/Ledger?indexnum=1", "安全设施变动");
            }
        }
    </script>
</head>
<body>
    <div class="firstpage">
        <table cellpadding="0" cellspacing="0" class="tab1" border="1" id="tab1">
            <tr>
                <td>序号</td>
                <td>电厂名称</td>
                <td>隐患整改率</td>
            </tr>
        </table>
        <div id="tips">正在加载数据……</div>
    </div>

    <div class="container" style="display: none;">
        <div class="layui-inline" id="test-n2"></div>
        <div class="right">
            <p>
                <span>显示详情</span>
                <span class="add">+新建</span>
            </p>
            <ul id="chart_ui">
                <li><span style="background: #75b9e6;"></span>蓝色代表系统自带的安全事例</li>
                <li style="color: red;"><span style="background:red "></span>红色代表用户新建事例</li>
                <li>当天没有实例显示：无事例</li>
            </ul>
        </div>
    </div>


    <script src="~/content/scripts/plugins/nicescroll/nicescroll.min.js"></script>
    <script src="~/content/scripts/plugins/swiper/js/swiper.min.js"></script>
    <script src="~/content/scripts/plugins/layui/layui.all.js"></script>
    @*<script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>*@
    <script src="~/content/scripts/desktop/layout-common.js"></script>
    <script>
        /******日历部分******/
        if (mode == 7) {

            $(".firstpage").css("display", "none");
            $(".container").css("display", "");

            //日历开始
            var arr = [];
            $.post("../Desktop/GetWorksRecord", function (data) {
                var json = eval("(" + data + ")");

                $(json.resultdata).each(function (j, item) {
                    if (arr.indexOf(item.time) < 0) {
                        var time = item.time;
                        arr.push('"' + item.time + '":""');
                    }
                });

            });
            var arrDate = eval("({" + arr.toString() + "})");
            layui.use(['layer', 'form', 'jquery', 'laydate'], function () {
                var layer = layui.layer,
                    $ = layui.jquery,
                    laydate = layui.laydate,
                    form = layui.form;
                var data = {};
                var mode = "";
                var new_date = new Date();

                loding_date(new_date, data, arrDate);
                //日历插件调用方法
                function loding_date(date_value, data, markData) {

                    laydate.render({
                        elem: '#test-n2',
                        type: 'date',
                        theme: 'grid',
                        max: '2099-06-16 23:59:59',
                        position: 'static',
                        range: false,
                        value: date_value,
                        calendar: false,
                        btns: false,
                        mark: markData,
                        done: function (value, date, endDate) {
                            //读取数据
                            $.ajax({
                                url: "../Home/GetDateNote?time=" + value + "&state=1",
                                type: "get",
                                success: function (data) {
                                    $('#chart_ui').html("");

                                    var data = eval("(" + data + ")");
                                    if (data.length > 0) {
                                        for (var i = 0; i < data.length; i++) {
                                            var title = data[i].Value;
                                            title = title.length > 20 ? title.substring(0, 20) + "..." : title;
                                            if (data[i].Type == "2") {

                                                $('#chart_ui').append("<li id='" + data[i].Id + "'><span style='background: red;'></span>&nbsp;<font style='cursor:pointer; text-decoration:underline;' title='" + data[i].Value + "' class='edit' id='" + data[i].Id + "' time='" + data[i].Time + "'>" + title + "</font><a class='delNote' id='" + data[i].Id + "' lay-time'" + data[i].Time + "'  title='删除'><i class='fa fa-trash-o'></i></a></li>");
                                            }
                                            else {

                                                //工作会议
                                                if (data[i].Type == "1") {
                                                    $('#chart_ui').append("<li onclick=showMeet(\"" + data[i].Id + "\") style='cursor:pointer; text-decoration:underline;' title='" + data[i].Value + "'><span style='background: #75b9e6;'></span>【会议】" + title + "</li>");
                                                }
                                                //隐患排查
                                                if (data[i].Type == "3") {
                                                    $('#chart_ui').append("<li onclick=showHT(\"" + data[i].Id + "\")  style='cursor:pointer; text-decoration:underline;' title='" + data[i].Value + "'><span style='background: #75b9e6;'></span>【隐患】" + title + "</li>");
                                                }
                                                //违章登记
                                                if (data[i].Type == "4") {
                                                    $('#chart_ui').append("<li onclick=showWZ(\"" + data[i].Id + "\")  style='cursor:pointer; text-decoration:underline;' title='" + data[i].Value + "'><span style='background: #75b9e6;'></span>【违章】" + title + "</li>");
                                                }
                                                //安全检查
                                                if (data[i].Type == "5") {
                                                    $('#chart_ui').append("<li onclick=showJC(\"" + data[i].RecId + "\")  style='cursor:pointer; text-decoration:underline;' title='" + data[i].Value + "'><span style='background: #75b9e6;'></span>【检查】" + title + "</li>");
                                                }
                                            }

                                        }
                                    } else {
                                        $('#chart_ui').append("<tr><td> <li>无事例</li></td></tr>");
                                    }

                                    $('.edit').click(function () {
                                        mode = "edit";
                                        var id = $(this).attr('id');
                                        date_chose($(this).attr('time').replace("T00:00:00", ""), { Value: $(this).attr('title'), Id: id });
                                    })
                                    $('.delNote').click(function () {
                                        mode = "del";
                                        var id = $(this).attr('Id')
                                        var time = $(this).attr('lay-time')
                                        var IsDel = confirm("确认删除吗?")
                                        if (IsDel) {
                                            $.ajax({
                                                url: "../Home/RemoveNote?keyValue=" + id,
                                                type: "post",
                                                success: function (data) {
                                                    layer.msg(data, {
                                                        icon: 0
                                                    });
                                                    $("li[id='" + id + "']").remove();
                                                    $('#test-n2').html('');

                                                    arr.push('"' + date_value + '":""');
                                                    arrDate = eval("({" + arr.toString() + "})");
                                                    loding_date(date_value, data, arrDate);

                                                }
                                            })
                                        }
                                    })

                                }
                            })
                        },
                        ready: function (value, date) {

                            $.ajax({
                                url: "../Home/GetDateNote?time=2018-08-14&state=0&pDate=" + new Date(),
                                type: "get",
                                success: function (resultdata) {

                                    var data = eval("(" + resultdata + ")");
                                    if (data.length > 0) {
                                        for (var i = 0; i < data.length; i++) {
                                            if (data[i].Type == "2") {
                                                $("#test-n2").find("td[lay-ymd='" + data[i].Time + "']").attr("id", "test");
                                            }
                                            else {
                                                $("#test-n2").find("td[lay-ymd='" + data[i].Time + "']").attr("class", "laydate-day-mark");
                                            }
                                        }
                                    }
                                }
                            })
                        },
                        change: function (value, data) {
                            $("#test-n2").find("td").attr("id", "");
                            $.ajax({
                                url: "../Home/GetDateNote?time=2018-08-14&state=0",
                                type: "get",
                                success: function (resultdata) {
                                    var data = eval("(" + resultdata + ")");
                                    if (data.length > 0) {
                                        for (var i = 0; i < data.length; i++) {
                                            if (data[i].Type == "2") {
                                                $("#test-n2").find("td[lay-ymd='" + data[i].Time + "']").attr("id", "test");
                                            }
                                            else {
                                                $("#test-n2").find("td[lay-ymd='" + data[i].Time + "']").attr("class", "laydate-day-mark");
                                            }
                                        }
                                    }
                                }
                            })
                        }
                    });
                }
                //获取隐藏的弹出层内容
                var date_choebox = $('.date_box').html();
                //定义弹出层方法
                function date_chose(obj_date, data) {
                    var index = layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        title: '添加记录',
                        area: ['400px', 'auto'], //宽高
                        btn: ['确定', '取消'],
                        content: '<div class="text_box">' +
                            '<form class="layui-form" id="formDate" action="">' +
                            '<div class="layui-form-item layui-form-text">' +
                            '<input id="text_date" name="Time" class="layui-input" readonly /><br />' +
                            '<input id="text_Id" type="hidden"  />' +
                            ' <textarea id="text_book" name="Value" placeholder="请输入内容"  class="layui-textarea"></textarea>' +
                            '</div>' +
                            '</form>' +
                            '</div>',
                        success: function () {
                            if (data != null) {
                                $('#text_book').val(data.Value)
                                $('#text_date').val(obj_date)
                                $('#text_Id').val(data.Id)
                            }

                        },
                        yes: function () {
                            //调用添加/编辑标注方法
                            if ($('#text_book').val() != '') {
                                chose_moban(obj_date, data);

                                layer.close(index);
                            } else {
                                layer.msg('不能为空', {
                                    icon: 2
                                });
                            }

                        }
                    });
                }

                //定义添加/编辑标注方法
                function chose_moban(obj_date, markJson) {
                    //获取弹出层val
                    var chose_moban_val = $('#text_book').val();
                    var chose_moban_time = $('#text_date').val();
                    var chose_moban_Id = $('#text_Id').val();
                    $.ajax({
                        url: "../Home/SaveDateNote?keyValue=" + chose_moban_Id + "&time=" + chose_moban_time + "&value=" + chose_moban_val,
                        type: "post",
                        loading: "正在保存数据...",
                        success: function (data) {
                            layer.msg(data, {
                                icon: 0
                            });
                        }
                    })

                    if (mode == "add") $('.layui-this').click();
                    if (mode == "edit") {
                        var title = chose_moban_val;
                        title = title.length > 20 ? title.substring(0, 20) + "..." : title;
                        var font = $("li[id='" + chose_moban_Id + "']").find("font");
                        font.attr("title", chose_moban_val);
                        font.text(title);
                    }

                    $('#test-n2').html(''); //重要！由于插件是嵌套指定容器，再次调用前需要清空原日历控件
                    //再次调用日历控件，
                    arr.push('"' + obj_date + '":""');
                    arrDate = eval("({" + arr.toString() + "})");
                    loding_date(obj_date, markJson, arrDate); //重要！，再标注一个日期后会刷新当前日期变为初始值，所以必须调用当前选定日期。
                }

                //日历开始
                $('.add').click(function () {
                    mode = "add";
                    date_chose($('.layui-this').attr("lay-ymd"), data);
                    $('.layui-this').attr('id', 'test');

                })
                $('#cancel').click(function () {
                    $('.layui-this').attr('id', '')
                })

            });

            //日历结束
        }


        //查看会议
        function showMeet(id) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看安全会议',
                url: '/RoutineSafetyWork/Conference/Form?keyValue=' + id + '&actiontype=view',
                width: "800px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });

        }
        //查看隐患
        function showHT(id) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看隐患详情',
                url: '/HiddenTroubleManage/HTEstimate/Form?keyValue=' + id + '&actiontype=view',
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
        //查看检查
        function showJC(id) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看安全检查详情',
                url: '/SaftyCheck/SaftyCheckDataRecord/ZXForm?recid='+id+'&action=view',
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
        //查看违章
        function showWZ(id) {
            var dlg = dialogOpen({
                id: "Form",
                title: '查看违章详情',
                url: '/LllegalManage/LllegalRegister/NewForm?keyValue=' + id + '&actiontype=view',
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });

        }
    </script>
</body>
</html>
