<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Index</title>
    <link rel="stylesheet" href="~/content/tyldjsc/css/swiper.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="./css/idangerous.swiper.css"> -->
    <link rel="stylesheet" href="~/content/tyldjsc/css/fullpage.css">
    <link rel="stylesheet" href="~/content/tyldjsc/css/index.css">
    <link rel="stylesheet" href="~/content/tyldjsc/css/index2.css">
    <link rel="stylesheet" type="text/css" href="~/content/tyldjsc/css/common.css">
    <link rel="stylesheet" href="~/content/tyldjsc/css/main.css">
    <script src="~/content/scripts/jquery/jquery-1.8.2.min.js"></script>
    <script src="~/content/scripts/plugins/echarts/echarts.min.js"></script>
    <script src="~/content/tyldjsc/js/fullpage.js"></script>
    <script src="~/Content/scripts/business/common.js"></script>
    @*<script src="~/content/tyldjsc/js/scrolloverflow.min.js"></script>*@
    <!-- <script src="js/idangerous.swiper.min.js"></script> -->
    <script src="~/content/tyldjsc/js/nicescroll.min.js"></script>
    @*<script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>*@
    <style type="text/css">
       

        .list-group {
            padding-left: 0;
            margin-bottom: 20px;
            text-align: left;
        }

        .list-group-item {
            position: relative;
            display: block;
            padding: 10px 15px;
            margin-bottom: -1px;
            background-color: #fff;
            border: 0px;
            margin-top: 18px;
            background: #142b61;
            color: #ffffff;
            font-size: 14px;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }

            .list-group-item:first-child {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .list-group-item:last-child {
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .list-group-item .badge {
                background-color: #fff;
                font-size: 14px;
            }

                .list-group-item .badge a {
                    color: #000000;
                    text-decoration: none;
                }

            .list-group-item > .badge {
                float: right;
            }

        .badge {
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #777;
            border-radius: 10px;
            cursor:pointer;
        }

        .weather_div {
            height: 80px;
            border: 2px solid #0a3e76;
            /*position: relative;
            margin-left: 12px;
            margin-right: 12px;*/
        }

        .weather_div_img {
            width: 140px;
            height: 100%;
            line-height: 76px;
            padding-left: 10px;
            float: left;
        }

        .weather_div_content {
            font-size: 14px;
            color: white;
        }

        .weather_content1 {
            padding-left: 10px;
            padding-top: 10px;
            height: 40px;
            width: 100%;
        }

        .weather_content2 {
            padding-left: 10px;
            height: 40px;
        }

            .weather_content2 p {
                white-space: nowrap; /* 文字不折行 */
                overflow: marquee; /* 只有设置为marquee才有滚动效果  -webkit-marquee*/
                -webkit-marquee-direcTIon: left; /* 文字滚动方向 可选值为left | right | up | down */
                -webkit-marquee-speed: normal; /* 文字滚动速度 可选值为slow | normal | fast */
                -webkit-marquee-style: scroll; /* 文字滚动方式 可选值为scroll | slide | alternate */
                -webkit-marquee-repeTITIon: infinite; /* 文字滚动次数 number | infinite ， infinite即无限次循环滚动 */
            }

       


    </style>

    <style type="text/css">
        .content1 {
            border: 0px solid white;
            width:100%;
            margin: 0 auto;
            text-align: center;
            overflow: hidden;
        }

            .content1 .logo {
                padding: 50px 0 20px 0;
            }

            .content1 .tab {
                display: flex;
                float: right;
                margin-right: 60px;
                color: white;
            }

                .content1 .tab li {
                    height: 30px;
                    line-height: 30px;
                    width: 60px;
                    list-style: none;
                    border: 1px solid #0f86ff;
                    border-right: none;
                    cursor: pointer;
                }

                    .content1 .tab li:last-child {
                        border-right: 1px solid #0f86ff;
                    }

                    .content1 .tab li:nth-child(1) {
                        border-top-left-radius: 8px;
                        border-bottom-left-radius: 8px;
                    }

                    .content1 .tab li:last-child {
                        border-top-right-radius: 8px;
                        border-bottom-right-radius: 8px;
                    }

                .content1 .tab .cur {
                    background: #0f86ff;
                    color: white;
                }

            .content1 .tab_content {
                display: flex;
            }

                .content1 .tab_content li {
                    list-style: none;
                    /*margin-left: 60px;*/
                }

            .content1 .div_content {
                display: none;
                margin-top: 50px;
            }

            .content1 .on {
                display: block;
            }

            .content1 .footer img {
                width: 600px;
            }

            .content1 .tab_content li p:nth-child(2) img {
                width: 130px;
            }
        .table_content tr {
            height: 40px;
            line-height: 40px;
            color: #fff;
            background: #0a1b61;
            margin: 10px;
            display: block;
        }
            .table_content tr td {
                width:90px;
                text-align:center;
             }
             .table_content tr td:nth-child(1) {
                width: 130px;
             }
            .times {
                display: inline-block;
                background: #0f387a;
                padding: 1px 10px;
                height: 25px;
                line-height: 25px;
                border-radius: 20px;
                width:50px;
            }
        .div_content::-webkit-scrollbar {
            width: 10px;
        }
        .div_content::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #0a1b61;
        }
        .div_content::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #808080;
        }
        .list-group::-webkit-scrollbar {
            width: 10px;
        }
        .list-group::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background: #0a1b61;
        }

        .list-group::-webkit-scrollbar-track {
            border-radius: 10px;
            background: #808080;
        }
        .div_content {
            height: 240px;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .list-group {
           height: 170px;
            overflow-y: auto;
            overflow-x: hidden;
        }
    </style>
    <script type="text/javascript">
        var mapUrl = "@ViewBag.MapUrl";
        var isGdxy = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsGdxy"))";
        var isGxhs = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("广西华昇版本"))";

        function getWeather() {
            //获取天气
            try {
                if (!!returnCitySN) {
                    var cityName = "";
                    $.ajax({
                        url: "Home/GetAddress?ip=" + returnCitySN["cip"],
                        success: function (data) {
                            if (!!data) {
                                cityName = data.replace("移动", "").replace("电信", "").replace("网通", "").replace("铁通", "").replace("联通", "").replace("长城", "").replace(" ", "");

                                if (!!cityName) {
                                    //请求百度天气api
                                    var url = "http://api.map.baidu.com/telematics/v3/weather?location=" + cityName + "&output=json&ak=WcLjizhBNNayeSkR712CRMFR";
                                    $.ajax(url, {
                                        dataType: 'jsonp',
                                        crossDomain: true,
                                        success: function (data) {
                                            if (!!data.results) {
                                                var result = data.results[0];
                                                var todayObj = result.weather_data[0]; //当天天气对象
                                                var htmlData = "<a href=\"https://tianqi.so.com/weather/\" target=\"_blank\" title=\"白天天气\"><img  style=\"width:50px;\" src=\"" + todayObj.dayPictureUrl + "\" alt=\"\" /></a>&nbsp;";
                                                htmlData += "<a href=\"https://tianqi.so.com/weather/\" target=\"_blank\" title=\"晚上天气\"><img style=\"width:50px;\" src=\"" + todayObj.nightPictureUrl + "\" alt=\"\" /></a>";
                                                $(".weather_div_img").append(htmlData);
                                                var weatherTem = "<a href=\"https://tianqi.so.com/weather/\"  target=\"_blank\">" + result.currentCity + "</a>&nbsp;&nbsp;<span>" + todayObj.temperature + "&nbsp;&nbsp;" + todayObj.weather + "&nbsp;&nbsp;" + todayObj.wind + "</span>";
                                                $(".weather_content1").append(weatherTem);

                                                var weatherData = todayObj.weather + '|' + todayObj.wind;

                                                $.ajax({
                                                    url: "SystemManage/Weather/GetRequire?weather=" + weatherData,
                                                    success: function (msg) {
                                                        if (!!msg) {
                                                            var yjcontent = "";
                                                            var resultdata = eval("(" + msg + ")"); //[{"require":"禁止xxxx"}]
                                                            $(resultdata).each(function (index, ele) {
                                                                yjcontent += ele.require + ";";
                                                            });

                                                            if (!!yjcontent) {
                                                                $(".yj_conten_p").append(yjcontent);
                                                            }
                                                        }
                                                    }
                                                });

                                            }
                                        }
                                    });
                                }
                            }
                        }
                    });
                }
            } catch (e) {
                console.log(e);
            }
        }

    </script>
</head>
<body>
    <input type="hidden" id="curSwiper" value="centerview" />
    <div id="fullpage" style="margin-bottom:10px;">
        <div class="section" id="section1">
            <div class="slide" id="slide1">

                <section id='first-section'>
                    <div class="mainBox">
                        <div class="main">
                            <ul class="mainUl">
                                <li class="mainLi">
                                    <p>今日风险作业</p>
                                    <div class="mainDiv">
                                        <table cellspacing='0' cellpadding='0' id="workingTable" class="felllist1">
                                            <tr>
                                                <td style="width:10%;font-weight: bold;">序号</td>
                                                <td style="width:30%;font-weight: bold;">作业名称</td>
                                                <td style="width:25%;font-weight: bold;">作业区域</td>
                                                <td style="width:160px;font-weight: bold;">风险等级</td>
                                                <td style="width:35%;font-weight: bold;">作业单位/部门</td>
                                            </tr>
                                            <tr class="row2">
                                                <td colspan="5"><center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center></td>
                                            </tr>
                                        </table>

                                    </div>
                                </li>
                                <li class="mainLi">
                                    <p>
                                        未闭环隐患统计
                                        <em class="clickUi">
                                            <span class="spa">部门</span>
                                            <span>专业</span>
                                            <span>区域</span>
                                        </em>
                                    </p>
                                    <div class="mainDiv2">
                                        <table cellspacing='0' cellpadding='0' id="unitTable" class="felllist2">
                                            <tr>
                                                <td style="width: 20%;font-weight: bold;">序号</td>
                                                <td style="width: 300px;font-weight: bold;">单位/部门</td>
                                                <td style="width: 40%;font-weight: bold;">未闭环一般隐患(%)</td>
                                                <td style="width: 40%;font-weight: bold;">未闭环重大隐患(%)</td>
                                            </tr>
                                            <tr class="row2">
                                                <td colspan="4"><center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center></td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="mainDiv2 hide">
                                        <table cellspacing='0' cellpadding='0' id="majorTable" class="felllist2">
                                            <tr>
                                                <td style="width: 20%;font-weight: bold;">序号</td>
                                                <td style="width: 30%;font-weight: bold;">单位/部门</td>
                                                <td style="width: 30%;font-weight: bold;">未闭环一般隐患(%)</td>
                                                <td style="width: 300px;font-weight: bold;">闭环重大隐患(%)</td>
                                            </tr>
                                            <tr class="row2">
                                                <td colspan="4"><center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center></td>
                                            </tr>
                                        </table>

                                    </div>
                                    <div class="mainDiv2 hide">
                                        <table cellspacing='0' cellpadding='0' id="areaTable" class="felllist2">
                                            <tr>
                                                <td style="width: 20%;font-weight: bold;">序号</td>
                                                <td style="width: 30%;font-weight: bold;">单位/部门</td>
                                                <td style="width: 30%;font-weight: bold;">未闭环一般隐患(%)</td>
                                                <td style="width: 300px;font-weight: bold;">闭环重大隐患(%)</td>
                                            </tr>
                                            <tr class="row2">
                                                <td colspan="4"><center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center></td>
                                            </tr>
                                        </table>

                                    </div>
                                </li>
                                <li class="mainLi">
                                    <p>高风险作业统计</p>
                                    <div id="highriskwork">
                                        <center style="margin-top: 10px; color: white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                    </div>
                                </li>
                                <li class="mainLi">
                                    <p>隐患整改率统计</p>
                                    <div id="hiddenchange" style="height:450px;">
                                        <center style="margin-top: 10px; color: white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>


            <div class="slide" id="slide2">
                <section id="section">
                    <div class="aside-left">

                        <div class="aside-t" style="height: 610px;">

                            <div class="aside-c">
                                <div class="aside-content">
                                    <div class="aside-content-c" >

                                    </div>
                                </div>
                                <div class="div_content">
                                    <table class="table_content" cellpadding="10" cellspacing="0" id="topsafecheck">
                                        @*<tr>
                                            <td>安全检查</td>
                                            <td><span class="times">1次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">100%</span></td>
                                        </tr>
                                        <tr>
                                            <td>两票检查</td>
                                            <td><span class="times">3次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">99.2%</span></td>
                                        </tr>
                                        <tr>
                                            <td>外委单位检查</td>
                                            <td><span class="times">4次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">98.7%</span></td>
                                        </tr>
                                        <tr>
                                            <td>输煤系统检查</td>
                                            <td><span class="times">6次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">96%</span></td>
                                        </tr>
                                        <tr>
                                            <td>煤场安全检查</td>
                                            <td><span class="times">6次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">98.5%</span></td>
                                        </tr>*@
                                    </table>

                                </div>


                                @*<div class="aside-content-cc">
                <div class="a-engin" id="safetystatus" onclick="openPage('安全生产预警详情', '/Home/SafetyWarn')">
                    <center style="margin-top: 10px;color:red"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                </div>
                <div class="a-safe" id="curSafetyStatus">
                    目前处于较安全状态
                </div>
                <div class="a-detail">
                    点击查看详情
                </div>
            </div>*@
                                @*<div class="c-warning">
                <div class="w-1">
                    危险
                </div>
                <div class="w-2">
                    较危险
                </div>
                <div class="w-3">
                    较安全
                </div>
                <div class="w-4">
                    安全
                </div>
            </div>*@
                            </div>
                            <div class="aside-c">
                                <div class="aside-content">
                                    @*aside-content*@
                                    <div class="aside-content-c aside-content-c2">

                                    </div>
                                </div>
                                <div class="div_content">
                                    <table class="table_content" cellpadding="10" cellspacing="0" id="companysafecheck">
                                        @*<tr>
                                            <td>日常安全检查</td>
                                            <td><span class="times">25次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">100%</span></td>
                                        </tr>
                                        <tr>
                                            <td>专项安全检查</td>
                                            <td><span class="times">8次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">94%</span></td>
                                        </tr>
                                        <tr>
                                            <td>节前节后安全检查</td>
                                            <td><span class="times">3次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">100%</span></td>
                                        </tr>
                                        <tr>
                                            <td>季节性安全检查</td>
                                            <td><span class="times">4次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">99.5%</span></td>
                                        </tr>
                                        <tr>
                                            <td>综合性安全检查</td>
                                            <td><span class="times">7次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">92.9%</span></td>
                                        </tr>
                                        <tr>
                                            <td>其他安全检查</td>
                                            <td><span class="times">12次</span></td>
                                            <td>整改率</td>
                                            <td><span class="times">98%</span></td>
                                        </tr>*@
                                    </table>
                                    </div>



                                    @*<div class="aside-content-cc">
                <div class="a-engin" id="safetystatus" onclick="openPage('安全生产预警详情', '/Home/SafetyWarn')">
                    <center style="margin-top: 10px;color:red"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                </div>
                <div class="a-safe" id="curSafetyStatus">
                    目前处于较安全状态
                </div>
                <div class="a-detail">
                    点击查看详情
                </div>
            </div>*@
                                    @*<div class="c-warning">
                <div class="w-1">
                    危险
                </div>
                <div class="w-2">
                    较危险
                </div>
                <div class="w-3">
                    较安全
                </div>
                <div class="w-4">
                    安全
                </div>
            </div>*@
                                </div>








                                <span class="span0"></span>
                                <span class="span1"></span>
                                <span class="span2"></span>
                                <span class="span3"></span>
                            </div>

                        <div class="aside-bottom" style="height:290px;">
                            <div class="aside-cc">
                                <div class="aside-content-b">
                                    <div class="aside-content-d">

                                    </div>
                                </div>
                                <ul class="list-group" id="CJLDJSC-001">
                                    <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                </ul>
                            </div>
                            <span class="span0"></span>
                            <span class="span1"></span>
                            <span class="span2"></span>
                            <span class="span3"></span>
                        </div>
                    </div>
                    <div class="weather_div">
                        <div class="weather_div_img"></div>
                        <div class="weather_div_content">
                            <div class="weather_content1"></div>
                            <div class="weather_content2">
                                <marquee direction="left" behavior="scroll" loop="3" scrollamount="1" scrolldelay="10" height="36" width="70%" hspace="0" vspace="0" onmouseover="this.stop()" onmouseout="this.start()">
                                    <p class="yj_conten_p"></p>
                                </marquee>
                            </div>
                        </div>
                    </div>
                    <div class="aside-middle" id="box">
                        <div class="aside-content-a" id="content">

                            <div style="position: absolute;top:0;left:0;height:900px;width:100%">

                                <div class="message-c-coy">
                                    <div class="accident">
                                        <div class="active accident-item" data-index="1" style="display:none;">
                                            风险/隐患
                                        </div>
                                        <div class="accident-item" data-index="2" style="display:none;">
                                            作业风险
                                        </div>
                                        <div class="accident-item" data-index="5" style="display:none;">
                                            安全之星
                                        </div>
                                        <div class="accident-item" data-index="3" style="display:none;">
                                            消防分布
                                        </div>
                                        <div class="accident-item" data-index="4" style="display:none;">
                                            人车定位
                                        </div>
                                        <div class="position-fullgreen" onclick="showBig()" id="bigScreen" >

                                        </div>
                                        <div class="position-fullgreens">

                                        </div>

                                    </div>
                                    <div style="position: relative;" id="divMap">
                                        <iframe style="width: 100%; height: 740px; display: none; background-color: #fff;"scrolling="no" frameborder="0" id="frmMap" name="frmMap" ></iframe>
                                        <img src="~/Content/index/images/map_img.png" style="width: 100%;" id="imgMap">
                                        <div id="aqzx" style="display:none;">
                                            <div class="content1">
                                                <div class="logo"><img src="~/Content/images/aqzx/4.png" alt=""></div>
                                                <ul class="tab">
                                                    <li class="cur" index="2">年度</li>
                                                    <li index="1">季度</li>
                                                    <li index="0">月度</li>
                                                </ul>
                                                <div style="clear:both;"></div>
                                                <div class="on div_content" style="display:flex;justify-content:center;">
                                                    <ul class="tab_content" id="divStars">
                                                        <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                    </ul>
                                                </div>
                                               
                                                <div class="footer"><img src="~/Content/images/aqzx/11.png" alt=""></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- <div class="position-icon">

                            </div> -->
                        </div>
                    </div>
                    <div class="aside-right">
                        <span class="span0"></span>
                        <span class="span1"></span>
                        <span class="span2"></span>
                        <span class="span3"></span>
                        <div class="top-title">
                            <div class="top-title-a">

                            </div>
                        </div>
                        <div class="content-c-c-c">
                            <div class="list-right-i" id="CJLDJSC-002">
                                <div class="top-admin">安全风险管理</div>
                                <div>
                                    <div class="swiper-container swiper-container1">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination pagination1"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-003">
                                <div class="top-admin">隐患排查治理</div>
                                <div>
                                    <div class="swiper-container swiper-container2">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-004">
                                <div class="top-admin">反违章管理</div>
                                <div>
                                    <div class="swiper-container swiper-container3">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination pagination3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-005">
                                <div class="top-admin">外包管控</div>
                                <div>
                                    <div class="swiper-container swiper-container3">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pagination pagination3"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-006">
                                <div class="top-admin">危险源管理</div>
                                <div>
                                    <div class="swiper-container swiper-container4">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination pagination4"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-007">
                                <div class="top-admin">特种设备及人员管理</div>
                                <div class="content-right">
                                    <div class="swiper-container swiper-container5">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination pagination5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="list-right-i" id="CJLDJSC-009">
                                <div class="top-admin">事故事件</div>
                                <div class="content-right">
                                    <div class="swiper-container swiper-container5">
                                        <div class="swiper-wrapper">
                                            <div class="swiper-slide">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="list-box">
                                                            <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="pagination pagination5"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="slide" id="slide3">
                <section id='last-section'>
                    <div class="mainBox2">
                        <div class="main2">
                            <ul class="mainUl2">
                                <li class="mainLi2" style="position:relative;">
                                    <p>各部门未闭环违章统计</p>
                                    <div class="mainDiv">
                                        <table cellspacing='0' cellpadding='0' id="llegalTable" class="felllist5">
                                            <tr>
                                                <td style="width: 20%;font-weight: bold;">序号</td>
                                                <td style="width: 300px;font-weight: bold;">单位/部门</td>
                                                <td style="width: 30%;font-weight: bold;">未闭环一般违章(%)</td>
                                                <td style="width: 30%;font-weight: bold;">未闭环较严重违章(%)</td>
                                                <td style="width: 30%;font-weight: bold;">未闭环严重违章(%)</td>
                                            </tr>
                                            <tr class="row2">
                                                <td colspan="5"><center style="margin-top: 10px; color: white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center></td>
                                            </tr>
                                        </table>

                                    </div>
                                </li>
                                <li class="mainLi2">
                                    <p class="">外包工程流程管理</p>
                                    <div class="mainDiv3" id="wbdiv">
                                        <ul class="divUl" id="WBWFMG-01"></ul>

                                    </div>
                                </li>
                                <li class="mainLi2">
                                    <p>各部门违章整改率统计</p>
                                    <div id="lllegalchange" style="height:450px;">
                                        <center style="margin-top: 10px; color: white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                    </div>
                                </li>
                                <li class="mainLi2">
                                    <p>外包工程统计</p>
                                    <div id="outsourcing" style="height:450px;">
                                        <center style="margin-top: 10px;color:white;"><img src="~/content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/content/tyldjsc/js/scrolloverflow.js"></script>
    <script type="text/javascript" src="~/content/tyldjsc/js/fullpage.js"></script>

    <script type="text/javascript">
        var myFullpage = new fullpage('#fullpage', {
            scrollOverflow: true,
        });
        myFullpage.silentMoveTo(1, 1);
        $("#bigScreen").css("left", ($(".weather_content1").width() - 50) + "px");
    </script>
    <script src="~/content/tyldjsc/js/swiper.min.js"></script>
    <script type="text/javascript">
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var tabIndex = 1;
    var listDom = document.getElementsByClassName("list-right-i");
    var clickItems = "centerview";
  
    for (var i = 0; i < listDom.length; i++) {
        var dom = '.swiper-container' + (i + 1);
        var pagination = '.pagination' + (i + 1)
        new Swiper(dom, {
            pagination: {
                el: pagination,
                clickable: true
                // loop: 1,
                // paginationClickable: true
            }
        })
    }
    $('.message-c-coy').niceScroll({
        autohidemode: false,
        cursorcolor: "#3477e4",
        cursorborderradius: "0px",
        cursorwidth: "3px",
        background: "#dedfe1",
        cursorborder: "none"
    });
    $('.content-c-c-c').niceScroll({
        autohidemode: false,
        cursorcolor: "#3477e4",
        cursorborderradius: "0px",
        cursorwidth: "3px",
        background: "#dedfe1",
        cursorborder: "none"
    });
   

    $(".accident-item").click(
        function () {
            $(".accident-item").removeClass("active");
            $(this).addClass("active");
            tabIndex = $(this).data("index");
            if (tabIndex == 5) {
                $("#aqzx").show();
                $("#frmMap,#imgMap").hide();
            }
            else {
                $("#aqzx").hide();
                if (!!mapUrl) {
                    $("#frmMap").show();
                    $("#imgMap").hide();
                    var arr = document.getElementById("frmMap").src.split('?');
                    document.getElementById("frmMap").src = arr[0] + "?mode=" + tabIndex;
                } else {
                    $("#frmMap").hide();
                    $("#imgMap").show();
                }
            }
            
            
        }
    )
    $(".d-t-c").click(
        function () {
            $(".d-t-c").removeClass("active");
            $(this).addClass("active");
        }
    )
    $(".mode-close1").click(
        function () {
            $(".detail-diago").css("display", "none");
            document.body.style.overflow = "auto";
        }
    )

    $('.clickUi').on('click', 'span', function () {
        //$('.mainDiv2').hide().eq($('.clickUi span').index(this)).show();
        $('.mainDiv2').css({"opacity":0,"left":"-100%"}).eq($('.clickUi span').index(this)).css({"opacity":1,"left":"0"});
        $('.clickUi span').removeClass("spa");
        $(this).addClass("spa");
    });
    $(".fp-next").mouseup(function () {
        /*******右屏*****/
        //各部门未闭环违章统计
        NoCloseLoopLllegalStatistics();
        //各部门违章整改率统计
        LllegalChangeForLeaderCockpit();
        //外包工程统计
        OutsourcingForLeaderCockpit();
        /*******左屏*****/
        //今日作业风险
        HighRiskWorkingForLeaderCockpit();
        //未闭环隐患统计
        NoCloseLoopHidStatistics();
        //隐患整改率统计
        HiddenChangeForLeaderCockpit();
    });
    $(".fp-prev").click(function () {
        /*******左屏*****/
        //今日作业风险
        HighRiskWorkingForLeaderCockpit();
        //未闭环隐患统计
        NoCloseLoopHidStatistics();
        //隐患整改率统计
        HiddenChangeForLeaderCockpit();
        /*******右屏*****/
        //各部门未闭环违章统计
        NoCloseLoopLllegalStatistics();
        //各部门违章整改率统计
        LllegalChangeForLeaderCockpit();
        //外包工程统计
        OutsourcingForLeaderCockpit();
    });
    $(".mode-close").click(
        function () {
            $(".detail-safe").css("display", "none");
            document.body.style.overflow = "auto";
            //    window.resizeTo(window.innerWidth,window.innerHeight)
        });

    //初始化
    $(function () {
        if (isGdxy == "1") {
            $(".accident-item").hide(); $(".accident-item").eq(1).show();
            $(".accident-item").eq(1).html("风险四色分布图");
        }
       
       
        //$(".aside-middle").height($(window).height()-190);
        if (mapUrl.length == 0) {
            //$("#frmMap").attr("src", "BaseManage/District/Mark");
            // $("#frmMap").show();
            //$("#imgMap").hide();
        } else {
            //$("#frmMap").height($(window).height()-160);
            $("#frmMap").attr("src", mapUrl);
            $("#frmMap").show();
            $("#imgMap").hide();
         
        }
        GetSafeCheckTotal();
        IsGeneric();
        //预警、安全指标
        WarningAndSafetyIndex();
        //安全预警
        SafetyStatus();
        //获取天气
        getWeather();
        if (isGxhs.length > 0) {
            $(".accident-item").eq(2).show();
            getStars(2);
            //安全之星
            $(".content1 .tab li").click(function () {
                $(".tab li").eq($(this).index()).addClass('cur').siblings().removeClass('cur');
                getStars($(this).attr("index"));
            })
        } else {
            $(".accident-item").eq(2).remove();
        }
        
   });
    //获取班组安全之星（广西华昇）
    function getStars(type) {
        $.get(top.contentPath + '/home/GetStars', { type: type }, function (data) {
            var json = $.parseJSON(data);
            if (json.code == 0) {
                json = $.parseJSON(json.data);
                if (json.code == 0) {
                    var html = "";
                    if (json.data.record.length > 0) {
                        var rows = json.data.record;
                        var imgUrl = rows[1].Photo == null || rows[1].Photo == "" ? top.contentPath + "/content/images/no.png" : rows[1].Photo;
                        html += '<li><p><img src="Content/images/aqzx/10.png" alt=""></p><p><a title="点击查看详情" onclick="top.openTab(\'\',\'' + json.data.url + '?userId=' + rows[1].UserId + '\',\'积分统计\')"><img src="' + imgUrl + '" alt="" style="height:200px;width:150px;"></a></p><p style="color:white;font-weight:boild;">' + rows[1].UserName + '</p></li>';
                        imgUrl = rows[0].Photo == null || rows[0].Photo == "" ? top.contentPath + "/content/images/no.png" : rows[0].Photo;
                        html += '<li style="margin-left:60px;"><p> <img src="Content/images/aqzx/8.png" alt=""></p><p><a title="点击查看详情" onclick="top.openTab(\'\',\'' + json.data.url + '?userId=' + rows[0].UserId + '\',\'积分统计\')"><img src="' + imgUrl + '" alt="" style="height:200px;width:150px;"></a></p><p style="color:white;font-weight:boild;">' + rows[0].UserName + '</p></li>';
                        imgUrl = rows[2].Photo == null || rows[2].Photo == "" ? top.contentPath + "/content/images/no.png" : rows[2].Photo;
                        html += '<li style="margin-left:60px;"><p> <img src="Content/images/aqzx/9.png" alt=""></p><p><a title="点击查看详情" onclick="top.openTab(\'\',\'' + json.data.url + '?userId=' + rows[2].UserId + '\',\'积分统计\')"><img src="' + imgUrl + '"" alt="" style="height:200px;width:150px;"></a></p><p style="color:white;font-weight:boild;">' + rows[2].UserName + '</p></li>';
                        $("#divStars").html(html);
                    } else {
                        $("#divStars").html("<li style='color:white;'>暂无数据显示</li>");
                    }
                } else {
                    $("#divStars").html("<li style='color:white;'>" + json.info +"</li>");
                }
            } else {
                $("#divStars").html("<li style='color:white;'>" + json.message + "</li>");
            }
       });
    }
    //判断是否是通用版 做页面处理
    function IsGeneric() {
        $.ajax({
            url: top.contentPath + '/Desktop/IsGeneric',
            type: "GET",
            async: false,
            dataType: "text",
            success: function (result) {
                if (result == "true") {
                    $("#rcdw").hide();
                    $("#zy").hide();
                    $("#emclick").removeClass("clickUi");
                    $("#emclick").addClass("clickUiGen");
                    //未闭环隐患统计切换
                    $('.clickUiGen').on('click', 'span', function () {
                        var index = $('.clickUiGen span').index(this)
                        $('#mainDiv .table-responsive').hide().eq(index).show();
                        $('.clickUiGen span').removeClass("spa");
                        $(this).addClass("spa");
                    })

                } else {
                    $("#rcdw").show();
                    $("#zy").show();
                    $("#emclick").removeClass("clickUiGen");
                    $("#emclick").addClass("clickUi");

                    //未闭环隐患统计切换
                    $('.clickUi').on('click', 'span', function () {
                        var index = $('.clickUi span').index(this)
                        $('#mainDiv .table-responsive').hide().eq(index).show();
                        $('.clickUi span').removeClass("spa");
                        $(this).addClass("spa");
                    })
                }
            }
        });
    }

    //查看大图
    function showBig() {
        var title = "风险/隐患";
        if (tabIndex == 2) {
            if(isGdxy=="1"){
                title = "风险四色分布图";
            } else {
                title = "作业风险";
            }
           
        }
        if (tabIndex == 3) {
            title = "消防分布";
        }
        if (tabIndex == 4) {
            title = "人车定位";
        }
        if (!!mapUrl) {
            if (mapUrl.indexOf("?") >= 0) {
                top.tablist.newTab({ id: "Map", url: mapUrl + "&mode=" + tabIndex, title: title });
            } else {
                top.tablist.newTab({ id: "Map", url: mapUrl + "?mode=" + tabIndex, title: title });
            }

        }
        //else {
        //    top.tablist.newTab({ id: "Map", url: "../BaseManage/District/Mark?action=View", title: "安全风险分布图" });
        //}
    }

    function openPage(title, url) {
        var idx = top.dialogOpen({
            id: "warn",
            title: title,
            url: url,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    function openTab(id, url, title) {
        top.tablist.newTab({ id: id, url: url, title: title });
    }

    //预警、安全指标
    function WarningAndSafetyIndex() {
        if ($("#CJLDJSC-001").find("center").length > 0) {
            var json;
            //实时监控数据统计
            $.post("../Desktop/PowerPlantSafetyHomePage", { itemType: "SSJK", mode: 0 }, function (data) {
                if (data.length > 2) {
                    var count = 0;
                    var json = eval("(" + data + ")");
                    var html = "";

                    //安全指标、外包流程管理
                    var indexArray = ["CJLDJSC-002", "CJLDJSC-003", "CJLDJSC-004", "CJLDJSC-005", "CJLDJSC-006", "CJLDJSC-007", "CJLDJSC-008", "CJLDJSC-009", "WBWFMG-01"];
                    //过滤没有安全指标的大类
                    $(indexArray).each(function (index, element) {
                        if (JSON.stringify(json.resultdata).indexOf(element) < 0) {
                            var moduleid = "#" + element;
                            $(moduleid).css("display", "none");
                        }
                    });
                    var wbHtml = "";
                    //清空预警指标
                    $("#CJLDJSC-001").find("li").remove();
                    //清空外包工程
                    $("#WBWFMG-01").html("");
                    //指标

                    $(json.resultdata).each(function (index, item) {
                        if (!!item.TypeCode) {
                            var moduleid = "#" + item.TypeCode;
                            $(moduleid).find("center").remove();

                            //预警指标
                            if (item.TypeCode == "CJLDJSC-001") {

                                $(moduleid).append(item.itemstyle);
                            }
                            else if (item.TypeCode != "WBWFMG-01" && item.TypeCode != "CJLDJSC-001") //安全指标
                            {
                                var firstmoduleid = moduleid + " .list-box:eq(0) .list-b-c";
                                var secondmoduleid = moduleid + " .list-box:eq(1)  .list-b-c";

                                if (!!$(secondmoduleid)) {
                                    var sid = moduleid + " .list-box:eq(1)";
                                    var schildlen = $(secondmoduleid).length;
                                    var fchildlen = $(firstmoduleid).length;
                                    if (fchildlen == 3 && schildlen < 3) {
                                        $(sid).append(item.itemstyle);
                                    }
                                }

                                if (!!$(firstmoduleid)) {
                                    var fid = moduleid + " .list-box:eq(0)";
                                    var fchildlen = $(firstmoduleid).length;
                                    if (fchildlen < 3) {
                                        $(fid).append(item.itemstyle);
                                    }
                                }
                            }
                                //外包流程管理配置
                            else if (item.TypeCode == "WBWFMG-01") {

                                wbHtml += item.itemstyle;
                            }
                            if (item.Num > 0) {
                                var curSpan = "#" + item.Code;
                                if (!!$(curSpan)) {
                                    $(curSpan).css("color", "red");
                                }
                            }
                        }
                    });
                    if (!!wbHtml) {
                        $("#wbdiv").removeAttr("style");
                        $("#WBWFMG-01").append(wbHtml);

                        $("#WBWFMG-01 li span").each(function (index, ele) {
                            var count = parseFloat($(this).html());
                            if (count > 0) {
                                $(this).css({ "color": "red", "font-size": "14px" });
                            }
                        });
                    }

                }
            });
        }
    }

    //查看电厂隐患整改情况
    function showDlg(title, mode) {
        top.dlgIndex = top.dialogOpen({
            id: "warn",
            title: title,
            url: "/home/FactoryHtInfo?mode=" + mode,
            width: "900px",
            height: "600px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(top.dlgIndex);
            }
        });
    }

        //违章积分低于8分的人员
    function showPerson(title, mode) {
        top.dlgIndex = top.dialogOpen({
            id: "LllegalPoint",
            title: title,
            url: "/LllegalManage/LllegalRegister/IntergralPersonHistory?mode=" + mode,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(top.dlgIndex);
            }
        });
    }

    //电子安全状态
    function SafetyStatus() {
        var chartobject = document.getElementById('safetystatus');
        //预警指数统计
        $.get("GetIndexWarnValue", {}, function (data) {
            var json = eval("(" + data + ")");
            var score = 0;
            var scorearry = [];
            var firstnum = 0;
            var secondnum =0;
            var thirdnum = 0;
            var fourthnum = 0;
            var curindex = 0;
            if (!!json.score) {
                score = json.score;
                curindex = json.index;
                scorearry = json.scorearry;
                if (!!scorearry)
                {
                    firstnum = parseFloat(scorearry[0] / 100).toFixed(1);
                    secondnum = parseFloat(scorearry[1] / 100).toFixed(1);
                    thirdnum = parseFloat(scorearry[2] / 100).toFixed(1);
                    fourthnum = parseFloat(scorearry[3] / 100).toFixed(1);
                }
            }
            switch (curindex)
            {
                case 0:
                    $("#curSafetyStatus").html("目前处于危险状态");
                    break;
                case 1:
                    $("#curSafetyStatus").html("目前处于较危险状态");
                    break;
                case 2:
                    $("#curSafetyStatus").html("目前处于较安全状态");
                    break;
                case 3:
                    $("#curSafetyStatus").html("目前处于安全状态");
                    break;
            }
            var options = {
                tooltip: {
                    formatter: "{a}<br/>{c}{b}分",
                    backgroundColor: 'rgba(255,255,255,0.8)',
                    textStyle: {
                        color: 'black',
                    }
                },
                toolbox: {
                    show: false,
                    feature: {
                        mark: { show: true },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    },
                    extraCssText: 'width:160px;height:50px;background:#fff;'
                },
                xAxis: [   //这里有很多的show，必须都设置成不显示
                    {
                        type: 'category',
                        data: [],
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                        splitArea: {
                            interval: 'auto',
                            show: false
                        }
                    }
                ],
                yAxis: [ //这里有很多的show，必须都设置成不显示
                    {
                        type: 'value',
                        axisLine: {
                            show: false
                        },
                        splitLine: {
                            show: false
                        },
                    }
                ],
                series: [
                    {
                        name: '危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#ff4157'
                            }
                        }
                    },
                    {
                        name: '较危险',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#f8df76'
                            }
                        }
                    },
                    {
                        name: '较安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#96e8f6'
                            }
                        }
                    },
                    {
                        name: '安全',
                        type: 'bar',
                        itemStyle: {
                            normal: {
                                color: '#5ae6b6'
                            }
                        }
                    },
                    {
                        name: '预警指数',
                        type: 'gauge',
                        axisLine: {
                            lineStyle: {
                                color: [[firstnum, '#ff4157'], [secondnum, '#fba73a'], [thirdnum, '#90eaf9'], [fourthnum, '#5ae6b6']]
                            }
                        },
                        splitLine: {           // 分隔线
                            length: 30,         // 属性length控制线长
                            lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                width: 2
                            }
                        },
                        axisTick: {            // 坐标轴小标记
                            length: 20,        // 属性length控制线长

                        },
                        axisLabel: {
                            color: '#fff',
                            distance: 5
                        },
                        detail: {
                            // 其余属性默认使用全局文本样式，详见TEXTSTYLE
                            fontWeight: 'bolder',
                            formatter: "{score|{value}分}",
                            rich: {
                                score: {
                                    color: '#fff',
                                    fontFamily: '微软雅黑',
                                    fontSize: 32,
                                }
                            }
                        },
                        data: [{
                            value: score, label: {
                                textStyle: {
                                    fontSize: 12
                                }
                            }
                        }]
                    }
                ]
            };
            var chartobj = echarts.init(chartobject);
            var colors = ['#f6b327', '#32d03b', '#ccc'];
            chartobj.setOption(options);
        });
    }

    //未闭环隐患统计
    function NoCloseLoopHidStatistics() {

        if ($("#unitTable").find(".row1").length == 0) {
            $.post("../Desktop/GetNoCloseLoopHidStatistics", {}, function (data) {
                var json = "";
                var sHtml1 = "";
                var sHtml2 = "";
                $("#unitTable").find(".row2").remove();
                $("#unitTable").find(".row1").remove();
                $("#areaTable").find(".row2").remove();
                $("#areaTable").find(".row1").remove();
                $("#majorTable").find(".row2").remove();
                $("#majorTable").find(".row1").remove();
                json = eval("(" + data + ")");
                var resultdata = JSON.parse(json.resultdata);
                //按责任单位统计
                if (!!resultdata.unitdata) {

                    var array = resultdata.unitdata;
                    var curIndex = 0;
                    $(array).each(function (index, ele) {
                        curIndex = index + 1;
                        if (ele.s1 != "0(0%)") {
                            sHtml1 = "<a style=\"color:red;\" onclick=\"viewHid(0,'" + ele.code + "','一般隐患')\">" + ele.s1 + "</a>";
                        }
                        else {
                            sHtml1 = ele.s1;
                        }

                        if (ele.s2 != "0(0%)") {
                            sHtml2 = "<a style=\"color:red;\" onclick=\"viewHid(0,'" + ele.code + "','重大隐患')\">" + ele.s2 + "</a>";
                        }
                        else {
                            sHtml2 = ele.s2;
                        }
                        var trText = "<tr class='row1'><td>" + curIndex + "</td><td>" + ele.name + "</td><td>" + sHtml1 + "</td><td>" + sHtml2 + "</td></tr>";
                        $("#unitTable").append(trText);
                    });
                   
                    $('.felllist2').niceScroll({
                        autohidemode: false,
                        cursorcolor: "#68ceed",
                        cursorborderradius: "0px",
                        cursorwidth: "5px",
                        background: "#204758",
                        cursorborder: "none",
                    });
                }

                //按区域统计
                if (!!resultdata.areadata) {
                    var array = resultdata.areadata;
                    var curIndex = 0;
                    $(array).each(function (index, ele) {
                        curIndex = index + 1;
                        if (ele.s1 != "0(0%)") {
                            sHtml1 = "<a style=\"color:red;\" onclick=\"viewHid(1,'" + ele.code + "','一般隐患')\">" + ele.s1 + "</a>";
                        }
                        else {
                            sHtml1 = ele.s1;
                        }

                        if (ele.s2 != "0(0%)") {
                            sHtml2 = "<a style=\"color:red;\" onclick=\"viewHid(1,'" + ele.code + "','重大隐患')\">" + ele.s2 + "</a>";
                        }
                        else {
                            sHtml2 = ele.s2;
                        }
                        var trText = "<tr><td class='row1'>" + curIndex + "</td><td>" + ele.name + "</td><td>" + sHtml1 + "</td><td>" + sHtml2 + "</td></tr>";
                        $("#areaTable").append(trText);
                    });
                }
                //按专业统计
                if (!!resultdata.majordata) {
                    var array = resultdata.majordata;
                    var curIndex = 0;
                    $(array).each(function (index, ele) {
                        curIndex = index + 1;
                        if (ele.s1 != "0(0%)") {
                            sHtml1 = "<a style=\"color:red;\" onclick=\"viewHid(2,'" + ele.id + "','一般隐患')\">" + ele.s1 + "</a>";
                        }
                        else {
                            sHtml1 = ele.s1;
                        }

                        if (ele.s2 != "0(0%)") {
                            sHtml2 = "<a style=\"color:red;\" onclick=\"viewHid(2,'" + ele.id + "','重大隐患')\">" + ele.s2 + "</a>";
                        }
                        else {
                            sHtml2 = ele.s2;
                        }
                        var trText = "<tr class='row1'><td>" + curIndex + "</td><td>" + ele.name + "</td><td>" + sHtml1 + "</td><td>" + sHtml2 + "</td></tr>";
                        $("#majorTable").append(trText);
                    });
                }
            });
        }
    }

    ///查看隐患
    function viewHid(mode, code, rankname) {
        var url = "";
        var title = "未闭环" + rankname + "信息";
        //按责任单位
        if (mode == 0) {
            url = "../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=未整改结束&mode=wbhtjcx&qrankname=" + rankname + "&qdeptcode=" + code;
        }
        else if (mode == 1)  //按区域
        {
            url = "../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=未整改结束&mode=wbhtjcx&qrankname=" + rankname + "&code=" + code;
        }
        else if (mode == 2)//按专业
        {
            url = "../HiddenTroubleManage/HTBaseInfo/Index?ChangeStatus=未整改结束&mode=wbhtjcx&qrankname=" + rankname + "&majorClassify=" + code;
        }
        top.openTab("67fdd0b7-6629-48dc-a70f-3eb7ba2df1f0", url, title);
    }

    //隐患整改率统计
    function HiddenChangeForLeaderCockpit() {
        if ($("#hiddenchange").find("center").length > 0) {
            var json;
            $.post("../Desktop/GetHiddenChangeForLeaderCockpit", {}, function (data) {
                json = eval("(" + data + ")");
                var resultdata = JSON.parse(json.resultdata);
                //按责任单位统计
                if (!!resultdata) {
                    var deptdata = new Array();
                    var ybdata = new Array();
                    var zddata = new Array();

                    $(resultdata).each(function (index, ele) {
                        if (!!ele) {
                            deptdata.push(ele.fullname);
                            ybdata.push(ele.ybzgl);
                            zddata.push(ele.zdzgl);
                        }
                    });

                    var obj = document.getElementById('hiddenchange');
                    //$(obj).width(($(window).width()) / 2);
                    //$(obj).height(($(window).height()) / 2);

                    var option = {
                        legend: {
                            data: ['一般隐患', '重大隐患'],
                            textStyle: {
                                fontSize: 14,
                                color: '#fff'
                            },
                            top: 10
                        },
                        tooltip: {
                            trigger: 'axis',
                            formatter: function (params) {
                                var res = params[0].name + '的整改率<br/>';
                                res += params[0].seriesName + ':' + params[0].value + '%<br/>';
                                res += params[1].seriesName + ':' + params[1].value + '%<br/>';
                                return res;
                            }
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: deptdata,
                                axisLabel: {
                                    interval: 0,
                                    rotate: 18,
                                    textStyle: { color: '#fff' }
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#fff'
                                    }
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value',
                                name: '整改率占比',
                                min: 0,
                                axisLabel: {
                                    formatter: '{value}%',
                                    textStyle: {
                                        color: '#fff'
                                    }
                                },
                                axisLine: {
                                    lineStyle: {
                                        color: '#fff'
                                    }
                                }
                            }
                        ],
                        series: [
                            {
                                name: '一般隐患',
                                type: 'bar',
                                barWidth: '30%',
                                data: ybdata,
                                color: '#ff7f50'
                            },
                    {
                        name: '重大隐患',
                        type: 'bar',
                        barWidth: '30%',
                        data: zddata,
                        color: '#87cefa'
                    }
                        ]
                    };
                    var Chart = echarts.init(obj)
                    Chart.setOption(option);
                }
            });
        }

    }

    //今日作业风险 // 高风险作业统计
    function HighRiskWorkingForLeaderCockpit() {

        if ($("#workingTable").find(".row1").length == 0) {
           
            $.post("../Desktop/GetHighRiskWorkingForLeaderCockpit", {}, function (data) {
                var json;
                $("#workingTable").find(".row1").remove();
                $("#workingTable").find(".row2").remove();
                left = true;
                json = eval("(" + data + ")");
                var resultdata = JSON.parse(json.resultdata);
                //今日作业风险
                if (!!resultdata.dtdata) {
                    var array = resultdata.dtdata;
                    var curIndex = 0;
                    $(array).each(function (index, ele) {
                        curIndex = index + 1;
                        var risktypename = !!ele.risktypename ? ele.risktypename : "";
                        var trText = "<tr class='row1'><td>" + curIndex + "</td><td>" + ele.itemname + "</td><td>" + ele.workareaname + "</td><td>" + risktypename + "</td><td>" + ele.workdeptname + "</td></tr>";
                        $("#workingTable").append(trText);
                    });
                    $("#workingTable").css({ "overflow": "auto", "outline": "none" });
                    $('#workingTable').niceScroll({
                        autohidemode: false,
                        cursorcolor: "#68ceed",
                        cursorborderradius: "0px",
                        cursorwidth: "5px",
                        background: "#204758",
                        cursorborder: "none",
                    });
                }

                //高风险作业统计
                if (!!resultdata.tjdata) {
                    var tjdata = resultdata.tjdata;
                    var colors = ["#54b1f9", '#40e0d0', '#ffa500', '#cd5c5c', '#ba55d3', '#ff69b4', '#6495ed', '#32cd32', '#00A7FF', '#D7AC6A', '#88D184', '#B119E1', '#FF4300'];
                    var seriesdata = new Array();
                    var legenddata = new Array();
                    $(tjdata).each(function (index, ele) {
                        seriesdata.push({ value: ele.nums, name: ele.itemname, itemStyle: { color: colors[index] } });
                        legenddata.push(ele.itemname);
                    });

                   
  

                    var obj = document.getElementById('highriskwork');
                    $(obj).height("450");
                    var option = {
                        title: {
                            // text: '南丁格尔玫瑰图',
                            // subtext: '纯属虚构',
                            x: 'center',
                            top: 100
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            x: 'left',
                            y: 'bottom',
                            data: legenddata,
                            textStyle: {
                                color: "#fff"
                            }
                        },
                        calculable: true,
                        series: [
                            {
                                name: '高风险作业统计',
                                type: 'pie',
                                radius: [50, 120],
                                center: ['50%', '40%'],
                                roseType: 'area',
                                data: seriesdata
                            }
                        ]
                    };
                   
                    var myChart = echarts.init(obj);

                    myChart.setOption(option, true);

                    myChart.on('click', function (params) {
                        var status = "";
                        $.ajax({
                            url: 'SystemManage/DataItemDetail/GetListByCodeJson',
                            data: { itemCode: "StatisticsType" },
                            dataType: "JSON",
                            async: false,
                            success: function (result) {
                                if (!!result) {
                                    var arr = eval(result);
                                    $(arr).each(function (i, item) {
                                        if (item.itemname == params.name) {
                                            status = item.itemvalue;
                                            return false;
                                        }
                                    });
                                }
                            }
                        });
                        if (!!status) {
                            if (status == "-1" || status == "-2") {
                                top.tablist.newTab({ id: '9274b466-750f-4120-963b-e28702e8149b', url: '../HighRiskWork/Scaffold/Ledger?indexstatistics=' + status, title: params.name });
                            }
                            else if (status == "-3") {
                                top.tablist.newTab({ id: 'c5fe6433-9ece-47cd-b989-d33b4b6b1d3d', url: '../HighRiskWork/Safetychange/Ledger?indexstatistics=' + status, title: params.name });
                            } else {
                                top.tablist.newTab({ id: '95f41b85-75fd-4f97-bc86-dd61b317d3af', url: '../HighRiskWork/HighRiskCommonApply/Ledger?indexstatistics=' + status, title: params.name });
                            }
                        }
                    });
                }
            });
        }

    }

    //各部门未闭环违章统计
    function NoCloseLoopLllegalStatistics() {

        if ($("#llegalTable").find(".row2").length > 0) {
           
            $.post("../Desktop/GetNoCloseLoopLllegalStatistics", {}, function (data) {
                var json = "";
                var sHtml1 = "";
                var sHtml2 = "";
                var sHtml3 = "";
                $("#llegalTable").find(".row2").remove();
                right = true;
                json = eval("(" + data + ")");
                var resultdata = JSON.parse(json.resultdata);

                if (!!resultdata) {
                    var array = resultdata;
                    var curIndex = 0;
                    $(array).each(function (index, ele) {
                        curIndex = index + 1;

                        if (ele.s1 != "0(0%)") {
                            sHtml1 = "<a style=\"color:red;\" onclick=\"viewLllegal('" + ele.code + "','一般违章')\">" + ele.s1 + "</a>";
                        }
                        else {
                            sHtml1 = ele.s1;
                        }

                        if (ele.s2 != "0(0%)") {
                            sHtml2 = "<a style=\"color:red;\" onclick=\"viewLllegal('" + ele.code + "','较严重违章')\">" + ele.s2 + "</a>";
                        }
                        else {
                            sHtml2 = ele.s2;
                        }

                        if (ele.s3 != "0(0%)") {
                            sHtml3 = "<a style=\"color:red;\" onclick=\"viewLllegal('" + ele.code + "','严重违章')\">" + ele.s3 + "</a>";
                        }
                        else {
                            sHtml3 = ele.s3;
                        }

                        var trText = "<tr class='row1'><td>" + curIndex + "</td><td>" + ele.name + "</td><td>" + sHtml1 + "</td><td>" + sHtml2 + "</td><td>" + sHtml3 + "</td></tr>";
                        $("#llegalTable").append(trText);
                        $("#llegalTable").css({ "overflow": "auto", "outline": "none" });

                        $('#llegalTable').niceScroll({
                            autohidemode: false,
                            cursorcolor: "#68ceed",
                            cursorborderradius: "0px",
                            cursorwidth: "5px",
                            background: "#204758",
                            cursorborder: "none",
                        });
                    });

                     

                }
            });
        }

    }

    ///查看违章
    function viewLllegal(code, levelname) {
        var url = "";
        var title = "未闭环" + levelname + "信息";

        url = "../LllegalManage/LllegalRegister/SdIndex?action=NotClose&lllegallevelname=" + levelname + "&qdeptcode=" + code;

        top.openTab("109d0e86-d8d8-4794-a15e-7308d1646344", url, title);
    }

    //各部门违章整改率统计
    function LllegalChangeForLeaderCockpit() {
        if ($("#lllegalchange").find("div").length == 0) {
            var json;
            $.post("../Desktop/GetLllegalChangeForLeaderCockpit", {}, function (data) {
                json = eval("(" + data + ")");
                var resultdata = JSON.parse(json.resultdata);

                if (!!resultdata) {
                    var deptdata = new Array();
                    var ybdata = new Array();
                    var jyzdata = new Array();
                    var yzdata = new Array();
                    $(resultdata).each(function (index, ele) {
                        if (!!ele) {
                            deptdata.push(ele.fullname);
                            ybdata.push(ele.ybzgl);
                            jyzdata.push(ele.jyzzgl);
                            yzdata.push(ele.yzzgl);
                        }
                    });

                    var obj = document.getElementById('lllegalchange');
                   
                    var option = {
                        color: ['#f6b327', '#32d03b', '#333'],
                        title: {
                            text: '违章整改率统计',
                            x: 'center',
                            textStyle: {
                                fontSize: 14,
                                color: '#fff'
                            }
                        },
                        legend: {
                            data: ['一般违章', '较严重违章', '严重违章'],
                            textStyle: {
                                fontSize: 13,
                                color: '#fff'
                            },
                            top: 30
                        },
                        tooltip: {
                            trigger: 'axis',
                            formatter: function (params) {
                                var res = params[0].name + '的整改率<br/>';
                                res += params[0].seriesName + ':' + params[0].value + '%<br/>';
                                res += params[1].seriesName + ':' + params[1].value + '%<br/>';
                                res += params[2].seriesName + ':' + params[2].value + '%<br/>';
                                return res;
                            }
                        },
                        xAxis: [
                    {
                        type: 'category',
                        data: deptdata,
                        axisLabel: {
                            interval: 0,
                            rotate: 18,
                            textStyle: { color: '#fff' }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    }
                        ],
                        yAxis: [
                    {
                        type: 'value',
                        name: '整改率占比',
                        min: 0,
                        axisLabel: {
                            formatter: '{value}%',
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        axisLine: {
                            lineStyle: {
                                color: '#fff'
                            }
                        }
                    }
                        ],
                        series: [
                            {
                                name: '一般违章',
                                type: 'bar',
                                barWidth: '20%',
                                data: ybdata,
                                color: '#ff7f50'
                            },
                    {
                        name: '较严重违章',
                        type: 'bar',
                        barWidth: '20%',
                        data: jyzdata,
                        color: '#87cefa'
                    },
                    {
                        name: '严重违章',
                        type: 'bar',
                        barWidth: '20%',
                        data: yzdata,
                        color: '#32d03b'
                    }
                        ]
                    };
                    var Chart = echarts.init(obj)
                    Chart.setOption(option);
                }
            });
        }

    }

    //外包工程统计
    function OutsourcingForLeaderCockpit() {
        if ($("#outsourcing").find("div").length == 0) {
            var obj = document.getElementById('outsourcing');
            //$(obj).width($(window).width() / 2);
            //$(obj).height($(window).height() / 2);
            //外包工程类型统计
            var data = [];
            $.post("../Desktop/GetProjectChart3", {}, function (riskVal) {
                json = eval("(" + riskVal + ")");

                var colors = ['#fdb45c', '#f7464a', '#46bfbd', '#008EF0', '#57A64A'];
                if (!!json.resultdata) {
                    var xdata = new Array();
                    var resultdata = JSON.parse(json.resultdata);
                    for (var i = 0; i < resultdata.xValues.length; i++) {
                        var text = resultdata.xValues[i];
                        var value = resultdata.yValues[i];
                        data.push({ name: text, value: value, itemStyle: { color: colors[i] } });
                        xdata.push(text);
                    };

                    var option = {
                        title: {
                            text: '外包工程风险占比统计',
                            textStyle: {
                                color: '#fff',
                                fontSize: 14,
                            },
                            x: 'center'
                        },
                        tooltip: {
                            trigger: 'item',
                            formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        legend: {
                            orient: 'vertical',
                            left: 'left',
                            data: xdata,
                            textStyle: {
                                color: '#fff'
                            }
                        },
                        series: [
                            {
                                name: '外包工程风险占比',
                                type: 'pie',
                                radius: '55%',
                                center: ['50%', '60%'],
                                data: data,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: '#fff'
                                    }
                                }
                            }
                        ]
                    };

                    var Chart = echarts.init(obj)
                    Chart.setOption(option, true);
                    //外包工程
                    Chart.on('click', function (params) {

                        top.tablist.newTab({ id: 'c593e2a1-f391-4c59-ba41-d3b82f16536c', url: '../OutsourcingProject/Outsouringengineer/Index?pMode=0&englevelname=' + params.name, title: params.name });
                    });
                } else {
                    $(obj).html("<p style='color:white;'>暂无数据显示</p>");
                }

            });
        }

    }

    //安全检查统计 2020/12/22
    function GetSafeCheckTotal() {
        //上级考核 查询速度非常快，为了防止别的地方查询慢卡住这里，优先同步处理这块请求
        $.ajaxSettings.async = false;
        $.post("../Desktop/DeskTotalByCheckType?itemcode=fivetopcheck", {}, function (checkdata) {
            $('#topsafecheck').empty();
            var resulthtml = '';
            $(eval("(" + checkdata + ")")).each(function (n, d) {
                resulthtml += '<tr><td style="width:147px;font-size: 13px;">' + this.typename + '</td><td><span class="times">' + this.total + '次</span></td><td>整改率</td><td><span class="times">' + this.zgl+'%</span></td></tr >';
            });
            $('#topsafecheck').html(resulthtml)

        });
        // 公司安全检查统计
        $.post("../Desktop/DeskTotalByCheckType?itemcode=fivegscheck", {}, function (checkdata) {
            $('#companysafecheck').empty();
            var resulthtml = '';
            $(eval("(" + checkdata + ")")).each(function (n, d) {
                resulthtml += '<tr><td style="width:147px;font-size: 13px;">' + this.typename + '</td><td><span class="times">' + this.total + '次</span></td><td>整改率</td><td><span class="times">' + this.zgl + '%</span></td></tr >';
            });
            $('#companysafecheck').html(resulthtml)

        });
        // 处理完后改回异步
        $.ajaxSettings.async = true;
    }
   
    </script>

</body>
</html>



