@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId"; //部门ID
    var deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName"; //部门ID
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    var orgcode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var orgID = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
    //创建用户机构ID 仅省级页面会用到
    var CreateuserOrgid = request("CreateuserOrgid");
    var keyValue = request('keyValue');
    var ToolType = request('ToolType');//工器具大类(1:电动工器具；2:安全工器具；3:手工器具)
    var action = request('action');
    $(function () {
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
            top.window.$(".layui-layer-btn0").hide();
            $("#add").attr("disabled", "disabled");
            $("#add1").attr("disabled", "disabled");
            $("#add2").attr("disabled", "disabled");
        }
        initControl();
    });

    //初始化控件
    function initControl() {
        //登记时间为默认时间
        $("#CreateDate").val("@DateTime.Now.ToString("yyyy-MM-dd")");
        if (roleNames.includes("省级用户")) {
            orgID = CreateuserOrgid;
        }
        //else {
        //    orgID = top.currUserOrgId;
        //}
        //区域
        $("#DistrictId").ComboBoxTree({
            url: top.contentPath + "/BaseManage/District/GetTreeJson?orgID=" + orgID,
            height: "300px",
            description: "==请选择=="
        }).bind("change", function () {
            var areaId = $("#DistrictId").attr("data-text");
        });

        //试验周期 单位
        $("#TimeUnit").ComboBox({
            description: "==请选择=="
        }).bind("change", function () {
            setDate();
        });
        $("#TimeUnit").ComboBoxSetValue("365");
        if (ToolType == "1") {
            $("#td5").css("display", "none");
            $("#td6").css("display", "none");
            $("#td1").css("display", "");
            $("#td11").css("display", "none");
            $("#td2").css("display", "");
            $("#td22").css("display", "none");
            $("#td222").css("display", "none");
            $("#td3").css("display", "");
            $("#td33").css("display", "none");
            $("#td333").css("display", "none");
            $("#td7").css("display", "");
            $("#td77").css("display", "none");
            $("#td777").css("display", "none");
            $("#td8").css("display", "");
            $("#td88").css("display", "none");
            $("#td888").css("display", "none");
            $("#td9").css("display", "");
            $("#td99").css("display", "none");
            $("#tda").css("display", "");
            $("#tdb").css("display", "none");
            $("#panel1").show();
            $("#panel2").hide();
            $("#panel3").hide();
            GetApproveGrid();

            //电动工器具名称
            ComBoxForData("EquipmentName", "DdTool");

            //电动工器具类型
            $("#EquipmentType").ComboBox({
                description: "==请选择=="
            }).bind("change", function () {
                $("#EquipmentName").attr("data-text", "==请选择==");
                $("#EquipmentName").attr("data-value", "");
                $("#EquipmentName div:eq(0)").text("==请选择==");

                var type = $("#EquipmentType").attr("data-value");
                if (type == "1") {
                    //电动工器具名称
                    ComBoxForData("EquipmentName", "DdTool");
                }
                else if (type == "2") {
                    //电动工器具名称
                    ComBoxForData("EquipmentName", "NoProduceDdTool");
                }
            });

        }
        else if (ToolType == "2") {
            $("#td5").css("display", "none");
            $("#td6").css("display", "none");
            $("#panel1").hide();
            $("#panel2").show();
            $("#panel3").hide();
            GetCheckGrid();

            $("#td1").css("display", "none");
            $("#td11").css("display", "");

            $("#EquipmentType ul li").each(function (index, ele) {
                if (index == 0) {
                    $(this).html("电气安全工器具");
                } else if (index == 1) {
                    $(this).html("机械、化学工器具");
                }
            });
            $("#td2").css("display", "none");
            $("#td22").css("display", "");
            $("#td222").css("display", "none");
            $("#td3").css("display", "none");
            $("#td33").css("display", "");
            $("#td333").css("display", "none");
            $("#td7").css("display", "none");
            $("#td77").css("display", "");
            $("#td777").css("display", "none");
            $("#td8").css("display", "none");
            $("#td88").css("display", "");
            $("#td888").css("display", "none");
            $("#td9").css("display", "");
            $("#td99").css("display", "none");
            $("#tda").css("display", "");
            $("#tdb").css("display", "none");
            //安全工器具名称
            ComBoxForData("EquipmentName", "SafeTool");
            //安全工器具类型
            $("#EquipmentType").ComboBox({
                description: "==请选择=="
            }).bind("change", function () {
                $("#EquipmentName").attr("data-text", "==请选择==");
                $("#EquipmentName").attr("data-value", "");
                $("#EquipmentName div:eq(0)").text("==请选择==");
                var type = $("#EquipmentType").attr("data-value");
                if (type == "1") {
                    //安全工器具名称
                    ComBoxForData("EquipmentName", "SafeTool");
                }
                else if (type == "2") {
                    //安全工器具名称
                    ComBoxForData("EquipmentName", "JxHxSafeTool");
                }
            });


        }
        else {
            $("#td1").css("display", "none");
            $("#td4").css("display", "none");
            $("#td5").css("display", "");
            $("#td6").css("display", "");

            GetToolGrid();

            $("#td1").css("display", "none");
            $("#td2").css("display", "none");
            $("#td11").css("display", "none");
            $("#td22").css("display", "none");
            $("#td222").css("display", "");
            $("#td3").css("display", "none");
            $("#td33").css("display", "none");
            $("#td333").css("display", "");
            $("#td7").css("display", "none");
            $("#td77").css("display", "none");
            $("#td777").css("display", "");
            $("#td8").css("display", "none");
            $("#td88").css("display", "none");
            $("#td888").css("display", "");
            $("#td9").css("display", "none");
            $("#td99").css("display", "");
            $("#tda").css("display", "none");
            $("#tdb").css("display", "");
            //手工器具名称
            ComBoxForData("EquipmentName", "SgTool");
            $("#panel1").hide();
            $("#panel2").hide();
            $("#panel3").show();
        }


        //获取表单
        if (!!keyValue) {           
            $.SetForm({
                url: "../../ToolEquipmentManage/Toolequipment/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    if (data != null) {
                        $("#form1").formDeserialize(data);
                        $("#EquipmentType").ComboBoxSetValue(data.EquipmentType);
                        $("#EquipmentType").change();
                        $("#EquipmentName").ComboBoxSetValue(data.EquipmentName);
                    }
                }
            });
        }
        else {
            $("#add").attr("disabled", "disabled");
            $("#add1").attr("disabled", "disabled");
            $("#add2").attr("disabled", "disabled");
            keyValue = keyValue.length === 0 ? "@Guid.NewGuid().ToString()" : keyValue;
            $("#DescriptionFileId").val('@Guid.NewGuid().ToString()');
            $("#ContractFileId").val('@Guid.NewGuid().ToString()');
        }
        //视频跟图片的附件
        ShowOrEdit(action, "uploader1", $("#DescriptionFileId").val());
        ShowOrEdit(action, "uploader2", $("#ContractFileId").val());
    }

    //保存表单;
    function AcceptClick() {
        if (ToolType=="3") {          
            $("#EquipmentType").ComboBoxSetValue(0);
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        //电动工器具
        $("#ToolType").val(ToolType);
        var postData = $("#form1").formSerialize(keyValue);
        postData["DistrictId"] = $("#DistrictId").attr("data-value");
        postData["DistrictCode"] = $("#DistrictId").attr("data-code");
        postData["District"] = $("#DistrictId").attr("data-text");
        postData["EquipmentValue"] = $("#EquipmentName").attr("data-text");
        $.SaveForm({
            url: "../../ToolEquipmentManage/Toolequipment/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
        return false;
    };

    //新增试验记录
    function btn_add() {
        dialogOpen({
            id: 'AddRecordForm',
            title: '新增试验记录',
            url: '/ToolEquipmentManage/Toolequipment/AddRecordForm?keyValue=' + keyValue,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 600) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    //新增检验记录
    function btn_checkadd() {
        dialogOpen({
            id: 'AddRecordForm',
            title: '新增检验记录',
            url: '/ToolEquipmentManage/Toolequipment/AddRecordForm?keyValue=' + keyValue,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 400) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }


    //新增检测记录
    function btn_sgadd() {
        dialogOpen({
            id: 'AddRecordForm',
            title: '新增检测记录',
            url: '/ToolEquipmentManage/Toolequipment/AddRecordForm?keyValue=' + keyValue,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 600) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    //试验记录列表
    function GetApproveGrid() {
        var queryJson = {
            keyValue: keyValue
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#approveGridTable');
        $gridTable.jqGrid({
            url: "../../ToolEquipmentManage/Toolequipment/GetToolRecordList",
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '电动工器具id', name: 'toolequipmentid', hidden: true },
                {
                    label: '名称', name: 'equipmentname', width: 300, align: 'center'
                },
                { label: '编号', name: 'equipmentno', index: 'equipmentno', width: 120, align: 'center' },
                { label: '电压等级', name: 'voltagelevel', index: 'voltagelevel', width: 120, align: 'center' },
                { label: '试验电压', name: 'trialvoltage', index: 'trialvoltage', width: 120, align: 'center' },


                {
                    label: '试验日期', name: 'checkdate', index: 'checkdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.checkdate) {
                            content = rowObject.checkdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                },
                {
                    label: '下次试验日期', name: 'nextcheckdate', index: 'nextcheckdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.nextcheckdate) {
                            content = rowObject.nextcheckdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                },
                {
                    label: '评价', name: 'appraise', width: 100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var appraise = "";
                        if (rowObject.appraise !== "") {
                            if (rowObject.appraise === "1") {
                                appraise = "合格";
                            } else if (rowObject.appraise === "2") {
                                appraise = "不合格";
                            }
                        }
                        return appraise;
                    }
                },
                {
                    label: '试验人', name: 'operuser', width: 100, align: 'center'
                }
            ],
            pager: false,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }

    //检验记录列表
    function GetCheckGrid() {
        var queryJson = {
            keyValue: keyValue
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#checkGridTable');
        $gridTable.jqGrid({
            url: "../../ToolEquipmentManage/Toolequipment/GetToolRecordList",
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '安全工器具id', name: 'toolequipmentid', hidden: true },
                {
                    label: '安全工器具名称', name: 'equipmentname', width: 300, align: 'center'
                },
                {
                    label: '规格型号', name: 'specification', width: 300, align: 'center'
                },
                {
                    label: '检查的具体项目', name: 'checkproject', width: 300, align: 'center'
                },
                {
                    label: '检验结果', name: 'appraise', width: 100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var appraise = "";
                        if (rowObject.appraise !== "") {
                            if (rowObject.appraise === "1") {
                                appraise = "合格";
                            } else if (rowObject.appraise === "2") {
                                appraise = "不合格";
                            }
                        }
                        return appraise;
                    }
                },
                {
                    label: '下次检验日期', name: 'nextcheckdate', index: 'nextcheckdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.nextcheckdate) {
                            content = rowObject.nextcheckdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                },
                { label: '编号', name: 'equipmentno', index: 'equipmentno', width: 120, align: 'center' },
                {
                    label: '检验日期', name: 'checkdate', index: 'checkdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.checkdate) {
                            content = rowObject.checkdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                },                          
                {
                    label: '检验人', name: 'operuser', width: 100, align: 'center'
                }
            ],
            pager: false,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager1",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }


    //检测记录列表
    function GetToolGrid() {
        var queryJson = {
            keyValue: keyValue
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#sGridTable');
        $gridTable.jqGrid({
            url: "../../ToolEquipmentManage/Toolequipment/GetToolRecordList",
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                { label: '安全工器具id', name: 'toolequipmentid', hidden: true },
                {
                    label: '手工器具名称', name: 'equipmentname', width: 300, align: 'center'
                },
                {
                    label: '规格型号', name: 'specification', width: 300, align: 'center'
                },
                {
                    label: '检测结果', name: 'appraise', width: 100, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var appraise = "";
                        if (rowObject.appraise !== "") {
                            if (rowObject.appraise === "1") {
                                appraise = "合格";
                            } else if (rowObject.appraise === "2") {
                                appraise = "不合格";
                            }
                        }
                        return appraise;
                    }
                },
                { label: '编号', name: 'equipmentno', index: 'equipmentno', width: 120, align: 'center' },
                {
                    label: '检测人', name: 'operuser', width: 100, align: 'center'
                },
                {
                    label: '检测日期', name: 'checkdate', index: 'checkdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.checkdate) {
                            content = rowObject.checkdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                },
                {
                    label: '下次检测日期', name: 'nextcheckdate', index: 'nextcheckdate', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.nextcheckdate) {
                            content = rowObject.nextcheckdate.replace("00:00:00", "");
                        }
                        return content;
                    }
                }],
            pager: false,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager2",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }


    function setDate() {
        var CheckDate = $("#CheckDate").val();//最近时间
        var CheckDateCycle = $("#CheckDateCycle").val();//周期
        var TimeUnit = $("#TimeUnit").attr("data-value");//单位

        if (!CheckDateCycle) { }
        else if (!(/(^[1-9]\d*$)/.test(CheckDateCycle))) {
            dialogMsg('检验周期请输入整数！', 0);
            $("#CheckDateCycle").val("");
        } else {
            if (CheckDate != null && CheckDate.length > 0 && CheckDate.indexOf("-") > 0) {
                var date = new Date(CheckDate.replace(/-/g, "/"));
                date.setDate(date.getDate() + parseInt(CheckDateCycle) * parseInt(TimeUnit));
                var retime = date.getFullYear() + "-" + ("00" + (date.getMonth() + 1).toString()).substr(("00" + (date.getMonth() + 1).toString()).length - 2, 2) + "-" + ("00" + date.getDate().toString()).substr(("00" + date.getDate().toString()).length - 2, 2);
                $("#NextCheckDate").val(retime);
            }
        }

    }

    //选择人员
    function setSpecialtyPrincipal(itemName, itemValue) {
        var col = '' + itemName + ',,' + itemValue + ',ControlDeptId,ControlDeptCode,ControlDept';
        selectUser({ deptId: $("#deptId").val(), checkMode: 0, mode: 0, winObject: document.body, domId: col });
    }

</script>
<div class="panel panel-default" id="panel0">
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <td class="formTitle" id ="td1">电动工器具类型<font face="宋体">*</font></td>
                <td class="formTitle" id="td11">安全工器具类型<font face="宋体">*</font></td>
                <td class="formValue" id ="td4">
                    <div id="EquipmentType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                        <ul>
                            <li data-value="1">生产性的</li>
                            <li data-value="2">非生产性的</li>
                        </ul>
                    </div>
                </td>
                
                <td class="formTitle" id="td2">电动工器具名称<font face="宋体">*</font></td>
                <td class="formTitle" id="td22">安全工器具名称<font face="宋体">*</font></td>
                <td class="formTitle" id="td222">手工器具名称<font face="宋体">*</font></td>
                <td class="formValue" id="tdEqSelect">
                    <div id="EquipmentName" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <td class="formTitle" id="td5">所属部门<font face="宋体"></font></td>
                <td class="formValue" id="td6">
                    <input id="BelongDept" type="text" class="form-control" readonly onclick="selectDept('', 0, 0, '选择所属部门', document.body, 'BelongDept,BelongDeptCode,BelongDeptId');" />
                    <input id="BelongDeptId" type="hidden" />
                    <input id="BelongDeptCode" type="hidden" />
                </td>
            </tr>
            <tr id="dwsl">
                <td class="formTitle">单位</td>
                <td class="formValue">
                    <input id="Unit" type="text" class="form-control" />
                </td>
                <td class="formTitle">数量</td>
                <td class="formValue">
                    <input id="Quantity" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">规格型号<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="Specifications" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                </td>
                <td class="formTitle">编号<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="EquipmentNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    <input type="hidden" id="DescriptionFileId" />
                    <input type="hidden" id="ContractFileId" />
                    <input type="hidden" id="ToolType" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">出厂年月</td>
                <td class="formValue">
                    <input id="FactoryDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                </td>
                <td class="formTitle">生产厂家</td>
                <td class="formValue">
                    <input id="OutputDeptName" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">有效期<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="ValidityDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" onblur="setDate()" />
                </td>
                <td class="formTitle" id ="td7">最近试验日期<font face="宋体"></font></td>
                <td class="formTitle" id="td77">最近检验日期<font face="宋体"></font></td>
                <td class="formTitle" id="td777">最近检测日期<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="CheckDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" onblur="setDate()" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" id ="td3">试验周期<font face="宋体">*</font></td>
                <td class="formTitle" id="td33">检验周期<font face="宋体">*</font></td>
                <td class="formTitle" id="td333">检测周期<font face="宋体">*</font></td>
                <td class="formValue">
                    @*<div id="CheckDateCycle" type="select" class="ui-select">
            <ul>
                <li data-value="30">30</li>
                <li data-value="60">60</li>
                <li data-value="90">90</li>
                <li data-value="180">180</li>
                <li data-value="360">360</li>
            </ul>
        </div>*@
                    <div style="float:left;width:75%;">
                        <input id="CheckDateCycle" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" onblur="setDate()"/>
                    </div>

                    <div style="float:left;width:20%;text-align:center;margin-top:0px;margin-left:5px;">
                        <div id="TimeUnit" type="select" class="ui-select">
                            <ul>
                                <li data-value="365">年</li>
                                <li data-value="30">月</li>
                                <li data-value="0">日</li>
                            </ul>
                        </div>
                    </div>
                </td>
                <td class="formTitle" id="td8">下次试验日期<font face="宋体"></font></td>
                <td class="formTitle" id="td88">下次检验日期<font face="宋体"></font></td>
                <td class="formTitle" id="td888">下次检测日期<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="NextCheckDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" disabled="disabled" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">所属区域<font face="宋体"></font></td>
                <td class="formValue">
                    <div id="DistrictId" type="selectTree" class="ui-select"></div>
                    <input id="District" type="hidden" class="form-control" />
                    <input id="DistrictCode" type="hidden" class="form-control" />
                </td>
                <td class="formTitle">存放位置</td>
                <td class="formValue">
                    <input id="Depositary" type="text" class="form-control" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" id="td9">管理人员<font face="宋体"></font></td>
                <td class="formTitle" id="td99">保管人员<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="ControlUserName" type="text" class="form-control" style="width: 85%; display: inline-block;" readonly/>
                    <input id="ControlUserId" type="hidden"/>
                    <a id="btn_Select" class="btn btn-primary" href="javascript:selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'ControlUserName,,ControlUserId,ControlDeptId,ControlDeptCode,ControlDept,Telephone' });" style="background-color: #2e99d4; border-color: #2e99d4; display: inline-block; vertical-align: top; line-height: 14px;">&nbsp;选&nbsp;&nbsp;择</a>
                </td>
                <td class="formTitle" id="tda">管控部门<font face="宋体"></font></td>
                <td class="formTitle" id="tdb">保管部门<font face="宋体"></font></td>
                <td class="formValue">
                    <input id="ControlDept" type="text" class="form-control" readonly onclick="selectDept('', 0, 0, '选择管控部门', document.body, 'ControlDept,ControlDeptCode,ControlDeptId');"/>
                    <input id="ControlDeptId" type="hidden"/>
                    <input id="ControlDeptCode" type="hidden"/>
                </td>

            </tr>
            <tr>
                <td class="formTitle">登记人员</td>
                <td class="formValue">
                    <input id="CreateUserName" type="text" class="form-control" style="width: 85%; display: inline-block;" />
                    <input id="CreateUserId" type="hidden" />
                    <a id="btn_SelectUser" class="btn btn-primary" href="javascript:selectUser({ deptId: '', userIds: $('#CreateUserId').val(), checkMode: 0, mode: 0, winObject: window.document.body, domId: 'CreateUserName,,CreateUserId' });" style="background-color: #2e99d4; border-color: #2e99d4; display: inline-block; vertical-align: top; line-height: 14px;">&nbsp;选&nbsp;&nbsp;择</a>
                </td>
                <td class="formTitle">登记时间<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="CreateDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                </td>
            </tr>
            <tr>
                <td class="formTitle">说明书</td>
                <td class="formValue">
                    <div id="uploader1" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                        <div class="queueList">
                            <div id="dndArea1" class="placeholder">
                                <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                        </div>
                    </div>
                </td>
                <td class="formTitle">合格证</td>
                <td class="formValue">
                    <div id="uploader2" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                        <div class="queueList">
                            <div id="dndArea2" class="placeholder">
                                <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                            </div>
                        </div>
                        <div class="statusBar" style="display:none;">
                            <div class="progress">
                                <span class="text">0%</span>
                                <span class="percentage"></span>
                            </div>
                            <div class="info"></div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="panel panel-default" id="panel1">
    <div class="panel-heading" style="height: 40px">
        <strong>&nbsp;&nbsp;试验记录</strong>
        <span class="tools pull-right">
            <a id="add" class="btn btn-primary" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            @*<a class="fa fa-chevron-down" title="展开/收起"></a>*@
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table id="approveGridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="panel2">
    <div class="panel-heading" style="height: 40px">
        <strong>&nbsp;&nbsp;检验记录</strong>
        <span class="tools pull-right">
            <a id="add1" class="btn btn-primary" onclick="btn_checkadd()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            @*<a class="fa fa-chevron-down" title="展开/收起"></a>*@
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table id="checkGridTable"></table>
            <div id="gridPager1"></div>
        </div>
    </div>
</div>


<div class="panel panel-default" id="panel3">
    <div class="panel-heading" style="height: 40px">
        <strong>&nbsp;&nbsp;检测记录</strong>
        <span class="tools pull-right">
            <a id="add2" class="btn btn-primary" onclick="btn_sgadd()"><i class="fa fa-plus"></i>&nbsp;新增</a>
            @*<a class="fa fa-chevron-down" title="展开/收起"></a>*@
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table id="sGridTable"></table>
            <div id="gridPager2"></div>
        </div>
    </div>
</div>