@{
    ViewBag.Title = "安全检查统计";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<!--第三方统计图start-->
<script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
<script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>

<style type="text/css">
    .dropdown-menu > li > a:active {
        color: rgb(38, 38, 38);
        background-color: transparent;
        text-decoration: none;
    }
    .ui-row-ltr a{padding-left:0px;}
</style>
<script src="~/Content/scripts/business/Common.js"></script>
<!--第三方统计图end-->
<script>
    var state = 1;
    var firstState = 1;
    var deptCode = ""; var ctype = ""; var belongdistrict = ""; var year = ""; var owndeptcode = "";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    $(function () {
        InitialPage();
        statTJ();
        //binggrid(deptCode, ctype, year, belongdistrict, 'gridTable1');
        //stat1(); stat2();
    })
    //初始化
    function InitialPage() {
        $('#desktop').height(1080);
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#desktop').height(1080);
            }, 800);
            e.stopPropagation();
        });
        //加载区域树
        var isSystem = "@ERCHTMS.Code.OperatorProvider.Provider.Current().IsSystem";
        var orgID = "0";
        if (isSystem == "False") {
            orgID = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
        }
        $("#BelongDistrictID").ComboBoxTree({
            url: top.contentPath + "/BaseManage/District/GetTreeJson?orgID=" + orgID,
            description: "==全部区域==",
            height: "180px"
        });
        //安全检查类型
        $("#CheckDataType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "SaftyCheckType" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //时间范围
        $("#TimeScope").ComboBox({
            id: "id",
            text: "text",
            url: "../../HiddenTroubleManage/HTStatistics/QueryTime",
            description: "",
            allowSearch: false
        });

        var curTimeScope = $("#TimeScope-option li:eq(0)").attr("data-value");
        $("#TimeScope").ComboBoxSetValue(curTimeScope);
        $("#TimeScope").attr("data-text", curTimeScope);
        $("#TimeScope").attr("data-value", curTimeScope);
        year = $("#TimeScope").attr('data-value');

        $(".queryform  tr td:eq(4)").css("display", "none");
        $(".queryform  tr td:eq(5)").css("display", "none");

        if (!(roleNames.indexOf("公司级用户") >= 0 || roleNames.indexOf("厂级部门用户") >= 0)) {
            $("#DeptName").val("@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName");
        } else {
            $("#DeptName").val("@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName");
        }
    }


    function LoadDataQS() {
        deptCode = $("#DeptCode").val();
        ctype = $("button[data-id='SaftyCheckType'] span:eq(0)").text();
        year = $("#TimeScope").attr('data-value');
        belongdistrict = $("#BelongDistrictID").attr('data-code');
        $.get("getMonthCheckCount", { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, function (data) {
            var json = eval("(" + data + ")");
            $('#qscontainer').highcharts({
                chart: {
                    type: 'line'
                },
                title: {
                    text: '安全检查次数变化趋势'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    enabled: false,
                    crosshairs: true,
                    shared: true,
                    formatter: function () {
                        return '<b>' + json.y + '</b><br/>检查次数： ' + this.y + '个';
                    }
                },
                plotOptions: {
                    line: {
                        marker: {
                            enable: true,
                            radius: 4,

                            lineWidth: 1
                        }, dataLabels: {
                            enabled: true,
                            formatter: function () {
                                return '检查数量： ' + this.y + '个';
                            }
                        }, showInLegend: true
                    }


                },
                series: [{
                    name: '月份',
                    marker: {
                        symbol: 'square'
                    },
                    data: json.x

                }]
                , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });
    }

    //趋势图
    function statQS() {
        LoadDataQS();
        binggrid(deptCode, ctype, year, belongdistrict, 'gridTable');
    }
    //统计图
    function LoadDataTJ() {
        deptCode = $("#DeptCode").val();
        ctype = $("button[data-id='SaftyCheckType'] span:eq(0)").text();
        year = $("#TimeScope").attr('data-value');
        belongdistrict = $("#BelongDistrictID").attr('data-code');
        $.get("getRatherCheckCount", { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, function (data) {
            var json = eval("(" + data + ")");
            $('#tjcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '安全检查次数统计图'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.x
                , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });

    }
    function statTJ() {
        LoadDataTJ();
        binggrid(deptCode, ctype, year, belongdistrict, 'gridTable1');
    }

    function LoadDataDB() {       
        deptCode = $("#DeptCode").val();
        ctype = $("button[data-id='SaftyCheckType'] span:eq(0)").text();
        year = $("#TimeScope").attr('data-value');
        belongdistrict = $("#BelongDistrictID").attr('data-code');
        $.get("GetAreaSaftyState", { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, function (data) {
            var json = eval("(" + data + ")");
            $('#dbcontainer').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '安全检查次数对比图'
                },
                xAxis: {
                    categories: json.y
                },
                yAxis: {
                    allowDecimals: false,
                    min: 0,
                    title: {
                        text: '数量（个）'
                    },
                    labels: {
                        formatter: function () {
                            return this.value + '个'
                        }
                    },
                    stackLabels: {
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                exporting: {
                    enabled: false
                },
                credits: {
                    enabled: false
                },
                tooltip: {
                    crosshairs: true,
                    shared: true
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            }
                        }
                    }
                },
                series: json.x
                , lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        });
    }
    //对比图
    function statDB() {
        LoadDataDB();
        binggridDB(deptCode, ctype, year, belongdistrict, 'gridTable2');
    }
    //绑定列表
    function binggrid(deptCode, ctype, year, belongdistrict, tid) {
        var $gridTable = $("#" + tid);
        var p = $gridTable.jqGrid("getGridParam");
        if (!!p && !!p.data) {
            $gridTable.jqGrid('setGridParam', {
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            }).trigger('reloadGrid');
        }
        else {
            $gridTable.jqGrid({
                url: "../../SaftyCheck/SaftyCheckStatistics/GetSaftyList",
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict },
                datatype: "json",
                mtype: "post",
                autoheight: true,
                height: 400,
                width: $(window).width() - 100,
                colModel: [
                    { label: '月份', name: 'month', align: 'center' },
                    {
                        label: '日常安全检查', name: 'rc', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.rc;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','日常安全检查')>" + rowObject.rc + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '专项安全检查', name: 'zx', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zx;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','专项安全检查')>" + rowObject.zx + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '季节性安全检查', name: 'jj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','季节性安全检查')>" + rowObject.jj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '节假日前后安全检查', name: 'jjr', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jjr;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','节假日前后安全检查')>" + rowObject.jjr + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '综合安全检查', name: 'zh', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zh;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','综合安全检查')>" + rowObject.zh + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '上级单位安全检查', name: 'sj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.sj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','上级单位安全检查')>" + rowObject.sj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '检查次数', name: 'sum', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.sum;
                            if (rval > 0) {
                                //rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(0,'" + rowObject.month + "','')>" + rowObject.sum + "</a>";
                            }
                            return rval;
                        }
                    }
                ],
                rowNum: 100,
                rownumbers: true,
                gridComplete: function () {
                }
            });
        }
    }
    function binggridDB(deptCode, ctype, year, belongdistrict, tid) {
        var $gridTable = $("#" + tid);
        var p = $gridTable.jqGrid("getGridParam");
        if (!!p && !!p.data) {
            $gridTable.jqGrid('setGridParam', {
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            }).trigger('reloadGrid');
        }
        else {
            $gridTable.jqGrid({
                url: "../../SaftyCheck/SaftyCheckStatistics/GetSaftyListDB",
                postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict },
                datatype: "json",
                mtype: "post",
                autoheight: true,
                height: 400,
                width: $(window).width() - 100,
                colModel: [
                    { label: '部门', name: 'month', align: 'center' },
                     {
                         label: '日常安全检查', name: 'rc', align: 'center',
                         formatter: function (cellvalue, options, rowObject) {
                             var rval = rowObject.rc;
                             if (rval > 0) {
                                 rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','日常安全检查')>" + rowObject.rc + "</a>";
                             }
                             return rval;
                         }
                     },
                    {
                        label: '专项安全检查', name: 'zx', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zx;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','专项安全检查')>" + rowObject.zx + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '季节性安全检查', name: 'jj', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jj;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','季节性安全检查')>" + rowObject.jj + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '节假日前后安全检查', name: 'jjr', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.jjr;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','节假日前后安全检查')>" + rowObject.jjr + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '综合安全检查', name: 'zh', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.zh;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','综合安全检查')>" + rowObject.zh + "</a>";
                            }
                            return rval;
                        }
                    },
                    {
                        label: '检查次数', name: 'sum', align: 'center',
                        formatter: function (cellvalue, options, rowObject) {
                            var rval = rowObject.sum;
                            if (rval > 0) {
                                rval = "<a style='color:#1688f5;text-decoration:underline;' href=javascript:GoSafetyCheckList(1,'" + rowObject.deptcode + "','')>" + rowObject.sum + "</a>";
                            }
                            return rval;
                        }
                    }

                ],
                rowNum: 100,
                rownumbers: true,
                gridComplete: function () {

                }
            });
        }
    }

    //读取检查内容列表
    function GoSafetyCheckList(qtype, qargs, qval) {

        var qyear = $("#TimeScope").ComboBoxGetValue(); //年度

        var qdeptcode = $("#DeptCode").val(); //单位

        var url = ""; //请求地址

        var qchecktype = ''; //检查类型
        //检查类型
        switch (qval) {
            case "日常安全检查":
                qchecktype = '1';
                break;
            case "专项安全检查":
                qchecktype = '2';
                break;
            case "节假日前后安全检查":
                qchecktype = '3';
                break;
            case "季节性安全检查":
                qchecktype = '4';
                break;
            case "综合安全检查":
                qchecktype = '5';
                break;
            default:
                break;
        }
        //按月份
        if (qtype == 0) {
            qargs = qargs.replace('月', '');

            if (qargs.length == 1) {
                qargs = "0" + qargs;
            }
            var qyearmonth = qyear + "-" + qargs; //年-月 2018-01
            if (qval == "上级单位安全检查") {
                var st = new Date(qyearmonth + "-01");
                var et = new Date(qyearmonth + "-01").DateAdd('m', 1).DateAdd('d', -1);
                var stStr = formatDate(st, 'yyyy-MM-dd');
                var etStr = formatDate(et, 'yyyy-MM-dd');               
                url = '/SaftyCheck/SaftyCheckDataRecord/ZXChkIndex?st=' + stStr + '&et=' + etStr;
            }                
            else
                url = '/SaftyCheck/SaftyCheckDataRecord/IndexView?qdeptcode=' + qdeptcode + '&ctype=' + qchecktype + '&qyearmonth=' + qyearmonth ;
        }
        else//按单位
        {
            //查询条件：单位、年度、检查类型
            url = '/SaftyCheck/SaftyCheckDataRecord/IndexView?qdeptcode=' + qargs + '&ctype=' + qchecktype;
        }
        url += "&qyear=" + qyear;
        var idx = dialogOpen({
            id: 'CheckWindow',
            title: '安全检查列表',
            url: url,
            btns: 1,
            btn: ["关闭"],
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    //跳转到指定模块菜单
    function OpenNav(Navid) {
        top.$("#nav").find('a#' + Navid).trigger("click");
    }
    function query() {
        if (state == 1) {
            //$("#btntj").trigger("click");
            //$("#gridTable1").jqGrid('setGridParam', {
            //    postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            //}).trigger('reloadGrid');
            statTJ();
        }
        if (state == 2) {
            //$('#divQS').show();
            //$('#divTJ').hide();
            //$('#divDB').hide();
            //$('.btn10').removeClass('btn-primary');
            //$('.btn10').addClass('btn-default');
            //$(this).addClass('btn-primary');
            //LoadDataQS();
            //$("#gridTable").jqGrid('setGridParam', {
            //    postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            //}).trigger('reloadGrid');
            statQS();
        }
        if (state == 3) {
            //$('#divQS').hide();
            //$('#divTJ').hide();
            //$('#divDB').show();
            //$('.btn10').removeClass('btn-primary');
            //$('.btn10').addClass('btn-default');
            //$(this).addClass('btn-primary');
            //LoadDataDB();
            //$("#gridTable2").jqGrid('setGridParam', {
            //    postData: { deptCode: deptCode, year: year, ctype: ctype, belongdistrict: belongdistrict }, page: 1
            //}).trigger('reloadGrid');
            statDB();
        }
    }
    function reset() {
        //时间范围
        var curTime = $("#TimeScope-option li:eq(0)").attr("data-value");
        $("#TimeScope").ComboBoxSetValue(curTime);
        $("#TimeScope").attr("data-text", curTime);
        $("#TimeScope").attr("data-value", curTime);
        //区域范围
        $("#BelongDistrictID").find("div").html("==请选择==");
        $("#BelongDistrictID").find("div").attr("style", "color:#999;")
        $("#BelongDistrictID").removeAttr("data-text");
        $("#BelongDistrictID").removeAttr("data-value");
        $("#BelongDistrictID").removeAttr("data-code");
        $("#BelongDistrictID").removeAttr("data-dept");
        //检查类型
        $("button[data-id='SaftyCheckType']").removeClass().addClass("btn dropdown-toggle btn-default bs-placeholder");
        $("button[data-id='SaftyCheckType']").attr("title", "请选择");
        $("button[data-id='SaftyCheckType'] span:eq(0)").text("请选择");
        ctype = "";
        $("button[data-id='SaftyCheckType']").next().find("ul li").each(function (index, ele) {
            $(this).removeClass();
        });
        //单位
        $("#DeptCode").val(""); $("#DeptName").val("");

        query();
    }
</script>
<div class="border" id="desktop" style="background: #fff; overflow-y: auto; overflow-x: hidden;">
    <div style="margin-top: 10px;">
        <div class="row">
            <table style="width: 100%;" class="queryform">
                <tr>
                    <td style="width: 60px; font-weight: bold;" align="right">单位：</td>
                    <td style="width: 100px;">
                        <input id="DeptName" type="text" style="width: 100px;" class="form-control" placeholder="请选择单位" readonly onclick="selectDept('', 0, 0, '选择单位', window.document.body, 'DeptName,DeptCode');" />
                        <input id="DeptCode" type="hidden" />
                    </td>
                    <td style="width: 100px; font-weight: bold;display:none;" align="right">检查表类型：</td>
                    <td style="display:none;">
                        <select id="SaftyCheckType" class="selectpicker show-menu-arrow form-control" multiple>
                            @Html.Raw(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetOptionsString("SaftyCheckType"))
                        </select>
                    </td>
                    <td style="width: 80px; font-weight: bold;display:none;" align="right">区域范围：</td>
                    <td style="width: 150px;display:none;">
                        <div id="BelongDistrictID" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull">
                        </div>
                    </td>
                    <th style="padding-left: 10px;width:100px;" align="right">时间范围：</th>
                    <td style="padding-left: 5px;width:150px;">
                        <div id="TimeScope" type="select" class="ui-select" style="width: 120px;"></div>
                    </td>
                    <td>
                        <a id="btn_Search" class="btn btn-primary" onclick="query()"><i class="fa fa-search"></i>&nbsp;查询</a>
                        &nbsp;<a id="btn_Reset" class="btn btn-primary" onclick="reset()"><i class="fa fa-undo"></i>&nbsp;重置</a>
                    </td>
                    <td align="right">
                        <div class="toolbar">
                            <div class="btn-group">
                                <button id="btntj" class="btn btn-primary btn10" type="button" onclick="state = 1; $('#divTJ').show(); $('#divQS').hide(); $('#divDB').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statTJ();"><i class="fa fa fa-pie-chart"></i>&nbsp;统计图</button>
                                <button id="btnqs" class="btn btn-default btn10" type="button" onclick="state = 2; $('#divQS').show(); $('#divTJ').hide(); $('#divDB').hide(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statQS();"><i class="fa fa fa-area-chart"></i>&nbsp;趋势图</button>
                                <button id="btndb" class="btn btn-default btn10" type="button" onclick="state = 3; $('#divQS').hide(); $('#divTJ').hide(); $('#divDB').show(); $('.btn10').removeClass('btn-primary'); $('.btn10').addClass('btn-default'); $(this).addClass('btn-primary'); statDB();"><i class="fa fa fa-area-chart"></i>&nbsp;对比图</button>

                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div id="divQS" style="display: none;">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="qscontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="divDB" style="display: none;">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="dbcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable2"></table>
                </div>
            </div>
        </div>
    </div>
    <div id="divTJ">
        <div class="panel panel-default" style="margin-top: 10px;">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="tjcontainer" style="margin: 10px;"></div>
            </div>
        </div>
        <div class="row" id="grid1">
            <div class="panel panel-default" style="margin: 10px;">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计数据</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="gridTable1"></table>
                </div>
            </div>
        </div>
    </div>
</div>
