@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}

<script src="~/Content/scripts/plugins/ckeditor/ckeditor.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
<script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
<link href="~/Content/scripts/plugins/cxColor/css/jquery.cxcolor.css" rel="stylesheet" />
<script src="~/Content/scripts/plugins/cxColor/js/jquery.cxcolor.js"></script>
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">

<style>
    .form .formTitle {
        width: 110px;
    }

    .combo-select {
        max-width: initial;
    }

    .OutProjectName {
        width: 100%;
    }

    .form .formValue select {
        padding: 0px;
    }

    /*.filePicker > div {
        width: 102px;
        height: 37px;
    }*/
</style>
<script>
    var rolename = '@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName';
    var userid = '@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId';
    var username = '@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName';
    var deptid = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId';
    var deptcode = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode';
    var deptname = '@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName';
    var mode = request('mode');
    var jobid = request('jobid');          //起重吊装作业表ID
    var certid = request('certid');          //准吊证表ID
    var flag = true;
    $(function () {
        initJobControl();
        initCertControl();
        $("#tab1").click(function () {
            $("#JobInfo").show();
            $("#CertInfo").hide();
        });
        $("#tab2").click(function () {
            $("#JobInfo").hide();
            $("#CertInfo").show();
        });
    });

    //加载审核记录
    function loadJobAuditList() {
        //-审核记录
        var $gridTable = $('#LifthoistJobAudit');
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            url: "../../HighRiskWork/Lifthoist/GetAuditListToJson?businessid=" + jobid,
            postData: {},
            datatype: "json",
            colModel: [
                { label: '审核部门', name: 'AUDITDEPTNAME', width: '110', sortable: false, align: 'center' },
                { label: '审核人', name: 'AUDITUSERNAME', width: '110', sortable: false, align: 'center' },
                {
                    label: '审核时间', name: 'AUDITDATE', width: '110', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        return formatDate(rowObject.AUDITDATE, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '审核结果', name: 'AUDITSTATE', width: '100', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.AUDITSTATE == 1)
                            return "同意";
                        return "不同意";
                    }
                },
                { label: '审核意见', name: 'AUDITREMARK', width: '100', sortable: false, align: 'center' }
            ],
            cellsubmit: 'clientArray',
            multiselect: false,
            viewrecords: true,
            onSelectRow: function () {
            },
            gridComplete: function () {
            }
        });
        $gridTable.setGridWidth(($('#InfoBody').width() - 40));
    }
    function loadCertAuditList() {
        //-审核记录
        var $gridTable = $('#LifthoistCertAudit');
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            url: "../../HighRiskWork/Lifthoist/GetAuditListToJson?businessid=" + certid,
            postData: {},
            datatype: "json",
            colModel: [
                { label: '审核部门', name: 'AUDITDEPTNAME', width: '110', sortable: false, align: 'center' },
                { label: '审核人', name: 'AUDITUSERNAME', width: '110', sortable: false, align: 'center' },
                {
                    label: '审核时间', name: 'AUDITDATE', width: '110', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        return formatDate(rowObject.AUDITDATE, 'yyyy-MM-dd hh:mm');
                    }
                },
                {
                    label: '审核结果', name: 'AUDITSTATE', width: '100', sortable: false, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        if (rowObject.AUDITSTATE == 1)
                            return "同意";
                        return "不同意";
                    }
                },
                { label: '审核意见', name: 'AUDITREMARK', width: '100', sortable: false, align: 'center' }
            ],
            cellsubmit: 'clientArray',
            multiselect: false,
            viewrecords: true,
            onSelectRow: function () {
            },
            gridComplete: function () {
            }
        });
        $gridTable.setGridWidth(($('#InfoBody').width() - 40));
    }
    //加载安全措施
    function loadSafetyMeasure() {
        var $gridTable = $('#safetymeasure');
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            url: "../../HighRiskWork/Lifthoist/GetSafetyMeasureToJson?keyValue=" + certid,
            postData: {},
            datatype: "json",
            colModel: [
                { label: 'ID', name: 'ID', hidden: true, sortable: false, align: 'center' },
                { label: '排序', name: 'SORTNUM', hidden: true, sortable: false, align: 'center' },
                { label: '风险分析', name: 'ITEMNAME', width: '50%', sortable: false, align: 'center' },
                { label: '安全措施', name: 'ITEMVALUE', width: '50%', sortable: false, align: 'center' },
            ],
            cellsubmit: 'clientArray',
            rownumbers: true,
            multiselect: false,
            viewrecords: true,
            onSelectRow: function () {
            },
            gridComplete: function () {
            },
            loadComplete: function () {
            }
        });
        $gridTable.setGridWidth(($('#InfoBody').width() - 40));
    }
    //初始化控件
    function initJobControl() {
        //吊装工具名称
        $("#TOOLNAME").ComboBox({
            param: { EnCode: "ToolName" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "==请选择==",
            id: "ItemValue",
            text: "ItemName",
            height: "230px"
        });
        //获取表单
        if (!!jobid) {
            $.SetForm({
                url: "../../HighRiskWork/Lifthoist/GetFormJson",
                param: { keyValue: jobid },
                success: function (data) {
                    $("#JobInfo").formDeserialize(data)
                    if (data.QUALITYTYPE == 0) {
                        $("#tr_liftscheme").hide();
                    } else {
                        $("#tr_liftscheme").show();
                    }
                }
            })

            flag = false;
            file_upload.init({
                keyValue: jobid, extensions: '', isImage: false, el: '#uploader'
            });
            file_upload.bindFiles(flag, false, jobid, 'uploader', flag);
        }
        //查看
        $("#JobInfo").find("input:text,select,textarea,.ui-select, .ui-select-text , .ui-select-option-content").each(function () {
            $(this).attr("disabled", "disabled");
        });
        loadJobAuditList();
    }
    function initCertControl() {
        //吊装工具名称
        $("#TOOLNAMECert").ComboBox({
            param: { EnCode: "ToolName" },
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            description: "==请选择==",
            id: "ItemValue",
            text: "ItemName",
            height: "230px"
        });
        //获取表单
        if (!!certid) {
            $.SetForm({
                url: "../../HighRiskWork/Lifthoist/GetCertFormJson",
                param: { keyValue: certid },
                success: function (data) {
                    $("#CertInfo").formDeserialize(data);
                    $("#TOOLNAMECert").ComboBoxSetValue(data.TOOLNAME);
                }
            })
            flag = false;

            file_upload.init({
                keyValue: certid + '1', extensions: '', isImage: false, el: '#uploader1'
            });
            file_upload.bindFiles(flag, false, certid + '1', 'uploader1', flag);

            file_upload.init({
                keyValue: certid + '2', extensions: '', isImage: false, el: '#uploader2'
            });
            file_upload.bindFiles(flag, false, certid + '2', 'uploader2', flag);
        }
        //查看
        $("#CertInfo").find("input:text,select,textarea,.ui-select, .ui-select-text , .ui-select-option-content").each(function () {
            $(this).attr("disabled", "disabled");
        });
        loadCertAuditList();
        loadSafetyMeasure();
    }
</script>
<div id="InfoBody" style="margin-left:5px;margin-right:5px;">
    <ul class="nav nav-tabs">
        <li class="active"><a id="tab1" href="#JobInfo" data-toggle="tab">起重吊装作业信息</a></li>
        <li><a id="tab2" href="#CertInfo" data-toggle="tab">准吊证信息</a></li>
    </ul>
    <div id="div1" style="margin-top: 10px;"></div>
    <div id="JobInfo" class="tab-pane active">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;起重吊装作业基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table class="form">
                    <tr>
                        <td id="titleTag" class="formTitle">申请单位<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="APPLYCOMPANYNAME" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" />
                            <input id="APPLYCOMPANYCODE" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                            <input id="APPLYCOMPANYID" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <td id="titleTag" class="formTitle">申请人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="APPLYUSERNAME" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" />
                            <input id="APPLYUSERID" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                    </tr>
                    <tr>
                        <td id="titleTag" class="formTitle">申请时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="APPLYDATE" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        </td>
                        <td id="titleTag" class="formTitle">申请编号<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="APPLYCODESTR" type="text" disabled="disabled" class="form-control" placeholder="自动生成" />
                            <input id="APPLYCODE" type="hidden" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">工作负责人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="CHARGEPERSONNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="50" />
                            <input id="CHARGEPERSONID" type="hidden" class="form-control" />
                        </td>
                        <td class="formTitle">监护人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="GUARDIANNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="50" />
                            <input id="GUARDIANID" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">起吊重物质量描述<font face="宋体">*</font></td>
                        <td class="formValue">
                            <select id="QUALITYTYPE" name="QUALITYTYPE" class="form-control" isvalid="yes" checkexpession="NotNull">
                                <option value="">===请选择===</option>
                                <option value="0">30以下</option>
                                <option value="1">30T以上</option>
                                <option value="2">2台起重设备共同起吊3T及以上</option>
                            </select>
                        </td>
                        <td class="formTitle">吊装工具名称<font face="宋体">*</font></td>
                        <td class="formValue">
                               <div id="TOOLNAME" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">吊装施工单位<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="CONSTRUCTIONUNITNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" />
                            <input id="CONSTRUCTIONUNITID" type="hidden" class="form-control" />
                            <input id="CONSTRUCTIONUNITCODE" type="hidden" class="form-control" />
                        </td>
                        <td class="formTitle">吊装施工地点<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="CONSTRUCTIONADDRESS" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">作业时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <div style="float:left;width:48%;">
                                <input id="WORKSTARTDATE" type="text" class="form-control input-wdatepicker" />
                            </div>
                            <div style="float:left;width:4%;text-align:center;line-height:28px">
                                -
                            </div>
                            <div style="float:left;width:48%">
                                <input id="WORKENDDATE" type="text" class="form-control input-wdatepicker" />
                            </div>
                        </td>
                        <td class="formTitle">审核专业<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="CHECKMAJORNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" />
                            <input id="CHECKMAJORID" type="hidden" class="form-control" />
                            <input id="CHECKMAJORCODE" type="hidden" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">作业内容<font face="宋体">*</font></td>
                        <td class="formValue" colspan="3">
                            <textarea id="HOISTCONTENT" class="form-control" rows="5" maxlength="2000" isvalid="yes" checkexpession="NotNull"></textarea>
                        </td>
                    </tr>
                    <tr id="tr_liftscheme" style="display:none">
                        <td class="formTitle">起吊方案</td>
                        <td class="formValue" colspan="3">
                            <div class="ibox">
                                <div id="uploader" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="dndArea" class="placeholder">
                                            <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display: none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;审核记录</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table id="LifthoistJobAudit"></table>
            </div>
        </div>
    </div>
    <div id="CertInfo" class="tab-pane" style="display:none">
        <div class="center-Panel">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;准吊证基本信息</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <input id="LIFTHOISTJOBID" type="hidden" class="form-control" />
                    <table class="form">
                        <tr>
                            <td id="titleTag" class="formTitle">申请单位<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="APPLYCOMPANYNAME" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
                                <input id="APPLYCOMPANYCODE" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode" />
                                <input id="APPLYCOMPANYID" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId" />
                            </td>
                            <td id="titleTag" class="formTitle">申请人<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="APPLYUSERNAME" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
                                <input id="APPLYUSERID" type="hidden" class="form-control" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                            </td>
                        </tr>
                        <tr>
                            <td id="titleTag" class="formTitle">申请时间<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="APPLYDATE" type="text" disabled="disabled" class="form-control" isvalid="yes" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                            </td>
                            <td id="titleTag" class="formTitle">申请编号<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="APPLYCODESTR" type="text" disabled="disabled" class="form-control" placeholder="自动生成" />
                                <input id="APPLYCODE" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">吊装施工单位<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="CONSTRUCTIONUNITNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" disabled="disabled" />
                                <input id="CONSTRUCTIONUNITID" type="hidden" class="form-control" />
                                <input id="CONSTRUCTIONUNITCODE" type="hidden" class="form-control" />
                            </td>
                            <td class="formTitle">吊装施工地点<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="CONSTRUCTIONADDRESS" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" maxlength="100" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">吊装工具名称<font face="宋体">*</font></td>
                            <td class="formValue">
                                 <div id="TOOLNAMECert" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                            </td>
                            <td class="formTitle">作业时间<font face="宋体">*</font></td>
                            <td class="formValue">
                                <div style="float:left;width:48%;">
                                    <input id="WORKSTARTDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', maxDate: '#F{$dp.$D(\'WORKENDDATE\')}' })" isvalid="yes" checkexpession="NotNull" />
                                </div>
                                <div style="float:left;width:4%;text-align:center;line-height:28px">
                                    -
                                </div>
                                <div style="float:left;width:48%">
                                    <input id="WORKENDDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm', minDate: '#F{$dp.$D(\'WORKSTARTDATE\')}' })" isvalid="yes" checkexpession="NotNull" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">起重司机/操作工</td>
                            <td class="formValue">
                                <input id="DRIVERNAME" type="text" class="form-control" maxlength="50" />
                            </td>
                            <td class="formTitle">证号</td>
                            <td class="formValue">
                                <input id="DRIVERNUMBER" type="text" class="form-control" maxlength="50" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">专职指挥人员</td>
                            <td class="formValue">
                                <input id="FULLTIMENAME" type="text" class="form-control" maxlength="50" />
                            </td>
                            <td class="formTitle">证号</td>
                            <td class="formValue">
                                <input id="FULLTIMENUMBER" type="text" class="form-control" maxlength="50" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">人员资料</td>
                            <td class="formValue" colspan="3">
                                <div class="ibox">
                                    <div id="uploader1" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                        <div class="queueList">
                                            <div id="dndArea" class="placeholder">
                                                <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display: none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div>
                                            <div class="info"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">设备资料</td>
                            <td class="formValue" colspan="3">
                                <div class="ibox">
                                    <div id="uploader2" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 100px; margin-bottom: 10px;">
                                        <div class="queueList">
                                            <div id="dndArea1" class="placeholder">
                                                <div class="filePicker" style="margin-left: 25px; margin-top: 10px;"></div>
                                            </div>
                                        </div>
                                        <div class="statusBar" style="display: none;">
                                            <div class="progress">
                                                <span class="text">0%</span>
                                                <span class="percentage"></span>
                                            </div>
                                            <div class="info"></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;起重作业风险告知和安全措施</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="safetymeasure"></table>
                    <table id="safetyperson" class="form">
                        <tr>
                            <td class="formTitle" style="width:140px">工作负责人<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="CHARGEPERSONNAME" type="text" class="form-control" />
                                <input id="CHARGEPERSONID" type="hidden" class="form-control" />
                                <input id="CHARGEPERSONSIGN" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">所有吊装区域内人员<font face="宋体">*</font></td>
                            <td class="formValue">
                                <input id="HOISTAREAPERSONNAMES" type="text" class="form-control" />
                                <input id="HOISTAREAPERSONIDS" type="hidden" class="form-control" />
                                <input id="HOISTAREAPERSONSIGNS" type="hidden" class="form-control" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;审核记录</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table id="LifthoistCertAudit"></table>
                </div>
            </div>
        </div>
    </div>
</div>
