<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!--框架必需start-->
    <script src="~/Content/scripts/jquery/jquery-1.10.2.min.js"></script>
    <link href="~/Content/styles/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Content/scripts/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!--框架必需end-->
    <!--bootstrap组件start-->
    <link href="~/Content/scripts/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/scripts/bootstrap/bootstrap.extension.css" rel="stylesheet" />
    <script src="~/Content/scripts/bootstrap/bootstrap.min.js"></script>
    <!--bootstrap组件end-->
    <script src="~/Content/scripts/plugins/datepicker/WdatePicker.js"></script>

    @System.Web.Optimization.Styles.Render("~/Content/scripts/plugins/tree/css",
    "~/Content/scripts/plugins/datetime/css",
    "~/Content/scripts/plugins/wizard/css",
            "~/Content/styles/framework-ui.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/plugins/tree/js",
    "~/Content/scripts/plugins/validator/js",
    "~/Content/scripts/plugins/wizard/js",
            "~/Content/scripts/plugins/datepicker/js",
    "~/Content/scripts/utils/js")
    @System.Web.Optimization.Styles.Render("~/Content/scripts/plugins/jqgrid/css",
    "~/Content/scripts/plugins/tree/css",
    "~/Content/scripts/plugins/datetime/css",
            "~/Content/styles/framework-ui.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/plugins/jqgrid/js",
    "~/Content/scripts/plugins/tree/js",
    "~/Content/scripts/plugins/validator/js",
            "~/Content/scripts/plugins/datepicker/js",
    "~/Content/scripts/utils/js")
    <!--工作流设计器依赖start-->

    <link href="~/Content/scripts/plugins/simditor/css/simditor.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/cxColor/css/jquery.cxcolor.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/uploadify/uploadify.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/uploadify/uploadify.extension.css" rel="stylesheet" />
    <link href="~/Content/scripts/plugins/flow-ui/flow.css" rel="stylesheet" />

    <script src="~/Content/scripts/plugins/simditor/js/module.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/uploader.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/hotkeys.min.js"></script>
    <script src="~/Content/scripts/plugins/simditor/js/simditor.min.js"></script>
    <script src="~/Content/scripts/plugins/cxColor/js/jquery.cxcolor.js"></script>
    <script src="~/Content/scripts/plugins/uploadify/jquery.uploadify.min.js"></script>
    @System.Web.Optimization.Styles.Render("~/Content/styles/framework-flowall.css")
    @System.Web.Optimization.Scripts.Render("~/Content/scripts/flow/js")
    <!--工作流设计器依赖end-->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/content/scripts/bootstrap/html5shiv.js"></script>
        <script src="~/content/scripts/bootstrap/respond.min.js"></script>
        <script src="~/content/scripts/bootstrap/jquery.placeholder.min.js"></script>
        <script src="~/content/scripts/bootstrap/json2.js" type="text/javascript"></script>
        <script src="~/content/scripts/bootstrap/core.js" type="text/javascript"></script>
    <![endif]-->

</head>
<body>
    <form id="form1">
        @{
            if (ERCHTMS.Code.OperatorProvider.Provider.Current() == null)
            {
                var path = Request.ApplicationPath;
                @Html.Raw("<script type='text/javascript'>top.window.location='" + path + "/login?Login_Error=1'</script>");
            }
        }
        @RenderBody()
        @Html.AntiForgeryToken()
    </form>
</body>
</html>