@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script>
    var keyValue = request("keyValue"); //主键 隐患信息主键
    var actiontype = request("actiontype");
    var actiondo = request("actiondo");
    var hidattachmentId = "";
    var isenableback = true;
    var isstopback = false;
    var IsDeliver = "";
    var curIndustry = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Industry";
    var ControlPicMustUpload = ""; //相关图片必传控制配置
    $(function () {
        $.ajax({
            type: "get",
            url: "../../HiddenTroubleManage/HTBaseInfo/IsEnableMinimalistMode",
            success: function (data) {
                //启用极简模式
                if (!!parseInt(data)) {
                    $(".tab0").remove();
                    $(".tab1").css("display", "");
                    MinimalistInit(); //极简版本
                    $(".hid").css("display", "none");
                }
                else { //专业版本
                    $(".tab1").remove();
                    $(".tab0").css("display", "");
                    initControl(); //电力版本
                }
            }
        });
    });

    //获取历史整改信息
    function GetHistoryChange() {
        var keyCode = $("#HIDCODE").val();
        dialogOpen({
            id: 'HistoryForm',
            title: '隐患整改信息',
            url: '/HiddenTroubleManage/HTChangeInfo/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }
    //获取历史验收信息
    function GetHistoryAccetp() {
        var keyCode = $("#HIDCODE").val();
        dialogOpen({
            id: 'HistoryForm',
            title: '隐患验收信息',
            url: '/HiddenTroubleManage/HTAcceptInfo/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }
    //获取评估列表 approvalGridTable
    function GetApprovalGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#approvalGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTApproval/GetListJson?hideCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '评估人', name: 'APPROVALPERSONNAME', index: 'APPROVALPERSONNAME', width: 120, align: 'center' },
                { label: '评估单位', name: 'APPROVALDEPARTNAME', index: 'APPROVALDEPARTNAME', width: 150, align: 'center' },
                {
                    label: '评估情况', name: 'APPROVALRESULT', index: 'APPROVALRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVALRESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'APPROVALDATE', index: 'APPROVALDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //评估详情
    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患评估详情',
            url: '/HiddenTroubleManage/HTApproval/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }
    //复查验证列表
    function GetRecheckGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#recheckGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTReCheck/GetHistoryListJson?keyCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:DetailRecheck('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '复查单位', name: 'RECHECKDEPARTNAME', index: 'RECHECKDEPARTNAME', width: 150, align: 'center' },
                { label: '复查人', name: 'RECHECKPERSONNAME', index: 'RECHECKPERSONNAME', width: 120, align: 'center' },
                {
                    label: '复查结果', name: 'RECHECKSTATUS', index: 'RECHECKSTATUS', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.RECHECKSTATUS == "0" ? "验证不合格" : "验证合格";
                        return html;
                    }
                },
                {
                    label: '复查时间', name: 'RECHECKDATE', index: 'RECHECKDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'recheckdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //复查验证详情
    function DetailRecheck(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '复查验证详情',
            url: '/HiddenTroubleManage/HTReCheck/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
    //整改效果评估列表
    function GetEstimateGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#estimateGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTEstimate/GetHistoryListJson?keyCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:DetailEstimate('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '评估单位', name: 'ESTIMATEDEPARTNAME', index: 'ESTIMATEDEPARTNAME', width: 150, align: 'center' },
                { label: '评估人', name: 'ESTIMATEPERSONNAME', index: 'ESTIMATEPERSONNAME', width: 120, align: 'center' },
                {
                    label: '评估结果', name: 'ESTIMATERESULT', index: 'ESTIMATERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.ESTIMATERESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'ESTIMATEDATE', index: 'ESTIMATEDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'ESTIMATEDATE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //整改效果评估详情
    function DetailEstimate(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '整改效果评估详情',
            url: '/HiddenTroubleManage/HTEstimate/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
    //初始化控件
    function initControl() {
        //验证当前是否存在flash插件
        var fls = flashChecker();
        var s = "";
        if (!fls.f) {
            var html = "<a href='http://get.adobe.com/cn/flashplayer/' style='text-decoration:none;color:red;' target='_bank'>您的浏览器未安装Flash插件,无法支持文件上传功能,请下载安装!</a>";
            $("#HidMessage").html(html);
        }
        $(".center-Panel").css({ "width": "100%", "height": ($(top.window).height() - 160) + "px", "padding-top": "38px" });
        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetInitDataJson?keyValue=" + keyValue,
            success: function (data) {
                var IsDisable_MajorClassify = data.IsDisable_MajorClassify;//是否禁用专业分类
                ControlPicMustUpload = data.ControlPicMustUpload; //相关图片必传控制
                if (IsDisable_MajorClassify > 0) {
                    $(".majorTr td:eq(0)").css("display", "none");
                    $(".majorTr td:eq(1)").css("display", "none");
                    $("#MAJORCLASSIFY").removeAttr("isvalid");
                    data.MajorClassify = [];
                }
                //用于判定是否具有转交功能
                IsDeliver = data.IsDeliver;
                //为空则隐藏
                if (!IsDeliver) { $("#btn_Deliver").css("display", "none"); }
                //隐患整改图片
                $("#HIDCHANGEPHOTO").val(data.HidChangePhoto);
                if (!!data.ATTACHMENT) {
                    //隐患附件
                    $("#ATTACHMENT").val(data.ATTACHMENT);
                }
                else {
                    var attachmentID = "@Guid.NewGuid().ToString()";
                    $("#ATTACHMENT").val(attachmentID);
                }
                //检查类型
                $("#CHECKTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.CheckType
                });
                //隐患级别
                $("#HIDRANK").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidRank,
                });
                //隐患专业分类
                $("#MAJORCLASSIFY").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.MajorClassify,
                });
                //隐患类别
                $("#HIDTYPE").ComboBoxTree({
                    url: "../../HiddenTroubleManage/HTBaseInfo/GetHiddenTypeDataJson",
                    description: "==请选择==",
                    allowSearch: false
                });
                //所属单位
                $("#HIDDEPARTNAME").ComboBox({
                    id: "DepartmentId",
                    text: "FullName",
                    description: "===请选择===",
                    allowSearch: false,
                    data: data.DeptData
                });
            }
        });

        //整改完成情况
        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
        //隐藏重大隐患填项
        $(".form:eq(2) .importHid").css("display", "none");
        //回退原因
        $(".form:eq(0) tr:eq(6)").css("display", "none");
        //是否回退
       // var isBackVal = $("input[name='ISBACK']:checked").val();
        //不回退
        //if (isBackVal == "0") {
        //}
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {

                    //隐患整改
                    if (null != data.changeInfo) {
                        if (!data.changeInfo.HIDCHANGEPHOTO) {
                            data.changeInfo.HIDCHANGEPHOTO = $("#HIDCHANGEPHOTO").val();
                        }
                        $("#CHANGEID").val(data.changeInfo.ID);
                        $("#form1").formDeserialize(data.changeInfo);
                        //是否整改完成
                        if (!!data.changeInfo.CHANGERESULT)
                        {
                            if (data.changeInfo.CHANGERESULT == "1") {
                                $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                            }
                            else {
                                $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                            }
                        }
          
                        //是否回退
                        if (data.changeInfo.ISBACK == "1") {
                            $("input[name='ISBACK']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISBACK']:eq(1)").prop("checked", "checked");
                        }
                    }
                    //隐患验收
                    if (null != data.acceptInfo) {
                        $("#ACCEPTID").val(data.acceptInfo.ID);
                        $("#form1").formDeserialize(data.acceptInfo);
                    }
                    //则禁用是否退回
                    if (!!data.isreformback && data.isreformback == 1) {
                        isenableback = false; //
                        //是否退回
                        $("input[name='ISBACK']:eq(1)").prop("checked", "checked"); //否
                        $("input[name='ISBACK']").attr("disabled", "disabled");
                    }
                    //隐患基本信息
                    if (null != data.baseInfo) {
                        //加载
                        LoadTips("yh" + data.baseInfo.HIDDEPART);

                        $("#form1").formDeserialize(data.baseInfo);
                        $("#CHECKTYPE").ComboBoxSetValue(data.baseInfo.CHECKTYPE);
                        $("#HIDRANK").ComboBoxSetValue(data.baseInfo.HIDRANK);
                        $("#MAJORCLASSIFY").ComboBoxSetValue(data.baseInfo.MAJORCLASSIFY);  //专业分类/隐患分类
                        $("#HIDTYPE").ComboBoxTreeSetValue(data.baseInfo.HIDTYPE); //隐患类别
                        $("#HIDDEPARTNAME").ComboBoxSetValue(data.baseInfo.HIDDEPART); //所属单位
                        //国电新疆版本,禁用回退功能
                        if (data.baseInfo.ADDTYPE == "3") {
                            isstopback = true;
                            $("input[name='ISBACK']").each(function (index, ele) {
                                $(this).attr("disabled", "disabled");
                            });
                        }
                        //是否挂牌督办
                        if (data.baseInfo.ISGETAFTER == "1") {
                            $("input[name='ISGETAFTER']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISGETAFTER']:eq(1)").prop("checked", "checked");
                        }

                        //是否曝光
                        if (data.baseInfo.EXPOSURESTATE == "1") {
                            $("input[name='EXPOSURESTATE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='EXPOSURESTATE']:eq(1)").prop("checked", "checked");
                        }

                        var applicationstatus = data.changeInfo.APPLICATIONSTATUS;
                        //正在延期申请中的，无法进行转交
                        if (applicationstatus == "1") {
                            $("#btn_Deliver").remove();
                        }
                    }
                    //隐藏重大隐患填项
                    var rankname = $("#HIDRANK").ComboBoxGetText();
                    if (!!rankname) {
                        if (rankname.indexOf("重大") >= 0) {
                            //隐藏重大隐患填项
                            $(".form:eq(2) .importHid").css("display", "");
                        }
                    }


                    //当前隐患类别为设备设施的时候
                    var curTextbox = $("#HIDTYPE").text();
                    if (curTextbox.indexOf("设备设施") >= 0) {
                        $(".form:eq(2) tr:eq(4)").css("display", "");
                    }
                    else {
                        $(".form:eq(2) tr:eq(4)").css("display", "none");
                    }
                }
            })
        }
        uploadify("uploader_attachment", false); //整改附件
        uploadify("uploader_hidchangephoto", true); //整改图片
        uploadify("uploader_hidphoto", true); //隐患图片
        GetApprovalGrid();  //评估列表
        //查看下
        if (actiontype == "view") {
            $("#btn_Save").attr("disabled", "disabled");
            $("#btn_Submit").attr("disabled", "disabled");
            $("#btn_Deliver").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
        $(".form-control").focus(function () {
            $(".poptip").remove();
        });
        //根据当前隐患，控制整改效果评估是否显示
        var hidRankText = $("#HIDRANK").ComboBoxGetText();
        //当前查看的是重大隐患
        if (hidRankText.indexOf("重大") >= 0) {
            $("#btn_ExportImportant").css("display", "");
            $("#div_recheck").css("display", "none");
            $("#div_estimate").css("display", "");
            //整改效果评估信息
            GetEstimateGrid();
        }
        else {
            $("#div_recheck").css("display", "");
            $("#div_estimate").css("display", "none"); //整改效果评估面板整体隐藏，一般隐患没有整改效果评估
            //复查验证信息
            GetRecheckGrid();
        }
        //公共方法
        CommonMethod();
    }

    //初始化控件
    function MinimalistInit() {
        //验证当前是否存在flash插件
        var fls = flashChecker();
        var s = "";
        if (!fls.f) {
            var html = "<a href='http://get.adobe.com/cn/flashplayer/' style='text-decoration:none;color:red;' target='_bank'>您的浏览器未安装Flash插件,无法支持文件上传功能,请下载安装!</a>";
            $("#HidMessage").html(html);
        }
        $(".center-Panel").css({ "width": "100%", "height": ($(top.window).height() - 160) + "px", "padding-top": "38px" });
        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetInitDataJson",
            success: function (data) {
                //用于判定是否具有转交功能
                IsDeliver = data.IsDeliver;
                ControlPicMustUpload = data.ControlPicMustUpload; //相关图片必传控制
                //为空则隐藏
                if (!IsDeliver) { $("#btn_Deliver").css("display", "none"); }

                var IsEnableMajorClassify = data.IsEnableMajorClassify;//是否启用专业分类
                if (IsEnableMajorClassify > 0) {
                    $(".form:eq(2) tr:eq(5)").css("display", "");
                    $("#MAJORCLASSIFY").attr("isvalid", "yes");
                }


                //隐患整改图片
                $("#HIDCHANGEPHOTO").val(data.HidChangePhoto);
                if (!!data.ATTACHMENT) {
                    //隐患附件
                    $("#ATTACHMENT").val(data.ATTACHMENT);
                }
                else {
                    var attachmentID = "@Guid.NewGuid().ToString()";
                    $("#ATTACHMENT").val(attachmentID);
                }
                //检查类型
                $("#CHECKTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.CheckType
                });
                //隐患级别
                $("#HIDRANK").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidRank,
                });
                //隐患专业分类
                $("#MAJORCLASSIFY").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.MajorClassify,
                });
                //隐患类别
                $("#HIDTYPE").ComboBoxTree({
                    url: "../../HiddenTroubleManage/HTBaseInfo/GetHiddenTypeDataJson",
                    description: "==请选择==",
                    allowSearch: false
                });
                //所属单位
                $("#HIDDEPARTNAME").ComboBox({
                    id: "DepartmentId",
                    text: "FullName",
                    description: "===请选择===",
                    allowSearch: false,
                    data: data.DeptData
                });
            }
        });
        //整改完成情况
        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
        //隐藏重大隐患填项
        $(".form:eq(2) .importHid").css("display", "none");
        //回退原因
        $(".form:eq(0) tr:eq(6)").css("display", "none");
        //是否回退
        //var isBackVal = $("input[name='ISBACK']:checked").val();
        //不回退
        //if (isBackVal == "0") {
        //    $(".form:eq(0) tr:eq(6)").css("display", "none");
        //}
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //隐患整改
                    if (null != data.changeInfo) {
                        if (!data.changeInfo.HIDCHANGEPHOTO) {
                            data.changeInfo.HIDCHANGEPHOTO = $("#HIDCHANGEPHOTO").val();
                        }
                        $("#CHANGEID").val(data.changeInfo.ID);
                        $("#form1").formDeserialize(data.changeInfo);
                        //是否整改完成
                        if (!!data.changeInfo.CHANGERESULT) {
                            if (data.changeInfo.CHANGERESULT == "1") {
                                $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                            }
                            else {
                                $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                            }
                        }
                        //是否回退
                        if (data.changeInfo.ISBACK == "1") {
                            $("input[name='ISBACK']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISBACK']:eq(1)").prop("checked", "checked");
                        }
                    }
                    //隐患验收
                    if (null != data.acceptInfo) {
                        $("#ACCEPTID").val(data.acceptInfo.ID);
                        $("#form1").formDeserialize(data.acceptInfo);
                    }
                    //则禁用是否退回
                    if (!!data.isreformback && data.isreformback == 1) {
                        isenableback = false; //
                        //是否退回
                        $("input[name='ISBACK']:eq(1)").prop("checked", "checked"); //否
                        $("input[name='ISBACK']").attr("disabled", "disabled");
                    }
                    //隐患基本信息
                    if (null != data.baseInfo) {
                        //加载
                        LoadTips("yh" + data.baseInfo.HIDDEPART);
                        $("#form1").formDeserialize(data.baseInfo);
                        $("#CHECKTYPE").ComboBoxSetValue(data.baseInfo.CHECKTYPE);
                        $("#HIDRANK").ComboBoxSetValue(data.baseInfo.HIDRANK);
                        $("#MAJORCLASSIFY").ComboBoxSetValue(data.baseInfo.MAJORCLASSIFY);  //专业分类/隐患分类
                        $("#HIDTYPE").ComboBoxTreeSetValue(data.baseInfo.HIDTYPE); //隐患类别
                        $("#HIDDEPARTNAME").ComboBoxSetValue(data.baseInfo.HIDDEPART); //所属单位
                        //国电新疆版本,禁用回退功能
                        if (data.baseInfo.ADDTYPE == "3") {
                            isstopback = true;
                            $("input[name='ISBACK']").each(function (index, ele) {
                                $(this).attr("disabled", "disabled");
                            });
                        }
                        //是否挂牌督办
                        if (data.baseInfo.ISGETAFTER == "1") {
                            $("input[name='ISGETAFTER']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISGETAFTER']:eq(1)").prop("checked", "checked");
                        }
                        //是否曝光
                        if (data.baseInfo.EXPOSURESTATE == "1") {
                            $("input[name='EXPOSURESTATE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='EXPOSURESTATE']:eq(1)").prop("checked", "checked");
                        }
                        var applicationstatus = data.changeInfo.APPLICATIONSTATUS;
                        //正在延期申请中的，无法进行转交
                        if (applicationstatus == "1") {
                            $("#btn_Deliver").remove();
                        }
                    }
                    //隐藏重大隐患填项
                    var rankname = $("#HIDRANK").ComboBoxGetText();
                    if (!!rankname) {
                        if (rankname.indexOf("重大") >= 0) {
                            //隐藏重大隐患填项
                            $(".form:eq(2) .importHid").css("display", "");
                        }
                    }
                    //当前隐患类别为设备设施的时候
                    var curTextbox = $("#HIDTYPE").text();
                    if (curTextbox.indexOf("设备设施") >= 0) {
                        $(".form:eq(2) tr:eq(4)").css("display", "");
                    }
                    else {
                        $(".form:eq(2) tr:eq(4)").css("display", "none");
                    }
                }
            })
        }
        uploadify("uploader_attachment", false); //整改附件
        uploadify("uploader_hidchangephoto", false); //整改图片
        uploadify("uploader_hidphoto", false); //隐患图片
        GetApprovalGrid();  //评估列表
        //查看下
        if (actiontype == "view") {
            $("#btn_Save").attr("disabled", "disabled");
            $("#btn_Submit").attr("disabled", "disabled");
            $("#btn_Deliver").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
        $(".form-control").focus(function () {
            $(".poptip").remove();
        });
        //根据当前隐患，控制整改效果评估是否显示
        var hidRankText = $("#HIDRANK").ComboBoxGetText();
        //当前查看的是重大隐患
        if (hidRankText.indexOf("重大") >= 0) {
            $("#btn_ExportImportant").removeAttr("style");
            $("#div_recheck").css("display", "none");
            $("#div_estimate").css("display", "");
            //整改效果评估信息
            GetEstimateGrid();
        }
        else {
            $("#div_recheck").css("display", "");
            $("#div_estimate").css("display", "none"); //整改效果评估面板整体隐藏，一般隐患没有整改效果评估
            //复查验证信息
            GetRecheckGrid();
        }
        //公共方法
        CommonMethod();
    }

    function CommonMethod() {
        //登记
        $("#btn_Save").click(function () {
            AcceptClick();
        });
        //提交流程
        $("#btn_Submit").click(function () {
            SubmitAction();
        });
        //转交
        $("#btn_Deliver").click(function () {
            var idx = dialogOpen({
                id: "DeliverForm",
                title: "隐患整改转交",
                url: '/HiddenTroubleManage/HTChangeInfo/DeliverForm?keyValue=' + keyValue + "&changeid=" + $("#CHANGEID").val(),
                width: ($(top.window).width() / 2) + "px",
                height: ($(top.window).height() / 2) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(idx);
                }
            });
        });
        //整改结果
        $("input[name='CHANGERESULT']").click(function () {
            var isChangeValue = $(this).val();
            //已经完成
            if (isChangeValue == "1") {
                //是否回退
                $("input[name='ISBACK']").attr("disabled", "disabled");
                $("input[name='ISBACK']:eq(1)").prop("checked", "checked");
                //整改完成时间
                $("#CHANGEFINISHDATE").attr("isvalid", "yes");
                //实际治理资金
                $("#REALITYMANAGECAPITAL").attr("isvalid", "yes");
                $(".form:eq(0) tr:eq(2) td:eq(2)").html("整改完成时间<span style='color:red;'>*</span>"); //整改完成时间
                $(".form:eq(0) tr:eq(7) td:eq(2)").html("实际治理资金(元)<span style='color:red;'>*</span>"); //实际治理资金(元)

                $("#CHANGERESUME").attr("isvalid", "yes");
                $(".form:eq(0) tr:eq(4) td:eq(0)").html("整改情况描述<span style='color:red;'>*</span>");//整改情况描述
            }
            else {
                if (isenableback) {
                    //是否回退
                    $("input[name='ISBACK']").removeAttr("disabled");
                }
                //整改完成时间
                $("#CHANGEFINISHDATE").removeAttr("isvalid");
                //实际治理资金
                $("#REALITYMANAGECAPITAL").removeAttr("isvalid");
                $(".form:eq(0) tr:eq(2) td:eq(2) span").remove(); //整改完成时间
                $(".form:eq(0) tr:eq(7) span").remove(); //实际治理资金

                //整改情况描述
                $("#CHANGERESUME").removeAttr("isvalid");
                $(".form:eq(0) tr:eq(4) td:eq(0) span").remove(); //整改情况描述
            }

            //禁用是否回退
            if (isstopback) {
                $("input[name='ISBACK']:eq(1)").prop("checked", "checked");
                $("input[name='ISBACK']").each(function (index, ele) {
                    $(this).attr("disabled", "disabled");
                });
            }
        });
        //是否回退
        $("input[name='ISBACK']").click(function () {
            var isbackValue = $(this).val();
            if (isbackValue == "1") {
                $("#btn_Save").attr("disabled", "disabled");
                $("input[name='CHANGERESULT']").attr("disabled", "disabled");
                $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                $(".form:eq(0) tr:eq(6)").css("display", "");
                //整改完成时间
                $("#CHANGEFINISHDATE").removeAttr("isvalid");
                //实际治理资金
                $("#REALITYMANAGECAPITAL").removeAttr("isvalid");
                //回退原因
                $("#BACKREASON").attr("isvalid", "yes");
                $(".form:eq(0) tr:eq(2) td:eq(2) span").remove(); //整改完成时间
                $(".form:eq(0) tr:eq(7) span").remove(); //实际治理资金
                $(".form:eq(0) tr:eq(6) td:eq(0)").html("回退原因<span style='color:red;'>*</span>"); //回退原因(元)

                //整改情况描述
                $("#CHANGERESUME").removeAttr("isvalid");
                $(".form:eq(0) tr:eq(4) td:eq(0) span").remove(); //整改情况描述
            }
            else {
                $("#btn_Save").removeAttr("disabled");
                $("input[name='CHANGERESULT']").removeAttr("disabled");
                $(".form:eq(0) tr:eq(6)").css("display", "none");
                //回退原因
                $("#BACKREASON").removeAttr("isvalid");
                $("#BACKREASON").val("");
            }
        });
    }

    //保存表单;
    function AcceptClick() {
        var postData = $("#form1").formSerialize(keyValue);
        var changeResultVal = $("input[name='CHANGERESULT']:checked").val();
        postData["CHANGERESULT"] = changeResultVal;
        var isBackVal = $("input[name='ISBACK']:checked").val();
        postData["ISBACK"] = isBackVal;
        $.SaveForm({
            url: "../../HiddenTroubleManage/HTChangeInfo/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
    }
    //提交流程
    function SubmitAction() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var changeResultVal = $("input[name='CHANGERESULT']:checked").val();
        var isBackVal = $("input[name='ISBACK']:checked").val();
        var subCount = 0;
        if (!!ControlPicMustUpload) {
            var array = new Array();
            if (ControlPicMustUpload.indexOf("HIDCHANGEPHOTO") >= 0) {
                array.push({ key: "HIDCHANGEPHOTO", value: $("#HIDCHANGEPHOTO").val() });
            }
            if (array.length > 0) {
                //绑定附件
                $.ajax({
                    url: '../../PublicInfoManage/ResourceFile/GetFilesByJsonData',
                    data: { jsonData: JSON.stringify(array) },
                    type: "post",
                    success: function (data) {
                        var yesSubmit = "";
                        if (!!data) {
                            var result = eval("(" + data + ")");
                            $(result).each(function (i, ele) {
                                var key = ele.key;
                                switch (key) {
                                    case "HIDCHANGEPHOTO":
                                        yesSubmit += parseInt(ele.value) > 0 ? "2" : ""; //隐患整改图片
                                        break;
                                }
                            });

                            var errorMsg = "请上传";
                            if (ControlPicMustUpload.indexOf("HIDCHANGEPHOTO") >= 0) {
                                if (yesSubmit.indexOf("2") >= 0) {
                                    subCount += 1;
                                }
                                else {
                                    errorMsg += "隐患整改图片,";
                                }
                            }
                            if (changeResultVal == "1" || isBackVal == "1") {
                                if (subCount == result.length) {
                                    SubmitData();
                                }
                                else {
                                    if (subCount < result.length) {
                                        errorMsg = errorMsg.substring(0, errorMsg.length - 1);
                                    }
                                    dialogMsg(errorMsg, 0);
                                }
                            }
                            else {
                                dialogMsg('请确认整改是否完成!', 0);
                            }
                        }
                    }
                });
            }
        }
        else {
            SubmitData();
        }
    }

    function SubmitData()
    {
        var postData = $("#form1").formSerialize(keyValue);
        var changeResultVal = $("input[name='CHANGERESULT']:checked").val();
        postData["CHANGERESULT"] = changeResultVal;
        var isBackVal = $("input[name='ISBACK']:checked").val();
        postData["ISBACK"] = isBackVal;

        //完成状态提交或者退回
        if (changeResultVal == "1" || isBackVal == "1") {
            $("#btn_Submit").attr("disabled", "disabled");
            $.SaveForm({
                url: "../../HiddenTroubleManage/HTChangeInfo/SubmitForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                    top.refreshWork();
                }
            })
            $("#btn_Submit").removeAttr("disabled");
        }
        else {
            dialogMsg('请确认整改是否完成!', 0);
        }
    }

    //上传文件
    function uploadify(objId, isimage) {
        var folderId = "";
        var fileType = 'bmp,ico,gif,jpeg,jpg,png,psd';
        var isdelete = actiontype == "view" ? false : true;
        switch (objId) {
            case "uploader_hidphoto": //隐患图片
                folderId = $("#HIDPHOTO").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#HIDPHOTO").val(folderId);
                }
                isdelete = false;
                break;
            case "uploader_hidchangephoto": //整改图片
                folderId = $("#HIDCHANGEPHOTO").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#HIDCHANGEPHOTO").val(folderId);
                }
                if (actiontype != "view") {
                    file_upload.init({
                        keyValue: folderId, extensions: fileType, isImage: isimage, el: '#uploader_hidchangephoto'
                    });
                }
                break;
            case "uploader_attachment":  //整改附件
                folderId = $("#ATTACHMENT").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#ATTACHMENT").val(folderId);
                }
                fileType = 'bmp,ico,gif,jpeg,jpg,png,psd,zip,rar,doc,docx,xls,xlsx,pdf,txt,chm';
                if (actiontype != "view") {
                    file_upload.init({
                        keyValue: folderId, extensions: fileType, isImage: isimage, el: '#uploader_attachment'
                    });
                }
                break;
        }

        $.ajax({
            url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
            data: { recId: folderId },
            type: "post",
            success: function (data) {
                var objdata = eval("(" + data + ")"); //转化为对象类型
                file_upload.bind(objdata, isdelete, isimage, folderId, objId);
            }
        });
    }
    //隐患信息报告单
    function exportImportant() {  //隐患基本信息
        window.location.href = "../../HiddenTroubleManage/HTBaseInfo/ExportImportant?keyValue=" + keyValue;
    }
    //隐患排查档案
    function exportRecordInfo() {
        //HRDL专用
        var result = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsOpenPassword"))";
        if (result == "true") {
            Loading(true, "正在导出...");
            $.ajax({
                url: "../../SaftyCheck/SaftyCheckDataRecord/ImportResult",
                data: { checkId: keyValue, checkType: 2 },
                type: "post",
                dataType: "JSON",
                success: function (data) {
                    if (data.type == 1) {
                        window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + data.resultdata + "&newFileName=隐患排查档案.doc";
                    } else {
                        dialogAlert(data.message);
                    }
                    Loading(false);
                }
            });
        } else { //通用版本
            window.location.href = "../../HiddenTroubleManage/HTBaseInfo/ExportRecordInfo?keyValue=" + keyValue;
        }
    }

</script>
@**专业模式*@
<div class="tab0" style="display:none">
    <div class="center-Panel">
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患整改信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryChange()">历史整改记录</a>&nbsp;&nbsp;<a href="#" onclick="viewextension(keyValue,$('#HIDCODE').val())">整改延期记录</a>&nbsp;&nbsp;<a href="#" onclick="viewchangeplan(keyValue)">整改计划</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form" style="height:330px;">
                        <tr>
                            <td class="formTitle">整改责任人</td>
                            <td class="formValue">
                                <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHANGEPERSON" type="hidden" />
                                <input id="CHANGEID" type="hidden" />
                                <input id="APPSIGN" type="hidden" value="Web" />
                            </td>
                            <td class="formTitle">整改人电话</td>
                            <td class="formValue">
                                <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改责任单位</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改截止时间</td>
                            <td class="formValue">
                                <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                            <td class="formTitle">整改完成时间<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" errormsg="整改完成时间" isvalid="yes" checkexpession="NotNull" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改措施</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled" readonly isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改情况描述<span style="color:red;">*</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGERESUME" class="form-control" isvalid="yes" checkexpession="LenStr" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改结果</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" />已完成
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" />未完成
                                    </label>
                                </div>
                            </td>
                            <td class="formTitle">是否回退</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISBACK" id="ISBACK1" value="1" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISBACK" id="ISBACK2" value="0" checked="checked" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">回退原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="BACKREASON" class="form-control" errormsg="回退原因" checkexpession="NotNull"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">计划治理资金(元)</td>
                            <td class="formValue">
                                <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle">实际治理资金(元)<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="REALITYMANAGECAPITAL" type="text" class="form-control" checkexpession="Num" errormsg="实际治理资金" isvalid="yes" value="0" />
                            </td>
                        </tr>
                    </table>
                    <table class="form">
                        <tr>
                            <td class="formTitle">整改附件</td>
                            <td class="formValue" colspan="3">
                                <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                                <div id="uploader_attachment" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_attachment_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改图片</td>
                            <td class="formValue" colspan="3">
                                <input id="HIDCHANGEPHOTO" type="hidden" /><!--整改相片-->
                                <div id="uploader_hidchangephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidchangephoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr style="display:none;">
                            <td class="formTitle">隐患编码<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="HIDCODE" type="text" class="form-control" disabled="disabled" />
                                <input id="CREATEUSERID" type="hidden" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属单位<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <div id="HIDDEPARTNAME" type="select" style="display:none;" class="ui-select" disabled="disabled" />
                            </td>
                        </tr>
                        <tr id="specialTr">
                            <td class="formTitle">隐患名称</td>
                            <td class="formValue">
                                <input id="HIDNAME" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属部门<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <input id="HIDBMNAME" type="text" style="display:none;" class="form-control" disabled="disabled" />
                                <input id="HIDBMID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患级别</td>
                            <td class="formValue">
                                <div id="HIDRANK" type="select" class="ui-select" disabled="disabled"></div>
                            </td>
                            <td class="formTitle">隐患区域</td>
                            <td class="formValue">
                                <input id="HIDPOINTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDPOINT" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr class="majorTr">
                            <td class="formTitle">专业分类</td>
                            <td class="formValue">
                                <div id="MAJORCLASSIFY" type="select" class="ui-select" disabled="disabled" />
                            </td>
                            <td class="formTitle">隐患类别</td>
                            <td class="formValue">
                                <div id="HIDTYPE" type="selectTree" class="ui-select" disabled="disabled"></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="formTitle">设备名称</td>
                            <td class="formValue">
                                <input id="DEVICENAME" type="text" class="form-control" disabled="disabled" />
                                <input id="DEVICEID" type="hidden" />
                            </td>
                            <td class="formTitle">设备编号</td>
                            <td class="formValue">
                                <input id="DEVICECODE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle"><span style="white-space:pre-wrap;">事故隐患描述(简题)</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDESCRIBE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="hid">
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">可能导致的后果</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCONSEQUENCE" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患图片</td>
                            <td class="formValue" colspan="3">
                                <!--照片-->
                                <input id="HIDPHOTO" type="hidden" /><!--隐患相片-->
                                <div id="uploader_hidphoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">排查人</td>
                            <td class="formValue">
                                <input id="CHECKMANNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHECKMAN" type="hidden" />
                            </td>
                            <td class="formTitle">排查单位</td>
                            <td class="formValue">
                                <input id="CHECKDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHECKDEPARTID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">检查类型</td>
                            <td class="formValue">
                                <div id="CHECKTYPE" type="select" class="ui-select" disabled="disabled" />
                            </td>
                            <td class="formTitle">检查名称</td>
                            <td class="formValue">
                                <input id="SAFETYCHECKNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="SAFETYCHECKOBJECTID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">排查日期</td>
                            <td class="formValue">
                                <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                            <td class="formTitle hid">隐患地点</td>
                            <td class="formValue hid">
                                <input id="HIDPLACE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr class="hid">
                            <td class="formTitle">所属工程</td>
                            <td class="formValue">
                                <input id="HIDPROJECTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDPROJECT" type="hidden" />
                            </td>
                            <td class="formTitle">厂级监控人员</td>
                            <td class="formValue">
                                <input id="MONITORPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="MONITORPERSONID" type="hidden" />
                            </td>
                        </tr>
                        <tr class="hid">
                            <td class="formTitle">隐患报告摘要</td>
                            <td class="formValue" colspan="3">
                                <textarea id="REPORTDIGEST" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="hid">
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">主要预控及治理措施</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="PREVENTMEASURE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>

                        <tr class="importHid">
                            <td class="formTitle">隐患现状</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDSTATUS" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患产生原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDREASON" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患危害程度</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDANGERLEVEL" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患整改计划</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCHAGEPLAN" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">应急措施简述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="EXIGENCERESUME" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">是否挂牌督办</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">是否曝光</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患评估与预评估信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-left:10px;">
                    <table id="approvalGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患验收信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryAccetp()">历史验收记录</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">验收人</td>
                            <td class="formValue">
                                <input id="ACCEPTPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="ACCEPTPERSON" type="hidden" />
                                <input id="ACCEPTID" type="hidden" />
                            </td>
                            <td class="formTitle">验收单位</td>
                            <td class="formValue">
                                <input id="ACCEPTDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="ACCEPTDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收日期</td>
                            <td class="formValue" colspan="3">
                                <input id="ACCEPTDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_recheck" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;复查验证信息</strong>
                <span class="tools pull-right">

                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="recheckGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_estimate" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;整改效果评估</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="estimateGridTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
@**极简模式*@
<div class="tab1" style="display:none">
    <div class="center-Panel">
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患整改信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryChange()">历史整改记录</a>&nbsp;&nbsp;<a href="#" onclick="viewextension(keyValue,$('#HIDCODE').val())">整改延期记录</a>&nbsp;&nbsp;<a href="#" onclick="viewchangeplan(keyValue)">整改计划</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form" style="height:330px;">
                        <tr>
                            <td class="formTitle">整改责任人</td>
                            <td class="formValue">
                                <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHANGEPERSON" type="hidden" />
                                <input id="CHANGEID" type="hidden" />
                                <input id="APPSIGN" type="hidden" value="Web" />
                            </td>
                            <td class="formTitle">整改人电话</td>
                            <td class="formValue">
                                <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改责任单位</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改截止时间</td>
                            <td class="formValue">
                                <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                            <td class="formTitle" style="font-weight:bold;">整改完成时间<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" errormsg="整改完成时间" isvalid="yes" checkexpession="NotNull" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">整改措施</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled" readonly isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle" style="font-weight:bold;">整改情况描述<span style="color:red;">*</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGERESUME" class="form-control" isvalid="yes" checkexpession="LenStr" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改结果</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" />已完成
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" />未完成
                                    </label>
                                </div>
                            </td>
                            <td class="formTitle">是否回退</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISBACK" id="ISBACK1" value="1" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISBACK" id="ISBACK2" value="0" checked="checked" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">回退原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="BACKREASON" class="form-control" errormsg="回退原因" checkexpession="NotNull"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">计划治理资金(元)</td>
                            <td class="formValue">
                                <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle" style="font-weight:bold;">实际治理资金(元)<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="REALITYMANAGECAPITAL" type="text" class="form-control" checkexpession="Num" errormsg="实际治理资金" isvalid="yes" value="0" />
                            </td>
                        </tr>
                    </table>
                    <table class="form">
                        <tr>
                            <td class="formTitle">整改附件</td>
                            <td class="formValue" colspan="3">
                                <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                                <div id="uploader_attachment" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_attachment_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改图片</td>
                            <td class="formValue" colspan="3">
                                <input id="HIDCHANGEPHOTO" type="hidden" /><!--整改相片-->
                                <div id="uploader_hidchangephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidchangephoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr style="display:none;">
                            <td class="formTitle">隐患编码<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="HIDCODE" type="text" class="form-control" disabled="disabled" />
                                <input id="CREATEUSERID" type="hidden" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属单位<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <div id="HIDDEPARTNAME" type="select" style="display:none;" class="ui-select" disabled="disabled" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患名称</td>
                            <td class="formValue">
                                <input id="HIDNAME" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle"></td>
                            <td class="formValue">
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">所属部门</td>
                            <td class="formValue">
                                <input id="HIDBMNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDBMID" type="hidden" />
                            </td>
                            <td class="formTitle">隐患级别</td>
                            <td class="formValue">
                                <div id="HIDRANK" type="select" class="ui-select" disabled="disabled"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患类别</td>
                            <td class="formValue">
                                <div id="HIDTYPE" type="selectTree" class="ui-select" disabled="disabled"></div>
                            </td>
                            <td class="formTitle">隐患区域</td>
                            <td class="formValue">
                                <input id="HIDPOINTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDPOINT" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">设备名称</td>
                            <td class="formValue">
                                <input id="DEVICENAME" type="text" class="form-control" disabled="disabled" />
                                <input id="DEVICEID" type="hidden" />
                            </td>
                            <td class="formTitle">设备编号</td>
                            <td class="formValue">
                                <input id="DEVICECODE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle" >专业分类</td>
                            <td class="formValue">
                                <div id="MAJORCLASSIFY" type="select" class="ui-select"  disabled="disabled" />
                            </td>
                            <td class="formTitle"></td>
                            <td class="formValue"></td>
                        </tr>
                        <tr>
                            <td class="formTitle"><span style="white-space:pre-wrap;">隐患内容</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDESCRIBE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">可能导致的后果</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCONSEQUENCE" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患图片</td>
                            <td class="formValue" colspan="3">
                                <!--照片-->
                                <input id="HIDPHOTO" type="hidden" /><!--隐患相片-->
                                <div id="uploader_hidphoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">排查人</td>
                            <td class="formValue">
                                <input id="CHECKMANNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHECKMAN" type="hidden" />
                            </td>
                            <td class="formTitle">排查单位</td>
                            <td class="formValue">
                                <input id="CHECKDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="CHECKDEPARTID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">检查类型</td>
                            <td class="formValue">
                                <div id="CHECKTYPE" type="select" class="ui-select" disabled="disabled" />
                            </td>
                            <td class="formTitle">检查名称</td>
                            <td class="formValue">
                                <input id="SAFETYCHECKNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="SAFETYCHECKOBJECTID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">排查日期</td>
                            <td class="formValue">
                                <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                            <td class="formTitle hid">隐患地点</td>
                            <td class="formValue hid">
                                <input id="HIDPLACE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">所属工程</td>
                            <td class="formValue">
                                <input id="HIDPROJECTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDPROJECT" type="hidden" />
                            </td>
                            <td class="formTitle">厂级监控人员</td>
                            <td class="formValue">
                                <input id="MONITORPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="MONITORPERSONID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患报告摘要</td>
                            <td class="formValue" colspan="3">
                                <textarea id="REPORTDIGEST" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">主要预控及治理措施</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="PREVENTMEASURE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患现状</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDSTATUS" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患产生原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDREASON" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患危害程度</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDANGERLEVEL" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患整改计划</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCHAGEPLAN" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">应急措施简述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="EXIGENCERESUME" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">是否挂牌督办</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">是否曝光</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患评估与预评估信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-left:10px;">
                    <table id="approvalGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患验收信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryAccetp()">历史验收记录</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">验收人</td>
                            <td class="formValue">
                                <input id="ACCEPTPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="ACCEPTPERSON" type="hidden" />
                                <input id="ACCEPTID" type="hidden" />
                            </td>
                            <td class="formTitle">验收单位</td>
                            <td class="formValue">
                                <input id="ACCEPTDEPARTNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="ACCEPTDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收日期</td>
                            <td class="formValue" colspan="3">
                                <input id="ACCEPTDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_recheck" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;复查验证信息</strong>
                <span class="tools pull-right">

                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="recheckGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_estimate" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;整改效果评估</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="estimateGridTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;保&nbsp;&nbsp;存</a>
        &nbsp; &nbsp;
        <a id="btn_Submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_Deliver" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;转&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_ExportImportant" onclick="exportImportant()" class="btn btn-primary" style="display:none">隐患信息报告单</a>
        &nbsp; &nbsp;
        <a id="btn_ExportRecordInfo" onclick="exportRecordInfo()" class="btn btn-primary">隐患排查档案</a>
    </div>
    <div id="HidMessage" style="width:360px; margin-left:60px; float:left;"></div>
</div>
