@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<style type="text/css">
    
    .form .formTitle {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 120px;
    }
</style>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script>
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";//当前用户ID
    var _deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户部门ID
    //创建用户机构ID 仅省级页面会用到
    var CreateuserOrgid = request("CreateuserOrgid");
    var keyValue = request('keyValue');
    var equipmentName = request('name');//设备名称编号
    var extinguisherType = request('type');//灭火器类型编号
    var equipmentNameStr = request('nameStr');//设备名称
    var extinguisherTypeStr = request('typeStr');//灭火器类型
    var actiontype = request('actiontype');
    var jcjlWinWidth = '600px';
    var jcjlWinHeight = '700px';
    var fillStr = "充装";
    if ("@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("CustomerName"))" == "京泰电厂") {
        fillStr = "检测";
    }
    $(function () {
        loadFrom();//加载面板
        initControl();
        GetGrid();
        $(".fillClass").html(fillStr);
    });
    function loadFrom() {

        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.tab-content').width() - 2));
                $('#gridWBTable').setGridWidth(($('.tab-content').width() - 2));
                $('#gridCZTable').setGridWidth(($('.tab-content').width() - 2));
                $('#gridDQJCTable').setGridWidth(($('.tab-content').width() - 2));
                //$('#gridDQSYTable').setGridWidth(($('.gridPanel').width() - 2));
                //$('#gridDQJCTable').setGridWidth(($('.gridPanel').width() - 2));
                $('#gridTable').setGridHeight($(window).height() - 200);
                $('#gridWBTable').setGridHeight($(window).height() - 200);
                $('#gridCZTable').setGridHeight($(window).height() - 200);
                $('#gridDQJCTable').setGridHeight($(window).height() - 200);
            }, 200);
            e.stopPropagation();
        });
        if (actiontype == "add" || actiontype == "edit" || actiontype == "copy") {
            $('#jcPanel,#wbPanel,#czPanel').hide();
            $('#jcLi,#wbLi,#czLi,#dqjcLi').hide();
        }
        $("#AmountUnit").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "AmountUnit" },
            id: "ItemValue",
            text: "ItemName",
            description: "请选择",
            height: "200px"
        });
        if (equipmentName == 'MHQ') {//灭火器或消防栓
            $('#tr_2,#tr_3,#tr_4,#tr_5,#tr_6,#tr_7,#tr_8,#tr_9,#tr_10,#tr_11,#tr_12,#wbPanel,#wbLi,#dqjcLi').hide();
            //$('#tr_2').hide();
            $("#tr_2 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_3').hide();
            $("#tr_3 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_4').hide();
            $("#tr_4 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_5').hide();
            $("#tr_5 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_6').hide();
            $("#tr_6 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_7').hide();
            $("#tr_7 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_8').hide();
            $("#tr_8 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            //$('#tr_9').hide();
            $("#tr_9 input,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $("#tr_10 input,textarea,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $("#tr_11 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $("#tr_12 input,select").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $("#Specifications").attr("isvalid", "no");//规格型号输入框
            $("#SpecificationsSelect").attr("isvalid", "yes");//规格型号下拉框
            //灭火器才可选择规格型号，其他类型手输
            $("#SpecificationsSelect").ComboBox({
                url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
                param: { EnCode: "Specifications" },
                id: "ItemValue",
                text: "ItemName",
                description: "==请选择==",
                height: "200px"
            }).bind("change", function () {
                $("#Specifications").val($("#SpecificationsSelect").attr("data-text"));
             });
            $("#Specifications").hide();//规格型号输入框
            GetCZGrid();
        } else if (equipmentName == 'SNXHS' || equipmentName == 'SWXHS') {//室内或室外消防栓
            $('#czPanel').hide(); $('#czLi').hide();
            //$('#tr_0').hide();
            //$("#tr_0 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
            //    $(this).attr("isvalid", "no");
            //});
            $('#tr_01').hide();
            $("#tr_01 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_1').hide();
            $("#tr_1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_111').hide();
            $("#tr_111 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $("#SpecificationsSelect").hide();//规格型号下拉框
            $("#SpecificationsSelect").attr("isvalid", "no");

            $("#DetectionVerdict").attr("isvalid", "yes");//下拉框
            $("#TerminalDetectionVerdict").attr("isvalid", "yes");//下拉框
            GetWBGrid(); GetDQJCGrid();
        } else {//电气类
            $('#czPanel').hide(); $('#czLi').hide();
            $('#tr_0').hide();
            $("#tr_0 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_01').hide();
            $("#tr_01 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_1').hide();
            $("#tr_1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_111').hide();
            $("#tr_111 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });
            $('#tr_2').hide();
            $("#tr_2 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("isvalid", "no");
            });

            $("#SpecificationsSelect").hide();//规格型号下拉框 
            $("#SpecificationsSelect").attr("isvalid", "no");
            $("#DetectionVerdict").attr("isvalid", "yes");//下拉框
            $("#TerminalDetectionVerdict").attr("isvalid", "yes");//下拉框

            jcjlWinWidth = '600px';
            jcjlWinHeight = '550px';
            GetWBGrid();
            GetDQJCGrid();
            
        }


        $("#AmountUnit").attr("isvalid", "yes");//下拉框
        $("#DistrictId").attr("isvalid", "yes");//下拉框
    }
    //初始化控件
    function initControl() {
        $("#EquipmentNameNo").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "EquipmentName" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        $("#ExtinguisherTypeNo").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "ExtinguisherType", Remark: equipmentName },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //维保结论
        $("#DetectionVerdict").ComboBox({
            description: "==请选择==",
        });
        //定期检测结论
        $("#TerminalDetectionVerdict").ComboBox({
            description: "==请选择==",
        });
        var orgID = "";
        if (roleName.includes("省级用户")) {
            orgID = CreateuserOrgid;
        }
        else {
            orgID = top.currUserOrgId;
        }
        //区域
        ComboxArea("DistrictId", top.contentPath + "/BaseManage/District/GetTreeJson?orgID=" + orgID);
        //$("#DistrictId").ComboBoxTree({
        //    url: top.contentPath + "/BaseManage/District/GetTreeJson?orgID=" + orgID,
        //    height: "300px",
        //    description: "==请选择=="
        //});
        $("#DistrictId").bind("change", function () {
            $("#DistrictCode").val($("#DistrictId").attr("data-code"));
            $("#District").val($("#DistrictId").attr("data-text"));
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../FireManage/Firefighting/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);

                    if (equipmentName == 'MHQ') {
                        $("#SpecificationsSelect").ComboBoxSetValue(data.Specifications);
                    }
                    //权限控制 设施负责人可添加记录，其他人员只能查看 
                    if (userId != data.DutyUserId && userId != data.ExamineUserId) {
                        $("#addJC,#addWB,#addCZ,#addDQJC").css("display", "none");//登记检查记录/登记检测、维保记录
                    }
                    if (actiontype == "copy") {
                        keyValue = "";
                        $("#EquipmentCode").val("");
                    }
                }
            })
        } else {//新增，先自动生成ID
            keyValue = keyValue.length == 0 ? "@Guid.NewGuid().ToString()" : keyValue;
            $("#EquipmentNameNo").ComboBoxSetValue(equipmentName);
            $("#EquipmentName").val(equipmentNameStr);
            
            if (equipmentName == "MHQ" || equipmentName == "SWXHS") {
                $("#ExtinguisherTypeNo").ComboBoxSetValue(extinguisherType);
                $("#ExtinguisherType").val(extinguisherTypeStr);
                
            }
        }
        //设备名称和类型不可修改
        $("#EquipmentNameNo").attr("readonly", "readonly");
        //$("#ExtinguisherTypeNo").attr("readonly", "readonly");
        //查看
        if (actiontype == "view") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            //$(".center-Panel").removeAttr("style");
            $(".form-button").css("display", "none");
            $("#form1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $("#addJC,#addWB,#addCZ,#addDQJC").css("display", "none");//登记检查记录/登记检测、维保记录/充装记录
        } else if (actiontype == "register") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            //$(".center-Panel").removeAttr("style");
            $(".form-button").css("display", "none");
            $("#form1 input,textarea,select , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        } else { }
    }
    function setNo() {

    }
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        if (equipmentName == 'MHQ') {
            var StartTime = $("#LastFillDate").val();
            var EndTime = $("#NextFillDate").val();
            if (new Date(StartTime.replace("-", "/").replace("-", "/")) > new Date(EndTime.replace("-", "/").replace("-", "/"))) {
                dialogMsg('下次' + fillStr + '/更换时间不可小于上次' + fillStr +'/更换时间！', 0);
                return false;;
            }
        }
        var postData = $("#form1").formSerialize(keyValue);
        $.SaveForm({
            url: "../../FireManage/Firefighting/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                $.currentIframe().getDataAuthority();
            }
        })
    }
    //加载表格
    function GetGrid() {
        var colname1 = "筒体";
        var colname2 = "压力";
        var colname3 = "喷管";
        var colname4 = "封铅";
        //根据设备名称和类型判断显示的界面
        if (equipmentName == 'SNXHS' || equipmentName == 'SWXHS') {
            colname1 = "箱体";
            colname2 = "阀门";
            colname3 = "枪头";
            colname4 = "水带";
        }
        var queryJson = {
            EquipmentId: keyValue//主表id
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 200,
            url: "../../FireManage/ExamineRecord/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true, width: 150, sortable: false },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:show('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (actiontype != "view" && (userId == $('#DutyUserId').val() || userId == $('#ExamineUserId').val())) {
                            html += "<a href=javascript:btn_edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:btn_delete('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                {
                    label: '检查时间', name: 'examinedate', index: 'examinedate', width: 200, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    } },
                { label: '检查人', name: 'examineperson', index: 'examineperson', width: 200, align: 'center', sortable: true },
                {
                    label: colname1, name: 'barrelorbox', index: 'barrelorbox', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "√";
                        } else {
                            return "×";
                        }
                    } },
                {
                    label: colname2, name: 'stressorvalve', index: 'stressorvalve', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "√";
                        } else {
                            return "×";
                        }
                    } },
                {label: '重量', name: 'weight', index: 'weight', width: 100, align: 'center', sortable: true},
                {
                    label: colname3, name: 'effuserorspearhead', index: 'effuserorspearhead', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "√";
                        } else {
                            return "×";
                        }
                    } },
                {
                    label: colname4, name: 'sealorwater', index: 'sealorwater', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "√";
                        } else {
                            return "×";
                        }
                    } },
                {
                    label: '卫生', name: 'sanitation', index: 'sanitation', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "√";
                        } else {
                            return "×";
                        }
                    } },
                { label: '情况描述', name: 'describe', index: 'sanitation', width: 100, align: 'center', sortable: true },
                {
                    label: '结果', name: 'verdict', index: 'sanitation', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "合格";
                        } else {
                            return "不合格";
                        }
                    } },
                { label: '备注', name: 'remark', index: 'remark', width: 400, align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 5,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                //$('#' + this.id).setSelection(selectedRowIndex, false);
                //var num = $('#' + this.id).jqGrid('getGridParam', 'records');
                //if (num > 0) {
                //    document.getElementById("yes").checked = true;
                //} else {
                //    document.getElementById("no").checked = true;
                //}
                if (equipmentName == 'MHQ') {//灭火器
                    if (extinguisherType == 'CO2') {
                        $('#gridTable').hideCol("stressorvalve");
                    } else {
                        $('#gridTable').hideCol("weight");
                    }

                    $('#gridTable').hideCol("describe");//情况描述
                    $('#gridTable').hideCol("verdict");//结果
                } else if (equipmentName == 'SNXHS' || equipmentName == 'SWXHS') {//室内或室外消防栓
                    $('#gridTable').hideCol("weight");//重量

                    $('#gridTable').hideCol("describe");//情况描述
                    $('#gridTable').hideCol("verdict");//结果
                } else {//电气类
                    $('#gridTable').hideCol("barrelorbox");//筒体或箱体
                    $('#gridTable').hideCol("stressorvalve");//压力或阀门
                    $('#gridTable').hideCol("effuserorspearhead");//喷管或枪头
                    $('#gridTable').hideCol("sealorwater");//封铅或水带
                    $('#gridTable').hideCol("sanitation");//卫生
                    $('#gridTable').hideCol("weight");//重量
                }
                //$gridTable.setGridWidth(($(top.window).width() - 200));//tab-content
                $gridTable.setGridWidth(($('.tab-content').width() - 2));
            }
        });
    }
    
    //新增
    function btn_add() {
        dialogOpen({
            id: 'Sikp',
            title: '登记检查记录',
            url: '/FireManage/ExamineRecord/Form?pId=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: jcjlWinWidth,
            height: jcjlWinHeight,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function show(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看检查记录',
            url: '/FireManage/ExamineRecord/Form?actiontype=view&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: jcjlWinWidth,
            height: jcjlWinHeight,
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_edit(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑检查记录',
                url: '/FireManage/ExamineRecord/Form?keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
                width: jcjlWinWidth,
                height: jcjlWinHeight,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_delete(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../FireManage/ExamineRecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的检查记录！', 0);
        }
    }
    //-------------------------维保记录增删改查-----------------开始
    function GetWBGrid() {
        var queryJson = {
            EquipmentId: keyValue//主表id
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridWBTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 200,
            url: "../../FireManage/DetectionRecord/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true, width: 150, sortable: false },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:showWB('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (actiontype != "view" && (userId == $('#DutyUserId').val() || userId == $('#ExamineUserId').val())) {
                            html += "<a href=javascript:btn_editWB('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:btn_deleteWB('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                {
                    label: '维保时间', name: 'detectiondate', index: 'detectiondate', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '维保人', name: 'detectionperson', index: 'detectionperson', width: 100, align: 'center', sortable: true },
                { label: '项目', name: 'project', index: 'project', width: 100, align: 'center', sortable: true },
                { label: '内容', name: 'content', index: 'content', width: 200, align: 'center', sortable: true },
                { label: '情况描述', name: 'describe', index: 'describe', width: 200, align: 'center', sortable: true },
                {
                    label: '结果', name: 'conclusion', index: 'conclusion', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "合格";
                        } else if (cellvalue == '0') {
                            return "不合格";
                        } else {
                            return "";
                        }
                    } },
                { label: '备注', name: 'remark', index: 'remark', width: 100, align: 'center', sortable: true }
            ],
            viewrecords: true,
            rowNum: 5,
            rowList: [30, 50, 100],
            pager: "#gridWBPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $gridTable.setGridWidth(($('.tab-content').width() - 2));
            }
        });
    }
    //新增
    function btn_addWB() {
        dialogOpen({
            id: 'Sikp',
            title: '登记维保记录',
            url: '/FireManage/DetectionRecord/Form?pId=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '750px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function showWB(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看维保记录',
            url: '/FireManage/DetectionRecord/Form?actiontype=view&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '750px',
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_editWB(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑维保记录',
                url: '/FireManage/DetectionRecord/Form?actiontype=edit&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
                width: '900px',
                height: '750px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_deleteWB(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../FireManage/DetectionRecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridWBTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的检测、维护记录！', 0);
        }
    }
    //-------------------------维保记录增删改查-----------------结束

    //-------------------------充装、更换记录增删改查-----------------开始
    function GetCZGrid() {
        var queryJson = {
            EquipmentId: keyValue//主表id
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridCZTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 200,
            url: "../../FireManage/FillRecord/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true, width: 150, sortable: false },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:showCZ('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (actiontype != "view" && (userId == $('#DutyUserId').val() || userId == $('#ExamineUserId').val())) {
                            html += "<a href=javascript:btn_editCZ('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:btn_deleteCZ('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                {
                    label: '操作类型', name: 'operatetype', index: 'operatetype', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == '1') {
                            return "更换";
                        } else if (cellvalue == '0') {
                            return fillStr;
                        } else {
                            return "";
                        }
                    }
                },
                {
                    label: '' + fillStr+'/更换时间', name: 'filldate', index: 'filldate', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    } },
                { label: '操作人', name: 'fillperson', index: 'fillperson', width: 200, align: 'center', sortable: false },
                { label: '备注', name: 'remark', index: 'remark', width: 300, align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 5,
            rowList: [30, 50, 100],
            pager: "#gridCZPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                //$gridTable.setGridWidth(($('.gridPanel').width() - 2));
                $gridTable.setGridWidth(($('.tab-content').width() - 2));
            }
        });
    }
    //新增
    function btn_addCZ() {
        dialogOpen({
            id: 'Sikp',
            title: '添加' + fillStr+'/更换记录',
            url: '/FireManage/FillRecord/Form?pId=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '350px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function showCZ(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看' + fillStr+'/更换记录',
            url: '/FireManage/FillRecord/Form?actiontype=view&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '350px',
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_editCZ(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑' + fillStr+'/更换记录',
                url: '/FireManage/FillRecord/Form?actiontype=edit&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
                width: '900px',
                height: '350px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_deleteCZ(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../FireManage/FillRecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridCZTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的' + fillStr+'/更换记录！', 0);
        }
    }
    //-------------------------充装、更换记录增删改查-----------------结束

    //-------------------------定期试验记录增删改查-----------------开始
    function GetDQSYGrid() {
        var queryJson = {
            EquipmentId: keyValue//主表id
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridDQSYTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: 150,
            url: "../../FireManage/FillRecord/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true, width: 150, sortable: false },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:showCZ('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (actiontype != "view" && (userId == $('#DutyUserId').val() || userId == $('#ExamineUserId').val())) {
                            html += "<a href=javascript:btn_editCZ('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:btn_deleteCZ('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                {
                    label: '' + fillStr+'/更换时间', name: 'filldate', index: 'filldate', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '操作人', name: 'fillperson', index: 'fillperson', width: 200, align: 'center', sortable: false },
                { label: '备注', name: 'remark', index: 'remark', width: 300, align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 5,
            rowList: [30, 50, 100],
            pager: "#gridDQSYPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $gridTable.setGridWidth(($('.gridPanel').width() - 2));
            }
        });
    }
    //新增
    function btn_addDQSY() {
        dialogOpen({
            id: 'Sikp',
            title: '添加' + fillStr+'/更换记录',
            url: '/FireManage/FillRecord/Form?pId=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '350px',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function showDQSY(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看' + fillStr+'/更换记录',
            url: '/FireManage/FillRecord/Form?actiontype=view&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '900px',
            height: '350px',
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_editDQSY(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑' + fillStr+'/更换记录',
                url: '/FireManage/FillRecord/Form?actiontype=edit&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
                width: '900px',
                height: '350px',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_deleteDQSY(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../FireManage/FillRecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridDQSYTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的' + fillStr+'/更换记录！', 0);
        }
    }
    //-------------------------定期试验记录增删改查-----------------结束

    //-------------------------定期检测记录增删改查-----------------开始
    function GetDQJCGrid() {
        var queryJson = {
            EquipmentId: keyValue//主表id
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridDQJCTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 200,
            url: "../../FireManage/TerminalDetectionRecord/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                { label: '主键', name: 'id', hidden: true, width: 150, sortable: false },
                {
                    label: '操作', name: 'oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        html = "<a href=javascript:showDQJC('" + rowObject.id + "')  title='查看' name='show'><i class='fa fa-eye'></i></a>";
                        if (actiontype != "view" && (userId == $('#DutyUserId').val() || userId == $('#ExamineUserId').val())) {
                            html += "<a href=javascript:btn_editDQJC('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
                            html += "<a href=javascript:btn_deleteDQJC('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        }
                        return html;
                    }
                },
                { label: '检测系统', name: 'detectionsystem', index: 'detectionsystem', width: 300, align: 'center', sortable: false },
                { label: '检测单位', name: 'detectionunit', index: 'detectionunit', width: 300, align: 'center', sortable: false },
                {
                    label: '检测时间', name: 'detectiondate', index: 'detectiondate', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                {
                    label: '检测结果', name: 'detectionresult', index: 'detectionresult', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue == "1") {
                            return "不合格";
                        } else {
                            return "合格";
                        }
                    }
                }
                //,
                //{ label: '附件', name: 'remark', index: 'remark', width: 300, align: 'center', sortable: false }
            ],
            viewrecords: true,
            rowNum: 5,
            rowList: [30, 50, 100],
            pager: "#gridDQJCPager",
            sortname: 'CreateDate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                //$gridTable.setGridWidth(($('.gridPanel').width() - 2));
                $gridTable.setGridWidth(($('.tab-content').width() - 2));
            }
        });
    }
    //新增
    function btn_addDQJC() {
        dialogOpen({
            id: 'Sikp',
            title: '添加定期检测记录',
            url: '/FireManage/TerminalDetectionRecord/Form?pId=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '50%',
            height: '85%',
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }
    //查看
    function showDQJC(keyValue) {
        var idx0 = dialogOpen({
            id: 'Sikp',
            title: '查看定期检测记录',
            url: '/FireManage/TerminalDetectionRecord/Form?actiontype=view&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
            width: '50%',
            height: '85%',
            btn: null,
            callBack: function (iframeId) {
                top.layer.close(idx0);
            }
        });
    }
    //编辑
    function btn_editDQJC(keyValue) {
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'Sikp',
                title: '编辑定期检测记录',
                url: '/FireManage/TerminalDetectionRecord/Form?actiontype=edit&keyValue=' + keyValue + '&name=' + equipmentName + '&type=' + extinguisherType,
                width: '50%',
                height: '85%',
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //删除
    function btn_deleteDQJC(keyValue) {
        if (keyValue) {
            $.RemoveForm({
                url: '../../FireManage/TerminalDetectionRecord/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridDQJCTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的定期检测记录！', 0);
        }
    }
    //-------------------------定期检测记录增删改查-----------------结束

    //选择责任人
    function selectDutyUser() {
        //if (roleName.indexOf("厂级部门用户") >= 0 || roleName.indexOf("超级管理员") >= 0 || roleName.indexOf("公司管理员") >= 0) {
            selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'DutyUser,,DutyUserId,,DutyDeptCode,DutyDept,DutyTel' });
        //} else {
        //    selectUser({ deptId: _deptId, checkMode: 0, mode: 1, winObject: window.document.body, domId: 'DutyUser,,DutyUserId,,DutyDeptCode,DutyDept,DutyTel' });
        //}
    }
    //选择检查人
    function selectExamineUser() {
        //if (roleName.indexOf("厂级部门用户") >= 0 || roleName.indexOf("超级管理员") >= 0 || roleName.indexOf("公司管理员") >= 0) {
            selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'ExamineUser,,ExamineUserId,,ExamineDeptCode,ExamineDept,' });
        //} else {
        //    selectUser({ deptId: _deptId, checkMode: 0, mode: 1, winObject: window.document.body, domId: 'ExamineUser,,ExamineUserId,,ExamineDeptCode,ExamineDept,' });
        //}
    }
    //根据周期计算下次时间（周期（天）ID，开始时间ID，结束时间ID）
    function CountDate(pol, sDate, eDate) {
        //获取开始时间
        var CheckDate = $("#" + sDate).val();
        //获取时间周期
        var days = $("#" + pol).val();
        if (!days) {
        }
        else if (!(/^[+]?\d+$/.test(days))) {
            dialogMsg('周期请输入整数！', 0);
            $("#" + pol).val("");
        } else {
            if (CheckDate != null && CheckDate.length > 0 && CheckDate.indexOf("-") > 0) {
                var date = new Date(CheckDate.replace(/-/g, "/"));
                date.setDate(date.getDate() + parseInt(days));
                var retime = date.getFullYear() + "-" + ("00" + (date.getMonth() + 1).toString()).substr(("00" + (date.getMonth() + 1).toString()).length - 2, 2) + "-" + ("00" + date.getDate().toString()).substr(("00" + date.getDate().toString()).length - 2, 2);
                $("#" + eDate).val(retime);
            }
        }
    }
</script>
<div style="margin-left: 10px; margin-right: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#BaseInfo" data-toggle="tab">基本信息</a></li>
        <li id="jcLi"><a href="#jcPanel" data-toggle="tab">检查记录</a></li>
        <li id="wbLi"><a href="#wbPanel" data-toggle="tab">维保记录</a></li>
        <li id="czLi"><a href="#czPanel" data-toggle="tab"><span class="fillClass"></span>/更换记录</a></li>
        <li id="dqjcLi"><a href="#dqjcPanel" data-toggle="tab">定期检测记录</a></li>
    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">设备名称<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="EquipmentName" type="hidden" />
                        <div id="EquipmentNameNo" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                    <td class="formTitle">设备编号<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="EquipmentCode" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" onblur="$.ExistField(this.id, '../../FireManage/Firefighting/ExistCode', { Type: equipmentName })" />
                    </td>
                </tr>

                <tr id="tr_0">
                    <td class="formTitle">类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="ExtinguisherTypeNo" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        <input id="ExtinguisherType" type="hidden" />
                    </td>
                </tr>
                <tr id="tr_01">
                    <td class="formTitle">出厂时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LeaveDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">数量<span style="color:red;">*</span></td>
                    <td class="formValue">
                        <div style="float:left;width:75%;">
                            <input id="Amount" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" />
                        </div>
                        <div style="float:left;width:23%;text-align:center;margin-top:0px;margin-left:5px;">
                            <div id="AmountUnit" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">规格型号<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="SpecificationsSelect" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        <input id="Specifications" type="text" class="form-control" isvalid="yes" checkexpession="LenStr" length="50" />
                    </td>
                    <td class="formTitle">检查时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ExamineDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" onblur="CountDate('ExaminePeriod','ExamineDate','NextExamineDate')" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查周期(天)<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ExaminePeriod" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" onblur="CountDate('ExaminePeriod','ExamineDate','NextExamineDate')" />
                    </td>
                    <td class="formTitle">下次检查时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="NextExamineDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM-dd")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ExamineUserId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                        <input id="ExamineUser" type="text" class="form-control" readonly onclick="selectExamineUser()" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
                    </td>
                    <td class="formTitle">检查部门<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ExamineDeptCode" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode" />
                        <input id="ExamineDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
                    </td>
                </tr>
                <tr id="tr_1">
                    <td class="formTitle">上次<span class="fillClass"></span>/更换时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="LastFillDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" onblur="CountDate('FillPeriod','LastFillDate','NextFillDate')" />
                    </td>
                    <td class="formTitle"><span class="fillClass"></span>/更换周期（天）<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="FillPeriod" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" onblur="CountDate('FillPeriod','LastFillDate','NextFillDate')" />
                    </td>
                </tr>
                <tr id="tr_111">
                    <td class="formTitle">下次<span class="fillClass"></span>/更换时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="NextFillDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">报废时间</td>
                    <td class="formValue">
                        <input id="ScrapDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="no" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr_2">
                    <td class="formTitle">枪头数(支)<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Spearhead" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" />
                    </td>
                    <td class="formTitle">水带数(盘)<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="WaterBelt" type="text" class="form-control" isvalid="yes" checkexpession="PositiveNum" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">配置区域<font face="宋体">*</font></td>
                    <td class="formValue">
                        @*<input id="DistrictCode" type="hidden" />
                <input id="DistrictId" type="hidden" />
                <input id="District" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />*@
                        <div id="DistrictId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                        <input id="District" type="hidden" class="form-control" /><input id="DistrictCode" type="hidden" class="form-control" />
                    </td>

                    <td class="formTitle">配置位置</td>
                    <td class="formValue">
                        <input id="Location" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">责任人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DutyUserId" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                        <input id="DutyUser" type="text" class="form-control" readonly onclick="selectDutyUser()" isvalid="yes" checkexpession="NotNull" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" />
                    </td>
                    <td class="formTitle">责任部门<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DutyDeptCode" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode" />
                        <input id="DutyDept" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" readonly value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">责任人电话</td>
                    <td class="formValue" colspan='3'>
                        <input id="DutyTel" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhoneOrNull" length="50" />
                    </td>
                </tr>
                <tr id="tr_3">
                    <td class="formTitle">保护对象</td>
                    <td class="formValue" colspan='3'>
                        <input id="ProtectObject" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                </tr>
                <tr id="tr_4">
                    <td class="formTitle">主要参数</td>
                    <td class="formValue" colspan='3'>
                        <input id="MainParameter" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" />
                    </td>
                </tr>
                <tr id="tr_5">
                    <td class="formTitle">设计单位</td>
                    <td class="formValue">
                        <input id="DesignUnit" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                    <td class="formTitle">安装单位</td>
                    <td class="formValue">
                        <input id="InstallUnit" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                </tr>
                <tr id="tr_6">
                    <td class="formTitle">维护单位</td>
                    <td class="formValue">
                        <input id="SafeguardUnit" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                    <td class="formTitle">竣工时间</td>
                    <td class="formValue">
                        <input id="DoneDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })" />
                    </td>
                </tr>
                <tr id="tr_7">
                    <td class="formTitle">维保时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DetectionDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" onblur="CountDate('DetectionPeriod','DetectionDate','NextDetectionDate')" />
                    </td>
                    <td class="formTitle">维保单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DetectionUnit" type="text" class="form-control" isvalid="yes" checkexpession="LenStr" length="50" />
                    </td>
                </tr>
                <tr id="tr_8">
                    <td class="formTitle">维保结论<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="DetectionVerdict" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                            <ul>
                                <li data-value="1">合格</li>
                                <li data-value="0">不合格</li>
                            </ul>
                        </div>
                    </td>
                    <td class="formTitle">维保周期(天)<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DetectionPeriod" type="text" class="form-control" checkexpession="PositiveNum" isvalid="yes" onblur="CountDate('DetectionPeriod','DetectionDate','NextDetectionDate')" />
                    </td>
                </tr>
                <tr id="tr_9">
                    <td class="formTitle">下次维保时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="NextDetectionDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="tr_10">
                    <td class="formTitle">定期检测时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="TerminalDetectionDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" onblur="CountDate('TerminalDetectionPeriod','TerminalDetectionDate','NextTerminalDetectionDate')" />
                    </td>
                    <td class="formTitle">定期检测单位</td>
                    <td class="formValue">
                        <input id="TerminalDetectionUnit" type="text" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="50" />
                    </td>
                </tr>
                <tr id="tr_11">
                    <td class="formTitle">定期检测结论<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="TerminalDetectionVerdict" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                            <ul>
                                <li data-value="0">合格</li>
                                <li data-value="1">不合格</li>
                            </ul>
                        </div>
                    </td>
                    <td class="formTitle">定期检测周期(天)<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="TerminalDetectionPeriod" type="text" class="form-control" checkexpession="PositiveNum" isvalid="yes" onblur="CountDate('TerminalDetectionPeriod','TerminalDetectionDate','NextTerminalDetectionDate')" />
                    </td>
                </tr>
                <tr id="tr_12">
                    <td class="formTitle">下次检测时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="NextTerminalDetectionDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">备注</td>
                    <td class="formValue" colspan="3">
                        <textarea id="Remark" class="form-control" style="height: 120px;" isvalid="yes" checkexpession="LenStrOrNull" length="100"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div id="jcPanel" class="tab-pane">

            <div class="toolbar">
                <div class="btn-group">
                    <a id="addJC" class="btn btn-default" onclick="btn_add()"><i class="fa fa-plus"></i>&nbsp;登记检查记录</a>
                </div>
            </div>

            <div class="gridPanel" style="margin-top:10px;">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>

        </div>
        <div id="wbPanel" class="tab-pane">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="addWB" class="btn btn-default" onclick="btn_addWB()"><i class="fa fa-plus"></i>&nbsp;登记维保记录</a>
                </div>
            </div>
            <div class="gridPanel" style="margin-top:10px;">
                <table id="gridWBTable"></table>
                <div id="gridWBPager"></div>
            </div>
        </div>
        <div id="czPanel" class="tab-pane">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="addCZ" class="btn btn-default" onclick="btn_addCZ()"><i class="fa fa-plus"></i>&nbsp;登记 <span class="fillClass"></span>/更换记录</a>
                </div>
            </div>
            <div class="gridPanel" style="margin-top:10px;">
                <table id="gridCZTable"></table>
                <div id="gridCZPager"></div>
            </div>
        </div>
        <div id="dqjcPanel" class="tab-pane">
            <div class="toolbar">
                <div class="btn-group">
                    <a id="addDQJC" class="btn btn-default" onclick="btn_addDQJC()"><i class="fa fa-plus"></i>&nbsp;登记定期检测记录</a>
                </div>
            </div>
            <div class="gridPanel" style="margin-top:10px;">
                <table id="gridDQJCTable"></table>
                <div id="gridDQJCPager"></div>
            </div>
        </div>
    </div>
</div>
