@{
    ViewBag.Title = "用户管理";
    Layout = "~/Views/Shared/_FlowForm.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<style type="text/css">

    .form .formTitle {
        position: relative;
        left: 0px;
        text-align: right;
        white-space: nowrap;
        font-weight: normal;
        width: 130px;
    }
</style>
<script>
    var keyValue = request('keyValue');
    var rqaction = request('action');
    var instanceId = "";
    var formId = "";
    var isldap = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsOpenPassword"))";
    var engineerdirector = request('ENGINEERDIRECTOR');
    var engineerdirectorphone = request('ENGINEERDIRECTORPHONE');
    var departmentid = request('DEPARTMENTID');
    var engineerid = request('ENGINEERID');
    $(function () {
        $.ajaxSetup({async:false});
        $('select').comboSelect();
        initControl();
        GetGrid();
        buttonOperation();
        if (isldap != "true") {
            $("#ldapTr").hide();
        }
    });

    function IntiDuty(organizeId, isOrg) {
        //通用change方法
        $("#DutyId").ComboBox({
            url: top.contentPath + "/BaseManage/Post/GetListJson?organizeId=" + organizeId + "&isOrg=" + isOrg,
            id: "RoleId",
            text: "FullName",
            description: "==请选择=="
            , allowSearch: true
        }).bind("change", function () {
            $.ajax({
                url: '../../BaseManage/Post/GetRoleById',
                data: { id: $(this).attr('data-value') },
                dataType: "JSON",
                success: function (result) {
                    if (!!result.RoleNames) {
                        if ($("#DepartmentId").attr('data-isorg') == "1") {
                            $.ajax({
                                url: '../../BaseManage/Post/GetListByCode',
                                data: { code: "100103" },
                                dataType: "JSON",
                                success: function (vr) {
                                    $("#RoleName").val(vr.FullName + "," + result.RoleNames);
                                    $("#RoleId").val(vr.RoleId + "," + result.RoleIds);
                                }
                            });

                        } else {
                            $("#RoleName").val(result.RoleNames);
                            $("#RoleId").val(result.RoleIds);
                        }
                        //if ($("#RoleName").val().indexOf("专工") >= 0) {
                        //    $("#td_title_specialtytype").removeAttr("style");
                        //    $("#td_value_specialtytype").removeAttr("style");
                        //}
                        //else {
                        //    $("#SpecialtyType").val("");
                        //    $("#td_title_specialtytype").attr("style", "display: none");
                        //    $("#td_value_specialtytype").attr("style", "display: none");
                        //}
                    }

                }
            });
        });
        //
    }
    function ClearValue() {
        //清空岗位
        $("#DutyId").attr('data-value', '').attr('data-text', '');
        $("#DutyId").find("div").html("==请选择==");
        //清空角色
        $("#RoleName").val("");
        $("#RoleId").val("");
    }
    //初始化控件
    function initControl() {
        $("#AccountType").ComboBox({
            description: "==请选择==",
        });
        $("#AccountType").ComboBoxSetValue("0");
        $("#IsapplicationLdap").ComboBox({
            description: "==请选择==",
        });
        $("#IsapplicationLdap").ComboBoxSetValue("0");
        if (!!rqaction) {
            $("#btn_finish").remove();
            $("input").attr("readonly", "readonly");
        }

        //学历
        $("#DegreesID").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "Degrees" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });

        //公司
        $("#OrganizeId").ComboBoxTree({
            url: top.contentPath + "/BaseManage/Organize/GetTreeJson",
            description: "==请选择==",
            height: "200px",
        }).bind("change", function () {
            
            if ($(this).attr('data-isdept')== "0") {
                dialogAlert("该部门无法选择！");
                $(this).removeAttr('data-text'); $(this).removeAttr('data-value'); $(this).removeAttr('data-code');
                $(this).find(".ui-select-text").html("==请选择==");
                return false;
            }
            //当公司选择发生变化的时候清空岗位和角色
            ClearValue();

            var value = $(this).attr('data-value');
            $("#DepartmentId").attr("data-value", value); $("#DepartmentId").removeAttr("data-text"); $("#DepartmentId").removeAttr("data-code");
            $("#DepartmentId").removeAttr("data-isorg"); $("#DepartmentId").removeAttr("data-isdept");
            $("#DepartmentId").find(".ui-select-text").html("=请选择=");
            //加载部门
            var json = JSON.stringify(
            {
                Ids: value,
                SelectMode: 0,
                Mode: 10,
            }
          );
            $("#DepartmentId").ComboBoxTree({
                url: top.contentPath + "/BaseManage/Department/GetTreeJson?organizeId=" + value,
                //url: top.contentPath + "/BaseManage/Department/GetDepartTreeJson?json=" + json,
                description: "==请选择==",
                allowSearch: true
            });
            //加载岗位
            $("#DutyId").ComboBox({
                url: top.contentPath + "/BaseManage/Post/GetListJson?organizeId=" + value + '&isOrg=true',
                id: "RoleId",
                text: "FullName",
                description: "==请选择=="
                , allowSearch: true
            })
        });
        //部门
        $("#DepartmentId").ComboBoxTree({
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        }).bind("change", function () {
            if ($(this).attr('data-isdept')== "0") {
                dialogAlert("该部门无法选择！");
                $(this).removeAttr('data-text'); $(this).removeAttr('data-value'); $(this).removeAttr('data-code');
                $(this).find(".ui-select-text").html("==请选择==");
                return false;
            }
            ClearValue();
            var value = $(this).attr('data-value');
            var isorg = $(this).attr('data-isorg');
            //如果是厂级部门的话，在角色那会自动赋值 “厂级部门用户”
            if (isorg == "1") {
                $.ajax({
                    url: '../../BaseManage/Post/GetListByCode',
                    data: { code: "100103" },
                    dataType: "JSON",
                    success: function (result) {
                        $("#RoleName").val(result.FullName);
                        $("#RoleId").val(result.RoleId);
                    }
                });
            }
            //外包工程
            $("#ProjectId").ComboBox({
                url: "../../OutsourcingProject/Outsouringengineer/GetEngineerByDeptId?deptId=" + value,
                id: "ID",
                text: "ENGINEERNAME",
                description: "==请选择==",
                height: "200px",
                allowSearch: true
            });

            //加载岗位
            $("#DutyId").ComboBox({
                url: top.contentPath + "/BaseManage/Post/GetListJson?organizeId=" + $("#OrganizeId").attr('data-value') + '&isOrg=' + value,
                id: "RoleId",
                text: "FullName",
                description: "==请选择=="
                , allowSearch: true
            })
        });

        //岗位
        $("#DutyId").ComboBox({
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
        //主管
        $("#ManagerId").ComboBox({
            description: "==请选择==",
            height: "200px",
            allowSearch: true
        });
        //性别
        $("#Gender").ComboBox({
            description: "==请选择==",
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: top.contentPath + "/BaseManage/User/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data.data);
                    $("#OrganizeId").trigger("change");

                    if (!!$("#DepartmentId").attr('data-value')) {
                        IntiDuty($("#OrganizeId").attr('data-value'), $("#DepartmentId").attr('data-value'));
                        //外包工程
                        $("#ProjectId").ComboBox({
                            url: "../../OutsourcingProject/Outsouringengineer/GetEngineerByDeptId?deptId=" + $("#DepartmentId").attr('data-value'),
                            id: "ID",
                            text: "ENGINEERNAME",
                            description: "==请选择==",
                            height: "200px",
                            allowSearch: true
                        });
                    } else {

                        IntiDuty($("#OrganizeId").attr('data-value'), "true");
                    }
                    if (data.data.ProjectId != null) {
                        $("#ProjectId").ComboBoxSetValue(data.data.ProjectId);
                    }
                    $("#DepartmentId").ComboBoxTreeSetValue(data.data.DepartmentId);
                    $("#DepartmentId").trigger("change");
                    $("#DutyId").ComboBoxSetValue(data.data.DutyId);

                    $("#DegreesID").ComboBoxSetValue(data.data.DegreesID);
                    $("#ManagerId").ComboBoxSetValue(data.data.ManagerId);
                    $("#Birthday").val(formatDate(data.data.Birthday, "yyyy-MM-dd"));
                    $("#Password").val("******").attr('disabled', 'disabled');
                    $("#Account").attr('disabled', 'disabled');
                    if (rqaction == "view") {
                        parent.$(".layui-layer-btn").css("display", "none");
                    }
                    //这里由于会有change事件再一次进行赋值角色
                    $("#RoleName").val(data.data.RoleName);
                    $("#RoleId").val(data.data.RoleId);
                    $("#OrganizeId").attr('readonly', 'readonly');
                    //--------------2019-04-01
                    //if ($("#RoleName").val().indexOf("专工") >= 0) {
                        //$("#td_title_specialtytype").removeAttr("style");
                    //$("#td_value_specialtytype").removeAttr("style");
                 
                        if (data.data.SpecialtyType != null && data.data.SpecialtyType != undefined) {
                            $("#SpecialtyType").val(data.data.SpecialtyType);
                          
                            $("#SpecialtyType").find("option").each(function (i, dom) {
                                if (("," + data.data.SpecialtyType + ",").indexOf("," + $(dom).val() + ",") >= 0 && dom.value.length > 0) {
                                    $(dom).attr("selected", "selected");
                                }
                            });
                        }
                    //}
                    //--------------
                    //2019-03-04 Fwz 修改 查看状态隐藏身份证中间敏感信息
                    $("#IdentifyID").attr("disabled", "disabled")
                    var idCard = $("#IdentifyID").val();
                    if (idCard.length>0) {
                        var sta = idCard.substring(0, 4);
                        var end = idCard.substring(idCard.length - 4, idCard.length);
                        $("#IdentifyID").attr("idcard", idCard);
                            $("#IdentifyID").val(sta + "**********" + end);
                    }
                    if (rqaction == "show") {
                        $("#spanCard").remove();
                        $("#IdentifyID").parent().removeClass("input-group");
                        disabledControl();

                        //var value = $("#IdentifyID").val();
                        //var sta = value.substring(0, 4);
                        //var end = value.substring(value.length - 4, value.length);
                        //$("#IdentifyID").val(sta + "**********" + end);
                    }
                    //是否外包
                    if (data.data.IsEpiboly == "1") {
                        $("input[name='IsEpiboly']:eq(0)").prop("checked", "checked");
                        $(".project").show();
                    }
                    else {
                        $("input[name='IsEpiboly']:eq(1)").prop("checked", "checked");
                        $(".project").hide();
                    }
                    //是否在场
                    if (data.data.IsPresence == "0") {
                        $("input[name='IsPresence']:eq(1)").prop("checked", "checked");
                        $("#DepartureTime").show();
                        $("#DepartureTime").parent().prev().show();
                        $("#DepartureTime").attr("isvalid", "yes");

                    }
                    else {
                        $("input[name='IsPresence']:eq(0)").prop("checked", "checked");
                        $("#DepartureTime").hide();
                        $("#DepartureTime").parent().prev().hide();
                        $("#DepartureTime").removeAttr("isvalid");
                    }

                    ////是否外包
                    //if (data.IsEpiboly == "1") {
                    //    $("input[name='IsEpiboly']:eq(0)").prop("checked", "checked");
                    //}
                    //else {
                    //    $("input[name='IsEpiboly']:eq(1)").prop("checked", "checked");
                    //}
                    ////是否在场
                    //if (data.IsPresence == "0") {
                    //    $("input[name='IsPresence']:eq(1)").prop("checked", "checked");
                    //    $(".form tr:eq(12) td").each(function (index, ele) {
                    //        if (index > 1) {
                    //            $(this).removeAttr("style");
                    //        }
                    //    });
                    //    $("#DepartureTime").attr("isvalid", "yes");

                    //}
                    //else {
                    //    $("input[name='IsPresence']:eq(0)").prop("checked", "checked");
                    //    $(".form tr:eq(12) td").each(function (index, ele) {
                    //        if (index > 1) {
                    //            $(this).css("display", "none");
                    //            $("#DepartureTime").removeAttr("isvalid");
                    //        }
                    //    });
                    //}

                    $("#DepartureTime").val(formatDate(data.data.DepartureTime, "yyyy-MM-dd"));
                }
            });
            isEnadble();
        } else {
            //IntiDuty('-1', '-1');//如果是新增进来的时候
            var isSystem = "@ERCHTMS.Code.OperatorProvider.Provider.Current().IsSystem";
            if (isSystem == "False") {
                var orgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
                $("#OrganizeId").ComboBoxSetValue(orgId);
                $("#OrganizeId").trigger("change");
                $("#OrganizeId").attr('readonly', 'readonly');
                $("#RoleName").attr('disabled', 'disabled');
            }
            $("#RealName").val(engineerdirector);
            $("#Account").val(engineerdirectorphone);
            $("#Mobile").val(engineerdirectorphone);
            $("#DepartmentId").ComboBoxSetValue(departmentid);
            IntiDuty($("#OrganizeId").attr('data-value'), $("#DepartmentId").attr('data-value'));
            //外包工程
            $("#ProjectId").ComboBox({
                url: "../../OutsourcingProject/Outsouringengineer/GetEngineerByDeptId?deptId=" + $("#DepartmentId").attr('data-value'),
                id: "ID",
                text: "ENGINEERNAME",
                description: "==请选择==",
                height: "200px",
                allowSearch: true
            });
            if (!!engineerid) {
                $("input[name='IsEpiboly']:eq(0)").prop("checked", "checked");
                $(".project").show();
                $("#ProjectId").ComboBoxSetValue(engineerid);
                $("#Password").val("Abc123456");
                $.ajax({
                    url: '../../BaseManage/Post/GetPostEntity?orgid=' + top.currUserOrgId + '&PostName=项目经理',
                    type: "get",
                    success: function (data) {
                        var result = eval("(" + data + ")");
                        if (result.length > 0) {
                            $("#DutyId").ComboBoxSetValue(result[0].RoleId);
                            $("#DutyId").trigger("change");
                        }
                    }
                });
            }
        }


        $('.icheck input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%'
        });
        $("input[name='IsPresence']").on('ifChecked', function (event) {
            var checkValue = $(this).val();
            if (checkValue == "0") {
                $("#DepartureTime").show();
                $("#DepartureTime").parent().prev().show();
                $("#DepartureTime").attr("isvalid", "yes");
            }
            else {
                $("#DepartureTime").parent().prev().hide();
                $("#DepartureTime").hide();
                $("#DepartureTime").removeAttr("isvalid");
            }
        });



        var isPresence = $("input[name='IsPresence']:checked").val();
        if (isPresence == "0") {
            $("#DepartureTime").parent().prev().show();
            $("#DepartureTime").show();
            $("#DepartureTime").attr("isvalid", "yes");
        }
        else {
            $("#DepartureTime").parent().prev().hide();
            $("#DepartureTime").hide();
            $("#DepartureTime").removeAttr("isvalid");

        }
        //根据是否外包绑定外包工程

        $("input[name='IsEpiboly']").on('ifChecked', function (event) {
            var checkValue = $(this).val();
            if (checkValue == "1") {
                $(".project").show();
                $("#ProjectId").attr("isvalid", "yes");
            }
            else {
                $(".project").hide();
                $("#ProjectId").removeAttr("isvalid");
            }
        });
        isPresence = $("input[name='IsEpiboly']:checked").val();
        if (isPresence == "1") {
            $(".project").show();
            $("#ProjectId").attr("isvalid", "yes");
        }
        else {
            $(".project").hide();
            $("#ProjectId").removeAttr("isvalid");

        }
    }
    function isEnadble() {
        var isSystem = "@ERCHTMS.Code.OperatorProvider.Provider.Current().IsSystem";
        if (isSystem == "False") { $("#RoleName").attr('disabled', 'disabled'); }
    }
    //按钮操作
    function buttonOperation() {
        var $finish = $("#btn_finish");
        var $close = $("#btn_close");
        //完成提交保存
        $finish.click(function () {
            AcceptClick();
        });

        $close.click(function () {
            dialogClose();
        })
    }
    //加载表格
    function GetGrid() {
        var queryJson = {
            keyword: keyValue
        };
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 136.5,
            autowidth: true,
            url: "../../HiddenTroubleManage/HTBaseInfo/GetRulerPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                 { label: '主键', name: 'id', hidden: true },
                 {
                     label: '违章日期', name: 'checkdate', index: 'checkdate', width: 150, align: 'left', sortable: true,
                     formatter: function (cellvalue, options, rowObject) {
                         return formatDate(cellvalue, 'yyyy-MM-dd');
                     }
                 },
                {
                    label: '违章描述', name: 'hiddescribe', index: 'hiddescribe', width: 250, align: 'left', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:funcLoadOpen('" + rowObject.id + "') style='color:blue; text-decoration:underline'>" + cellvalue + "</a>";
                        return html;
                    }
                },
                { label: '处理措施', name: 'changemeasure', index: 'changemeasure', width: 300, align: 'left', sortable: true }
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 'checkdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });

    }
    //保存表单
    function AcceptClick() {
        var idCard = $("#IdentifyID").val();
        if (idCard.length > 0) {
            if (idCard.indexOf("**********") >= 0) {
                $("#IdentifyID").removeAttr("isvalid");
            }
        }
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData.Birthday = postData.Birthday == "&nbsp;" ? null : postData.Birthday;
        postData["DutyName"] = $("#DutyId").attr('data-text');

        postData["Manager"] = $("#ManagerId").attr('data-text');
        postData["Degrees"] = $("#DegreesID").attr('data-text');

        //是否外包
        var isEpiboly = $("input[name='IsEpiboly']:checked").val();
        postData["IsEpiboly"] = isEpiboly;

        postData.DepartureTime = postData.DepartureTime == "&nbsp;" ? null : postData.DepartureTime;
        //是否在场
        var isPresence = $("input[name='IsPresence']:checked").val();
        postData["IsPresence"] = isPresence;
        //if (!!$("#OrganizeId").attr('data-value')) {
        //    //处理得到组织code
        //    $.ajax({
        //        url: '../../BaseManage/User/GetOrganizeCode',
        //        data: { orgid: $("#OrganizeId").attr('data-value') },
        //        type: "GET",
        //        async: false,
        //        dataType: "JSON",
        //        success: function (result) {

        //            postData["OrganizeCode"] = result.EnCode;
        //        }
        //    });
        //}
        postData["OrganizeCode"] = $("#OrganizeId").attr('data-code');
        if (!!$("#DepartmentId").attr('data-value') == false) {
            postData["DepartmentCode"] = $("#OrganizeId").attr('data-code');
        } else {
            postData["DepartmentCode"] = $("#DepartmentId").attr('data-code');
        }
        if ($("#IdentifyID").val().length > 0) {
            postData["IdentifyID"] = $("#IdentifyID").attr("idcard");
        } else {
            postData["IdentifyID"] = "";
        }
        if ($("button[data-id='SpecialtyType']").attr("title") != undefined) {
            var title = "";
            $("#td_value_specialtytype").find("li[class='selected']").each(function (i, dom) {
                title += $("#SpecialtyType").find("option").eq($(dom).attr("data-original-index")).val() + ",";
            });
            postData["SpecialtyType"] = title.substring(0,title.length-1);
        }
      
        var _instanceData = $("#frmpreview").frmGetData();
        var moduleFormInstanceEntity = { "FormId": formId, "FormInstanceJson": JSON.stringify(_instanceData) };
        $.SaveForm({
            url: top.contentPath + "/BaseManage/User/SaveForm",
            param: { "keyValue": keyValue, "strUserEntity": JSON.stringify(postData), "FormInstanceId": instanceId, "strModuleFormInstanceEntity": JSON.stringify(moduleFormInstanceEntity) },
            loading: "正在保存数据...",
            success: function (data) {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //查看违章
    function funcLoadOpen(id) {
        var url = '/HiddenTroubleManage/HTBaseInfo/Form?keyValue=' + id + '&actiontype=view';
        var idx = dialogOpen({
            id: 'HTWindow',
            title: '查看违章',
            url: url,
            btns: 1,
            btn: ["关闭"],
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

    function chooseRole() {
        if (!!$('#OrganizeId').attr('data-value') == true) {
            selectRole($('#RoleId').val(), $('#OrganizeId').attr('data-value'), 1, 2, window.document.body, 'RoleName,RoleId', function () {
                //$("#SpecialtyType").val("");
                //if ($("#RoleName").val().indexOf("专工") >= 0) {
                //    $("#td_title_specialtytype").removeAttr("style");
                //    $("#td_value_specialtytype").removeAttr("style");
                //}
            });
        } else {
            dialogMsg('请先选择所属公司！', 0);
        }
    }
    function showCard(obj) {
        var idCard = $("#IdentifyID").attr("idcard");
        $("#IdentifyID").val(idCard);
        $("#IdentifyID").removeAttr("disabled");
    }
    function setCard(obj) {
        $("#IdentifyID").attr("idcard", obj.value);
    }
    function GetAge(strBirthday) {
        var returnAge;
        var strBirthdayArr = strBirthday.split("-");
        var birthYear = strBirthdayArr[0];
        var birthMonth = strBirthdayArr[1];
        var birthDay = strBirthdayArr[2];
        if (birthYear == "") {
            return "";
        }
        d = new Date();
        var nowYear = d.getFullYear();
        var nowMonth = d.getMonth() + 1;
        var nowDay = d.getDate();

        if (nowYear == birthYear) { //出生日期和当前同一年
            returnAge = 0;
        } else {
            var ageDiff = nowYear - birthYear;
            if (ageDiff > 0) {
                if (nowMonth == birthMonth) {
                    var dayDiff = nowDay - birthDay;
                    if (dayDiff < 0) {
                        returnAge = ageDiff - 1;
                    } else {
                        returnAge = ageDiff;
                    }
                } else {
                    var monthDiff = nowMonth - birthMonth;
                    if (monthDiff < 0) {
                        returnAge = ageDiff - 1;
                    } else {
                        returnAge = ageDiff;
                    }
                }
            } else {
                returnAge = -1;
            }
        }
        return returnAge;
    }
    function isDate(sBirthday) {
        var d = new Date(sBirthday.replace(/-/g, "/"));
        var newday = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
        if (sBirthday != (d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate())) {
            return false;
        } else {
            return true;
        }
    }
    //离开事件增加生日生成
    function IdCardonblur() {
        $.ExistField('IdentifyID', '../../BaseManage/User/ExistIdentifyID');
        var idc = $("#IdentifyID").val();
        var year = idc.substring(6, 10);
        var month = idc.substring(10, 12);
        var day = idc.substring(12, 14);
        //如果没有填写生日则自动生成生日
        //if ($("#Birthday").val() == "") {

        if (isDate(year + "-" + Number(month) + "-" + Number(day)))
            $("#Birthday").val(year + "-" + month + "-" + day);
        //}
        if (isDate(year + "-" + Number(month) + "-" + Number(day))) {
            //如果没有填写年龄 则自动生成年龄
            var Age = GetAge(year + "-" + month + "-" + day);
            $("#Age").val(Age);
        }
    }

</script>
<div style="margin-left: 10px; margin-right: 10px;">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#BaseInfo" data-toggle="tab">基本信息</a></li>
        @*<li style="display: none;"><a href="#ExpandInfo" data-toggle="tab">扩展属性</a></li>

        <li><a href="#BREAKRULEUSERIDS" data-toggle="tab">违章信息</a></li>
        <li><a href="#TrainData" data-toggle="tab">培训信息</a></li>
        *@
    </ul>
    <div class="tab-content" style="padding-top: 15px;">
        <div id="BaseInfo" class="tab-pane active" style="padding-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle">姓名<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="RealName" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">性别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="Gender" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull">
                            <ul>
                                <li data-value="男">男</li>
                                <li data-value="女">女</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">账户<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Account" type="text" onchange="$.ExistField(this.id,top.contentPath + '/BaseManage/User/ExistAccount')" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">密码<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="Password" type="password" class="form-control" placeholder="请输入密码" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">单位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="OrganizeId" type="selectTree" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                    <td class="formTitle">部门</td>
                    <td class="formValue">
                        <div id="DepartmentId" type="selectTree" class="ui-select"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">身份证号<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div class="input-group">
                            <input id="IdentifyID" length="18" type="text" class="form-control" isvalid="yes" checkexpession="IDCard" onblur="IdCardonblur()" onchange="setCard(this)" />
                            <span class="input-group-addon" onclick="showCard(this)" title="查看完整身份证号" id="spanCard"><i class="fa fa-eye"></i></span>
                        </div>

                        @*<input id="IdentifyID" length="18" type="text" class="form-control" isvalid="yes" checkexpession="IDCard" onblur="$.ExistField(this.id, '../../BaseManage/User/ExistIdentifyID')" />*@
                    </td>
                    <td class="formTitle">邮箱</td>
                    <td class="formValue">
                        <input id="Email" type="text" class="form-control" isvalid="yes" checkexpession="EmailOrNull" />
                    </td>

                </tr>
                <tr></tr>
                <tr>
                    <td class="formTitle">岗位<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="DutyId" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                    <td class="formTitle" id="td_title_specialtytype">专业类别</td>
                    <td class="formValue" id="td_value_specialtytype">
                        <select id="SpecialtyType" class="form-control selectpicker show-menu-arrow" multiple placeholder="请选择专业类别">
                            @Html.Raw(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetOptionsString("SpecialtyType"))
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">角色<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="RoleName" type="text" class="form-control" placeholder="请选择角色" isvalid="yes" checkexpession="NotNull" readonly onclick="chooseRole()" />
                        <input id="RoleId" type="hidden" /><input id="DeptId" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">工号</td>
                    <td class="formValue">
                        <input id="EnCode" type="text" class="form-control" />
                    </td>
                    <td class="formTitle">手机号码</td>
                    <td class="formValue">
                        <input id="Mobile" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhoneOrNull" />
                    </td>
                </tr>




                <tr>
                    <td class="formTitle">是否外包</td>
                    <td class="formValue icheck">
                        <input type="radio" value="1" id="IsEpiboly1" name="IsEpiboly" />&nbsp;<label for="IsEpiboly1">是</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="0" id="IsEpiboly2" name="IsEpiboly" checked="checked" />&nbsp;<label for="IsEpiboly2">否</label>
                    </td>
                    <td class="formTitle project" style="display: none;">外包工程</td>
                    <td class="formValue project" style="display: none;">
                        <div id="ProjectId" type="select" class="ui-select"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">是否在厂（职）</td>
                    <td class="formValue icheck">
                        <input type="radio" value="1" id="IsPresence1" name="IsPresence" checked="checked" />&nbsp;<label for="IsEpiboly1">是</label>&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="0" id="IsPresence2" name="IsPresence" />&nbsp;<label for="IsEpiboly2">否</label>
                    </td>
                    <td class="formTitle">离厂（职）时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="DepartureTime" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr id="ldapTr">
                    <td class="formTitle">是否需要申请LDAP账号</td>
                    <td class="formValue">
                        <div id="IsapplicationLdap" type="select" class="ui-select">
                            <ul>
                                <li data-value="0">否</li>
                                <li data-value="1">是</li>
                            </ul>
                        </div>
                    </td>
                    <td class="formTitle">用户来源</td>
                    <td class="formValue">
                        <div id="AccountType" type="select" class="ui-select">
                            <ul>
                                <li data-value="0">本地用户</li>
                                <li data-value="1">LDAP用户</li>
                            </ul>
                        </div>
                    </td>
                </tr>


                @* 下面的信息不显示 *@

                <tr style="display: none;">
                    <th class="formTitle" valign="top" style="padding-top: 4px;">
                        备注
                    </th>
                    <td class="formValue" colspan="3">
                        <textarea id="Description" class="form-control" style="height: 50px;"></textarea>
                    </td>
                </tr>
                <tr style="display: none;">
                    <td class="formTitle">学历</td>
                    <td class="formValue">
                        <div id="DegreesID" type="select" class="ui-select"></div>
                    </td>
                    <td class="formTitle">QQ</td>
                    <td class="formValue">
                        <input id="OICQ" type="text" class="form-control" />
                    </td>
                </tr>
                <tr style="display: none;">

                    <td class="formTitle">生日</td>
                    <td class="formValue">
                        <input id="Birthday" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                    <td class="formTitle">电话</td>
                    <td class="formValue">
                        <input id="Telephone" type="text" class="form-control" isvalid="yes" checkexpession="MobileOrPhoneOrNull" />
                    </td>
                </tr>
                <tr style="display: none;">
                    <td class="formTitle">微信</td>
                    <td class="formValue">
                        <input id="WeChat" type="text" class="form-control" />
                    </td>

                    <td class="formTitle">MSN</td>
                    <td class="formValue">
                        <input id="MSN" type="text" class="form-control" />
                    </td>
                </tr>
                <tr style="display: none;">
                    <td class="formTitle">工种</td>
                    <td class="formValue">
                        <select id="Craft" class="form-control">
                            <option value="">请选择或者输入</option>
                            <option value="木工">木工</option>
                            <option value="架子工">架子工</option>
                            <option value="电焊工">电焊工</option>
                            <option value="电工">电工</option>
                            <option value="气焊工">气焊工</option>
                            <option value="焊工">焊工</option>
                            <option value="起重工">起重工</option>
                        </select>
                        @*<input id="Craft" type="text" class="form-control" />*@
                    </td>

                </tr>
                @*<tr>
            <td colspan="4" height="40px"></td>
        </tr>
        <tr>
            <td colspan="4" height="25px" style="border-top: 1px solid #CCC"></td>
        </tr>
        <tr>
            <td colspan="3"></td>
            <td>
                <div style="text-align: right;">
                    <a id="btn_finish" class="btn btn-success" style="width: 70px;">确定</a>&nbsp;&nbsp;&nbsp;
                        <a id="btn_close" class="btn btn-danger" style="width: 70px;">关闭</a>
                </div>

            </td>

        </tr>
                *@
            </table>
        </div>
        @*<div id="ExpandInfo" class="tab-pane" style="display: none;">
            <div class="app_layout app_preview" style="border-top: 1px solid #ccc;" id="frmpreview"></div>
        </div>
        <div id="BREAKRULEUSERIDS" class="tab-pane">
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
        <div id="TrainData" class="tab-pane">
            <div class="app_layout app_preview" style="border-top: 1px solid #ccc;" id="frmpreview3"></div>
        </div>
        *@
    </div>
</div>

