@{;
ViewBag.Title = "报表";
Layout = "~/Views/Shared/_Form.cshtml";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>报表</title>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/highcharts-more.js"></script>
    <script src="~/Content/Scripts/plugins/highcharts/modules/exporting.js"></script>
    <link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
    <script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script type="text/javascript" src="~/content/scripts/business/common.js"></script>





    <style type="text/css">
        .li {
        }

        .tab0 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab0 td {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border: 1px solid #ccc;
                width: 16.666%;
            }

            .tab0 th {
                background-color: #f7f7f7;
                height: 40px;
                text-align: center;
                border-color: #ccc;
                width: 16.666%;
            }

        .tab1 {
            width: 100%;
            border: 1px solid #ccc;
        }

            .tab1 td {
                background-color: white;
                height: 30px;
                border: 1px solid #ccc;
            }

        a {
            color: black;
        }

        .stat_number {
            text-decoration: underline;
        }
    </style>

    <script>
        //是否是通用版
        var isGen = false;
        ////绑定编码值
        function ComBoxForDataForReport(elId, enCode, itemNameLike) {
            //应急预案类型
            var url = "../../SystemManage/DataItemDetail/GetDataItemListJsonForReport";
            if (itemNameLike == "ForYear") {
                itemNameLike = "";
                url = "../../SystemManage/DataItemDetail/GetDataItemListJsonForReportYearSJ";
                $("#" + elId).ComboBoxTree({
                    url: url,
                    param: { EnCode: enCode, ItemNameLike: itemNameLike },
                    height: "300px",
                    description: "==请选择=="
                });
            }
            else {
                $("#" + elId).ComboBox({
                    url: url,
                    param: { EnCode: enCode, ItemNameLike: itemNameLike },
                    id: "ItemValue",
                    text: "ItemName",
                    description: "==请选择==",
                    height: "150px",
                    allowSearch: true
                });
            }
        }


        //查看
        function show(rsshsgtypename, sgtypename, sglevelname, title) {

            //安全预警趋势图
            var TimeStart = $("#TimeStart").val();
            var TimeEnd = $("#TimeEnd").val();
            var sgtype = $("#SGTYPE").attr('data-value');
            var wssjtype = $("#WSSJTYPE").attr('data-value');
            //var dlrsswtype = $("#RSSHSGTYPE").attr('data-value');
            var bjnf = $("#bjnf option:selected").val();
            if (sgtype == undefined || sgtype == null)
                sgtype = "";
            if (wssjtype == undefined || wssjtype == null)
                wssjtype = "";
            if (sgtypeParam == undefined || sgtypeParam == null)
                sgtypeParam = "";
            //事故类型统计
            var url = "/AccidentEvent/Report/SGqsList?type=sglx";
            //事故等级统计、伤亡人数
            if (sglevelname != "") url = "/AccidentEvent/Report/SgLvelList?type=sgdj";
            if (title == "伤亡人数事故详情") {
                url = "/AccidentEvent/Report/SgLvelList?type=swrs";
            }
            //人生伤害
            if (rsshsgtypename != "") url = "/AccidentEvent/Report/RsshsgTypeList?type=rssh";
            var dlg = dialogOpen({
                id: "Form",
                url: url + '&rsshsgtypename=' + rsshsgtypename + '&sglevelname=' + sglevelname + '&sgtypename=' + sgtypename + '&TimeStart=' + TimeStart + '&TimeEnd=' + TimeEnd + "&sgtypeLevel=" + sgtypeParam,
                title: title,
                width: ($(top.window).width() - 150) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }

        //事故原因查看
        function showForSGYY(sgyy, title) {
            //安全预警趋势图
            var TimeStart = $("#TimeStart").val();
            var TimeEnd = $("#TimeEnd").val();
            var sgtype = $("#SGTYPE").attr('data-value');
            var wssjtype = $("#WSSJTYPE").attr('data-value');
            //var dlrsswtype = $("#RSSHSGTYPE").attr('data-value');
            var bjnf = $("#bjnf option:selected").val();
            if (sgyy == "A不安全行为") sgyy = "IsXW";
            if (sgyy == "B不安全状态") sgyy = "IsZT";
            if (sgtype == undefined || sgtype == null)
                sgtype = "";
            if (wssjtype == undefined || wssjtype == null)
                wssjtype = "";
            var url = "/AccidentEvent/Report/SGYYList";

            var dlg = dialogOpen({
                id: "Form",
                url: url + '?sgyy=' + sgyy + '&TimeStart=' + TimeStart + '&TimeEnd=' + TimeEnd + "&sgtype=" + sgtype,
                title: title,
                width: ($(top.window).width() - 150) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }

        //未遂事件类型查看
        function showForWssjType(wssjtypename, title) {
            //安全预警趋势图
            var TimeStart = $("#TimeStart").val();
            var TimeEnd = $("#TimeEnd").val();
            var sgtype = $("#SGTYPE").attr('data-value');
            var wssjtype = wssjtypename;
            var url = "/AccidentEvent/Report/WSSJTypeList";
            var dlg = dialogOpen({
                id: "Form",
                url: url + '?wssjtypename=' + wssjtypename + '&TimeStart=' + TimeStart + '&TimeEnd=' + TimeEnd,
                title: title,
                width: ($(top.window).width() - 150) + "px",
                height: ($(top.window).height() - 100) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }


        var mode = 0;
        var id = 0;
        var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
        $(function () {
            //ComBoxForDataForReport("SGTYPE", "AEM_SGTYPE", "事故");
            InitialPage();
            changeTab(6, $("#btnWarn1"));
            IsGeneric();
        })
        //判断是否是通用版 做页面处理
        function IsGeneric() {
            $.ajax({
                url: top.contentPath + '/Desktop/IsGeneric',
                type: "GET",
                async: false,
                dataType: "text",
                success: function (result) {
                    if (result == "true") {
                        $("#warn0").css("display", "none");
                        ComBoxForData("WSSJTYPE", "AEM_RSSHSGTYPENAME");
                        isGen = true;
                    } else {
                        isGen = false;
                        ComBoxForData("WSSJTYPE", "AEM_WSSJTYPE");
                    }
                }
            });
        }

        //初始化
        function InitialPage() {
            $('#desktop').height($(window).height() - 22);
            $(window).resize(function (e) {
                window.setTimeout(function () {
                    $('#desktop').height($(window).height() - 22);
                }, 200);
                e.stopPropagation();
            });
            if (roleNames.indexOf("负责人") < 0) {
                $("#btnWorks").remove();
            }
            var width = ($(window).width() / 3) - 30;
            //$("#divFX").width(width); $("#divJC").width(width); $("#divSGYH").width(width);
        }
        var isWork = false;//双控工作ajax请求加载标识
        var isRank = false;//隐患曝光与风险排名ajax请求加载标识



        //导航切换
        //导航切换
        function changeTab(idx, obj) {
            //伤亡事故
            if (idx == 2 || idx == 3 || idx == 4) {
                ComBoxForDataForReport("SGTYPE", "AEM_SGTYPE", "人身伤亡事故");
            }
            if (idx == 1) {
                ComBoxForDataForReport("SGTYPE", "AEM_SGTYPE", "事故");
            }
            if (idx == 5) {
                ComBoxForDataForReport("SGTYPE", "AEM_SGTYPE", "ForYear");
            }
            if (idx == 1) {
                $("#td1").html("事故类型：");
            }
            else {
                $("#td1").html("事故事件类型：");
            }

            id = idx;
            $("#divTB").show();
            $(".con0").hide();
            $(".con0").eq(idx).show();
            $(".btn-default").removeClass("btn-primary");
            $(".li").removeClass("btn-primary");
            $(obj).addClass("btn-primary");
            $(".btn-default").addClass("btn-default");
            drawChart(idx);
            if (id == 3 || id == 4) {
                $("#divTB").hide();
            }
        }
        var sgtypeParam = "";
        function Search() {

            drawChart(id);

        }

    </script>

    <script type="text/javascript">
        var chatObj = {};
        var uId = top.currUserId;
        var apiUrl = "@BSFramework.Util.Config.GetValue("ApiServiceUrl")";
        var signalRUrl = "@BSFramework.Util.Config.GetValue("SignalRUrl")";
        function drawChart(type) {
            if (type == 1)
                sgtypeParam = $("#SGTYPE").attr('data-value');
            else
                sgtypeParam = "";
            $("#td1").hide();
            $("#td11").hide();
            $("#td2").hide();
            $("#td22").hide();
            $("#td4").hide();
            $("#td44").hide();
            $("#td5").hide();
            $("#td55").hide();
            $("#td6").hide();
            $("#td66").hide();
            //安全预警趋势图
            var TimeStart = $("#TimeStart").val();
            var TimeEnd = $("#TimeEnd").val();
            var sgtype = $("#SGTYPE").attr('data-value');
            var wssjtype = $("#WSSJTYPE").attr('data-value');
            var bjnf = $("#bjnf option:selected").val();

            if (sgtype == undefined || sgtype == null)
                sgtype = "";
            if (wssjtype == undefined || wssjtype == null)
                wssjtype = "";
            $.post("../../AccidentEvent/Report/GetReport?bjnf=" + bjnf + "&wssjtype=" + wssjtype + "&sgtype=" + sgtype + "&type=" + type + "&TimeStart=" + TimeStart + "&TimeEnd=" + TimeEnd, function (riskVal) {
                var json = eval("(" + riskVal + ")");
                //alert(JSON.stringify(json));
                var arr = new Array();
                var arrdataswnum = new Array();
                var arrdatasznum = new Array();
                var arrdatazsnum = new Array();
                var arrdataqsnum = new Array();
                var arrdatasgqs = new Array();
                var swnumtotal = 0;
                var sznumtotal = 0;
                var zsnumtotal = 0;
                var qsnumtotal = 0;
                var sgqstotal = 0;
                //X轴显示
                var arrdatasjX = new Array();
                var html0 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html0 += '<tr  style="font-weight: bold;" >';
                html0 += '<td align="center">事故事件类型</td>';
                html0 += '<td align="center">事故起数</td>';
                html0 += '<td align="center">百分比</td>';
                var html1 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html1 += '<tr style="font-weight: bold;" >';
                html1 += '<td align="center">事故等级</td>';
                html1 += '<td align="center">事故起数</td>';
                html1 += '<td align="center">百分比</td>';
                var html2 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html2 += '<tr style="font-weight: bold;" >';
                html2 += '<td align="center">事故等级</td>';
                html2 += '<td align="center">事故起数</td>';
                html2 += '<td align="center">死亡人数</td>';
                html2 += '<td align="center">重伤人数</td>';
                html2 += '<td align="center">失踪人数</td>';
                html2 += '<td align="center">轻伤人数</td>';
                var html3 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html3 += '<tr  style="font-weight: bold;">';
                html3 += '<td align="center">事故类别</td>';
                html3 += '<td align="center">事故起数</td>';
                html3 += '<td align="center">死亡人数</td>';
                html3 += '<td align="center">重伤人数</td>';
                html3 += '<td align="center">失踪人数</td>';
                html3 += '<td align="center">轻伤人数</td>';

                var html4 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html4 += '<tr  style="font-weight: bold;">';
                html4 += '<td align="center" colspan="2">伤亡事故原因</td>';
                html4 += '<td align="center">事故起数（可重复）</td>';
                html4 += '<td align="center">死亡人数（可重复）</td>';
                html4 += '<td align="center">重伤人数（可重复）</td>';
                html4 += '<td align="center">失踪人数（可重复）</td>';
                html4 += '<td align="center">轻伤人数（可重复）</td>';

                var html5 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html5 += '<tr  style="font-weight: bold;">';
                html5 += '<td align="center">年份</td>';
                html5 += '<td align="center">事故事件起数</td>';
                html5 += '<td align="center">死亡人数</td>';
                html5 += '<td align="center">重伤人数</td>';
                html5 += '<td align="center">失踪人数</td>';
                html5 += '<td align="center">轻伤人数</td>';
                var html6 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html6 += '<tr  style="font-weight: bold;">';
                html6 += '<td align="center">未遂事件类型</td>';
                html6 += '<td align="center">未遂事件起数</td>';
                html6 += '<td align="center">百分比</td>';
                var html7 = '<table cellpadding="0" cellspacing="0" class="tab1" border="1" style="width:100%;">';
                html7 += '<tr  style="font-weight: bold;">';
                html7 += '<td align="center">年份</td>';
                html7 += '<td align="center">未遂事件起数</td>';
                if (type == 5 || type == 7) json.list.sort(function (a, b) { return b.text - a.text });
                for (var i = 0; i < json.list.length; i++) {
                    if (type == 0) {
                        arr.push([json.list[i].text, json.list[i].value])
                        html0 += "<tr>";
                        html0 += '<tr  >';
                        html0 += '<td align="center">' + json.list[i].text + '</td>';
                        html0 += '<td align="center">' + "<a href=javascript:show('','" + json.list[i].text + "','','事故详情') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';
                        html0 += '<td align="center">' + json.list[i].bfb + '%</td>';
                        html0 += "</tr>"
                        if (i == json.list.length - 1) {
                            html0 += "<tr>";
                            html0 += '<tr  >';
                            html0 += '<td align="center">合计</td>';
                            html0 += '<td align="center">' + json.count + '</td>';
                            html0 += '<td align="center">100%</td>';
                            html0 += "</tr>"
                        }
                    }
                    if (type == 1) {
                        arr.push([json.list[i].text, json.list[i].value])
                        html1 += "<tr>";
                        html1 += '<tr  >';
                        html1 += '<td align="center">' + json.list[i].text + '</td>';
                        if (json.list[i].value > 0)
                            html1 += '<td align="center">' + "<a href=javascript:show('','','" + json.list[i].text + "','事故详情') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';
                        else
                            html1 += '<td align="center">' + json.list[i].value + '</td>';
                        html1 += '<td align="center">' + json.list[i].bfb + '%</td>';
                        html1 += "</tr>"
                        if (i == json.list.length - 1) {
                            html1 += "<tr>";
                            html1 += '<tr  >';
                            html1 += '<td align="center">合计</td>';
                            html1 += '<td align="center">' + json.count + '</td>';
                            html1 += '<td align="center">100%</td>';
                            html1 += "</tr>"
                        }
                    }
                    if (type == 2) {
                        html2 += '<tr  >';
                        html2 += '<td align="center">' + json.list[i].text + '</td>';
                        if (json.list[i].value > 0)
                            html2 += '<td align="center">' + "<a href=javascript:show('','','" + json.list[i].text + "','伤亡人数事故详情') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';
                        else
                            html2 += '<td align="center" style="color:' + (json.list[i].value > 0 ? "red" : "black") + '">' + json.list[i].value + '</td>';
                        html2 += '<td align="center" style="color:' + (json.list[i].swnum > 0 ? "red" : "black") + '">' + json.list[i].swnum + '</td>';
                        html2 += '<td align="center" style="color:' + (json.list[i].zsnum > 0 ? "red" : "black") + '">' + json.list[i].zsnum + '</td>';
                        html2 += '<td align="center" style="color:' + (json.list[i].sznum > 0 ? "red" : "black") + '">' + json.list[i].sznum + '</td>';
                        html2 += '<td align="center" style="color:' + (json.list[i].qsnum > 0 ? "red" : "black") + '">' + json.list[i].qsnum + '</td>';
                        html2 += "</tr>"
                        arrdatasjX.push(json.list[i].text);
                        arrdataswnum.push(json.list[i].swnum);
                        swnumtotal += parseInt(json.list[i].swnum);
                        arrdatazsnum.push(json.list[i].zsnum);
                        zsnumtotal += parseInt(json.list[i].zsnum);
                        arrdatasznum.push(json.list[i].sznum);
                        sznumtotal += parseInt(json.list[i].sznum);
                        arrdataqsnum.push(json.list[i].qsnum);
                        qsnumtotal += parseInt(json.list[i].qsnum);
                        arrdatasgqs.push(json.list[i].value);
                        sgqstotal += parseInt(json.list[i].value);

                        //合计
                        if (i == json.list.length - 1) {
                            html2 += '<tr  >';
                            html2 += '<td align="center">合计</td>';
                            html2 += '<td align="center" style="color:' + (sgqstotal > 0 ? "red" : "black") + '">' + sgqstotal + '</td>';
                            html2 += '<td align="center" style="color:' + (swnumtotal > 0 ? "red" : "black") + '">' + swnumtotal + '</td>';
                            html2 += '<td align="center" style="color:' + (zsnumtotal > 0 ? "red" : "black") + '">' + zsnumtotal + '</td>';
                            html2 += '<td align="center" style="color:' + (sznumtotal > 0 ? "red" : "black") + '">' + sznumtotal + '</td>';
                            html2 += '<td align="center" style="color:' + (qsnumtotal > 0 ? "red" : "black") + '">' + qsnumtotal + '</td>';
                            html2 += "</tr>"
                        }

                    }
                    if (type == 3) {
                        html3 += '<tr  >';
                        html3 += '<td align="center">' + json.list[i].text + '</td>';
                        if (json.list[i].value > 0)
                            html3 += '<td align="center">' + "<a href=javascript:show('" + json.list[i].text + "','','','事故详情') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';
                        else
                            html3 += '<td align="center">' + json.list[i].value + '</td>';
                        html3 += '<td align="center" style="color:' + (json.list[i].swnum > 0 ? "red" : "black") + '">' + json.list[i].swnum + '</td>';
                        html3 += '<td align="center" style="color:' + (json.list[i].zsnum > 0 ? "red" : "black") + '">' + json.list[i].zsnum + '</td>';
                        html3 += '<td align="center" style="color:' + (json.list[i].sznum > 0 ? "red" : "black") + '">' + json.list[i].sznum + '</td>';
                        html3 += '<td align="center" style="color:' + (json.list[i].qsnum > 0 ? "red" : "black") + '">' + json.list[i].qsnum + '</td>';
                        html3 += "</tr>"
                        arrdatasjX.push(json.list[i].text);
                        arrdataswnum.push(json.list[i].swnum);
                        swnumtotal += parseInt(json.list[i].swnum);
                        arrdatazsnum.push(json.list[i].zsnum);
                        zsnumtotal += parseInt(json.list[i].zsnum);
                        arrdatasznum.push(json.list[i].sznum);
                        sznumtotal += parseInt(json.list[i].sznum);
                        arrdataqsnum.push(json.list[i].qsnum);
                        qsnumtotal += parseInt(json.list[i].qsnum);
                        arrdatasgqs.push(json.list[i].value);
                        sgqstotal += parseInt(json.list[i].value);

                        //合计
                        if (i == json.list.length - 1) {
                            html3 += '<tr  >';
                            html3 += '<td align="center">合计</td>';
                            html3 += '<td align="center" style="color:' + (sgqstotal > 0 ? "red" : "black") + '">' + sgqstotal + '</td>';
                            html3 += '<td align="center" style="color:' + (swnumtotal > 0 ? "red" : "black") + '">' + swnumtotal + '</td>';
                            html3 += '<td align="center" style="color:' + (zsnumtotal > 0 ? "red" : "black") + '">' + zsnumtotal + '</td>';
                            html3 += '<td align="center" style="color:' + (sznumtotal > 0 ? "red" : "black") + '">' + sznumtotal + '</td>';
                            html3 += '<td align="center" style="color:' + (qsnumtotal > 0 ? "red" : "black") + '">' + qsnumtotal + '</td>';
                            html3 += "</tr>"
                        }


                    }

                    if (type == 4) {
                        //直接原因
                        if (json.list[i].type == 1 && html4.indexOf("直接原因") == -1) {
                            html4 += '<tr  >';
                            html4 += '<td align="center" rowspan="' + (json.count1 + 1) + '">直接原因</td>';
                            html4 += "</tr>"
                        }
                        if (json.list[i].type == 2 && html4.indexOf("间接原因") == -1) {
                            html4 += '<tr  >';
                            html4 += '<td  align="center"  rowspan="' + (json.count2 + 1) + '">间接原因</td>';
                            html4 += "</tr>"
                        }
                        html4 += '<tr  >';
                        if (json.list[i].text == "A不安全行为" || json.list[i].text == "B不安全状态")
                            html4 += '<td align="center" style="color:Red" >' + json.list[i].text + '</td>';
                        else
                            html4 += '<td align="center" >' + json.list[i].text + '</td>';
                        if (json.list[i].value > 0)
                            html4 += '<td align="center">' + "<a href=javascript:showForSGYY('" + json.list[i].text + "','事故详情') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';
                        else
                            html4 += '<td align="center">' + json.list[i].value + '</td>';
                        html4 += '<td align="center" style="color:' + (json.list[i].swnum > 0 ? "red" : "black") + '">' + json.list[i].swnum + '</td>';
                        html4 += '<td align="center" style="color:' + (json.list[i].zsnum > 0 ? "red" : "black") + '">' + json.list[i].zsnum + '</td>';
                        html4 += '<td align="center" style="color:' + (json.list[i].sznum > 0 ? "red" : "black") + '">' + json.list[i].sznum + '</td>';
                        html4 += '<td align="center" style="color:' + (json.list[i].qsnum > 0 ? "red" : "black") + '">' + json.list[i].qsnum + '</td>';

                        html4 += "</tr>"
                    }
                    if (type == 5) {
                        html5 += '<tr  >';
                        html5 += '<td align="center">' + json.list[i].text + '</td>';
                        html5 += '<td align="center">' + json.list[i].value + '</td>';
                        html5 += '<td align="center">' + json.list[i].swnum + '</td>';
                        html5 += '<td align="center">' + json.list[i].zsnum + '</td>';
                        html5 += '<td align="center">' + json.list[i].sznum + '</td>';
                        html5 += '<td align="center">' + json.list[i].qsnum + '</td>';
                        html5 += "</tr>"
                        arrdatasjX.push(json.list[i].text);
                        arrdataswnum.push(json.list[i].swnum);
                        swnumtotal += parseInt(json.list[i].swnum);
                        arrdatazsnum.push(json.list[i].zsnum);
                        zsnumtotal += parseInt(json.list[i].zsnum);
                        arrdatasznum.push(json.list[i].sznum);
                        sznumtotal += parseInt(json.list[i].sznum);
                        arrdataqsnum.push(json.list[i].qsnum);
                        qsnumtotal += parseInt(json.list[i].qsnum);
                        arrdatasgqs.push(json.list[i].value);
                        sgqstotal += parseInt(json.list[i].value);
                    }
                    if (type == 6) {
                        arr.push([json.list[i].text, json.list[i].value])
                        html6 += "<tr>";
                        html6 += '<tr  >';
                        html6 += '<td align="center">' + json.list[i].text + '</td>';
                        html6 += '<td align="center">' + "<a href=javascript:showForWssjType('" + json.list[i].text + "','未遂事件类型') style='color:blue; text-decoration:underline;padding-left:0px;'  title='查看'>" + json.list[i].value + "</a>" + '</td>';

                        //html6 += '<td align="center">' + json.list[i].value + '</td>';
                        html6 += '<td align="center">' + json.list[i].bfb + '%</td>';
                        html6 += "</tr>"
                        if (i == json.list.length - 1) {
                            html6 += "<tr>";
                            html6 += '<tr  >';
                            html6 += '<td align="center">合计</td>';
                            html6 += '<td align="center">' + json.count + '</td>';
                            html6 += '<td align="center">100%</td>';
                            html6 += "</tr>"
                        }
                    }
                    if (type == 7) {
                        arr.push([json.list[i].text, json.list[i].value])
                        html7 += "<tr>";
                        html7 += '<tr  >';
                        html7 += '<td align="center">' + json.list[i].text + '</td>';
                        html7 += '<td align="center">' + json.list[i].value + '</td>';
                        html7 += "</tr>"
                        arrdatasjX.push(json.list[i].text);
                        sgqstotal += parseInt(json.list[i].value);
                        arrdatasgqs.push(json.list[i].value);
                    }

                }

                switch (type) {
                    case 7:
                        $("#td2").show();
                        $("#td22").show()
                        $("#td6").show();
                        $("#td66").show();
                        var data7 = [
                            {
                                name: '未遂事件起数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdatasgqs,
                                stack: "0",
                            },
                            {
                                name: '折线',
                                type: "spline",
                                colorByPoint: false,
                                data: arrdatasgqs,
                                stack: "2",
                            }
                        ];
                        html7 += '</tr>';
                        html7 += "</table>";
                        //按事故等级统计
                        $("#gridTable1").html(html7);
                        LoadContainer7(data7, arrdatasjX);
                        break;


                    case 6:
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        html6 += '</tr>';
                        html6 += "</table>";
                        $("#gridTable1").html(html6);
                        LoadContainer6();
                        $("#c6").highcharts().series[0].setData(arr);
                        break;
                    case 0:
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        html0 += '</tr>';
                        html0 += "</table>";
                        $("#gridTable1").html(html0);
                        LoadContainer0();
                        $("#c0").highcharts().series[0].setData(arr);

                        break;
                    case 1:
                        if (!isGen) {
                            $("#td1").show();
                            $("#td11").show();
                        }
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        html1 += '</tr>';
                        html1 += "</table>";
                        $("#gridTable1").html(html1);
                        LoadContainer1();
                        $("#c1").highcharts().series[0].setData(arr);
                        break;
                    case 2:
                        if (!isGen) {
                            $("#td1").show();
                            $("#td11").show();
                        }
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        //应急演练数量统计
                        //var data2 = arrdatasj;
                        var data2 = [

                            {
                                name: '死亡人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdataswnum,
                                stack: "0",
                            }, {
                                name: '重伤人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdatazsnum,
                                stack: "1",
                            }, {
                                name: '失踪人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdatasznum,
                                stack: "2",
                            },
                            {
                                name: '轻伤人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdataqsnum,
                                stack: "3",
                            },
                            {
                                name: '事故起数',
                                type: "spline",
                                colorByPoint: false,
                                data: arrdatasgqs,
                                stack: "4",
                            }
                        ];
                        html2 += '</tr>';
                        html2 += "</table>";
                        //按事故等级统计
                        $("#gridTable1").html(html2);
                        LoadContainer2(data2, arrdatasjX);
                        break;

                    case 3:
                        if (!isGen) {
                            $("#td1").show();
                            $("#td11").show();
                        }
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        html3 += '</tr>';
                        html3 += "</table>";
                        //按人身伤害事故类别统计
                        $("#gridTable1").html(html3);
                        break;
                    case 4:
                        if (!isGen) {
                            $("#td1").show();
                            $("#td11").show();
                        }
                        $("#td4").show();
                        $("#td44").show();
                        $("#td5").show();
                        $("#td55").show();
                        html4 += '</tr>';
                        html4 += "</table>";
                        //伤亡事故原因统计
                        $("#gridTable1").html(html4);
                        break;
                    case 5:
                        if (!isGen) {
                            $("#td1").show();
                            $("#td11").show();
                        }
                        $("#td6").show();
                        $("#td66").show();
                        //var data2 = arrdatasj;
                        var data5 = [

                            {
                                name: '死亡人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdataswnum,
                                stack: "0",
                            }, {
                                name: '重伤人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdatazsnum,
                                stack: "1",
                            }, {
                                name: '失踪人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdatasznum,
                                stack: "2",
                            },
                            {
                                name: '轻伤人数',
                                type: "column",
                                colorByPoint: false,
                                data: arrdataqsnum,
                                stack: "3",
                            },
                            {
                                name: '事故起数',
                                type: "spline",
                                colorByPoint: false,
                                data: arrdatasgqs,
                                stack: "4",
                            }
                        ];
                        html5 += '</tr>';
                        html5 += "</table>";
                        //按事故等级统计
                        $("#gridTable1").html(html5);
                        LoadContainer5(data5, arrdatasjX);
                        break;
                    default:
                        break;
                }




            });
        }

        //加载病状
        function LoadContainer0() {
            //图形
            $("#c0").highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
                exporting: { enabled: false },
                title: { text: '按事故事件类型统计' },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: '百分比',
                    colorByPoint: true

                }],
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

        //加载病状
        function LoadContainer1() {
            //图形
            $("#c1").highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
                exporting: { enabled: false },
                title: { text: '按事故等级统计' },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: '百分比',
                    colorByPoint: true

                }],
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

        //加载柱状
        function LoadContainer2(data, dataX) {
            //图形
            $("#c2").highcharts({

                chart: {

                    zoomtype: "xy",
                    hight: 50,

                },

                xAxis: { categories: dataX },
                yAxis: { title: { text: '数量统计' } },

                tooltip: { pointFormat: '{series.name}: <b>{point.y}</b>' },
                exporting: { enabled: false },
                title: { text: '按伤亡人数统计' },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>{point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                    }

                },
                series: data,
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

        //加载柱状
        function LoadContainer7(data, dataX) {
            //图形
            $("#c7").highcharts({

                chart: {

                    zoomtype: "xy",
                    hight: 50,

                },

                xAxis: { categories: dataX },
                yAxis: { title: { text: '数量统计' } },

                tooltip: { pointFormat: '{series.name}: <b>{point.y}</b>' },
                exporting: { enabled: false },
                title: { text: '年度变化统计' },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>{point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                    }

                },
                series: data,
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }
        //加载柱状
        function LoadContainer5(data, dataX) {
            //图形
            $("#c5").highcharts({

                chart: {

                    zoomtype: "xy",
                    hight: 50,

                },

                xAxis: { categories: dataX },
                yAxis: { title: { text: '数量统计' } },

                tooltip: { pointFormat: '{series.name}: <b>{point.y}</b>' },
                exporting: { enabled: false },
                title: { text: '按年度变化统计' },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>{point.y}',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                    }

                },
                series: data,
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }


        //加载病状
        function LoadContainer6() {
            //图形
            $("#c6").highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                tooltip: { pointFormat: '{series.name}: <b>{point.percentage:.2f}%</b>' },
                exporting: { enabled: false },
                title: { text: '按未遂事件类型统计' },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.2f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: '百分比',
                    colorByPoint: true

                }],
                lang: { noData: "暂无数据可显示!" },
                noData: {
                    position: {
                        align: 'center',
                        verticalAlign: 'middle'
                    },
                    attr: {
                        'stroke-width': 1
                    },
                    style: {
                        fontWeight: 'bold',
                        fontSize: '15px',
                        color: '#202030'
                    }
                }
            });
        }

    </script>
</head>
<body>



    <script type="text/javascript">
        function showSJ(showId, hideId) {
            document.getElementById("" + showId).style.display = "";
            document.getElementById("" + hideId).style.display = "none";
        }

    </script>

    <div class="center-Panel">
        <div class="panel-Title">事故事件统计</div>
        <div class="titlePanel">
            <div class="title-search" id="search">

                <table class="queryform" id="searchTab">
                    <tr>
                        <td class="formTitle" id="td1"> 事故事件类型：</td>
                        <td class="formValue" id="td11">
                            <div id="SGTYPE" type="select" class="ui-select" isvalid="yes" style=" width:180px"></div>
                        </td>
                        <td class="formTitle" id="td2">未遂事件类型：</td>
                        <td class="formValue" id="td22">
                            <div id="WSSJTYPE" type="select" class="ui-select" style="width:150px" isvalid="yes"></div>
                        </td>
                        <td class="formTitle" id="td4"> 统计时间：</td>
                        <td class="formValue" id="td44">
                            <input id="TimeStart" type="text" style="width:100px" value="@DateTime.Now.ToString("yyyy-01-01")" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </td>
                        <td class="formTitle" id="td5">至</td>
                        <td class="formValue" id="td55">
                            <input id="TimeEnd" type="text" style="width: 100px" value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control input-datepicker" isvalid="yes" checkexpession="NotNull" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" />
                        </td>
                        <td class="formTitle" id="td6"> 比较年份：</td>
                        <td class="formValue" id="td66">
                            <select id="bjnf" class=" show-menu-arrow form-control" style="width:100px;">
                                <option value="0">全部</option>
                                <option value="1">近五年</option>
                                <option value="2">近十年</option>

                            </select>
                        </td>


                        <td class="formValue">
                            <a id="btn_Search" class="btn btn-primary" onclick="Search();"><i class="fa fa-search"></i>查询</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a id="btnWarn1" class="btn btn-default" onclick="changeTab(6, this)"><i class="fa fa fa-pie-chart"></i>&nbsp;未遂事件类型</a>
                    <a id="btnWarn2" class="btn btn-default" onclick="changeTab(7, this)"><i class="fa fa fa-area-chart"></i>&nbsp;未遂事件年度变化统计</a>
                    <a id="btnWarn3" class="btn btn-default btn10 dropdown-toggle btn11" data-toggle="dropdown"><i class="fa fa fa-bar-chart"></i>&nbsp;事故事件统计&nbsp;<i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu pull-right btn11" id="drop-lr-panel-four">
                        <li id="warn0"><a class="li" id="btnWarn0" onclick="changeTab(0,this)"><i></i>按事故事件类型统计</a></li>
                        <li><a class="li" id="btnWarn" onclick="changeTab(1,this)"><i></i>按事故等级统计</a></li>
                        <li><a class="li" id="btnWork" onclick="changeTab(2, this)"><i></i>按伤亡人数统计</a></li>
                        <li><a class="li" id="btnSpace" onclick="changeTab(3,this)"><i></i>按人身伤害事故类别统计</a></li>
                        <li><a class="li" id="btnRank" onclick="changeTab(4, this)"><i></i>按伤亡事故原因统计</a></li>
                        <li><a class="li" id="btnSGYear" onclick="changeTab(5,this)"><i></i>按年度变化统计</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="portal-panel" style="margin-left:0px;">
            <div class="panel panel-default" id="divTB">
                <div class="panel-heading">
                    <strong>&nbsp;&nbsp;统计图表</strong>
                    <span class="tools pull-right">
                        <a class="fa fa-chevron-down" title="展开/收起"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <div id="dbcontainer" style="margin:10px;">
                        <div class="portal-panel" style="margin-left:0px;">
                            <div class="row" style="margin-top: 10px;">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">
                                    </div>
                                </div>
                            </div>
                            @*事故事件报表*@
                            <div id="divSGSJBB">
                                <div class="row" style="margin-top: 10px;">
                                    <div class="btn-group">


                                    </div>
                                </div>

                                <!---事故事件类型--->

                                <div id="con0" style="width: 100%; float: left;" class="row con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c0" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>
                                <!---按事故等级统计--->

                                <div id="con1" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c1" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                                <!---按人身伤害事故类别统计--->

                                <div id="con2" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c2" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                                <!---伤亡事故原因--->

                                <div id="con3" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">





                                    </div>
                                </div>

                                <!---伤亡事故原因--->

                                <div id="con4" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">





                                    </div>
                                </div>

                                <!---年度变化--->

                                <div id="con5" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c5" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                            </div>
                            @*未遂事件报表*@
                            <div id="divWSSJBB">
                                <!---按事故等级统计--->

                                <div id="con6" style="width: 100%; float: left;" class="row con0">

                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">

                                        <div id="c6" style="position: relative; left: -15px;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>


                                <!---年度变化统计--->

                                <div id="con7" style="width: 100%; display:none; float: left;" class="row con0">
                                    <div class="portal-panel-title" style="font-weight: bold; color: #41b1c6;">


                                        <div id="c7" style="position: relative; left: -15px; width: 100%;">
                                            <center style="margin-top:50px;"><img src="../../content/images/loading1.gif" border="0" />&nbsp;正在加载数据……</center>
                                        </div>



                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row" id="grid1">
                <div class="panel panel-default" style="margin:10px;">
                    <div class="panel-heading">
                        <strong>&nbsp;&nbsp;统计数据</strong>
                        <span class="tools pull-right">
                            <a class="fa fa-chevron-down" title="展开/收起"></a>
                        </span>
                    </div>
                    <div class="panel-body">
                        <table class="tab1" id="gridTable1"></table>
                    </div>
                </div>
            </div>

        </div>

    </div>



</body>
</html>
