@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script>
    var keyValue = request("keyValue"); //主键 隐患信息主键
    var actiontype = request("actiontype");
    var curIndustry = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Industry";
    var IsEnableMinimalistMode = 0;
    var ControlPicMustUpload = ""; //相关图片必传控制配置
    var IsAcceptDeliver = false;
    $(function () {
        $.ajax({
            type: "get",
            url: "../../HiddenTroubleManage/HTBaseInfo/IsEnableMinimalistMode",
            success: function (data) {

                IsEnableMinimalistMode = parseInt(data);
                //启用极简模式
                if (!!parseInt(data)) {
                    $(".tab0").remove();
                    $(".tab1").css("display", "");
                    MinimalistInit(); //极简版本
                    $(".hid").css("display", "none");
                }
                else { //专业版本
                    $(".tab1").remove();
                    $(".tab0").css("display", "");
                    initControl(); //电力版本
                }
            }
        });
    });

    //获取历史整改信息
    function GetHistoryChange() {
        var keyCode = $("#HIDCODE").val();
        dialogOpen({
            id: 'HistoryForm',
            title: '隐患整改信息',
            url: '/HiddenTroubleManage/HTChangeInfo/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }
    //获取历史验收信息
    function GetHistoryAccetp() {
        var keyCode = $("#HIDCODE").val();
        dialogOpen({
            id: 'HistoryForm',
            title: '隐患验收信息',
            url: '/HiddenTroubleManage/HTAcceptInfo/DetailList?keyCode=' + keyCode,
            width: ($(top.window).width() - 200) + "px",
            height: ($(top.window).height() - 200) + "px",
            btn: null
        });
    }
    //获取评估列表 approvalGridTable
    function GetApprovalGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#approvalGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTApproval/GetListJson?hideCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:Detail('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '评估人', name: 'APPROVALPERSONNAME', index: 'APPROVALPERSONNAME', width: 120, align: 'center' },
                { label: '评估单位', name: 'APPROVALDEPARTNAME', index: 'APPROVALDEPARTNAME', width: 150, align: 'center' },
                {
                    label: '评估情况', name: 'APPROVALRESULT', index: 'APPROVALRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.APPROVALRESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'APPROVALDATE', index: 'APPROVALDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //隐患评估详情信息
    function Detail(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '隐患评估详情',
            url: '/HiddenTroubleManage/HTApproval/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
    //复查验证列表
    function GetRecheckGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#recheckGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTReCheck/GetHistoryListJson?keyCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                 {
                     label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "<a href=javascript:DetailRecheck('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                         return html;
                     }
                 },
                { label: '复查单位', name: 'RECHECKDEPARTNAME', index: 'RECHECKDEPARTNAME', width: 150, align: 'center' },
                { label: '复查人', name: 'RECHECKPERSONNAME', index: 'RECHECKPERSONNAME', width: 120, align: 'center' },
                {
                    label: '复查结果', name: 'RECHECKSTATUS', index: 'RECHECKSTATUS', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.RECHECKSTATUS == "0" ? "验证不合格" : "验证合格";
                        return html;
                    }
                },
                {
                    label: '复查时间', name: 'RECHECKDATE', index: 'RECHECKDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'recheckdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //复查验证详情
    function DetailRecheck(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '复查验证详情',
            url: '/HiddenTroubleManage/HTReCheck/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
    //整改效果评估列表
    function GetEstimateGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#estimateGridTable');
        $gridTable.jqGrid({
            url: "../../HiddenTroubleManage/HTEstimate/GetHistoryListJson?keyCode=" + $("#HIDCODE").val(),
            datatype: "json",
            height: $(window).height() - 300,
            autowidth: true,
            colModel: [
                {
                    label: '操作', name: 'ID', index: 'ID', width: 120, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:DetailEstimate('" + rowObject.ID + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '评估单位', name: 'ESTIMATEDEPARTNAME', index: 'ESTIMATEDEPARTNAME', width: 150, align: 'center' },
                { label: '评估人', name: 'ESTIMATEPERSONNAME', index: 'ESTIMATEPERSONNAME', width: 120, align: 'center' },
                {
                    label: '评估结果', name: 'ESTIMATERESULT', index: 'ESTIMATERESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.ESTIMATERESULT == "0" ? "不通过" : "通过";
                        return html;
                    }
                },
                {
                    label: '评估时间', name: 'ESTIMATEDATE', index: 'ESTIMATEDATE', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = formatDate(cellvalue, 'yyyy-MM-dd');
                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            sortname: 'ESTIMATEDATE',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }
    //整改效果评估详情
    function DetailEstimate(keyValue) {
        dialogOpen({
            id: 'DetailForm',
            title: '整改效果评估详情',
            url: '/HiddenTroubleManage/HTEstimate/Detail?keyValue=' + keyValue,
            width: ($(top.window).width() - 200) + "px",
            height: '680px',
            btn: null
        });
    }
    //初始化控件
    function initControl() {
        //验证当前是否存在flash插件
        var fls = flashChecker();
        var s = "";
        if (!fls.f) {
            var html = "<a href='http://get.adobe.com/cn/flashplayer/' style='text-decoration:none;color:red;' target='_bank'>您的浏览器未安装Flash插件,无法支持文件上传功能,请下载安装!</a>";
            $("#HidMessage").html(html);
        }
        $(".center-Panel").css({ "width": "100%", "height": ($(top.window).height() - 160) + "px", "padding-top": "38px" });
        var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
        //默认给当前时间
        $("#ACCEPTDATE").val(curDate);
        //提交流程
        $("#btn_Submit").click(function () {
            SubmitAction();
        });


        //转交
        $("#btn_Deliver").click(function () {
            var idx = dialogOpen({
                id: "DeliverForm",
                title: "隐患验收转交",
                url: '/HiddenTroubleManage/HTAcceptInfo/DeliverForm?keyValue=' + keyValue + "&acceptid=" + $("#ACCEPTID").val(),
                width: ($(top.window).width() / 2) + "px",
                height: ($(top.window).height() / 2) + "px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptAction();
                }
            });
        });

        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetInitDataJson",
            success: function (data) {
                var IsDisable_MajorClassify = data.IsDisable_MajorClassify;//是否禁用专业分类
                ControlPicMustUpload = data.ControlPicMustUpload; //相关图片必传控制
                if (IsDisable_MajorClassify > 0) {
                    $(".majorTr td:eq(0)").css("display", "none");
                    $(".majorTr td:eq(1)").css("display", "none");
                    $("#MAJORCLASSIFY").removeAttr("isvalid");
                    data.MajorClassify = [];
                }
                //用于判定是否具有转交功能
                IsAcceptDeliver = data.IsAcceptDeliver;
                //为空则隐藏
                if (!IsAcceptDeliver) { $("#btn_Deliver").css("display", "none"); }
                //隐患验收图片
                $("#ACCEPTPHOTO").val(data.AcceptPhoto);
                //检查类型
                $("#CHECKTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.CheckType
                });
                //隐患级别
                $("#HIDRANK").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidRank,
                });
                //隐患专业分类
                $("#MAJORCLASSIFY").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.MajorClassify,
                });
                //隐患类别
                $("#HIDTYPE").ComboBoxTree({
                    url: "../../HiddenTroubleManage/HTBaseInfo/GetHiddenTypeDataJson",
                    description: "==请选择==",
                    allowSearch: false
                });
                //所属单位
                $("#HIDDEPARTNAME").ComboBox({
                    id: "DepartmentId",
                    text: "FullName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.DeptData
                });
                //当前用户
                if (null != data.User) {
                    $("#ACCEPTPERSON").val(data.User.UserId);
                    $("#ACCEPTPERSONNAME").val(data.User.UserName);
                    $("#ACCEPTDEPARTCODE").val(data.User.DeptCode);
                    $("#ACCEPTDEPARTNAME").val(data.User.DeptName);
                    var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
                    $("#ACCEPTDATE").val(curDate);
                }
            }
        });

        //整改完成情况
        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");

        $(".form:eq(1) .importHid").css("display", "none");
        //验收情况
        $("input[name='ACCEPTSTATUS']:eq(0)").prop("checked", "checked");
        var acceptVal = $("input[name='ACCEPTSTATUS']:checked").val();
        //验收不通过
        if (acceptVal == "0") {
            $("#ACCEPTIDEA").attr("checkexpession", "LenStr");
            $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因<span style='color:red;'>*</span>");
        }
        //验收情况控制
        $("input[name='ACCEPTSTATUS']").click(function () {
            var checkValue = $(this).val();
            if (checkValue == "1") {
                $("#ACCEPTIDEA").attr("checkexpession", "LenStrOrNull");
                $(".form:eq(0) tr:eq(2) td:eq(0)").html("验收意见");
            }
            else {
                $("#ACCEPTIDEA").attr("checkexpession", "LenStr");
                $(".form:eq(0) tr:eq(2) td:eq(0)").html("不通过原因<span style='color:red;'>*</span>");
            }
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //隐患整改
                    if (null != data.changeInfo) {
                        $("#CHANGEID").val(data.changeInfo.ID);
                        $("#form1").formDeserialize(data.changeInfo);
                        //是否整改完成
                        if (data.changeInfo.CHANGERESULT == "1") {
                            $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                        }
                    }
                    //隐患验收
                    if (null != data.acceptInfo) {
                        if (!data.acceptInfo.ACCEPTPHOTO) {
                            data.acceptInfo.ACCEPTPHOTO = $("#ACCEPTPHOTO").val();
                        }
                        $("#ACCEPTID").val(data.acceptInfo.ID);
                        $("#form1").formDeserialize(data.acceptInfo);
                        //当前用户 !data.acceptInfo.ACCEPTPERSON &&
                        if (null != data.userInfo && actiontype != "view") {
                            $("#ACCEPTPERSON").val(data.userInfo.UserId);
                            $("#ACCEPTPERSONNAME").val(data.userInfo.UserName);
                            $("#ACCEPTDEPARTCODE").val(data.userInfo.DeptCode);
                            $("#ACCEPTDEPARTNAME").val(data.userInfo.DeptName);
                            var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
                            $("#ACCEPTDATE").val(curDate);
                        }
                    }
                    //隐患基本信息
                    if (null != data.baseInfo) {
                        //加载
                        LoadTips("yh" + data.baseInfo.HIDDEPART);

                        $("#form1").formDeserialize(data.baseInfo);
                        $("#CHECKTYPE").ComboBoxSetValue(data.baseInfo.CHECKTYPE);
                        $("#HIDRANK").ComboBoxSetValue(data.baseInfo.HIDRANK);
                        $("#MAJORCLASSIFY").ComboBoxSetValue(data.baseInfo.MAJORCLASSIFY);  //专业分类/隐患分类
                        $("#HIDTYPE").ComboBoxTreeSetValue(data.baseInfo.HIDTYPE); //隐患类别
                        $("#HIDDEPARTNAME").ComboBoxSetValue(data.baseInfo.HIDDEPART); //所属单位
                        //是否挂牌督办
                        if (data.baseInfo.ISGETAFTER == "1") {
                            $("input[name='ISGETAFTER']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISGETAFTER']:eq(1)").prop("checked", "checked");
                        }
                        //是否曝光
                        if (data.baseInfo.EXPOSURESTATE == "1") {
                            $("input[name='EXPOSURESTATE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='EXPOSURESTATE']:eq(1)").prop("checked", "checked");
                        }
                    }
                    if ($("#HIDRANK")[0].innerText.indexOf("重大") >= 0) {
                        //隐藏重大隐患填项
                        $(".form:eq(1) .importHid").css("display", "");
                    }
                    //当前隐患类别为设备设施的时候
                    var curTextbox = $("#HIDTYPE").text();
                    if (curTextbox.indexOf("设备设施") >= 0) {
                        $(".form:eq(1) tr:eq(4)").css("display", "");
                    }
                    else {
                        $(".form:eq(1) tr:eq(4)").css("display", "none");
                    }
                }
            });
        }
        uploadify("uploader_hidphoto", true); //隐患图片
        uploadify("uploader_hidchangephoto", true); //整改图片
        uploadify("uploader_acceptphoto", true); //验收图片
        uploadify("uploader_attachment", false); //整改附件
        GetApprovalGrid();
        //查看下
        if (actiontype == "view") {
            $("#btn_Deliver").attr("disabled", "disabled");
            $("#btn_Submit").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
        //根据当前隐患，控制整改效果评估是否显示
        var hidRankText = $("#HIDRANK").ComboBoxGetText();
        //当前查看的是重大隐患
        if (hidRankText.indexOf("重大") >= 0) {
            $("#btn_ExportImportant").removeAttr("style");
            $("#div_recheck").css("display", "none");
            $("#div_estimate").css("display", "");
            //整改效果评估信息
            GetEstimateGrid();
        }
        else {
            $("#div_recheck").css("display", "");
            $("#div_estimate").css("display", "none"); //整改效果评估面板整体隐藏，一般隐患没有整改效果评估
            //复查验证信息
            GetRecheckGrid();
        }
    }

    //初始化控件 极简模式
    function MinimalistInit() {

        //验证当前是否存在flash插件
        var fls = flashChecker();
        var s = "";
        if (!fls.f) {
            var html = "<a href='http://get.adobe.com/cn/flashplayer/' style='text-decoration:none;color:red;' target='_bank'>您的浏览器未安装Flash插件,无法支持文件上传功能,请下载安装!</a>";
            $("#HidMessage").html(html);
        }
        $(".center-Panel").css({ "width": "100%", "height": ($(top.window).height() - 160) + "px", "padding-top": "38px" });
        var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
        //默认给当前时间
        $("#ACCEPTDATE").val(curDate);
        //提交流程
        $("#btn_Submit").click(function () {
            SubmitAction();
        });

        //转交
        $("#btn_Deliver").click(function () {
            var idx = dialogOpen({
                id: "DeliverForm",
                title: "隐患验收转交",
                url: '/HiddenTroubleManage/HTAcceptInfo/DeliverForm?keyValue=' + keyValue + "&acceptid=" + $("#ACCEPTID").val(),
                width: ($(top.window).width() / 2) + "px",
                height: ($(top.window).height() / 2) + "px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptAction();
                }
            });
        });

        $.SetForm({
            url: "../../HiddenTroubleManage/HTBaseInfo/GetInitDataJson",
            success: function (data) {
                ControlPicMustUpload = data.ControlPicMustUpload; //相关图片必传控制
                var IsEnableMajorClassify = data.IsEnableMajorClassify;//是否启用专业分类
                if (IsEnableMajorClassify > 0) {
                    $(".form:eq(1) tr:eq(5)").css("display", "");
                    $("#MAJORCLASSIFY").attr("isvalid", "yes");
                }
                //用于判定是否具有转交功能
                IsAcceptDeliver = data.IsAcceptDeliver;
                //为空则隐藏
                if (!IsAcceptDeliver) { $("#btn_Deliver").css("display", "none"); }
                //隐患验收图片
                $("#ACCEPTPHOTO").val(data.AcceptPhoto);
                //检查类型
                $("#CHECKTYPE").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.CheckType
                });
                //隐患级别
                $("#HIDRANK").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.HidRank,
                });
                //隐患专业分类
                $("#MAJORCLASSIFY").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==请选择==",
                    allowSearch: false,
                    data: data.MajorClassify,
                });
                //隐患类别
                $("#HIDTYPE").ComboBoxTree({
                    url: "../../HiddenTroubleManage/HTBaseInfo/GetHiddenTypeDataJson",
                    description: "==请选择==",
                    allowSearch: false
                });
                //所属单位
                $("#HIDDEPARTNAME").ComboBox({
                    id: "DepartmentId",
                    text: "FullName",
                    description: "===全部===",
                    allowSearch: false,
                    data: data.DeptData
                });
                //当前用户
                if (null != data.User) {
                    $("#ACCEPTPERSON").val(data.User.UserId);
                    $("#ACCEPTPERSONNAME").val(data.User.UserName);
                    $("#ACCEPTDEPARTCODE").val(data.User.DeptCode);
                    $("#ACCEPTDEPARTNAME").val(data.User.DeptName);
                    var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
                    $("#ACCEPTDATE").val(curDate);
                }
            }
        });

        //整改完成情况
        $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
        //隐藏重大隐患填项
        $(".form:eq(1) .importHid").css("display", "none");
        //验收情况
        var acceptVal = $("input[name='ACCEPTSTATUS']:checked").val();
        //验收不通过
        if (acceptVal == "0") {
            $(".form:eq(0) tr:eq(1) td:eq(0)").html("不通过原因");
        }
        //验收情况控制
        $("input[name='ACCEPTSTATUS']").click(function () {
            var checkValue = $(this).val();
            if (checkValue == "1") {
                $(".form:eq(0) tr:eq(1) td:eq(0)").html("验收意见");
                //$("#DAMAGEDATE").attr("isvalid", "yes");
                //$(".form:eq(0) tr:eq(2) td:eq(0)").html("销号日期<span style='color:red;'>*</span>"); //销号日期(元)
                $(".form:eq(0) tr:eq(3)").css("display", "none");
               // $("#uploader_acceptphoto").css("display", "none");
            }
            else {
                $(".form:eq(0) tr:eq(1) td:eq(0)").html("不通过原因");
                //$("#DAMAGEDATE").removeAttr("isvalid");
                //$(".form:eq(0) tr:eq(2) td:eq(0)").html("销号日期");
                $(".form:eq(0) tr:eq(3)").css("display", "");
               // $("#uploader_acceptphoto").css("display", "");
            }
        });
        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../HiddenTroubleManage/HTBaseInfo/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    //隐患整改
                    if (null != data.changeInfo) {
                        $("#CHANGEID").val(data.changeInfo.ID);
                        $("#form1").formDeserialize(data.changeInfo);
                        //是否整改完成
                        if (data.changeInfo.CHANGERESULT == "1") {
                            $("input[name='CHANGERESULT']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='CHANGERESULT']:eq(1)").prop("checked", "checked");
                        }
                    }
                    //隐患验收
                    if (null != data.acceptInfo) {
                        if (!data.acceptInfo.ACCEPTPHOTO) {
                            data.acceptInfo.ACCEPTPHOTO = $("#ACCEPTPHOTO").val();
                        }
                        $("#ACCEPTID").val(data.acceptInfo.ID);
                        $("#form1").formDeserialize(data.acceptInfo);
                        //当前用户 !data.acceptInfo.ACCEPTPERSON &&
                        if (null != data.userInfo && actiontype != "view") {
                            $("#ACCEPTPERSON").val(data.userInfo.UserId);
                            $("#ACCEPTPERSONNAME").val(data.userInfo.UserName);
                            $("#ACCEPTDEPARTCODE").val(data.userInfo.DeptCode);
                            $("#ACCEPTDEPARTNAME").val(data.userInfo.DeptName);
                            var curDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
                            $("#ACCEPTDATE").val(curDate);
                        }
                    }
                    //隐患基本信息
                    if (null != data.baseInfo) {
                        //加载
                        LoadTips("yh" + data.baseInfo.HIDDEPART);

                        $("#form1").formDeserialize(data.baseInfo);
                        $("#CHECKTYPE").ComboBoxSetValue(data.baseInfo.CHECKTYPE);
                        $("#HIDRANK").ComboBoxSetValue(data.baseInfo.HIDRANK);
                        $("#MAJORCLASSIFY").ComboBoxSetValue(data.baseInfo.MAJORCLASSIFY);  //专业分类/隐患分类
                        $("#HIDTYPE").ComboBoxTreeSetValue(data.baseInfo.HIDTYPE); //隐患类别
                        $("#HIDDEPARTNAME").ComboBoxSetValue(data.baseInfo.HIDDEPART); //所属单位
                        //是否挂牌督办
                        if (data.baseInfo.ISGETAFTER == "1") {
                            $("input[name='ISGETAFTER']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='ISGETAFTER']:eq(1)").prop("checked", "checked");
                        }
                        //是否曝光
                        if (data.baseInfo.EXPOSURESTATE == "1") {
                            $("input[name='EXPOSURESTATE']:eq(0)").prop("checked", "checked");
                        }
                        else {
                            $("input[name='EXPOSURESTATE']:eq(1)").prop("checked", "checked");
                        }
                    }
                    if ($("#HIDRANK")[0].innerText.indexOf("重大") >= 0) {
                        //隐藏重大隐患填项
                        $(".form:eq(1) .importHid").css("display", "");
                    }
                    //当前隐患类别为设备设施的时候
                    var curTextbox = $("#HIDTYPE").text();
                    if (curTextbox.indexOf("设备设施") >= 0) {
                        $(".form:eq(1) tr:eq(4)").css("display", "");
                    }
                    else {
                        $(".form:eq(1) tr:eq(4)").css("display", "none");
                    }
                }
            });
        }
        uploadify("uploader_hidphoto", false); //隐患图片
        uploadify("uploader_hidchangephoto", false); //整改图片
        uploadify("uploader_acceptphoto", false); //验收图片
        uploadify("uploader_attachment", false); //整改附件
        GetApprovalGrid();
        //查看下
        if (actiontype == "view") {
            $("#btn_Deliver").attr("disabled", "disabled");
            $("#btn_Submit").attr("disabled", "disabled");
            $("#form1 input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        }
        //根据当前隐患，控制整改效果评估是否显示
        $("#div_recheck").css("display", "none");
        $("#div_estimate").css("display", "none");
    }

    //提交流程
    function SubmitAction() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        var changeResultVal = $("input[name='CHANGERESULT']:checked").val();
        postData["CHANGERESULT"] = changeResultVal;
        var acceptStatusVal = $("input[name='ACCEPTSTATUS']:checked").val();
        postData["ACCEPTSTATUS"] = acceptStatusVal;

        var subCount = 0;
        if (!!ControlPicMustUpload) {
            var array = new Array();
            if (ControlPicMustUpload.indexOf("ACCEPTPHOTO") >= 0) {
                array.push({ key: "ACCEPTPHOTO", value: $("#ACCEPTPHOTO").val() });
            }
            if (array.length > 0) {
                //绑定附件
                $.ajax({
                    url: '../../PublicInfoManage/ResourceFile/GetFilesByJsonData',
                    data: { jsonData: JSON.stringify(array) },
                    type: "post",
                    success: function (data) {
                        var yesSubmit = "";
                        if (!!data) {
                            var result = eval("(" + data + ")");
                            $(result).each(function (i, ele) {
                                var key = ele.key;
                                switch (key) {
                                    case "ACCEPTPHOTO":
                                        yesSubmit += parseInt(ele.value) > 0 ? "3" : ""; //隐患验收图片
                                        break;
                                }
                            });

                            var errorMsg = "请上传";
                            if (ControlPicMustUpload.indexOf("ACCEPTPHOTO") >= 0) {
                                if (yesSubmit.indexOf("3") >= 0) {
                                    subCount += 1;
                                }
                                else {
                                    errorMsg += "隐患验收图片,";
                                }
                            }
                            if (subCount == result.length || acceptStatusVal == "0") {
                                $.SaveForm({
                                    url: "../../HiddenTroubleManage/HTAcceptInfo/SaveForm?keyValue=" + keyValue,
                                    param: postData,
                                    loading: "正在保存数据...",
                                    success: function () {
                                        $.currentIframe().$("#gridTable").trigger("reloadGrid");
                                        top.refreshWork();
                                    }
                                });
                            }
                            else {
                                if (subCount < result.length) {
                                    errorMsg = errorMsg.substring(0, errorMsg.length - 1);
                                }
                                dialogMsg(errorMsg, 0);
                            }
                        }
                    }
                });
            }
        }
        else {
            $.SaveForm({
                url: "../../HiddenTroubleManage/HTAcceptInfo/SaveForm?keyValue=" + keyValue,
                param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                    top.refreshWork();
                }
            });
        }
    }


    //上传文件
    function uploadify(objId, isimage) {
        var folderId = "";
        var fileType = 'bmp,ico,gif,jpeg,jpg,png,psd';
        var isdelete = actiontype == "view" ? false : true;
        switch (objId) {
            case "uploader_hidphoto": //隐患图片
                folderId = $("#HIDPHOTO").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#HIDPHOTO").val(folderId);
                }
                isdelete = false;
                break;
            case "uploader_hidchangephoto": //整改图片
                folderId = $("#HIDCHANGEPHOTO").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#HIDCHANGEPHOTO").val(folderId);
                }
                isdelete = false;
                break;
            case "uploader_acceptphoto":  //验收图片
                folderId = $("#ACCEPTPHOTO").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#ACCEPTPHOTO").val(folderId);
                }
                if (actiontype != "view") {
                    file_upload.init({
                        keyValue: folderId, extensions: fileType, isImage: isimage, el: '#uploader_acceptphoto'
                    });
                }
                break;
            case "uploader_attachment":  //整改附件
                folderId = $("#ATTACHMENT").val();
                if (!folderId) {
                    folderId = "@Guid.NewGuid().ToString()";
                    $("#ATTACHMENT").val(folderId);
                }
                isdelete = false;
                fileType = 'bmp,ico,gif,jpeg,jpg,png,psd,zip,rar,doc,docx,xls,xlsx,pdf,txt,chm';
                break;
        }

        $.ajax({
            url: '../../PublicInfoManage/ResourceFile/GetFilesByRecId',
            data: { recId: folderId },
            type: "post",
            success: function (data) {
                var objdata = eval("(" + data + ")"); //转化为对象类型
                file_upload.bind(objdata, isdelete, isimage, folderId, objId);

                if (objId == "uploader_acceptphoto" && !!IsEnableMinimalistMode)
                {
                    $(".form:eq(0) tr:eq(3)").css("display", "none");
                }
            }
        });
    }
    //隐患信息报告单
    function exportImportant() {  //隐患基本信息
        window.location.href = "../../HiddenTroubleManage/HTBaseInfo/ExportImportant?keyValue=" + keyValue;
    }
    //隐患排查档案
    function exportRecordInfo() {
        //HRDL专用
        var result = "@(new ERCHTMS.Busines.SystemManage.DataItemDetailBLL().GetItemValue("IsOpenPassword"))";
        if (result == "true") {
            Loading(true, "正在导出...");
            $.ajax({
                url: "../../SaftyCheck/SaftyCheckDataRecord/ImportResult",
                data: { checkId: keyValue, checkType: 2 },
                type: "post",
                dataType: "JSON",
                success: function (data) {
                    if (data.type == 1) {
                        window.location.href = "../../Utility/DownloadFile?filePath=~/Resource/temp/" + data.resultdata + "&newFileName=隐患排查档案.doc";
                    } else {
                        dialogAlert(data.message);
                    }
                    Loading(false);
                }
            });
        } else { //通用版本
            window.location.href = "../../HiddenTroubleManage/HTBaseInfo/ExportRecordInfo?keyValue=" + keyValue;
        }
    }

</script>

<div class="tab0" style="display:none">
    <div class="center-Panel">
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患验收信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryAccetp()">历史验收记录</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">验收人</td>
                            <td class="formValue">
                                <input id="ACCEPTPERSONNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="ACCEPTPERSON" type="hidden" />
                                <input id="ACCEPTID" type="hidden" />
                                <input id="APPSIGN" type="hidden" value="Web" />
                            </td>
                            <td class="formTitle">验收单位</td>
                            <td class="formValue">
                                <input id="ACCEPTDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="ACCEPTDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收日期</td>
                            <td class="formValue">
                                <input id="ACCEPTDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">验收结果</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ACCEPTSTATUS" id="ACCEPTSTATUS1" value="1" checked="checked" />验收通过
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ACCEPTSTATUS" id="ACCEPTSTATUS2" value="0" />验收不通过
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收意见</td>
                            <td class="formValue" colspan="3">
                                <textarea id="ACCEPTIDEA" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">销号日期<span style="color:red;">*</span></td>
                            <td class="formValue" colspan="3">
                                <input id="DAMAGEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收照片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="ACCEPTPHOTO" />
                                <div id="uploader_acceptphoto" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:120px; margin-bottom:10px;">
                                    <div class="queueList">
                                        <div id="uploader_acceptphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr style="display:none;">
                            <td class="formTitle">隐患编码<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="HIDCODE" type="text" class="form-control" disabled="disabled" />
                                <input id="CREATEUSERID" type="hidden" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属单位<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <div id="HIDDEPARTNAME" type="select" style="display:none;" class="ui-select" disabled="disabled" />
                            </td>
                        </tr>
                        <tr id="specialTr">
                            <td class="formTitle">隐患名称</td>
                            <td class="formValue">
                                <input id="HIDNAME" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属部门<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <input id="HIDBMNAME" type="text" style="display:none;" class="form-control" disabled="disabled" />
                                <input id="HIDBMID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患级别</td>
                            <td class="formValue">
                                <div id="HIDRANK" type="select" class="ui-select" disabled="disabled" readonly></div>
                            </td>
                            <td class="formTitle">隐患区域</td>
                            <td class="formValue">
                                <input id="HIDPOINTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="HIDPOINT" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr class="majorTr">
                            <td class="formTitle">专业分类</td>
                            <td class="formValue">
                                <div id="MAJORCLASSIFY" type="select" class="ui-select" disabled="disabled" />
                            </td>
                            <td class="formTitle">隐患类别</td>
                            <td class="formValue">
                                <div id="HIDTYPE" type="selectTree" class="ui-select" disabled="disabled"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">设备名称</td>
                            <td class="formValue">
                                <input id="DEVICENAME" type="text" class="form-control" disabled="disabled" />
                                <input id="DEVICEID" type="hidden" />
                            </td>
                            <td class="formTitle">设备编号</td>
                            <td class="formValue">
                                <input id="DEVICECODE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle"><span style="white-space:pre-wrap;">事故隐患描述(简题)</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDESCRIBE" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">可能导致的后果</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCONSEQUENCE" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患图片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="HIDPHOTO" />
                                <div id="uploader_hidphoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">排查人</td>
                            <td class="formValue">
                                <input id="CHECKMANNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHECKMAN" type="hidden" />
                            </td>
                            <td class="formTitle">排查单位</td>
                            <td class="formValue">
                                <input id="CHECKDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHECKDEPARTID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">检查类型</td>
                            <td class="formValue">
                                <div id="CHECKTYPE" type="select" class="ui-select" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">检查名称</td>
                            <td class="formValue">
                                <input id="SAFETYCHECKNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="SAFETYCHECKOBJECTID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">排查日期</td>
                            <td class="formValue">
                                <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">隐患地点</td>
                            <td class="formValue">
                                <input id="HIDPLACE" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">所属工程</td>
                            <td class="formValue">
                                <input id="HIDPROJECTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="HIDPROJECT" type="hidden" />
                            </td>
                            <td class="formTitle">厂级监控人员</td>
                            <td class="formValue">
                                <input id="MONITORPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="MONITORPERSONID" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患报告摘要</td>
                            <td class="formValue" colspan="3">
                                <textarea id="REPORTDIGEST" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">主要预控及治理措施</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="PREVENTMEASURE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>

                        <tr class="importHid">
                            <td class="formTitle">隐患现状</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDSTATUS" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患产生原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDREASON" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患危害程度</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDANGERLEVEL" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">隐患整改计划</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCHAGEPLAN" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">应急措施简述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="EXIGENCERESUME" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">是否挂牌督办</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">是否曝光</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患评估与预评估信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-left:10px;">
                    <table id="approvalGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患整改信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryChange()">历史整改记录</a>&nbsp;&nbsp;<a href="#" onclick="viewextension(keyValue,$('#HIDCODE').val())">整改延期记录</a>&nbsp;&nbsp;<a href="#" onclick="viewchangeplan(keyValue)">整改计划</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">整改责任人</td>
                            <td class="formValue">
                                <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHANGEPERSON" type="hidden" />
                                <input id="CHANGEID" type="hidden" />
                            </td>
                            <td class="formTitle">整改人电话</td>
                            <td class="formValue">
                                <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改责任单位</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改截止时间</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改完成时间</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改措施</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改情况描述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGERESUME" class="form-control" disabled="disabled" readonly isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改结果</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" disabled="disabled" readonly />已完成
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" disabled="disabled" readonly />未完成
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">计划治理资金(元)</td>
                            <td class="formValue">
                                <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">实际治理资金(元)</td>
                            <td class="formValue">
                                <input id="REALITYMANAGECAPITAL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改附件</td>
                            <td class="formValue" colspan="3">
                                <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                                <div id="uploader_attachment" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_attachment_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改图片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="HIDCHANGEPHOTO" />
                                <div id="uploader_hidchangephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidchangephoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_recheck" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;复查验证信息</strong>
                <span class="tools pull-right">

                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="recheckGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_estimate" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;整改效果评估</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="estimateGridTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab1" style="display:none">
    <div class="center-Panel">
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患验收信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryAccetp()">历史验收记录</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">验收情况</td>
                            <td class="formValue">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ACCEPTSTATUS" id="ACCEPTSTATUS1" value="1" checked="checked" />验收通过
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ACCEPTSTATUS" id="ACCEPTSTATUS2" value="0" />验收不通过
                                    </label>
                                </div>
                            </td>
                            <td class="formTitle"></td>
                            <td class="formValue">
                                <input id="ACCEPTDATE" type="text" style="display:none;" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">验收意见</td>
                            <td class="formValue" colspan="3">
                                <textarea id="ACCEPTIDEA" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle" style="font-weight:bold;">销号日期<span style="color:red;">*</span></td>
                            <td class="formValue" colspan="3">
                                <input id="DAMAGEDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" errormsg="销号日期" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">照片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="ACCEPTPHOTO" />
                                <div id="uploader_acceptphoto" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:120px; margin-bottom:10px;">
                                    <div class="queueList">
                                        <div id="uploader_acceptphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">验收人</td>
                            <td class="formValue">
                                <input id="ACCEPTPERSONNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="ACCEPTPERSON" type="hidden" />
                                <input id="ACCEPTID" type="hidden" />
                                <input id="APPSIGN" type="hidden" value="Web" />
                            </td>
                            <td class="formTitle">验收单位</td>
                            <td class="formValue">
                                <input id="ACCEPTDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="ACCEPTDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患基本信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr style="display:none;">
                            <td class="formTitle">隐患编码<span style="color:red;">*</span></td>
                            <td class="formValue">
                                <input id="HIDCODE" type="text" class="form-control" disabled="disabled" />
                                <input id="CREATEUSERID" type="hidden" />
                            </td>
                            <td class="formTitle"><span style="display:none;">所属单位<span style="color:red;">*</span></span></td>
                            <td class="formValue">
                                <div id="HIDDEPARTNAME" type="select" style="display:none;" class="ui-select" disabled="disabled" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患名称</td>
                            <td class="formValue">
                                <input id="HIDNAME" type="text" class="form-control" disabled="disabled" />
                            </td>
                            <td class="formTitle"></td>
                            <td class="formValue"></td>
                        </tr>
                        <tr>
                            <td class="formTitle">所属部门</td>
                            <td class="formValue">
                                <input id="HIDBMNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="HIDBMID" type="hidden" />
                            </td>
                            <td class="formTitle">隐患级别</td>
                            <td class="formValue">
                                <div id="HIDRANK" type="select" class="ui-select" disabled="disabled" readonly></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患类别</td>
                            <td class="formValue">
                                <div id="HIDTYPE" type="selectTree" class="ui-select" disabled="disabled"></div>
                            </td>
                            <td class="formTitle">隐患区域</td>
                            <td class="formValue">
                                <input id="HIDPOINTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="HIDPOINT" type="hidden" class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">设备名称</td>
                            <td class="formValue">
                                <input id="DEVICENAME" type="text" class="form-control" disabled="disabled" />
                                <input id="DEVICEID" type="hidden" />
                            </td>
                            <td class="formTitle">设备编号</td>
                            <td class="formValue">
                                <input id="DEVICECODE" type="text" class="form-control" disabled="disabled" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">专业分类</td>
                            <td class="formValue">
                                <div id="MAJORCLASSIFY" type="select" class="ui-select" disabled="disabled" />
                            </td>
                            <td class="formTitle"></td>
                            <td class="formValue"></td>
                        </tr>
                        <tr>
                            <td class="formTitle"><span style="white-space:pre-wrap;">隐患内容</span></td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDESCRIBE" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">可能导致的后果</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCONSEQUENCE" class="form-control" isvalid="yes" checkexpession="LenStrOrNull" length="2000" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">隐患图片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="HIDPHOTO" />
                                <div id="uploader_hidphoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidphoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">排查人</td>
                            <td class="formValue">
                                <input id="CHECKMANNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHECKMAN" type="hidden" />
                            </td>
                            <td class="formTitle">排查单位</td>
                            <td class="formValue">
                                <input id="CHECKDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHECKDEPARTID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">检查类型</td>
                            <td class="formValue">
                                <div id="CHECKTYPE" type="select" class="ui-select" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">检查名称</td>
                            <td class="formValue">
                                <input id="SAFETYCHECKNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="SAFETYCHECKOBJECTID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">排查日期</td>
                            <td class="formValue">
                                <input id="CHECKDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">隐患地点</td>
                            <td class="formValue">
                                <input id="HIDPLACE" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">所属工程</td>
                            <td class="formValue">
                                <input id="HIDPROJECTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="HIDPROJECT" type="hidden" />
                            </td>
                            <td class="formTitle">厂级监控人员</td>
                            <td class="formValue">
                                <input id="MONITORPERSONNAME" type="text" class="form-control" disabled="disabled" />
                                <input id="MONITORPERSONID" type="hidden" />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患报告摘要</td>
                            <td class="formValue" colspan="3">
                                <textarea id="REPORTDIGEST" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">
                                <span style="white-space:pre-wrap;">主要预控及治理措施</span>
                            </td>
                            <td class="formValue" colspan="3">
                                <textarea id="PREVENTMEASURE" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患现状</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDSTATUS" class="form-control" disabled="disabled"></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患产生原因</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDREASON" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患危害程度</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDDANGERLEVEL" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">隐患整改计划</td>
                            <td class="formValue" colspan="3">
                                <textarea id="HIDCHAGEPLAN" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">应急措施简述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="EXIGENCERESUME" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr class="importHid">
                            <td class="formTitle">是否挂牌督办</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="ISGETAFTER" id="ISGETAFTER2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">是否曝光</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE1" value="1" disabled="disabled" />是
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="EXPOSURESTATE" id="EXPOSURESTATE2" value="0" checked="checked" disabled="disabled" />否
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患评估与预评估信息</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-left:10px;">
                    <table id="approvalGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;隐患整改信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="GetHistoryChange()">历史整改记录</a>&nbsp;&nbsp;<a href="#" onclick="viewextension(keyValue,$('#HIDCODE').val())">整改延期记录</a>&nbsp;&nbsp;<a href="#" onclick="viewchangeplan(keyValue)">整改计划</a></strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-right: 30px;">
                    <table class="form">
                        <tr>
                            <td class="formTitle">整改责任人</td>
                            <td class="formValue">
                                <input id="CHANGEPERSONNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHANGEPERSON" type="hidden" />
                                <input id="CHANGEID" type="hidden" />
                            </td>
                            <td class="formTitle">整改人电话</td>
                            <td class="formValue">
                                <input id="CHANGEDUTYTEL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改责任单位</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDUTYDEPARTNAME" type="text" class="form-control" disabled="disabled" readonly />
                                <input id="CHANGEDUTYDEPARTCODE" type="hidden" />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改截止时间</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEDEADINE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改完成时间</td>
                            <td class="formValue" colspan="3">
                                <input id="CHANGEFINISHDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ onpicked: selectCurDate(this) })" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <td class="formTitle">整改措施</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGEMEASURE" class="form-control" disabled="disabled" readonly></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改情况描述</td>
                            <td class="formValue" colspan="3">
                                <textarea id="CHANGERESUME" class="form-control" disabled="disabled" readonly isvalid="yes" checkexpession="LenStrOrNull" length="2000"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改结果</td>
                            <td class="formValue" colspan="3">
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT1" value="1" checked="checked" disabled="disabled" readonly />已完成
                                    </label>
                                </div>
                                <div class="radio-inline">
                                    <label>
                                        <input type="radio" name="CHANGERESULT" id="CHANGERESULT2" value="0" disabled="disabled" readonly />未完成
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">计划治理资金(元)</td>
                            <td class="formValue">
                                <input id="PLANMANAGECAPITAL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                            <td class="formTitle">实际治理资金(元)</td>
                            <td class="formValue">
                                <input id="REALITYMANAGECAPITAL" type="text" class="form-control" disabled="disabled" readonly />
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改附件</td>
                            <td class="formValue" colspan="3">
                                <input id="ATTACHMENT" type="hidden" /><!--整改附件-->
                                <div id="uploader_attachment" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_attachment_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="formTitle">整改图片</td>
                            <td class="formValue" colspan="3">
                                <input type="hidden" id="HIDCHANGEPHOTO" />
                                <div id="uploader_hidchangephoto" class="uploader" style="border: 1px solid #ccc; margin-top: 10px; min-height: 120px; margin-bottom: 10px;">
                                    <div class="queueList">
                                        <div id="uploader_hidchangephoto_place" class="placeholder">
                                            <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                        </div>
                                    </div>
                                    <div class="statusBar" style="display:none;">
                                        <div class="progress">
                                            <span class="text">0%</span>
                                            <span class="percentage"></span>
                                        </div>
                                        <div class="info"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_recheck" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;复查验证信息</strong>
                <span class="tools pull-right">

                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="recheckGridTable"></table>
                </div>
            </div>
        </div>
        <div style="margin-top: 5px;"></div>
        <div class="panel panel-default" id="div_estimate" style="display:none">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;整改效果评估</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div style="margin-top: 20px; margin-left:10px;">
                    <table id="estimateGridTable"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Submit" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;提&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_Deliver" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;转&nbsp;&nbsp;交</a>
        &nbsp; &nbsp;
        <a id="btn_ExportImportant" onclick="exportImportant()" class="btn btn-primary" style="display:none">隐患信息报告单</a>
        &nbsp; &nbsp;
        <a id="btn_ExportRecordInfo" onclick="exportRecordInfo()" class="btn btn-primary">隐患排查档案</a>
    </div>
    <div id="HidMessage" style="width:360px; margin-left:60px; float:left;"></div>
</div>
