@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>

<script>
    var mode = request("mode");
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId"; //当前用户部门ID
    var keyValue = request('keyValue');
    $.ajaxSetup({ async: false });
    $(function () {
        InitialPage();
        GetGrid();

    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() / 2 - 200);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            url: "../../PowerPlantInside/Powerplanthandle/GetHistoryAuditList?keyValue=" + keyValue,
            datatype: "json",
            height: $(window).height() / 2 - 200,
            autowidth: true,
            colModel: [
                 {
                     label: '审核部门', name: 'AUDITDEPT', width: 300, align: 'center',
                 },
                { label: '审核人', name: 'AUDITPEOPLE', index: 'AUDITPEOPLE', width: 120, align: 'center' },
                {
                    label: '审核结果', name: 'AUDITRESULT', index: 'AUDITRESULT', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = rowObject.AUDITRESULT == "0" ? "通过" : "不通过";
                        return html;
                    }
                },
                {
                    label: '审核意见', name: 'AUDITOPINION', index: 'AUDITOPINION', width: 150, align: 'center', formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (!!rowObject.AUDITOPINION) {
                            var content = rowObject.AUDITOPINION.length > 20 ? rowObject.AUDITOPINION.substring(0, 20) + "......" : rowObject.AUDITOPINION;

                            html = "<div title=" + content + ">" + content + "</div>";
                        }
                        return html;
                    }
                },
                {
                    label: '审核时间', name: 'AUDITTIME', index: 'AUDITTIME', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (!!rowObject.AUDITTIME) {
                            content = formatDate(rowObject.AUDITTIME, 'yyyy-MM-dd hh:mm');
                        }
                        return content;
                    }
                },
                {
                    label: '签名', name: 'AUDITSIGNIMG', index: 'AUDITSIGNIMG', width: 150, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = !!rowObject.AUDITSIGNIMG ? rowObject.AUDITSIGNIMG : "";
                        var html = "";
                        if (content == "" || content == undefined) {
                            var html = "<img  style=\"height:50px;\" />&nbsp;";
                        } else {
                            html = "<img style=\"height:50px;\"  src=\"../.." + content + "\"/>&nbsp;";
                        }

                        return html;
                    }
                }
            ],
            pager: false,
            rowNum: "20",
            rownumbers: true,
            shrinkToFit: false,
            gridview: true,
            ondblClickRow: function (id) {

            }
        });
    }


</script>

<div class="titlePanel">
    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
