@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/plugins/dialog/mobile/layer.js"></script>
<script>
    var roleName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";
    var currUserId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var currDeptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
    var currDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var currDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
    var _itemCode = "";
    var _itemId = "";
    var _itemName = "";
    $.ajaxSetup({ async: false });
    $(function () {
        InitialPage();
        GetTree();
        GetGrid();

    });
    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
                $("#itemTree").setTreeHeight($(window).height() - 50);
            }, 200);
            e.stopPropagation();
        });
        InitCombobox();
    }
    //加载表格
    function GetGrid() {
        var queryJson = {
            PlanYear: $("#PlanYear").val()
        }
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../ObserveRecord/ObsTask/GetPageListJson",
            postData: { queryJson: JSON.stringify(queryJson) },
            datatype: "json",
            colModel: [
                {
                    label: '', name: 'tid', hidden: true, index: 'tid', width: 100, align: 'left', sortable: false

                },
                 {
                     label: '操作', name: 'oper', width: 120, align: 'center', sortable: false,
                     formatter: function (cellvalue, options, rowObject) {
                         var html = "";
                         html = "<a href=javascript:show('" + rowObject.tid + "') tg='" + rowObject.tid + "'  title='查看'><i class='fa fa-eye'></i></a>";
                         if ((rowObject.createuserid == currUserId && rowObject.iscommit != "1" ) ||
                             (rowObject.createuserdeptcode == currDeptCode && roleName.indexOf("安全管理员") >= 0 && rowObject.iscommit != "1" && rowObject.ispublic != "1") ||
                             (rowObject.createuserdeptcode == currDeptCode && roleName.indexOf("负责人") >= 0 && rowObject.iscommit != "1" && rowObject.ispublic != "1")) {
                             html += "<a href=javascript:delPlan('" + rowObject.tid + "') tg='" + rowObject.tid + "'  title='删除'><i class='fa fa-trash-o'></i></a>";
                         }
                         if ((rowObject.createuserid == currUserId && rowObject.iscommit == "1"&&rowObject.ispublic=="1")) {
                             html += "<a href=javascript:planChange('" + rowObject.tid + "','" + rowObject.ispublic + "') tg='" + rowObject.tid + "'  title='计划变更'><i class='fa fa fa-paint-brush'></i></a>";
                         }
                         if ((rowObject.createuserid == currUserId&& rowObject.ispublic != "1") ||
                             (rowObject.createuserdeptcode == currDeptCode && roleName.indexOf("安全管理员") >= 0 && rowObject.ispublic != "1") ||
                             (rowObject.createuserdeptcode == currDeptCode && roleName.indexOf("负责人") >= 0 && rowObject.ispublic != "1")) {
                             html += "<a href=javascript:edit('" + rowObject.tid + "','" + rowObject.iscommit + "') tg='" + rowObject.tid + "'  title='编辑'><i class='fa fa-pencil-square-o'></i></a>";
                         }
                         if (roleName.indexOf("厂级部门用户") >= 0 && roleName.indexOf("安全管理员") >= 0) {
                             html += "<a href=javascript:setPlanLevel('" + rowObject.tid + "','" + rowObject.oldplanid + "') tg='" + rowObject.tid + "'  title='设置计划等级'><i class='fa fa fa-wrench'></i></a>";
                         }
                         return html;
                     }
                 },
                {
                    label: '部门', name: 'plandept', index: 't.plandept', width: 180, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.plandept + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.plandept + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '专业', name: 'planspeciaty', index: 'planspeciaty', width: 150, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.planspeciaty + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.planspeciaty + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '区域', name: 'planarea', index: 't.planarea', width: 200, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.planarea + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.planarea + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '作业内容', name: 'workname', index: 't.workname', width: 220, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.workname + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.workname + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '计划等级', name: 'planlevel', index: 't.planlevel', width: 150, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.planlevel + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.planlevel + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '计划年度', name: 'planyear', index: 't.planyear', width: 180, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        if (cellvalue != null) {
                            return "<div id='" + rowObject.planyear + rowObject.tid + "'>" + cellvalue + "</div>";
                        } else {
                            return "<div id='" + rowObject.planyear + rowObject.tid + "'></div>";
                        }
                    }
                },
                {
                    label: '任务分解', name: 'fjname', index: 'fjname', width: 180, align: 'center', sortable: false
                },
                {
                    label: '风险等级', name: 'risklevel', index: 'risklevel', width: 150, align: 'center', sortable: false
                },
                {
                    label: '观察频率', name: 'obsnumtext', index: 'obsnumtext', width: 150, align: 'center', sortable: false
                },
                {
                    label: '观察人员', name: 'obsperson', index: 'obsperson', width: 200, align: 'center', sortable: false
                },
                {
                    label: '计划观察月份', name: 'obsmonth', index: 'obsmonth', width: 180, align: 'center', sortable: false
                },
                {
                    label: '备注', name: 'remark', index: 'remark', width: 130, align: 'center', sortable: false
                },
            ],
            viewrecords: true,
            rowNum: 30,
            rowList: [30, 50, 100],
            pager: "#gridPager",
            sortname: 't.id desc,t.createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
                var arr = new Array("oper", "plandept", "planspeciaty", "planarea", "workname", "planlevel", "planyear");
                Merger("gridTable", arr);
            }
        });
        //查询事件
        $("#btn_Search").click(function () {
            var queryJson = {
                txt_Keyword: $("#txt_Keyword").val(),
                PlanYear: $("#PlanYear").val(),
                PlanLevel: $("#PlanLevel").attr("data-value"),
                ItemCode: _itemCode
            }
            $gridTable.jqGrid('setGridParam', {
                postData: { queryJson: JSON.stringify(queryJson) }, page: 1
            }).trigger('reloadGrid');
        });
    }
    //合并单元格//问题所在：
    function Merger(gridName, arr) {
        var mya = $("#" + gridName + "").getDataIDs();
        var length = mya.length;
        var rowSpanTaxCount = 1;
        $(arr).each(function (i, item) {
            var CellName = item;
            for (var i = 0; i < length; i += rowSpanTaxCount) {
                var before = $("#" + gridName + "").jqGrid('getRowData', mya[i]);
                rowSpanTaxCount = 1;
                for (j = i + 1; j <= length; j++) {
                    //和上边的信息对比 如果值一样就合并行数+1 然后设置rowspan 让当前单元格隐藏
                    var end = $("#" + gridName + "").jqGrid('getRowData', mya[j]);
                    if (before[CellName] == end[CellName]) {
                        rowSpanTaxCount++;
                        $("#" + gridName + "").setCell(mya[j], CellName, '', { display: 'none' });
                    } else {
                        break;
                    }
                }
                $("#" + gridName + "").setCell(mya[i], CellName, '', '', { rowspan: rowSpanTaxCount });
            }
        });
    }
    //新增
    function add() {
        dialogOpen({
            id: 'AddPlanForm',
            title: '添加观察计划',
            url: '/ObserveRecord/ObsTask/Form',
            width: ($(top.window).width() - 600) + "px",
            height: ($(top.window).height() - 300) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    //删除
    function delPlan(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../../ObserveRecord/ObsTask/RemoveForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的观察计划！', 0);
        }
    }
    //加载组织机构树
    function GetTree() {
        var json;
        if (roleName.indexOf("省级") >= 0) {
            json = JSON.stringify(
             {
                 SelectMode: 0,
                 Mode: 5
             }
           );
        } else {
            json = JSON.stringify(
                        {
                            SelectMode: 0,
                            Mode: 14
                        }
                      );
        }

        var item = {
            height: $(window).height() - 48,
            url: "../../BaseManage/Department/GetDepartTreeJson?json=" + json,
            onnodeclick: function (item) {
                _itemCode = item.value;
                _itemId = item.id
                _itemName = item.text
                //_isOrg = item.Sort;
                //_deptId = item.id;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);

        if ($("#itemTree").html().length == 0) {
            $(".ui-layout-west").hide();
            $('.ui-layout-center').css({ "padding-left": "5px" });
            $('#gridTable').setGridWidth(($('.gridPanel').width()));
            $("#gridTable").setGridHeight($(window).height() - 200);
        } else {
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize()
                }
            });
        }
    }
    function InitCombobox() {
        var data = [
            { no: "公司级", name: "公司级" },
            { no: "部门级", name: "部门级" },
        ];
        $("#PlanLevel").ComboBox({
            id: "no",
            text: "name",
            description: "==请选择==",
            height: '400px',
            allowSearch: false,
            data: data
        });
        $("#SetPlanLevel").ComboBox({
            id: "no",
            text: "name",
            description: "==请选择==",
            height: '400px',
            allowSearch: false,
            data: data
        });

    }
    //提交上一级或者发布
    function CommitData() {
        $.ajax({
            url: '../../ObserveRecord/ObsTask/CommitEhsData',
            dataType: "JSON",
            type: "post",
            success: function (result) {
                dialogMsg(result.message, result.type);
                $("#gridTable").trigger("reloadGrid");
            }
        });
    }
    //提出意见
    function CommitIdea() {
        var DeptCode = _itemCode;
        var DeptId = _itemId;
        var DeptName = _itemName;
        if (roleName.indexOf("厂级部门用户") >= 0 || roleName.indexOf("公司级用户") >= 0) {
            if (DeptCode == "") {
                dialogMsg("请在左侧部门树上选择接收意见部门", 0);
                return;
            }
        } else {
            if (roleName.indexOf("专业级用户") >= 0 || roleName.indexOf("班组级用户") >= 0) {
                //
                $.ajax({
                    url: '../../ObserveRecord/ObsTask/GetParentDeptBySpecialArgs?parentid=' + "@ERCHTMS.Code.OperatorProvider.Provider.Current().ParentId" + '&nature=部门',
                    dataType: "JSON",
                    type: "post",
                    success: function (result) {
                        DeptCode = result.EnCode;
                        DeptId = result.DepartmentId;
                        DeptName = result.FullName;
                    }
                });

            } else {
                DeptCode = currDeptCode;
                DeptId = currDeptId;
                DeptName = currDeptName;
            }

        }
        dialogOpen({
            id: 'IdeaForm',
            title: '提出意见',
            url: '/ObserveRecord/ObsTask/FeedBackForm?DeptCode=' + DeptCode+"&DeptName="+DeptName+"&DeptId="+DeptId,
            width: ($(top.window).width() - 600) + "px",
            height: ($(top.window).height() - 200) + "px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        })
    }
    function show(id) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
           var dlg=dialogOpen({
                id: 'AddPlanForm',
                title: '查看观察计划',
                url: '/ObserveRecord/ObsTask/Form?keyValue=' + keyValue+"&mode=view",
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                btn: ["关闭"],
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            })
        }
    }

    function edit(id,iscommit) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'AddPlanForm',
                title: '编辑观察计划',
                url: '/ObserveRecord/ObsTask/Form?keyValue=' + keyValue + '&IsCommit=' + iscommit,
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //计划变更
    function planChange(id, ispublic) {
        var keyValue = id;
        if (checkedRow(keyValue)) {
            dialogOpen({
                id: 'AddPlanForm',
                title: '编辑观察计划',
                url: '/ObserveRecord/ObsTask/Form?keyValue=' + keyValue + '&IsPublic=' + ispublic + '&mode=planChange',
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 300) + "px",
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            })
        }
    }
    //复制年度计划
    function CopyYearPlan() {
        dialogOpen({
            id: 'CopyForm',
            title: '复制年度计划',
            url: '/ObserveRecord/ObsTask/CopyPlanIndex',
            width: "400px",
            height: "200px",
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
                $("#gridTable").trigger("reloadGrid");
            }
        })
    }
    //导入
    var idx;
    var isImport = false;
    function ImportPlanData() {
        idx = dialogOpen({
            id: "Import",
            title: '观察计划导入',
            url: '/ObserveRecord/ObsTask/ImportPlanData',
            width: "500px",
            height: "450px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            },
            cancel: function (index) {
                if (isImport) {
                    isImport = false;
                    GetTree();
                    $("#gridTable").jqGrid('setGridParam', {
                        postData: { keyWord: "", accType: "", grade: "", areaid: "" }
                    }).trigger('reloadGrid');
                }

            }
        });
    }

    function setPlanLevel(planid, oldplanid) {
        $("#SetPlanLevel").attr("data-text", "==请选择==");
        $("#SetPlanLevel").attr("data-value", "");
        $("#SetPlanLevel div:eq(0)").text("==请选择==");
        $("#PlanId").val(planid);
        $("#OldPlanId").val(oldplanid);
        $("#MaintainingRecordFile").modal('show');
    }
    //设置计划等级保存后同步到部门--EHS部创建的不需要同步
    function SetPlanLevelSave() {
        if ($("#SetPlanLevel").attr("data-value") == "" || $("#SetPlanLevel").attr("data-value") == undefined) {
            dialogMsg("请选择观察计划等级!!!", 0);
            return;
        } else {
            $.SaveForm({
                url: "../../ObserveRecord/ObsTask/SetPlanLevelSave?keyValue=" + $("#PlanId").val() + '&OldPlanId=' + $("#OldPlanId").val() + '&PlanLevel='+$("#SetPlanLevel").attr("data-value"),
                //param: postData,
                loading: "正在保存数据...",
                success: function () {
                    $.currentIframe().$("#gridTable").trigger("reloadGrid");
                }
            })
        }
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="titlePanel">
                <div class="title-search">
                    <table>
                        <tr>
                            <td class="formTitle">计划年度>=&nbsp;&nbsp;</td>
                            <td class="formValue">
                                <input id="PlanYear" type="text" class="form-control input-datepicker" value="@DateTime.Now.Year" onfocus="WdatePicker({ dateFmt: 'yyyy' })" />

                            </td>
                            <td class="formTitle">&nbsp;&nbsp;计划等级&nbsp;&nbsp;</td>
                            <td class="formValue">
                                <div id="PlanLevel" type="select" class="ui-select" style="width:150px;" />
                            </td>
                            <td class="formTitle">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td>
                                <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入作业内容、任务分解、观察人员等关键字" style="width: 300px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                                <input type="hidden" id="PlanId" /><input type="hidden" id="OldPlanId" />
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
            <div class="toolbar">
                <div class="btn-group">
                    <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>

                </div>

            </div>
            <script>
                $('.toolbar').authorizeButton();
                window.onload = function () {
                    if (roleName.indexOf("公司级用户") >= 0 && roleName.indexOf("安全管理员") >= 0) {
                        $('.toolbar .btn-group').append('<a class="btn btn-default" id="commit" onclick="CommitData()"><i class="fa fa-arrow-up"></i>发布</a>')
                        //$("#commit").html("<i class='fa fa-arrow-up'></i>发布");
                    } else if ((roleName.indexOf("专业级用户") >= 0 && roleName.indexOf("负责人") >= 0)
                        || (roleName.indexOf("班组级用户") >= 0 && roleName.indexOf("负责人") >= 0)
                        || (roleName.indexOf("公司级用户") >= 0 && roleName.indexOf("负责人") >= 0)) {
                        $("#commit").hide();
                    }
                }

            </script>

            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="MaintainingRecordFile">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content" style="text-align:center;">
            <div class="modal-header">
                <h5>设置计划等级</h5>
            </div>
            <div class="modal-body" id="modalBody">
                <table>
                    <tr>
                        <td class="formTitle">&nbsp;&nbsp;计划等级&nbsp;&nbsp;</td>
                        <td class="formValue">
                            <div id="SetPlanLevel" type="select" class="ui-select" style="width:120px;" />

                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button id="btnModalOK" type="button" class="btn btn-default" onclick="SetPlanLevelSave()" data-dismiss="modal">保存</button>
                <button id="btnModal" type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>