@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/adminDefault/index.js" type="text/javascript"></script>
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/content/scripts/plugins/highcharts/highcharts.js"></script>
@*<script src="~/content/scripts/plugins/highcharts/modules/exporting.js"></script>*@
<style type="text/css">
    $ {
        demo .css;
    }
</style>
<script src="~/content/scripts/plugins/highcharts/modules/no-data-to-display.js"></script>
<script type="text/javascript">
    var iscompany = "";
    var selectRootDeptId = "";
    var curDeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";
    var curDeptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";
    var curDeptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";
    var curOrganizeId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
    var curOrganizeCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var curOrganizeName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeName";
    $(function () {
        //时间范围
        $("#TimeScope").ComboBox({
            id: "id",
            text: "text",
            url: "../../HiddenTroubleManage/HTStatistics/QueryTime",
            description: "",
            allowSearch: false
        });
        var curTimeScope = $("#TimeScope-option li:eq(0)").attr("data-value");
        $("#TimeScope").ComboBoxSetValue(curTimeScope);
        $("#TimeScope").attr("data-text", curTimeScope);
        $("#TimeScope").attr("data-value", curTimeScope);        
        $("#DepartmentName").val(curOrganizeName);
        $("#DepartmentCode").val(curOrganizeCode);
        selectRootDeptId = curOrganizeId;                
        getChartTable();
        //初始化数据
        $.SetForm({
            url: "../../LllegalStandard/LllegalStandard/GetInitDataJson",
            success: function (data) {
                //违章类型
                $("#LllegalType").ComboBox({
                    id: "ItemDetailId",
                    text: "ItemName",
                    description: "==全部==",
                    allowSearch: false,
                    data: data.LllegalType
                });
            }
        });
        //重置控件
        $("#btn_Reset").click(function () {
            //选择单位
            $("#DepartmentName").val(curOrganizeName);
            $("#DepartmentCode").val(curOrganizeCode);           
            //时间范围
            var curTime = $("#TimeScope-option li:eq(0)").attr("data-value");
            $("#TimeScope").ComboBoxSetValue(curTime);
            $("#TimeScope").attr("data-text", curTime);
            $("#TimeScope").attr("data-value", curTime);
            //违章类型
            $("#LllegalType").attr("data-text", "==全部==");
            $("#LllegalType").attr("data-value", "");
            $("#LllegalType div:eq(0)").text("==全部==");
        });
        $("#btn_Search").click(function () {
            getChartTable();
        });
        $("#btn_Export").click(function () {
            ExportTrendNumber();
        });

    })
    function getQueryJson() {
        var year = $("#TimeScope").attr("data-value");
        var queryJson = {
            deptCode: $("#DepartmentCode").val(),
            legType: $("#LllegalType").attr("data-value"),
            levelGroups: "一般违章,较严重违章,严重违章",
            year: year
        };
        return queryJson;
    }
    function ExportTrendNumber() {
        var queryJson = JSON.stringify(getQueryJson());
        window.location.href = "../../LllegalManage/LllegalStatisticsGrp/ExportTrendNumber?queryJson=" + queryJson;
    }

    function getChartTable() {
        var year = $("#TimeScope").attr("data-value");
        var queryJson = getQueryJson();
        //获取统计图
        $.ajax({
            type: "get",
            url: "../../LllegalManage/LllegalStatisticsGrp/QueryLllegalNumberLine",
            data: { queryJson: JSON.stringify(queryJson) },
            success: function (data) {
                if (!!data) {
                    var ndata = eval("(" + data + ")");
                    loadChart("container1", year+ "年各级别违章趋势统计图", ndata.lineTotal);
                    loadTable1(ndata.lineList);
                }
            }
        });
    }
    //加载统计图一
    function loadChart(id, title, data) {
        if (!data) data = [];
        //图形
        $('#' + id).highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,
                plotShadow: false,
                type: 'spline'
            },
            title: {
                text: title
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: ['1月', '2月', '3月', '4月', '5月', '6月',
                    '7月', '8月', '9月', '10月', '11月', '12月']
            },
            yAxis: {
                min: 0,
                allowDecimal: false,
                title: {
                    text: '数量'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            tooltip: {
                crosshairs: true,
                shared: true
            },
            plotOptions: {
                spline: {
                    marker: {
                        radius: 4,
                        lineColor: '#666666',
                        lineWidth: 1
                    },
                    dataLabels: {
                        enabled: false  //在数据点上不显示对应的数据值
                        //formatter: function () { //格式化提示信息
                        //    return '<b>' + this.series.name + '</b>' + this.x + ':' + this.y + '条';
                        //}
                    }
                }
            },
            series: data,
            lang: { noData: "暂无数据可显示!" },
            noData: {
                position: {
                    align: 'center',
                    verticalAlign: 'middle'
                },
                attr: {
                    'stroke-width': 1
                },
                style: {
                    fontWeight: 'bold',
                    fontSize: '15px',
                    color: '#202030'
                }
            }
        });
    }
    function loadTable1(data) {
        var $gridTable = $('#gridTable1');
        //隐患基本信息
        $gridTable.jqGrid({
            autowidth: true,
            height: 'auto',
            // height: parseFloat($(window).height() / 2 - 100),
            datatype: "local",
            //data: data,
            colModel: [
               {
                   label: '月份', name: 'month', index: 'month', width: 400, align: 'center', sortable: false, formatter: function (val, opt, row) {
                       return val + "月";
                   }
               },
                {
                    label: '一般违章', name: '一般违章', index: '一般违章', width: 300, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = cellvalue ;
                        if (cellvalue > 0) {
                            html = '<a style=\"text-decoration: underline;color: blue;\"  href=javascript:openLllegalList("' + $("#DepartmentCode").val() + '","' + rowObject.month + '","' + $("#LllegalType").attr("data-value") + '","' + eval("rowObject.id" + options.colModel.name) + '")>' + cellvalue + '</a>';
                        }
                        return html;
                    }
                },
                {
                    label: '较严重违章', name: '较严重违章', index: '较严重违章', width: 300, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = cellvalue ;
                        if (cellvalue > 0) {
                            html = '<a style=\"text-decoration: underline;color: blue;\"  href=javascript:openLllegalList("' + $("#DepartmentCode").val() + '","' + rowObject.month + '","' + $("#LllegalType").attr("data-value") + '","' + eval("rowObject.id" + options.colModel.name) + '")>' + cellvalue + '</a>';
                        }
                        return html;
                    }
                },
                {
                    label: '严重违章', name: '严重违章', index: '严重违章', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = cellvalue;
                        if (cellvalue > 0) {
                            html = '<a style=\"text-decoration: underline;color: blue;\"  href=javascript:openLllegalList("' + $("#DepartmentCode").val() + '","' + rowObject.month + '","' + $("#LllegalType").attr("data-value") + '","' + eval("rowObject.id" + options.colModel.name) + '")>' + cellvalue + '</a>';
                        }
                        return html;
                    }
                }
            ],
            rownumbers: false,
            shrinkToFit: true,
            gridview: true
        });//.jqGrid('setGridParam', {data: data }).trigger('reloadGrid');
        $gridTable.jqGrid('clearGridData');
        $gridTable.jqGrid('setGridParam', { dataType: 'local', data: data }).trigger('reloadGrid');
    }
    function showChart(obj, url) {
        window.location.href = url;
    }
    function openLllegalList(deptCode, month,legTypeId, legLevelId) {
        var year = $("#TimeScope").attr("data-value");
        dialogOpen({
            id: 'LllegalList',
            title: '违章列表',
            url: '/LllegalManage/LllegalRegisterGrp/SdIndex?Qtype=1&DeptCode=' + deptCode + "&Year=" + year + "&Month=" + month + "&LllegalType=" + legTypeId + "&LllegalLevel=" + legLevelId,
            width: ($(top.window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px"
        });
    }
    function selectDepart() {
        selectDept(selectRootDeptId, 0, 9, '选择单位', window.document.body, 'DepartmentName,DepartmentCode,DepartmentId');
    }
</script>
<style type="text/css">
    .ui-select {
        width: 200px;
    }

    .formTitle {
        padding-left: 10px;
        font-weight:bold;
    }
    .ui-row-ltr a{padding-left:0px;}    
</style>
<div class="center-Panel">
    <div class="panel-Title">违章数量统计信息</div>
    <div class="titlePanel">
        <div class="title-search">
            <table class="queryform">
                <tr>
                    <th style="padding-left: 10px;">选择单位：</th>
                    <td style="padding-left: 5px;">
                        <input id="DepartmentName" type="text" style="width: 200px;" class="form-control" placeholder="请选择单位" readonly onclick="selectDepart()" />
                        <input id="DepartmentCode" type="hidden" />
                    </td>
                    <th style="padding-left: 10px;">违章年度：</th>
                    <td style="padding-left: 5px;">
                        <div id="TimeScope" type="select" class="ui-select" style="width:120px;"></div>
                    </td>
                    <td class="formTitle">违章类型：</td>
                    <td class="formValue">
                        <div id="LllegalType" type="select" class="ui-select" data-value="" />
                    </td>
                    <td style="padding-left: 20px;">
                        <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;查询</a>&nbsp;&nbsp;
                        <a id="btn_Reset" class="btn btn-primary"><i class="fa fa-undo"></i>&nbsp;重置</a>&nbsp;&nbsp;
                        <a id="btn_Export" class="btn btn-primary"><i class="fa fa-file-excel-o"></i>&nbsp;导出</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="toolbar">
            <div class="btn-group">
                <a id="lr-panel-one" class="btn btn-default" onclick="showChart(this,'Index')"><i class="fa fa fa-pie-chart" ></i>&nbsp;统计图</a>
                <a id="lr-panel-two" class="btn btn-default" style="background-color: rgb(51, 122, 183); color: rgb(255, 255, 255);" onclick="showChart(this, 'TrendIndex')"><i class="fa fa fa-area-chart" style="color: rgb(255, 255, 255);"></i>&nbsp;趋势图</a>
                <a id="lr-panel-three" class="btn btn-default" onclick="showChart(this, 'CompareIndex')"><i class="fa fa fa-bar-chart"></i>&nbsp;对比图&nbsp;</a>
            </div>
        </div>
    </div>
    <div class="west-Panel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计图</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="container1"></div>
            </div>
        </div>
        <div class="panel panel-default" id="statisticsList">
            <div class="panel-heading">
                <strong>&nbsp;&nbsp;统计列表</strong>
                <span class="tools pull-right">
                    <a class="fa fa-chevron-down" title="展开/收起"></a>
                </span>
            </div>
            <div class="panel-body">
                <table id="gridTable1"></table>    
            </div>
        </div>
    </div>
</div>
