@{;
ViewBag.Title = "应急演练计划";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script src="~/Content/scripts/business/Common.js"></script>
<script src="~/Content/scripts/business/Grid.js"></script>
<script>
    var _parentId = "";
    var _isOrg = "";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var DeptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    var OrganizeId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";//当前用户所属机构Code
    var urltype = request("urltype");
    //加载页面
    $(function () {
        var url = "../../HazardsourceManage/Hazardsource/GetqdPageListJson";
        //演练预案类型
        ComBoxForData("DrillType", "MAE_DirllPlanType");
        //方式
        ComBoxForData("DrillMode", "MAE_DirllMode");
        //页面初始化
        InitialPage();
        //加载按钮权限
        //LoadToolBar();
        //（搜索条件）

        ComboxArea("DistrictId", top.contentPath + "/BaseManage/District/GetTreeJson");
        //加载列表createuserid
        var arrCol = new Array();
        switch (urltype) {
            //应急预案
            case "Reserverplan":
                $("#title").html("应急预案");
                url = "../../EmergencyPlatform/Reserverplan/GetPageListJson";
                arrCol.push(
                 { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
               { label: '', name: 'files', hidden: true },
              { label: '', name: 'organizecode', hidden: true },
                { label: '应急预案名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '应急预案类型', name: 'plantypename', index: 'plantypename', align: 'center', sortable: true },
                { label: '编制部门', name: 'departname_bz', index: 'departname_bz', align: 'center', sortable: true },
                { label: '编制人', name: 'username_bz', index: 'username_bz', align: 'center', sortable: true },
                {
                    label: '编制时间', name: 'datatime_bz', index: 'datatime_bz', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                  {
                      label: '查看应急预案附件', name: 'Afiles', index: 'files', align: 'center', sortable: false,
                      formatter: function (cellvalue, options, rowObject) {
                          var key = rowObject.files;
                          return loadFile(key);

                      }
                  });
                break;
                //应急预案
            case "Reserverplan2":
                $("#title").html("应急预案");
                url = "../../EmergencyPlatform/Reserverplan/GetPageListJson";
                arrCol.push(
                 { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
               { label: '', name: 'files', hidden: true },

               { label: '', name: 'fileps', hidden: true },
              { label: '', name: 'organizecode', hidden: true },
                { label: '应急预案名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '应急预案类型', name: 'plantypename', index: 'plantypename', align: 'center', sortable: true },
                { label: '编制部门', name: 'departname_bz', index: 'departname_bz', align: 'center', sortable: true },
                { label: '编制人', name: 'username_bz', index: 'username_bz', align: 'center', sortable: true },
                {
                    label: '编制时间', name: 'datatime_bz', index: 'datatime_bz', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                    {
                        label: '查看应急预案评审附件', name: 'bzfileps', align: 'center', sortable: false,
                        formatter: function (cellvalue, options, rowObject) {
                            var key = rowObject.fileps;
                            return loadFile(key);
                        }
                    });
                break;
                //应急预案
            case "Drillplan":
                $("#title").html("应急计划");
                url = "../../EmergencyPlatform/Drillplanrecord/GetPageListJson";
                arrCol.push(
                   { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                    { label: '', name: 'departmentcode', hidden: true }, { label: '', name: 'organizecode', hidden: true },

                { label: '演练部门', name: 'departname', index: 'departname', align: 'center', sortable: true },
                { label: '演练名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '演练预案名称', name: 'drillplanname', index: 'drillplanname', align: 'center', sortable: true },
                { label: '演练预案类型', name: 'drilltypename', index: 'drilltypename', align: 'center', sortable: true },
                { label: '演练方式', name: 'drillmodename', index: 'drillmodename', align: 'center', sortable: true },
                {
                    label: '演练时间', name: 'drilltime', index: 'drilltime', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return rowObject.drilltime.substring(0, 10);

                    }
                },
                 { label: '演练地点', name: 'drillplace', index: 'drillplace', align: 'center', sortable: true },
                   { label: '参与人数', name: 'drillpeoplenumber', index: 'drillpeoplenumber', align: 'center', sortable: true },
                {
                    label: '查看演练方案附件', name: 'show', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.id;
                        return loadFile(key);
                    }
                });
                break;
                //应急演练记录
            case "Drillplanrecord":
                $("#title").html("应急演练记录");
                url = "../../EmergencyPlatform/Drillplanrecord/GetPageListJson";
                arrCol.push(
                   { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                       { label: '演练总结', name: 'ylzjfiles', index: 'ylzjfiles', align: 'center', sortable: true, hidden: true },

                    { label: '', name: 'departmentcode', hidden: true }, { label: '', name: 'organizecode', hidden: true },

                { label: '演练部门', name: 'departname', index: 'departname', align: 'center', sortable: true },
                { label: '演练名称', name: 'name', index: 'name', align: 'center', sortable: true },
                { label: '演练预案名称', name: 'drillplanname', index: 'drillplanname', align: 'center', sortable: true },
                { label: '演练预案类型', name: 'drilltypename', index: 'drilltypename', align: 'center', sortable: true },
                { label: '演练方式', name: 'drillmodename', index: 'drillmodename', align: 'center', sortable: true },
                {
                    label: '演练时间', name: 'drilltime', index: 'drilltime', align: 'center', sortable: true, formatter: function (cellvalue, options, rowObject) {
                        return rowObject.drilltime.substring(0, 10);

                    }
                },
                 { label: '演练地点', name: 'drillplace', index: 'drillplace', align: 'center', sortable: true },
                   { label: '参与人数', name: 'drillpeoplenumber', index: 'drillpeoplenumber', align: 'center', sortable: true },
                {
                    label: '查看演练总结附件', name: 'name', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.ylzjfiles;
                        return loadFile(key);
                    }
                });
                break;
                //应急演练记录
            case "SafeInstitution":
                $("#title").html("重大危险源安全管理制度");
                url = "../../SafetyLawManage/SafeInstitution/GetPageListJson";
                arrCol.push(
                   { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                 { label: '文件和资料名称', name: 'filename', width: 200, align: 'center', sortable: true },
                { label: '管理制度类别', name: 'lawtypecode', width: 150, align: 'center', sortable: true },
                { label: '发布单位', name: 'issuedept', width: 150, align: 'center', sortable: true },
                { label: '文件编号', name: 'filecode', width: 120, align: 'center', sortable: true },
                { label: '有效版本号', name: 'validversions', width: 120, align: 'center', sortable: true },
                {
                    label: '施行日期', name: 'carrydate', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '文件主键1', name: 'filesid', width: 10, align: 'left', hidden: true },
                {
                    label: '查看文件', name: 'name', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.filesid;
                        return loadFile(key);
                    }
                });
                break;
                //应急演练记录
            case "SafeStandards":
                $("#title").html("安全操作规程");
                url = "../../SafetyLawManage/SafeStandards/GetPageListJson";
                arrCol.push(
                         { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                { label: '文件和资料名称', name: 'filename', width: 200, align: 'center', sortable: true },
                { label: '岗位类别', name: 'lawtypecode', width: 150, align: 'center', sortable: true },
                { label: '发布单位', name: 'issuedept', width: 150, align: 'center', sortable: true },
                { label: '文件编号', name: 'filecode', width: 120, align: 'center', sortable: true },
                { label: '有效版本号', name: 'validversions', width: 120, align: 'center', sortable: true },
                {
                    label: '施行日期', name: 'carrydate', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '文件主键1', name: 'filesid', width: 10, align: 'left', hidden: true },
                {
                    label: '查看文件', name: 'name', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.filesid;
                        return loadFile(key);
                    }
                });
                break;
                //应急演练记录
            case "Djyh":
                $("#title").html("登记隐患");
                url = "../../SafetyLawManage/SafeStandards/GetPageListJson";
                arrCol.push(
                         { label: '主键', name: 'id', index: 'id', align: 'center', sortable: true, hidden: true },
                { label: '文件和资料名称', name: 'filename', width: 200, align: 'center', sortable: true },
                { label: '岗位类别', name: 'lawtypecode', width: 150, align: 'center', sortable: true },
                { label: '发布单位', name: 'issuedept', width: 150, align: 'center', sortable: true },
                { label: '文件编号', name: 'filecode', width: 120, align: 'center', sortable: true },
                { label: '有效版本号', name: 'validversions', width: 120, align: 'center', sortable: true },
                {
                    label: '施行日期', name: 'carrydate', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                { label: '文件主键1', name: 'filesid', width: 10, align: 'left', hidden: true },
                {
                    label: '查看文件', name: 'name', align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var key = rowObject.filesid;
                        return loadFile(key);
                    }
                });
                break;
            default:

        }


        GetGrid(url, arrCol, "desc", "id", false, false, $(window).height() - 170, 40)
        //加载树
        GetTree();
    });


    //初始化页面
    function InitialPage() {
        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
    }
    var selectedRowIndex = 0;
    //加载组织机构树
    function GetTree() {
        var item = {
            height: $(window).height() - 50,
            url: "../../BaseManage/User/GetDepartTreeJson",
            onnodeclick: function (item) {
                var queryJson = {
                    code: item.EnCode,
                    isOrg: item.Sort
                }
                $("#gridTable").jqGrid('setGridParam', {
                    postData: { queryJson: JSON.stringify(queryJson) }, page: 1
                }).trigger('reloadGrid');
                _parentId = item.EnCode;
                _isOrg = item.Sort;
                $('#btn_Search').trigger("click");
            }
        };
        //初始化
        $("#itemTree").treeview(item);
    }

    //加载附件
    function loadFile(cellvalue) {
        $.ajax({
            url: '../../SaftProductTargetManage/SafeProductDutyBook/GetFiles',
            data: { fileId: cellvalue },
            dataType: "JSON",
            async: false,
            success: function (result) {
                if (result == "" || result == undefined || result == null) {
                    cellvalue = "&nbsp;&nbsp;无";
                }
                else {
                    cellvalue = "<a href=javascript:funcAction('" + cellvalue + "') style='color:blue; text-decoration:underline'  title='查看文件'>查看</a>";
                }
            }
        });
        return cellvalue;
    }

    //文件显示
    function funcAction(a) {
        var idx = dialogOpen({
            id: "FileForm",
            title: "查看文件",
            url: '/EmergencyPlatform/Reserverplan/Files?filesid=' + a,
            width: "500px",
            height: ($(top.window).height() - 550) + "px",
            btns: 1,
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }
    $.ajaxSetup({ async: false });
    //保存确定
    function AcceptClick(options) {

        var winObject = options.winObject;
        var domId = options.domId;//传参获取的ID
        var checkmode = options.checkMode;
        var selVal = new Array();//获取的返回值
        var gridId = options.gridId;//传过来的gridId
        var type = options.type;
        var rowIndex = options.rowIndex;
        var name = options.name;
        if (winObject != undefined && domId != undefined) {
            if (domId.length > 0) {
                var rowObject = $('#gridTable').jqGrid("getRowData", selectedRowIndex);
                if (selectedRowIndex <= 0) {
                    dialogAlert("请选择一条记录！", 2);
                    return;
                }
                //遍历获取数据
                var ids = domId.split(',');
                var grid = $(winObject).find("#" + gridId).eq(0);
                //单选
                for (var i = 0; i < ids.length; i++) {
                    var dom = $(winObject).find("#" + ids[i]).eq(0);
                    if (dom != undefined) {
                        //映射值
                        dom.val(rowObject[ids[i]]);
                        //标记特殊只插入一次数据
                        //修改或者新增列(单选)
                        if (i == 0) {

                            var row = grid.jqGrid('getRowData');
                            if (type == "Add")
                                grid.addRowData((row.length + 1), { id: rowObject.id, name: rowObject["name"] });
                            if (type == "Edit") {
                                if (urltype == "Reserverplan")
                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["files"]) == "" ? "" : rowObject["files"], name: name, id: rowObject.id, files: GetFileName(rowObject["files"]) == "" ? "" : rowObject["files"], filesname: GetFileName(rowObject["files"])
                                    });
                                if (urltype == "Reserverplan2")
                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["fileps"]) == "" ? "" : rowObject["fileps"], name: name, id: rowObject.id, files: GetFileName(rowObject["fileps"]) == "" ? "" : rowObject["fileps"], filesname: GetFileName(rowObject["fileps"])
                                    });
                                if (urltype == "Drillplan")
                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["id"]) == "" ? "" : rowObject["id"], name: name, id: rowObject.id, files: GetFileName(rowObject["id"]) == "" ? "" : rowObject["id"], filesname: GetFileName(rowObject["id"])
                                    });
                                if (urltype == "Drillplanrecord")
                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["ylzjfiles"]) == "" ? "" : rowObject["ylzjfiles"], name: name, id: rowObject.id, files: GetFileName(rowObject["ylzjfiles"]) == "" ? "" : rowObject["ylzjfiles"], filesname: GetFileName(rowObject.ylzjfiles)
                                    });
                                if (urltype == "SafeInstitution")
                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["filesid"]) == "" ? "" : rowObject["filesid"], name: name, id: rowObject.id, files: GetFileName(rowObject["filesid"]) == "" ? "" : rowObject["filesid"], filesname: GetFileName(rowObject.filesid)
                                    });
                                if (urltype == "SafeStandards")

                                    grid.jqGrid('setRowData', rowIndex, {
                                        Operfiles: GetFileName(rowObject["filesid"]) == "" ? "" : rowObject["filesid"], name: name, id: rowObject.id, files: GetFileName(rowObject["filesid"]) == "" ? "" : rowObject["filesid"], filesname: GetFileName(rowObject.filesid)
                                    });
                            }

                            //去除无数据显示
                            var unwritten = $(winObject).find(".unwritten").eq(0);
                            unwritten.html("");
                        }

                    }
                }
                //针对grid加参数
                switch (urltype) {
                    //登记隐患(新增列)
                    case "Djyh":
                        grid.addRowData(row.length, { id: rowObject.id, yhms: rowObject["name"], zgxx: "", ysxx: "", });
                        break;
                    default:
                        break;

                }

            }
            if (options.callBack) {
                options.callBack();
            }
            dialogClose();
        }

    }

    //获取文件名称
    function GetFileName(keyValue) {
        var obj;
        $.post("../../HazardsourceManage/Djjd/GetFileNameByKeyValue", { keyValue: keyValue }, function (data) {
            //alert(data.message);
            obj = data
        });
        return obj;
    }
</script>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <div class="col-md-10">
                    组织机构
                </div>
                <div class="col-md-2 text-right" style="padding-right:8px;">
                    <i class="fa fa-arrow-left" onclick="setBar(this)" style="cursor:pointer;" title="展开/收起"></i>
                </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel">
            <div class="panel-Title" id="title"></div>
            @*<div class="titlePanel">
                    <div class="title-search">
                        <table>
                            <tr>
                                <td>查询条件</td>
                                <td style="padding-left: 10px;">
                                    <div class="ui-filter" style="width: 200px;">
                                        <div class="ui-filter-text">
                                            <input id="see" type="hidden" />
                                            请选择过滤条件
                                        </div>
                                        <div class="ui-filter-list" style="width: 350px;">
                                            <table class="form" id="filter-form">
                                                <tr>
                                                    <th class="formTitle">计划时间：</th>
                                                    <td class="formValue">
                                                        <input id="Category" type="hidden" value="1" />
                                                        <div style="float: left; width: 45%;">
                                                            <input id="HAPPENTIMES" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" />
                                                        </div>
                                                        <div style="float: left; width: 10%; text-align: center;">至</div>
                                                        <div style="float: left; width: 45%;">
                                                            <input id="HAPPENTIMEE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" />
                                                        </div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="formTitle">演练方式：</td>
                                                    <td class="formValue">
                                                        <div id="DrillMode" type="select" class="ui-select" style="width: 130px;"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="formTitle">预案类型：</td>
                                                    <td class="formValue">
                                                        <div id="DrillType" type="select" class="ui-select" style="width: 130px;"></div>
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="formTitle">预案名称：</td>
                                                    <td class="formValue">
                                                        <input id="txt_Keyword" type="text" class="form-control" placeholder="请输入要查询关键字" style="width: 200px;" />
                                                    </td>
                                                </tr>
                                            </table>
                                            <div class="ui-filter-list-bottom">
                                                <a id="btn_Search" class="btn btn-primary">&nbsp;查&nbsp;&nbsp;询</a>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="toolbar">
                    </div>
                </div>*@
            <div class="panel-body">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>


