@using ERCHTMS.Entity.HseManage.ViewModel
@{
    List<DeptMonthData> datas = Model;
    List<string> months = ViewBag.MonthInfo;
    Layout = null;
}
<table style=" float:left; width:100%; text-align:center; " border="1" cellspacing="0">
    <tr>
        <th>月份</th>
        <th>总计</th>
        @if (datas != null && datas.Count > 0)
        {
            foreach (var item in datas)
            {
                <th>@item.Ttile</th>
            }
        }

    </tr>
    @if (months != null && months.Count > 0)
    {

        foreach (var month in months)
        {
            var num1 = datas.SelectMany(p => p.MonthData).Where(p => p.Key == month).Sum(x => x.Value);
            <tr>
                <th>@month</th>
               
                <td @Html.Raw(num1 > 0 ? "style=\"color:blue\"" : "style=\"color:black\"")>@num1</td>
                @if (datas != null && datas.Count > 0)
                {
                    foreach (var item in datas)
                    {
                        var monthData = item.MonthData.FirstOrDefault(x => x.Key == month);
                        if (monthData == null)
                        {
                            <td>0</td>
                        }
                        else
                        {
                            <td @Html.Raw(monthData.Value>0 ? "style=\"color:blue\"" : "style=\"color:black\"")>@monthData.Value</td>
                        }
                    }
                }
            </tr>
        }
    }
    <tr>
        <th>总计</th>
        <td>@datas.SelectMany(p => p.MonthData).Sum(x => x.Value)</td>
        @if (datas != null && datas.Count > 0)
        {
            foreach (var item in datas)
            {
                var num = item.MonthData.Sum(x => x.Value);
        <td @Html.Raw(num > 0 ? "style=\"color:blue\"" : "style=\"color:black\"")>@num</td>
            }
        }
    </tr>
</table>


