@{;
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script type="text/javascript" src="~/content/scripts/business/common.js"></script>

<script>
    var mode = request("mode");
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId"; //当前用户部门ID
    var PowerInsideHandleDetailId = request('PowerInsideHandleDetailId');
    $.ajaxSetup({ async: false });
    $(function () {
        InitialPage();
        GetGrid();

    });
    //初始化页面
    function InitialPage() {
        //resize重设布局;
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $('#gridTable').setGridHeight($(window).height() - 170);
            }, 200);
            e.stopPropagation();
        });
    }
    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        $gridTable.jqGrid({
            autowidth: true,
            height: $(window).height() - 170,
            url: "../../PowerPlantInside/Powerplantreform/GetHistoryPageListJson",
            datatype: "json",
            postData: { PowerInsideHandleDetailId: PowerInsideHandleDetailId },
            colModel: [
                {
                    label: '操作', name: 'Oper', width: 80, align: 'center',
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        html += "<a href=javascript:showHandleDetail('" + rowObject.id + "','" + rowObject.powerplanthandleid + "','" + rowObject.powerplanthandledetailid + "')  title='查看'><i class='fa fa-eye'></i></a>";
                        return html;
                    }
                },
                { label: '整改责任人', name: 'rectificationperson', index: 'rectificationperson', align: 'center', sortable: true, width: '300px' },
                {
                    label: '整改责任人签名', name: 'rectificationpersonsignimg', index: 'rectificationpersonsignimg', align: 'center', sortable: true, width: '150px',
                    formatter: function (cellvalue, options, rowObject) {
                        var content = !!rowObject.rectificationpersonsignimg ? rowObject.rectificationpersonsignimg : "";
                        var html = "";
                        if (content == "" || content == undefined) {
                            var html = "<img  style=\"height:50px;\" />&nbsp;";
                        } else {
                            html = "<img style=\"height:50px;\"  src=\"../.." + content + "\"/>&nbsp;";
                        }

                        return html;
                    }
                },
                { label: '整改情况描述', name: 'rectificationsituation', index: 'rectificationsituation', align: 'center', sortable: true },
                {
                    label: '整改完成时间', name: 'rectificationendtime', index: 'rectificationendtime', align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            viewrecords: true,
            rowNum: 30,
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 'createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true,
            //multiselect: true,
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            }
        });
    }


    function showHandleDetail(powerplantreformid, powerplanthandleid, powerplanthandledetailid) {
        var url = "/PowerPlantInside/Powerplantreform/AppHandleForm?mode=show&PowerPlantHandleDetailId=" + powerplanthandledetailid + "&PowerPlantHandleId=" + powerplanthandleid + "&PowerPlantReformId=" + powerplantreformid;
        idx = dialogOpen({
            id: "HistoryDetails",
            title: "查看处理信息",
            url: url,
            width: ($(window).width() * 0.5) + "px",
            height: ($(window).height() * 0.9) + 'px',
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(idx);
            }
        });
    }

</script>

<div class="titlePanel">
    <div class="toolbar">

        <div class="btn-group">
            <a class="btn btn-default" onclick="reload()"><i class="fa fa-refresh"></i>刷新</a>
        </div>
    </div>
</div>
<div class="gridPanel">
    <table id="gridTable"></table>
    <div id="gridPager"></div>
</div>
