@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<link href="~/content/scripts/plugins/icheck/skins/square/_all.css" type="text/css" rel="stylesheet" />
<script src="~/content/scripts/plugins/icheck/js/icheck.min.js" type="text/javascript"></script>
<script src="~/content/scripts/plugins/icheck/js/custom.min.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    
    var selectedRowIndex = 0;
    var gridCount = 0;
    var contentlength = "";
    var risklength = "";
    var mode = request('mode');
    var isEdit = true;
    
    var selIds = "";

    var fivetype = request('fivetype'); //检查类型
    var istopcheck = request('istopcheck'); // 0:上级公司检查 1：公司安全检查
    var recid = request('recid');
    var rqaction = request('action');
    var newId = newGuid();
    $(function () {
        //安全检查类型
        $("#CHECKTYPEID").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: (istopcheck == 0 ? 'fivetopcheck' :'fivegscheck') },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });
        //安全检查级别
        $("#CHECKLEVELID").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: (istopcheck == 0 ? 'fivetopjcjb' : 'fivegsaqjcjb') },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "200px"
        });

        // 如果是上级公司检查上级公司检查，默认值
        if (istopcheck == 0) {
            $("#CHECKLEVELID").attr('readonly','readonly').ComboBoxSetValue('0');

        }
        // 检查类型为传递默认值
        $("#CHECKTYPEID").ComboBoxSetValue(fivetype);
        initControl();
        GetGrid();
        GetApplyGrid();

    });
    //初始化控件
    function initControl() {
        //取消
        $("#btn_Cancle").click(function () {
            dialogClose();
        });

        //提交
        $("#btn_Submit").click(function () {
            AcceptClick();

        });

        //审核
        $("#btn_Apply").click(function () {
            ApplyAction();
        });

        // 导出
        $('#Export_audit').click(function () {
            ExportAudit();
        });

        if (rqaction == "view" ) {
            $('#CHECKLEVELID,#CHECKNAME,#CHECKBEGINDATE,#CHECKENDDATE,#CHECKTYPEID,#CHECKEDDEPART,#CHECKEDDEPART,#CHECKMANAGEMAN,#CHECKUSERS,#CHECKAREANAME').attr("disabled", "disabled");
            $('#btn_Apply,#btn_Submit,#add_audit,#in_audit').hide();
            $('#panel3').hide();
        } else if ( rqaction == "apply") {
            $('#CHECKLEVELID,#CHECKNAME,#CHECKBEGINDATE,#CHECKENDDATE,#CHECKTYPEID,#CHECKEDDEPART,#CHECKEDDEPART,#CHECKMANAGEMAN,#CHECKUSERS,#CHECKAREANAME').attr("disabled", "disabled");
            $('#btn_Submit,#add_audit,#in_audit').hide();
        } else if (rqaction == "add") {
            $('#btn_Apply').hide();
            $('#Day_exam').show();
            $('#panel3,#panel4').hide();
        } else if (rqaction == "edit") {
            $('#btn_Apply').hide();
            $('#Day_exam').show();
            $('#panel3').hide();
        }
        var isDel = (rqaction == "view" || rqaction == "apply") ? false : true;
        //获取表单
        if (!!recid) {
            newId = recid;
            $.SetForm({
                url: "../../HiddenTroubleManage/Fivesafetycheck/GetFormJson",
                param: { keyValue: recid },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    
                }
            });
            //$("#CheckBeginTime,#CheckMan,#CheckLevel,#CheckDataRecordName,#CreateUserName,#CreateDate").attr("disabled", "disabled");

        }
        file_upload.init({
            keyValue: newId, extensions: '', isImage: false, el: '#uploader', extensions: 'doc,docx,pdf,png,jpg,jpeg', fileSingleSizeLimit: 500 * 1024 * 1024
        });
        file_upload.bindFiles(isDel, false, newId, "uploader", isDel);

    }

    function ApplyAction() {
        if (!$('#form3').Validform()) {
            return false;
        }

        var postData = $("#form3").formSerialize(recid);
        //审核结果
        var auditresult = $("input[name='AUDITRESULT']:checked").val();
        if (auditresult == "" || auditresult == undefined) {
            dialogAlert("审查结论未勾选,无法进行提交!!!", function () {
                return false;
            })
            return false;
        }
        postData["AUDITRESULT"] = auditresult;
        console.log(postData);

        $.SaveForm({
            url: "../../HiddenTroubleManage/Fivesafetycheck/ApporveForm?keyValue=" + recid,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                //$.currentIframe().$("#gridTableApply").trigger("reloadGrid");
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                top.refreshWork();

            }
        })
    }

    //删除
    function btn_delete(id) {
        if (id) {
            $.RemoveForm({
                url: '../../HiddenTroubleManage/Fivesafetycheckaudit/RemoveForm',
                param: { keyValue: id },
                success: function (data) {
                    $('#gridTable').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的信息！', 0);
        }
    }
    // 新增整改情况
    function add_audit() {
        dialogOpen({
            id: 'CheckForm',
            title: '新增检查内容',
            url: '/HiddenTroubleManage/Fivesafetycheck/CheckForm?action=add&checkid=' + newId,
            width: '950px',
            height: '500px',
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    // 编辑整改情况
    function btn_edit(id) {
        dialogOpen({
            id: 'CheckForm',
            title: '编辑检查内容',
            url: '/HiddenTroubleManage/Fivesafetycheck/CheckForm?action=edit&&checkid=' + newId + '&recid=' + id,
            width: '950px',
            height: '500px',
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    // 查看
    function show(id, issaved) {
        var title = "查看检查内容";
        var url = '/HiddenTroubleManage/Fivesafetycheck/CheckForm?action=view&checkid=' + newId+'&recid=' + id;
        if (checkedRow(id)) {
            var dlg = dialogOpen({
                id: "CheckForm",
                title: title,
                url: url,
                width: '950px',
                height: '500px',
                btn: null,
                callBack: function (iframeId) {
                    top.layer.close(dlg);
                }
            });
        }
    }
   
    //加载表格(检查表详情项)
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTable');
        var queryJson = {
            checkid: newId
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: 250,
            url: "../../HiddenTroubleManage/Fivesafetycheck/GetAuditListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'oper', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>&nbsp;";
                        if (rqaction == "add" || rqaction == "edit") {
                            html += "<a href=javascript:btn_edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>&nbsp";
                            html += "<a href=javascript:btn_delete('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                        } 
                       
                        return html;
                    }
                },
                { label: '发现问题', name: 'findquestion', index: 'findquestion', width: 250, align: 'center', sortable: true },
                { label: '整改措施', name: 'actioncontent', index: 'actioncontent', align: 'center', sortable: true },
                { label: '责任部门/单位', name: 'dutydept', index: 'dutydept', align: 'center', sortable: true },
                { label: '责任人', name: 'dutyusername', index: 'dutyusername', align: 'center', sortable: true },
                { label: '要求完成时间', name: 'finishdate', index: 'finishdate', align: 'center', sortable: true },
                { label: '验收人', name: 'acceptuser', index: 'acceptuser', align: 'center', sortable: true },
                {
                    label: '整改完成情况', name: 'actionresult', index: 'actionresult', align: 'center', sortable: false
                    , formatter: function (cellvalue, options, rowObject) {
                        var content = "";
                        if (cellvalue == "0") {
                            content = "已完成";
                            if (rowObject.acceptreuslt != "0" && rowObject.checkpass == '1') {
                                content = "已完成(未验收)";
                            }
                        } else if (cellvalue == "1"){
                            content = "未完成";
                        }

                        return content;

                    }
                },
                { label: '实际完成时间', name: 'actualdate', index: 'actualdate', align: 'center', sortable: true },
                { label: '备注', name: 'beizhu', index: 'beizhu', align: 'center', sortable: true },
                { label: 'acceptreuslt', name: 'acceptreuslt', hidden: true },
                { label: 'checkpass', name: 'checkpass', hidden: true }],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPager",
            sortname: 't.createdate,t.id',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            multiselect: true,
            gridview: true
        });
    }
 
    function refreshGrid() {
        $("#gridTable").trigger("reloadGrid");
    }
  
    //保存表单;
    function AcceptClick() {
        if ($('#gridTable').getDataIDs().length == 0) {
            dialogAlert("请新增检查内容！", 2);
            return false;
        }

        if (!$('#form2').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(recid);

        postData.CHECKTYPE = $("#CHECKTYPEID").ComboBoxGetText();
        postData.CHECKLEVEL = $("#CHECKLEVELID").ComboBoxGetText();
        
        var urlsav = "../../HiddenTroubleManage/Fivesafetycheck/SaveForm?keyValue=" + newId;
        
        $.SaveForm({
            url: urlsav,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
                top.refreshWork();
            }
        });
    }


    //加载审批表格
    function GetApplyGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTableApply');
        var queryJson = {
            ID: newId
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: 200,
            url: "../../HiddenTroubleManage/Fivesafetycheck/GetApplyListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                
               
                { label: '会签/审核', name: 'AUDITPEOPLE', index: 'AUDITPEOPLE', width: 250, align: 'center', sortable: true },
                { label: '审核部门', name: 'AUDITDEPT', index: 'AUDITDEPT', align: 'center', sortable: true },
                {
                    label: '审核结果', name: 'AUDITRESULT', index: 'AUDITRESULT', width: 250, align: 'center', sortable: true
                    , formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.AUDITRESULT == "0") {
                            html = "通过";
                        } else {
                            html = "不通过";
                        }

                        return html;
                    }

                },
                { label: '审核日期', name: 'AUDITTIME', index: 'AUDITTIME', align: 'center', sortable: true },
            { label: '审核意见', name: 'AUDITOPINION', index: 'AUDITOPINION', width: 250, align: 'center', sortable: true }],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rownumbers: true,
            rowNum: 50
        });
    }

    // 导出
    function ExportAudit() {
        window.location.href = "../../HiddenTroubleManage/Fivesafetycheck/ExportAuditTotal?keyvalue=" + newId ;
    }

    // 导入检查内容
    function Import() {
        var idx = dialogOpen({
            id: "Import",
            title: '导入检查内容',
            url: '/HiddenTroubleManage/Fivesafetycheck/Import?keyvalue=' + newId, // 
            width: "500px",
            height: "350px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            },
            cancel: function (index) {
                $("#gridTable").trigger('reloadGrid');

            }
        });
    }

    function selReceives() {
        if ($('#CHECKEDDEPARTID').val() != null) {
            if ($('#CHECKEDDEPARTID').val().length > 0) {
                //selectUser({ deptId: $('#CHECKEDDEPARTID').val() + "&istree=0&pType=1", userIds: $('#CHECKUSERSID').val(), checkMode: 1, mode: "2&pfrom=100", winObject: window.document.body, domId: 'CHECKUSERS,,CHECKUSERSID' });
                selectUser({
                    Ids: $("#CHECKEDDEPARTID").val(), deptId: $("#CHECKEDDEPARTID").val(), checkMode: 1, mode: "2&pfrom=100", callBack: function () {
                    }, winObject: document.body, domId: 'CHECKUSERS,,CHECKUSERSID', userIds: $('#CHECKUSERSID').val()
                });
            } else {
                dialogMsg("请先选择检查部门！", 2);
            }
        }
        else {
            dialogMsg("请先选择检查部门！", 2);
        }

    }

    // 跳至日常考核 2020/01/05
    function Day_exam() {
        var $gridTable = $('#gridTable');
        var ids = "";
        var checkrow = $gridTable.jqGrid('getGridParam', 'selarrrow');
        
        if (checkrow.length > 0) {
            for (var i = 0; i < checkrow.length; i++) {
                if (i == 0) {
                    ids = checkrow[i];
                } else {
                    ids += ","+checkrow[i];
                }
            }
            //dialogClose();

            //var url = "";
            //var title = "日常考核";
            //top.$('#content-wrapper').find('[mid="00491573-a6f5-4de4-b854-dd246bd3dc9e"]').find('.fa-remove').click();
            //url = "../OutsourcingProject/Dailyexamine/Index?safeids=" + ids;

            //top.openTab("00491573-a6f5-4de4-b854-dd246bd3dc9e", url, title);
            dialogOpen({
                id: 'rcForm',
                title: '添加日常考核',
                url: '/OutsourcingProject/Dailyexamine/Form?actiontype=add&safeids=' + ids,
                width: ($(top.window).width() - 200) + "px",
                height: ($(top.window).height() - 150) + "px",
                btn: null,
                callBack: function (iframeId) {
                    top.frames[iframeId].AcceptClick();
                }
            });
            

            
        } else {
            dialogMsg("请勾选需要选择的项", 0);
        }
    }

</script>
<style type="text/css">
    .result {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    #gridTable > tbody > tr > td > label {
        font-size: 14px;
    }
</style>
<div style="margin: 10px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;检查信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body" id="form2">
            <table class="form">
                <tr>
                    <td class="formTitle">检查名称<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <input id="CHECKNAME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查开始时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CHECKBEGINDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                    </td>
                    <td class="formTitle">检查结束时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CHECKENDDATE" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" isvalid="yes" checkexpession="NotNull" />
                    </td>

                </tr>
                <tr>
                    <td class="formTitle">检查类型<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="CHECKTYPEID" type="select" class="ui-select" readonly="readonly"></div>
                    </td>
                    <td class="formTitle">检查级别<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div id="CHECKLEVELID" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查部门<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CHECKEDDEPART" type="text" class="form-control" onclick="selectDept('', 1, 0, '选择部门', document.body, 'CHECKEDDEPART,,CHECKEDDEPARTID', $('#CHECKEDDEPARTID').val())" readonly="readonly" isvalid="yes" checkexpession="NotNull" />
                        <input id="CHECKEDDEPARTID" type="hidden" /><input id="DeptId" type="hidden" />
                    </td>
                    <td class="formTitle">检查组长<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="CHECKMANAGEMAN" type="text" onclick="selectUser({ deptId: '', userIds: $('#CHECKMANAGEMANID').val(), checkMode: 0, mode: 0, winObject: window.document.body, domId: 'CHECKMANAGEMAN,,CHECKMANAGEMANID' });" class="form-control" isvalid="yes" checkexpession="NotNull" />
                        <input id="CHECKMANAGEMANID" type="hidden" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查组成员<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <div class="input-group" style="width:100%;">
                            <input id="CHECKUSERS" readonly="readonly" type="text" class="form-control" onclick="selReceives();" isvalid="yes" checkexpession="LenStr" length="1000" maxlength="1000" />
                            <input id="CHECKUSERSID" type="hidden" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">检查区域<font face="宋体">*</font></td>
                    <td class="formValue" colspan="3">
                        <div class="input-group" style="width:100%;">
                            <input id="CHECKAREANAME" type="text" class="form-control" placeholder="输入或选择区域" isvalid="yes" checkexpession="LenStr" length="1000" maxlength="1000" />
                            <span id="ChooseRiskDesc" class="input-group-addon" onclick="selectArea(window.document.body, 'CHECKAREANAME',2);" title="选择区域"><i class="fa fa-check"></i></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">附件信息</td>
                    <td class="formValue" colspan="3">
                        <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                            <div class="queueList">
                                <div id="uploaderFile" class="placeholder">
                                    <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                </div>
                            </div>
                            <div class="statusBar" style="display:none;">
                                <div class="progress">
                                    <span class="text">0%</span>
                                    <span class="percentage"></span>
                                </div>
                                <div class="info"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;发现问题及整改情况</strong>
            <span class="tools pull-right">
                <a href="javascript:void(0)" onclick="add_audit();" id="add_audit" class="btn btn-primary btn-xs btn10">新&nbsp;&nbsp;增</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="Import()" id="in_audit" class="btn btn-primary btn-xs btn10">导&nbsp;&nbsp;入</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="javascript:void(0)" id="Export_audit" class="btn btn-primary btn-xs">导&nbsp;&nbsp;出</a>&nbsp;&nbsp;
                <a href="javascript:void(0)" id="Day_exam" onclick="Day_exam()" style="display:none;"  class="btn btn-primary btn-xs">考&nbsp;&nbsp;核</a>&nbsp;&nbsp;
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <table id="gridTable"></table>
            <div id="gridPager"></div>
        </div>
    </div>
    <div class="panel panel-default" id="panel4">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-top: 5px; margin-right: 30px;">
                <div class="gridPanel">
                    <table id="gridTableApply"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panel3">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;审核信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body" id="form3">
            <div style="margin-top: 5px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle" style="width:100px;">审批意见</td>
                        <td class="formValue" colspan="3">
                            <textarea id="AUDITOPINION" class="form-control" style="height: 120px;" checkexpession="NotNull"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">审批结果<font face="宋体">*</font></td>
                        <td class="formValue">
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="AUDITRESULT" id="AUDITRESULT1" value="0" checked="checked" />通过
                                </label>
                            </div>
                            <div class="radio-inline">
                                <label>
                                    <input type="radio" name="AUDITRESULT" id="AUDITRESULT2" value="1" />不通过
                                </label>
                            </div>
                        </td>
                        <td class="formTitle">审批时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AUDITTIME" type="text" isvalid="yes" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled="disabled" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">审批部门<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AUDITDEPT" type="text" class="form-control" disabled="disabled" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" isvalid="yes" checkexpession="NotNull" />
                            <input id="AUDITDEPTID" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId" />
                        </td>
                        <td class="formTitle">审批人<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="AUDITPEOPLE" type="text" class="form-control" disabled="disabled" isvalid="yes" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" checkexpession="NotNull" />
                            <input id="AUDITPEOPLEID" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
    <div style="height:50px;">

    </div>

    <div id="show" style="display: none;"></div>
    <div class="form-button" id="btn_html" style=" text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
        <div style="float:right;">
            <a id="btn_Apply" class="btn btn-primary" style="background-color:#337ab7;border-color:#2e6da4 ">&nbsp;审&nbsp;&nbsp;核</a>
            &nbsp; &nbsp;
            <a id="btn_Submit" class="btn btn-primary" style="background-color:#337ab7;border-color:#2e6da4 ">&nbsp;提&nbsp;&nbsp;交</a>
            &nbsp; &nbsp;
            <a id="btn_Cancle" class="btn btn-primary" style="background-color:#337ab7;border-color:#2e6da4 ">&nbsp;取&nbsp;&nbsp;消</a>
            &nbsp; &nbsp;
        </div>
    </div>
</div>


