@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script src="~/Content/scripts/business/listAgency.js"></script>
<script src="~/Content/scripts/business/detailAgency.js"></script>
<script>
    //=================
    //用户信息
    //=================
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户ID
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"; //当前用户姓名
    var userAccount = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Account"; //当前用户帐号
    var userRole = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName"; //当前用户角色
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户所属部门Id
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName";//当前用户所属部门名称
    var ehsDeptCode = "";//EHS部门Code
    //页面请求参数
    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var applyId = request('applyId');
    var ischanged = request("ischanged");
    $(function () {
        keyValue = !!keyValue ? keyValue : newGuid();
        //
        //创建代理
        //
        var detailAgc = new detailAgency({
            keyValue: keyValue,
            actiontype: actiontype,
            saveParam: {
                refresh: false,
                url: '../../WorkPlan/PlanDetails/SaveForm',
                data:{ IsChanged: ischanged },
                successCallback: function (data) {
                    top.Form.window.$("#gridTable1").trigger("reloadGrid");
                }
            }
        });
        //
        //绑定页面控件
        //
        detailAgc.bindPageControls({
            saveId: "btn_Save"
        });
        //
        //初始化数据
        //
        detailAgc.initialPage([
            {
                url: '../../WorkPlan/PlanDetails/GetFormJson',
                param: { keyValue: keyValue },
                callBack: setPageData,
                forms: [{ Id: 'form1', dataProName: 'data.data', extData: { DutyUserId: userId, DutyUserName: userName, DutyDepartId: deptId, CREATEUSERDEPTCODE: deptCode, DutyDepartName: deptName, ApplyId: applyId } }]
            }
        ]);
        //
        //定义并添加规则
        //
        detailAgc.addRule(new pageRule({ ruleId: 'genMnoth', ruleType: 'trigger', onExecute: GenPerson }));
        detailAgc.addRule(new pageRule({ ruleId: 'selUser', ruleType: 'trigger', onExecute: selectUser }));
        detailAgc.addRule(new pageRule({ ruleId: 'selStd', ruleType: 'trigger', onExecute: selectStd }));
        detailAgc.bindTriggerRule([{ ctrlId: 'btn_Month', evtName: 'click', ruleId: 'genMnoth' }]);
        detailAgc.bindTriggerRule([{ ctrlId: 'DutyUserName', evtName: 'click', ruleId: 'selUser' }]);
        detailAgc.bindTriggerRule([{ ctrlId: 'StdName', evtName: 'click', ruleId: 'selStd' }]);
    })
    //生成每月计划
    function GenPerson() {
        var fmId = "form1";
        var btnId = "btn_Month";
        var url = "../../WorkPlan/PlanDetails/SaveMonth";
        if (!!url) {
            $("#" + btnId).attr("disabled", "disabled");
            var saveOpt = {
                loading: "正在保存数据...",
                success: function (data) {
                    top.Form.window.$("#gridTable1").trigger("reloadGrid");
                    $("#" + btnId).removeAttr("disabled");
                },
                complete: function () {
                    $("#" + btnId).removeAttr("disabled");
                }
            };
            var lnkChar = url.indexOf("?") < 0 ? "?" : "&";
            url += lnkChar + "keyValue=" + keyValue;
            if (!$("#" + fmId).Validform()) {
                $("#" + btnId).removeAttr("disabled");
                return false;
            }
            var postData = $("#" + fmId).formSerialize(keyValue);
            $.extend(saveOpt, { url: url, param: postData });
            $.SaveForm(saveOpt);
        }
    }
    //设置页面信息
    function setPageData(data) {
        $("#RealFinDate").attr("disabled", "disabled");
        if (actiontype == "add") {            
            $("#btn_Month").css("display", "");
        }
        else if (actiontype == "edit") {
            var formId = "form1";
            if (data.data.CREATEUSERID != userId) {
                //非本人外，只有部门安全管理员、部门负责人、EHS部门人员、公司级用户可以修改完成时间。
                if (!!data.baseData && data.baseData.FlowState == "结束" && (userRole.indexOf("安全管理员") >= 0 || userRole.indexOf("负责人") >= 0 || userRole.indexOf("公司级用户") >= 0 || ehsDeptCode == deptCode)) {
                    $("#" + formId).find("input,textarea,.ui-select,.ui-select-text,.ui-select-option-content").not("#RealFinDate").each(function (ele, index) {
                        var it = $(this);
                        it.attr("disabled", "disabled");
                        it.attr("readonly", "readonly");
                    });
                    $("#RealFinDate").removeAttr("disabled");
                }
                else {
                    $("#" + formId).find("input,textarea,.ui-select,.ui-select-text,.ui-select-option-content").each(function (ele, index) {
                        var it = $(this);
                        it.attr("disabled", "disabled");
                        it.attr("readonly", "readonly");
                    });
                }
            }
            else {
                if (!!data.baseData && data.baseData.FlowState == "结束") {
                    $("#" + formId).find("input,textarea,.ui-select,.ui-select-text,.ui-select-option-content").not("#RealFinDate").each(function (ele, index) {
                        var it = $(this);
                        it.attr("disabled", "disabled");
                        it.attr("readonly", "readonly");
                    });
                    $("#RealFinDate").removeAttr("disabled");
                }
            }
        }
        if (!!data.data && data.data.IsCancel == 1) {
            $("#trCancel").css("display", "");
        }
        if (!!data.data && !!data.data.ChangeReason) {
            $("#trChangeReason").css("display", "");
        }
        $("#PlanFinDate").val(formatDate($("#PlanFinDate").val(), 'yyyy-MM'))
        ehsDeptCode = data.ehsDeptCode;
    }
    //选择责任人及部门
    function selectUser() {
        if (userRole.indexOf("公司级用户") >= 0 || ehsDeptCode==deptCode) {
            selectMuchUser({ deptId: '', checkMode: 0, mode: 0, userIds: $("#DutyUserId").val(), winObject: window.document.body, domId: 'DutyUserName|0,DutyUserId|2,DutyDepartId|3,CREATEUSERDEPTCODE|4,DutyDepartName|5' });
        }
        else {
            selectMuchUser({ deptId: deptId, checkMode: 0, mode: 1, userIds: $("#DutyUserId").val(), winObject: window.document.body, domId: 'DutyUserName|0,DutyUserId|2,DutyDepartId|3,CREATEUSERDEPTCODE|4,DutyDepartName|5' });
        }
    }
    //打开选择管理标准
    function selectStd() {
        return dialogOpen({
            id: "selectStd",
            title: "选择管理标准",
            url: '/StandardSystem/StandardSystem/Index?select=1&standardtype=2',
            width: ($(top.window).width() - 200) + "px",
            height: "600px",
            callBack: function (iframeId) {
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }
    //设置管理标准
    function setStd(stdId, stdName) {
        $("#StdId").val(stdId);
        $("#StdName").val(stdName);
    }
</script>
<div class="center-Panel" style="margin-top:42px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;基本信息</strong>
            <span class="tools pull-right">
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body">
            <div style="margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">工作内容<span style="color:red;">*</span></td>
                        <td class="formValue" colspan="3">
                            <textarea id="Contents" errormsg="工作内容不能为空，" class="form-control" isvalid="yes" checkexpession="LenStr" length="2000" style="height:120px;"></textarea>                     
                            <input id="ID" type="hidden" />
                            <input id="ApplyId" type="hidden" />
                        </td>                        
                    </tr>
                    <tr>
                        <td class="formTitle">责任人<span style="color:red;">*</span></td>
                        <td class="formValue">
                            <input id="DutyUserName" errormsg="责任人"  readonly="readonly"  class="form-control" isvalid="yes" checkexpession="NotNull" />
                            <input id="DutyUserId" type="hidden" />   
                        </td>
                        <td class="formTitle">责任部门<span style="color:red;">*</span></td>
                        <td class="formValue">
                            <input id="DutyDepartName" readonly="readonly" errormsg="责任部门"  type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                            <input id="DutyDepartId" type="hidden" />
                            <input id="CREATEUSERDEPTCODE" type="hidden" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">计划完成时间<span style="color:red;">*</span></td>
                        <td class="formValue">
                            <input id="PlanFinDate" type="text" class="form-control input-wdatepicker" value="@DateTime.Now.ToString("yyyy-MM")" onfocus="WdatePicker({ dateFmt: 'yyyy-MM' })" isvalid="yes" checkexpession="NotNull" errormsg="计划完成时间" />
                        </td>
                        <td class="formTitle">实际完成时间</td>
                        <td class="formValue">
                            <input id="RealFinDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker()" checkexpession="NotNull" errormsg="实际完成时间" />
                        </td>
                    </tr>    
                    <tr>
                        <td class="formTitle">管理标准</td>
                        <td class="formValue" colspan="3">
                            <input id="StdName" errormsg="管理标准" readonly="readonly" class="form-control" checkexpession="NotNull" />
                            <input id="StdId" type="hidden" />
                        </td>
                    </tr>  
                    <tr id="trCancel" style="display:none;">
                        <td class="formTitle">
                            &nbsp;
                        </td>
                        <td class="formValue" colspan="3">
                            <input type="checkbox" id="IsCancel" /><label for="IsCancel">取消计划</label>
                        </td>                 
                    </tr> 
                    <tr id="trChangeReason" style="display:none;">
                        <td class="formTitle">变更原因<span style="color:red;">*</span></td>
                        <td class="formValue" colspan="3">
                            <textarea id="ChangeReason" readonly="readonly" errormsg="变更内容不能为空，" class="form-control" checkexpession="LenStr" length="2000" style="height:120px;" ></textarea>
                        </td>
                    </tr>                                         
                </table>
            </div>
        </div>
    </div>
</div>
<div class="form-button" style="top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <div style="float:left;">
        <a id="btn_Save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;保&nbsp;&nbsp;存</a>
        &nbsp; &nbsp;
        <a id="btn_Month" class="btn btn-primary" style="display:none;"><i class="fa fa-plus-circle"></i>&nbsp;生成每月计划</a>
        &nbsp; &nbsp;
    </div>
    <div id="HidMessage" style="width:360px; margin-left:20px; float:left;"></div>
</div>