@{;
ViewBag.Title = "列表页面";
Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/business/listAgency.js"></script>
<script>
    //
    //用户信息及请求参数
    //
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId";//当前用户所属部门Code
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    var rolename = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    var isSystem = "@ERCHTMS.Code.OperatorProvider.Provider.Current().IsSystem";//系统管理员
    var selectId = "", selectName = "";
    selectdept = "", selectCode = "";//选择节点
    var tree = null;
    //导入刷新用
    var isImport = false;
    //页面代理
    var lagc = null;
    var flag = 0;
    $(function () {


        $('#layout').layout({
            applyDemoStyles: false,
            onresize: function () {
                $(window).resize()
            }
        });
        $(window).resize(function (e) {
            window.setTimeout(function () {
                $('#gridTable').setGridWidth(($('.gridPanel').width()));
                $("#gridTable").setGridHeight($(window).height() - 143);
            }, 200);
            e.stopPropagation();
        });
        //
        //加载树
        //
        GetTree();
        //
        //创建页面代理
        //
        lagc = new listAgency({
            hasPowerOper: true,
            userInfo: {
                userId: userId,
                deptCode: deptCode,
                orgCode: orgCode
            },
            gridId: "gridTable",
            gridJustHeight: 143,
            gridOptions: {
                height: $(window).height() - 143,
                url: "../../RoutineSafetyWork/FileManage/GetListJson",
                datatype: "json",
                pager: "#gridPager",
                sortname: 'createdate',
                sortorder: 'desc',
                multiselect: true
            },
            gridColumns: [
                { label: 'createuserid', name: 'createuserid', hidden: true },
                { label: 'createuserdeptcode', name: 'createuserdeptcode', hidden: true },
                { label: 'createuserorgcode', name: 'createuserorgcode', hidden: true },
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return buildOper(rowObject);
                    }
                },
                { label: '文件名称', name: 'filename', index: 'filename', width: 220, align: 'center', sortable: true },
                { label: '文件编号', name: 'fileno', index: 'fileno', width: 120, align: 'center', sortable: true },
                { label: '发布单位（部门）', name: 'releasedeptname', index: 'releasedeptname', width: 120, align: 'center', sortable: true },
                {
                    label: '发布时间', name: 'releasetime', index: 'releasetime', width: 100, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                },
                
                { label: '文件类型', name: 'filetypename', index: 'filetypename', width: 100, align: 'center', sortable: true },
                { label: '备注', name: 'remark', index: 'remark', width: 90, align: 'center', sortable: true }
            ]
        });
        //
        //绑定页面控件
        //
        lagc.bindPageControls({
            searchId: "btn_Search",
            resetId: "btn_Reset",
            refreshId: "refresh",
            addId: "add",
            expId: "exp",
            btns: [
                { id: "store", onClick: setStore },
                { id: "mystore", onClick: openMyStore },
                { id: "lnkViewRoot", onClick: viewAll },
                { id: "lnkAddRoot", onClick: addRoot }
            ]
        });
        //
        //绑定页面事件
        //
        lagc.addPageEvents({ onBuildQuery: buidQuery, onReset: reset, onSetPowerOper: setPower, onResize: resize });
        //
        //初始化
        //
        lagc.initialPage([{ callBack: setPageData }]);
        //
        //页面跳转
        //
        lagc.addPageGotoUrl({
            addArg: {
                title: '添加文件',
                width: "800px",
                url: '/RoutineSafetyWork/FileManage/Form',
                btn: null
            },
            delArg: { url: '../../RoutineSafetyWork/FileManage/RemoveForm' },
            expArg: { url: '../../RoutineSafetyWork/FileManage/Export' }
        })
        //
        //页面跳转
        //
        edit = function (id) {
            var dlgArg = {
                id: 'Form',
                title: '编辑文件',
                url: '/RoutineSafetyWork/FileManage/Form?actiontype=edit&keyValue=' + id,
                width: "800px",
                height: ($(top.window).height() - 100) + "px",
                callBack: function (iframeId) {
                    if (top.frames[iframeId].AcceptClick)
                        top.frames[iframeId].AcceptClick();
                },
                btn:null
            };
            dialogOpen(dlgArg);

        };
        del = function (id) {
            var delOpt = {
                url: '../../RoutineSafetyWork/FileManage/RemoveForm',
                param: { keyValue: id },
                success: function (data) {
                    $("#gridTable").trigger('reloadGrid');
                }
            };
            $.RemoveForm(delOpt);
        };
        detail = function (id) {
            var dlgArg = {
                id: "Form",
                title: '查看文件',
                url: '/RoutineSafetyWork/FileManage/Form?actiontype=view&keyValue=' + id,
                width: "800px",
                height: ($(top.window).height() - 100) + "px",
                btn: null
            };
            dialogOpen(dlgArg);
        }
    });
    //
    //设置页面参数
    //
    function setPageData() {
        if (isSystem == "True" || rolename.indexOf("公司级用户") >= 0 || rolename.indexOf("厂级部门用户") >= 0 || (rolename.indexOf("部门级用户") >= 0 && rolename.indexOf("负责人") >= 0)) {
            $("#add,#enter,#divRoot").css("display", "");
        } else {
            $("#add,#enter,#divRoot").css("display", "none");
        }
    }
    //
    //权限设置
    //
    function setPower() {
        //标准制度节点权限控制
        $(".bbit-tree-node-el").on("mouseover", function () {
            var self = $(this);
            var id = self.attr("id").replace("itemTree_", "");
            var list = tree.getData();
            var node = findNode(list, id.replace(/_/g, "-"));
            if (node.Code == "001") {
                self.find(".bbit-tree-node-tool span[data-index='2']").css("display", "none");
            }
            if (isSystem == "True" || rolename.indexOf("公司级用户") >= 0 || rolename.indexOf("厂级部门用户") >= 0 || (rolename.indexOf("部门级用户") >= 0 && rolename.indexOf("负责人") >= 0)) {

            } else {
                self.find(".bbit-tree-node-tool span").css("display", "none");
            }

        })
    }
    function setAddPower(node) {
        if (isSystem == "True" || rolename.indexOf("公司级用户") >= 0 || rolename.indexOf("厂级部门用户") >= 0 || (rolename.indexOf("部门级用户") >= 0 && rolename.indexOf("负责人") >= 0)) {
            //所有操作权限
            $("#add,#divRoot,#enter").css("display", "");
        } else {
            $("#add,#divRoot,#enter").css("display", "none");
        }
    }
    //
    //查找节点
    //
    function findNode(list, id) {
        var node = list.find(function (x) { return x.id == id;});
        if (!node) {
            for (var n in list) {
                var ele = list[n];
                node = findNode(ele.ChildNodes, id);
                if (!!node)
                    break;
            }
        }
        return node;
    }
    //
    //重新定义查询条件
    //
    function buidQuery() {
        var filename = $("#FileName").val();
        var rnd = Math.random();
        var data = { filename: filename, refid: selectCode, rnd: rnd, flag: flag };
        return JSON.stringify(data);
    }
    //
    //重置条件
    //
    function reset() {
        $("#FileName").val("");
        $(".bbit-tree-selected").removeClass("bbit-tree-selected");
        selectId = selectName = selectCode = "";
        lagc.addPageGotoUrl({
            addArg: {
                title: '添加文件',
                width: "800px",
                url: '/RoutineSafetyWork/FileManage/Form?refid=' + selectId + "&refname=" + encodeURIComponent(selectName) + "&treeCode=" + selectCode,
                btn: null
            }
        });
    }
    //
    //查看全部数据
    //
    function viewAll() {
        $(".bbit-tree-selected").removeClass("bbit-tree-selected");
        selectId = selectName = selectCode = "";
        lagc.queryData();
        lagc.addPageGotoUrl({
            addArg: {
                title: '添加文件',
                width: "800px",
                url: '/RoutineSafetyWork/FileManage/Form?refid=' + selectId + "&refname=" + encodeURIComponent(selectName) + "&treeCode=" + selectCode,
                btn: null
            }
        });
    }
    //
    //窗口大小改变
    //
    function resize() {
        var gh = $(window).height() - 143;
        var gw = $(".gridPanel").width();
        var th = $(window).height() - 55;
        $("#itemTree").setTreeHeight(th);
        $("#gridTable").setGridHeight(gh);
        $("#gridTable").setGridWidth(gw);
    }
    //
    //构造操作栏
    //
    function buildOper(rowObject) {
        var html = "<a href=javascript:detail('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
        var hasPower = rolename.indexOf("公司级用户") >= 0 || rolename.indexOf("厂级部门用户") >= 0 || (rolename.indexOf("部门级用户") >= 0 && rolename.indexOf("负责人") >= 0);
        if (hasPower) {
            html += "&nbsp;<a href=javascript:edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>";
            html += "&nbsp;<a href=javascript:del('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
        }
        return html;
    }
    //
    //收藏
    //
    function setStore() {
        var ids = [];
        var chkList = $("input:checked").not("#cb_gridTable");
        if (chkList.length == 0) {
            dialogMsg('请选择要收藏的记录！', 0);
        }
        else {
            $.each(chkList, function (i, n) {
                var self = $(this);
                var id = self.attr("id").replace("jqg_gridTable_", "");
                ids.push(id);
            });
            $.ajax({
                url: "SetStore",
                type: "get",
                dataType: "json",
                async: false,
                data: { ids: ids.join(",") },
                success: function (data) {
                    if (!!data && data.type == 1) {
                        dialogMsg("收藏成功。", 1);
                        $("#gridTable").jqGrid("resetSelection");
                    } else {
                        dialogMsg("收藏失败。", -1);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    dialogMsg(errorThrown, -1);
                }
            });
        }
    }
    //
    //打开我的收藏
    //
    function openMyStore() {
        var dlgArg = {
            id: 'FileStoreIndex',
            title: '我的收藏',
            url: '/RoutineSafetyWork/FileManage/FileStoreIndex',
            width: ($(top.window).width() - 50) + "px",
            height: ($(top.window).height() - 50) + "px",
            callBack: function (iframeId) {
                if (top.frames[iframeId].AcceptClick)
                    top.frames[iframeId].AcceptClick();
            },
            btn: null
        };
        dialogOpen(dlgArg);
    }
    //
    //类型操作
    //
    {
        //
        //加载元素树
        //
        function GetTree() {
            var arr = [];
            var hasPower = rolename.indexOf("公司级用户") >= 0 || rolename.indexOf("厂级部门用户") >= 0 || (rolename.indexOf("部门级用户") >= 0 && rolename.indexOf("负责人") >= 0);
            if (hasPower == true) {
                arr = [
                    {
                        title: "新增",
                        text: '<i class="fa fa-plus"  name="toolbtn"></i>', callback: "addNode"
                    },
                    {
                        title: "修改",
                        text: '<i class="fa fa-pencil-square-o toolbtn" name="toolbtn"></i>', callback: "editNode"
                    },
                    {
                        title: "删除",
                        text: '<i class="fa fa-trash-o toolbtn" name="toolbtn"></i>', callback: "delNode"
                    }
                ];
            }
            var itreHeight = $(window).height() - 55;
            var item = {
                height: itreHeight,
                url: "../../RoutineSafetyWork/FileManage/GetTypeTreeJson",
                onnodeclick: function (item) {
                    selectdept = orgCode;
                    selectId = item.id;
                    selectName = item.text;
                    selectCode = item.value;
                    setAddPower(item);
                    lagc.addPageGotoUrl({
                        addArg: {
                            title: '添加文件',
                            width: "800px",
                            url: '/RoutineSafetyWork/FileManage/Form?refid=' + selectId + "&refname=" + encodeURIComponent(selectName) + "&treeCode=" + selectCode,
                            btn: null
                        }
                    });
                    $('#btn_Search').trigger("click");
                },
                isTool: true,
                //自定义工具栏
                nodeTools: arr
            };
            //初始化
            var itree = $("#itemTree");
            tree = itree.treeview(item);
            if (itree.html().length == 0) {
                itree.setTreeHeight(itreHeight);
            }
            $('#layout').layout({
                applyDemoStyles: false,
                onresize: function () {
                    $(window).resize();
                }
            });
            if (hasPower == true) {
                $(".bbit-tree-node-el").on("mouseover",
                    function() {
                        var self = $(this);
                        var inceeded = self.attr("inceeded");
                        if (!inceeded) {
                            self.width(self.width());
                            self.attr("inceeded", "true");
                        }
                    });
            }
        }
        //
        //增加根节点
        //
        function addRoot() {
            addNode("-1");
        }
        //
        //增加节点
        //
        function addNode(pId, pCode, pName) {
            var dlgArg = {
                id: 'FormTraType',
                title: '新增文件类型',
                url: '/RoutineSafetyWork/FileManage/TreeForm?parentid=' + pId,
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 250) + "px",
                btn: null
            };
            dialogOpen(dlgArg);
        }
        //
        //修改节点
        //
        function editNode(id, code, name) {
            var dlgArg = {
                id: 'FormTraType',
                title: '修改文件类型',
                url: '/RoutineSafetyWork/FileManage/TreeForm?keyValue=' + id,
                width: ($(top.window).width() - 600) + "px",
                height: ($(top.window).height() - 250) + "px",
                btn: null
            };
            dialogOpen(dlgArg);
        }
        //
        //删除节点
        //
        function delNode(id) {
            var keyValue = id;
            if (keyValue) {
                $.RemoveForm({
                    url: "../../RoutineSafetyWork/FileManage/RemoveTreeForm",
                    param: { keyValue: keyValue },
                    msg: "<div style='color:#ff0000;'><strong>下级类型及相关的文件将同步删除，无法恢复！确定删除吗？</strong></div>",
                    success: function (data) {
                        GetTree();
                        selectId = selectName = "";
                        lagc.queryData();
                    }
                });
            } else {
                dialogMsg('请选择需要删除的数据！', 0);
            }
        }
    }


    //导入
    var idx;
    var isImport = false;
    function importData() {
        if (!!selectId && !!selectName&&!!selectCode) {
            idx = dialogOpen({
                id: "Import",
                title: '导入文件',
                url: '/RoutineSafetyWork/FileManage/Import?refid=' + selectId + "&refname=" + encodeURIComponent(selectName) + "&deptcode=" + selectdept + "&refcode=" + selectCode,
                width: "500px",
                height: "450px",
                callBack: function (iframeId) {
                    top.document.getElementById(iframeId).contentWindow.AcceptClick();
                },
                cancel: function (index) {
                    if (isImport) {
                        isImport = false;
                        $("#btn_Search").click();
                    }

                }
            });
        }
        else {
            dialogMsg('请先选择文件类型节点！', 0);
            return false;
        }

    }
    function ckSelect(obj) {
        //0表示不包含，1表示包含
        if ($(obj)[0].checked) {
            flag = 1;
        }
        else {
            flag = 0;
        }
        $("#btn_Search").click();
    }
</script>
<style type="text/css">
    .titlePanel, .gridPanel {
        min-width: 680px;
    }

    #gridTable tr td a:hover {
        text-decoration: underline;
    }

    .panel-Title a {
        cursor: pointer;
    }

    .bbit-tree-node-el {
        display: inline-block;
    }

    .bbit-tree-node .bbit-tree-node-tool {
        display: inline-block;
        float: none;
        margin-left: 10px;
    }
    .CheckPanel ul {
        width: 100%;
        height: 100%;
    }

        .CheckPanel ul li {
            width: 200px;
            float: left;
            margin-top: 10px;
            height: 32px;
        }

    .CheckInput {
        width: 14px;
        float: left;
    }

    .CheckLabel {
        line-height: 32px;
    }
</style>
<div class="ui-layout" id="layout" style="height: 100%; width: 100%;">
    <div class="ui-layout-west">
        <div class="west-Panel">
            <div class="panel-Title">
                <a id="lnkViewRoot" title="查看全部">文件管理</a>
                <div id="divRoot" style="float: right; margin-right: 10px; display: none;" title="新增"><a id="lnkAddRoot"><i class="fa fa-plus"></i>新增</a> </div>
            </div>
            <div id="itemTree"></div>
        </div>
    </div>
    <div class="ui-layout-center">
        <div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
            <div class="panel-Title" style="height:0px;"></div>
            <div class="titlePanel">
                <div class="title-search">
                    <table class="queryform" id="queryArea">
                        <tr>
                            <td style="width:160px;">
                                <div class="CheckInput"><input type="checkbox" id="ckSelect" class="form-control" onclick="ckSelect(this)" name="ckSelect" /></div><div class="CheckLabel">包含下级节点数据</div>
                            </td>
                            <td class="formTitle">&nbsp;文件名称：</td>
                            <td class="formValue">
                                <input id="FileName" type="text" class="form-control" querypro="filename" style="width: 200px;" />
                            </td>
                            <td style="padding-left: 5px;">
                                <a id="btn_Search" class="btn btn-primary"><i class="fa fa-search"></i>查询</a>
                                <a id="btn_Reset" class="btn btn-primary"><i class="fa fa-undo"></i>&nbsp;重置</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="toolbar">
                    <div class="btn-group">
                        <a id="refresh" class="btn btn-default"><i class="fa fa-refresh"></i>刷新</a>
                        <a id="add" class="btn btn-default" style="display:none"><i class="fa fa-plus"></i>新增</a>
                        <a id="enter" class="btn btn-default" onclick="importData()"><i class="fa fa-exclamation-circle"></i>导入</a>
                        <a id="exp" class="btn btn-default"><i class="fa fa-file-excel-o"></i>导出</a>
                        <a id="store" class="btn btn-default"><i class="fa fa-drupal"></i>收藏</a>
                        <a id="mystore" class="btn btn-default"><i class="fa fa-shopping-basket"></i>我的收藏</a>
                    </div>
                </div>
            </div>
            <div class="gridPanel">
                <table id="gridTable"></table>
                <div id="gridPager"></div>
            </div>
        </div>
    </div>
</div>