@{
    ViewBag.Title = "列表页面";
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<script src="~/Content/scripts/business/listAgency.js"></script>
<script>
    //
    //用户信息及请求参数
    //
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId"; //当前用户Id
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName"; //当前用户姓名
    var userAccount = "@ERCHTMS.Code.OperatorProvider.Provider.Current().Account"; //当前用户帐号
    var deptCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptCode";//当前用户所属部门Code
    var orgCode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";//当前用户所属机构Code
    var rolename = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    var baseId = request("baseId");
    //页面代理
    var lagc = null;    
    //
    //页面加载完成
    //
    $(function () {
        var winHeight = $(window).height();
        //
        //创建页面代理
        //
        lagc = new listAgency({
            gridId: "gridTable",
            gridHeight: winHeight - 186,
            gridOptions: {
                height: winHeight - 186,
                url: "../../WorkPlan/PlanApply/GetListJson",
                datatype: "json",
                pager: "#gridPager",
                sortname: 'createdate',
                sortorder: 'asc',
                pagenum:10
            },
            gridColumns: [
                { label: 'createuserid', name: 'createuserid', hidden: true },
                { label: 'createuserdeptcode', name: 'createuserdeptcode', hidden: true },
                { label: 'createuserorgcode', name: 'createuserorgcode', hidden: true },
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'Oper', width: 100, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        return "<a href=javascript:detail('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>";
                    }
                },
                {
                    label: '流程状态', name: 'flowstate', index: 'flowstate', width: 150, align: 'center', sortable: false
                },
                { label: '申请类型', name: 'applytype', index: 'applytype', width: 200, align: 'center', sortable: true },
                { label: '申请部门', name: 'departname', index: 'departname', width: 240, align: 'center', sortable: true },
                { label: '申请人', name: 'username', index: 'username', width: 240, align: 'center', sortable: true },
                {
                    label: '申请日期', name: 'applydate', index: 'applydate', width: 120, align: 'center', sortable: true,
                    formatter: function (cellvalue, options, rowObject) {
                        return formatDate(cellvalue, 'yyyy-MM-dd');
                    }
                }
            ],
            hasPowerOper: false,
            userInfo: {
                userId: userId,
                deptCode: deptCode,
                orgCode: orgCode
            }
        });
        //
        //绑定页面控件
        //
        lagc.bindPageControls({
            searchId: "btn_Search",
            resetId: "btn_Reset",
            refreshId: "refresh",
            btns: []
        });
        //
        //添加页面事件
        //
        lagc.addPageEvents({
            onBuildQuery: buidQuery
        });
        //
        //添加页面跳转地址参数
        //
        lagc.addPageGotoUrl({
            detailArg: {
                title: '查看工作计划',
                url: '/WorkPlan/PlanApply/Detail',
                btn: null
            }
        });
        //
        //初始化
        //
        lagc.initialPage();
    });
    //
    //重新定义查询条件
    //
    function buidQuery() {
        var rnd = Math.random();
        var data = { baseid:baseId, rnd: rnd };
        return JSON.stringify(data);
    }       
</script>
<style type="text/css">
    .ui-select{width:200px;}
    .formTitle{padding-left:10px;}
</style>
<div class="center-Panel" style="margin-left: 10px; margin-right: 10px;">
    <div class="panel-Title" style="height:10px;"></div>
    <div class="titlePanel">        
        <div class="toolbar">
            <div class="btn-group">
                <a id="refresh" class="btn btn-default"><i class="fa fa-refresh"></i>刷新</a>
            </div>
        </div>
    </div>
    <div class="gridPanel">
        <table id="gridTable"></table>
        <div id="gridPager"></div>
    </div>
</div>