@{;
    ViewBag.Title = "表单页面";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>

<script src="~/Content/scripts/plugins/combo-select/jquery.combo.select.js"></script>
<link rel="stylesheet" href="~/Content/scripts/plugins/combo-select/combo.select.css">
<link rel="stylesheet" href="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.css" type="text/css" />
<script type="text/javascript" src="~/content/scripts/plugins/bootstrap-select/bootstrap-select.min.js"></script>
<script>
    var orgId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";//当前用户所属机构id

    var keyValue = request('keyValue');
    var actiontype = request('actiontype');
    var contractid = request('contractid'); //关联ID
    var username = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var userid = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var evaluatecheck = '0';
    $(function () {

        initControl();

        //保存
        $("#btn_Save").click(function () {
            AcceptClick();
        });

        //提交流程
        $("#btn_Submit").click(function () {
            SubmitAction();
        });

        //考核标准
        $("#btn_SelectItem").click(function () {
            SelectItem();
        });

        

        //如果是查看记录过来的请求，隐藏当前的历史记录
        if (!!contractid) {
            $("#historyRecord").css("display", "none");
        }

        $('[name="EVALUATETYPE"]').click(function () {
            if ($('input[name="EVALUATETYPE"]:checked').val() != evaluatecheck) {
                var formUrl = "../../OutsourcingProject/SafetyAssessment/DelByKeyId?keyValue=" + keyValue;
                //$.SaveForm({
                //    url: formUrl,
                //    param: { keyValue: keyValue },
                //    success: function (data) {
                //        $("#gridTable").trigger("reloadGrid");

                //    }
                //})
                var defaults = {
                    url: formUrl,
                    //param: { "keyValue": keyValue },
                    type: "get",
                    dataType: "json",
                    loading: "正在处理数据...",
                    success: null,
                    close: true
                };
                $.ajax({
                    url: defaults.url,
                    data: defaults.param,
                    type: defaults.type,
                    dataType: defaults.dataType,
                    contentType: defaults.contentType || 'application/x-www-form-urlencoded',
                    success: function (data) {
                        $("#gridTableEvaluate").trigger("reloadGrid");

                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //Loading(false);
                    },
                    beforeSend: function () {
                    },
                    complete: function () {
                        //Loading(false);
                        //if (options.complete)
                        //    options.complete();
                    }
                });

            }
            evaluatecheck = $('input[name="EVALUATETYPE"]:checked').val();
        });
    });

    /// 考核标准
    function SelectItem() {
        dofromList = dialogOpen({
            id: "Items",
            title: "选择安全考核标准",
            url: '/OutsourcingProject/Safestandarditem/selectitems?pType=0',
            width: (top.window.$(window).width() - 100) + "px",
            height: ($(top.window).height() - 100) + "px",
            callBack: function (iframeId) {
                choose = 1;
                top.document.getElementById(iframeId).contentWindow.AcceptClick();
            }
        });
    }


    /// 考核依据回调方法
    function fillItems(items, ids) {
        var result ='';
        var num = 0;
        var ids = "";
        $(items).each(function () {
            if (num == items.length - 1) {
                result += '[依据公司' + this.typename + '' + this.dname + '规定' + this.content + ']';
                ids += this.id;
            } else {
                result += '[依据公司' + this.typename + '' + this.dname + '规定' + this.content + '],';
                ids += this.id+",";
            }
            
            num += 1;
        });
        $('#EXAMINEBASIS').val(result);
        $('#EXAMINEBASISID').val(ids);
    }

    //初始化控件
    function initControl() {
        $("#ExamineType").ComboBox({
            url: "../../SystemManage/DataItemDetail/GetDataItemListJson",
            param: { EnCode: "SAFETYPE" },
            id: "ItemValue",
            text: "ItemName",
            description: "==请选择==",
            height: "250px"
        })

        //工程
        //$("#ProjectId").ComboBox({
        //    description: "==请选择==",
        //    height: "200px"
        //})
        //$('select').comboSelect();
        //查看
        if (actiontype == "view") {
            $("#btn_Save").css("display", "none");
            $("#btn_Submit").css("display", "none");
            $(".center-Panel").removeAttr("style");
            $(".form-button").css("display", "none");
            $('#addScore').hide();
            $('#ExamineType').attr("disabled", "disabled");
            $('#panel4').find("input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
        } else if (actiontype == "apply") { //审核

            $('#panel4').find("input,textarea , .ui-select, .ui-select-text , .ui-select-option-content").each(function (ele, index) {
                $(this).attr("disabled", "disabled");
            });
            $('#ExamineType').attr("disabled", "disabled");
            $('#addScore').hide();
        }


        var isDel = (actiontype == "view" || actiontype == "apply") ? false : true;
        //获取表单
        if (!!keyValue) {
            //当前详情
            var formUrl = "../../OutsourcingProject/SafetyAssessment/GetFormJson";
            //历史记录
            //if (!!contractid) {
            //    var formUrl = "../../OutsourcingProject/SafetyAssessment/GetHistoryFormJson";
            //}
            $.SetForm({
                url: formUrl,
                param: { keyValue: keyValue },
                success: function (data) {
                    $("#form1").formDeserialize(data);
                    //$('#ExamineType').val(data.EXAMINETYPE);
                    $("#ExamineType").ComboBoxSetValue(data.EXAMINETYPE)
                    evaluatecheck = data.EvaluateType;
                    //$('#ExamineDept').val(data.EXAMINEDEPT);
                    //$('#ExamineDeptId').val(data.EXAMINEDEPTID);

                    $('input[name="EVALUATETYPE"][value="' + data.EvaluateType + '"]').attr("checked",true);
     
                }
            })

           
        }
        
        keyValue = keyValue.length == 0 ? "@Guid.NewGuid().ToString()" : keyValue;

        // 获取历史记录
        $.SetForm({
            url: '../../OutsourcingProject/SafetyAssessment/GetFormJsontotal',
            param: { keyValue: keyValue },
            success: function (data) {
                if (data == "0") {
                    $('#historyRecord').hide();
                } else {
                    $('#historyRecord').show();
                }
            }
        })
        //安全考核附件
        file_upload.init({
            //keyValue: keyValue, extensions: 'doc,docx,pdf', isImage: false, el: '#uploader'   
            keyValue: keyValue, extensions: 'jpg,jpeg,png,gif', isImage: true, el: '#uploader' 
        });

        file_upload.bindFiles(isDel, true, keyValue, "uploader", isDel);

        GetGrid();
    }

    //删除
    function btn_delete(id) {
        var keyValue = id;
        if (keyValue) {
            $.RemoveForm({
                url: '../../OutsourcingProject/SafetyAssessment/RemoveScoreForm',
                param: { keyValue: keyValue },
                success: function (data) {
                    $('#gridTableEvaluate').trigger('reloadGrid');
                }
            })
        } else {
            dialogMsg('请选择需要删除的考核信息！', 0);
        }
    }


    //获取历史记录信息
    function GetHistoryInfo() {
        dialogOpen({
            id: 'HistoryIndexFrm',
            title: '查看历史记录信息',
            url: '/OutsourcingProject/SafetyAssessment/HistoryIndex?contractid=' + keyValue,
            width: ($(top.window).width() - 150) + "px",
            height: ($(top.window).height() - 100) + "px",
            btn: null
        });
    }

    //加载表格
    function GetGrid() {
        var selectedRowIndex = 0;
        var $gridTable = $('#gridTableEvaluate');
        var queryJson = {
            ID: keyValue
        }
        $gridTable.jqGrid({
            autowidth: true,
            height: 250,
            url: "../../OutsourcingProject/SafetyAssessment/GetScoreListJson",
            datatype: "json",
            postData: { queryJson: JSON.stringify(queryJson) },
            colModel: [
                { label: '主键', name: 'id', hidden: true },
                {
                    label: '操作', name: 'oper', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "<a href=javascript:show('" + rowObject.id + "')  title='查看'><i class='fa fa-eye'></i></a>&nbsp;";
                        // 查看状态不能修改和删除
                        if (actiontype == 'edit' || actiontype == 'add') {
                            html += "<a href=javascript:btn_edit('" + rowObject.id + "')  title='修改'><i class='fa fa-pencil-square-o'></i></a>&nbsp";
                            if (rowObject.createuserid == userid) {
                                html += "<a href=javascript:btn_delete('" + rowObject.id + "')  title='删除'><i class='fa fa-trash-o'></i></a>";
                            }
                        }
                        

                        return html;
                    }
                },
                { label: '被考核对象类别', name: 'evaluatetypename', index: 'evaluatetypename', width: 250, align: 'center', sortable: true },
                { label: '被考核对象', name: 'evaluatedeptname', index: 'evaluatedeptname', width: 250, align: 'center', sortable: true },
                {
                    label: '考核金额(元)', name: 'score', width: 200, align: 'center', sortable: false,
                    formatter: function (cellvalue, options, rowObject) {
                        var html = "";
                        if (rowObject.score == null) {
                            html = "";
                        } else {
                            if (rowObject.scoretype == "0") {
                                html = "-" + rowObject.score;
                            } else {
                                html = "+" + rowObject.score;
                            }
                        }


                        return html;
                    }
                },
                { label: '考核积分(分)', name: 'evaluatescore', index: 'evaluatescore', width: 250, align: 'center', sortable: true },
                { label: '考核绩效', name: 'evaluatecontent', index: 'evaluatecontent', align: 'center', sortable: true },
                { label: '考核其他', name: 'evaluateother', index: 'evaluateother', align: 'center', sortable: true }],
            onSelectRow: function () {
                selectedRowIndex = $('#' + this.id).getGridParam('selrow');
            },
            gridComplete: function () {
                $('#' + this.id).setSelection(selectedRowIndex, false);
            },
            viewrecords: true,
            rowNum: 15,
            rowList: [15, 30, 50],
            pager: "#gridPagerEvaluate",
            sortname: 't.createdate',
            sortorder: 'desc',
            rownumbers: true,
            shrinkToFit: true,
            gridview: true
        });
    }

    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        //debugger
        var obj = $("#ExamineType").ComboBoxGetValue();
        obj = $.trim(obj);
        if (obj.length == 0 || obj == null || obj == undefined) {
            ValidationMessage($("#ExamineType"), "不能为空!");
            return false;
        }
        if (obj.length > 64) {
            ValidationMessage($("#ExamineType"), "必须小于64位字符!");
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData.EVALUATETYPE = $('input[name="EVALUATETYPE"]:checked').val();
        //postData.EXAMINETYPENAME = $('#ExamineType option:selected').text();
        postData.EXAMINETYPENAME = $("#ExamineType").ComboBoxGetText();
        //postData["ProjectId"] = $("#ProjectId").attr("data-value");
        //postData["Project"] = $("#ProjectId").attr("data-text");
        $.SaveForm({
            url: "../../OutsourcingProject/SafetyAssessment/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }

    //新增考核选择
    function btn_scoreadd() {
        dialogOpen({
            id: 'ScoreForm',
            title: '添加考核信息',
            url: '/OutsourcingProject/SafetyAssessment/ScoreForm?keyValue=' + keyValue + '&actiontype=addscore&evaluatetype=' + $('input[name="EVALUATETYPE"]:checked').val(),
            width: 600 + "px",
            height: 460 + "px",
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }

    // 查看考核信息
    function show(keyValue_evaluate) {
        var dlg = dialogOpen({
            id: 'ScoreForm',
            title: '查看考核信息',
            url: '/OutsourcingProject/SafetyAssessment/ScoreForm?keyValue_evaluate=' + keyValue_evaluate+'&keyValue=' + keyValue + '&actiontype=view&evaluatetype=' + $('input[name="EVALUATETYPE"]:checked').val(),
            width: 600 + "px",
            height: 460 + "px",
            btn: ["关闭"],
            callBack: function (iframeId) {
                top.layer.close(dlg);
            }
        });
    }

    // 编辑考核信息
    function btn_edit(keyValue_evaluate) {
        dialogOpen({
            id: 'ScoreForm',
            title: '编辑考核信息',
            url: '/OutsourcingProject/SafetyAssessment/ScoreForm?keyValue_evaluate=' + keyValue_evaluate + '&keyValue=' + keyValue + '&actiontype=edit&evaluatetype=' + $('input[name="EVALUATETYPE"]:checked').val(),
            width: 600 + "px",
            height: 460 + "px",
            btn: null,
            callBack: function (iframeId) {
                top.frames[iframeId].AcceptClick();
            }
        });
    }



    //提交到审核
    function SubmitAction() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var obj = $("#ExamineType").ComboBoxGetValue();
        obj = $.trim(obj);
        if (obj.length == 0 || obj == null || obj == undefined) {
            ValidationMessage($("#ExamineType"), "不能为空!");
            return false;
        }
        if (obj.length > 64) {
            ValidationMessage($("#ExamineType"), "必须小于64位字符!");
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData.EVALUATETYPE = $('input[name="EVALUATETYPE"]:checked').val();
        //postData.EXAMINETYPENAME = $('#ExamineType option:selected').text();
        postData.EXAMINETYPENAME = $("#ExamineType").ComboBoxGetText();

        $.SaveForm({
            url: "../../OutsourcingProject/SafetyAssessment/SubmitForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        })
    }
    //单位选择承包商时显示工程字段
    function chooseExamineDept() {
        $.SetForm({
            url: "../../BaseManage/Department/GetFormJson",
            param: { keyValue: $("#ExamineToDeptId").val() },
            success: function (data) {
                if (data != null && data.Nature == "承包商") {
                    $("#trPro").show();
                    $("#ProjectId").ComboBox({
                        url: "../../OutsourcingProject/Outsouringengineer/GetEngineerDataByWBId?deptId=" + $("#ExamineToDeptId").val()+"&mode=1",
                        id: "engineerid",
                        text: "engineername",
                        description: "==请选择==",
                        height: "200px"
                    })
                } else {
                    $("#trPro").hide();
                }

            }
        })
    }
</script>
<div class="center-Panel" style="margin-top:42px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>&nbsp;&nbsp;基础信息</strong>
            <span class="tools pull-right">
                <a href="#" id="historyRecord" style="font-weight: bold;" onclick="GetHistoryInfo()" class="btn btn-primary btn-xs">历史记录信息</a>
                <a class="fa fa-chevron-down" title="展开/收起"></a>
            </span>
        </div>
        <div class="panel-body" id="panel4">
            <div style="margin-top: 5px; margin-right: 30px;">
                <table class="form">
                    <tr>
                        <td class="formTitle">考核编号<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="EXAMINECODE" type="text" placeholder="编号由系统自动生成" @*value="@ViewBag.Code"*@ class="form-control" @*isvalid="yes" checkexpession="NotNull"*@ disabled="disabled" readonly="readonly" />
                        </td>
                        <td class="formTitle">考核类型<font face="宋体">*</font></td>
                        <td class="formValue">
                            @*<select id="ExamineType" style="width:100%" class="form-control" >
            <option value="">请选择</option>
            <option value="1">安健环目标考核</option>
            <option value="2">安全环保事故(事件)考核</option>
            <option value="3">安全环保专项奖励</option>
            <option value="4">安全环保管理考核</option>
            <option value="5">反违章管理考核</option>
            <option value="6">安全文明生产管理考核</option>
            <option value="7">交通安全管理考核</option>
            <option value="8">保卫</option>
            <option value="9">消防安全管理考核</option>
            <option value="10">网络信息安全管理考核</option>
        </select>*@
                            <div id="ExamineType" type="select" class="ui-select"></div>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">提出考核人</td>
                        <td class="formValue">
                            <input id="EXAMINEPERSON" type="text" class="form-control" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName" readonly />
                            <input id="EXAMINEPERSONID" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId" />
                        </td>
                        <td class="formTitle">提出考核单位</td>
                        <td class="formValue">
                            <input id="EXAMINEDEPT" type="text" class="form-control" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName" isvalid="yes" checkexpession="NotNull" onclick="selectDept('', 0, 0, '选择部门', document.body, 'EXAMINEDEPT,EXAMINEDEPTID,EXAMINEDEPTID')"  />
                            <input id="EXAMINEDEPTID" type="hidden" value="@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId" />
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">考核时间<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input id="EXAMINETIME" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd")" @*onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })"*@ />
                        </td>
                        <td class="formTitle">考核性质<font face="宋体">*</font></td>
                        <td class="formValue">
                            <input type="radio" value="0" checked="checked" id="IsConnectPlan1" name="EVALUATETYPE" />&nbsp;<label for="IsConnectPlan">处罚</label>&nbsp;&nbsp;&nbsp;
                            <input type="radio" value="1" id="IsConnectPlan2" name="EVALUATETYPE" />&nbsp;<label for="IsConnectPlan">奖励</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">考核事由</td>
                        <td class="formValue" colspan="3">
                            <textarea class="form-control" rows="4" placeholder="请输入考核事由" id="EXAMINEREASON" maxlength="500" length="500"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">考核依据<font face="宋体">*</font></td>
                        <td class="formValue" colspan="3">
                            <div style="float:left;width:85%;">
                                <textarea class="form-control" rows="4" id="EXAMINEBASIS" isvalid="yes" checkexpession="NotNull"></textarea>
                                <input id="EXAMINEBASISID" type="hidden" value="" />
                            </div>
                            
                            <div style="float:left;margin-left:10px;margin-top:26px;">
                                <a href="javascript:SelectItem()" class="btn btn-primary btn-xs btn10">考核标准</a>
                            </div>
                            

                        </td>
                    </tr>
                    <tr>
                        <td class="formTitle">附件信息</td>
                        <td class="formValue" colspan="3">
                            <div id="uploader" class="uploader" style="border:1px solid #ccc; margin-top:10px; min-height:200px; margin-bottom:10px;">
                                <div class="queueList">
                                    <div id="uploaderFile" class="placeholder">
                                        <div class="filePicker" style="margin-left:25px; margin-top:10px;"></div>
                                    </div>
                                </div>
                                <div class="statusBar" style="display:none;">
                                    <div class="progress">
                                        <span class="text">0%</span>
                                        <span class="percentage"></span>
                                    </div>
                                    <div class="info"></div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" id="panel2" >
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;考核信息</strong>
        <span class="tools pull-right">
            <a id="addScore" class="btn btn-primary btn-xs" onclick="btn_scoreadd()" style="padding-right: 6px;">新增</a>
            <a class="fa fa-chevron-down" title="展开/收起"></a>
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <div class="gridPanel">
                <table id="gridTableEvaluate"></table>
                <div id="gridPagerEvaluate"></div>
            </div>
        </div>
    </div>
</div>


@*<div class="panel panel-default" id="panel3">
    <div class="panel-heading">
        <strong>&nbsp;&nbsp;审核信息</strong>
        <span class="tools pull-right">
            <a class="fa fa-chevron-down" title="展开/收起"></a>
        </span>
    </div>
    <div class="panel-body">
        <div style="margin-top: 5px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <td class="formTitle" style="width:100px;">审批意见</td>
                    <td class="formValue" colspan="3">
                        <textarea id="ApproveOpinion" class="form-control" style="height: 120px;" checkexpession="NotNull"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审批结果<font face="宋体">*</font></td>
                    <td class="formValue">
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="CheckResult" id="CheckResult1" value="0" checked="checked" />通过
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label>
                                <input type="radio" name="CheckResult" id="CheckResult2" value="1" />不通过
                            </label>
                        </div>
                        <input type="hidden" id="SuperviseResult" />
                    </td>
                    <td class="formTitle">审批时间<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApproveTime" type="text" isvalid="yes" checkexpession="NotNull" value="@DateTime.Now.ToString("yyyy-MM-dd")" disabled="disabled" class="form-control input-wdatepicker" onfocus="WdatePicker()" />
                    </td>
                </tr>
                <tr>
                    <td class="formTitle">审批部门<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApproveDeptName" type="text" class="form-control" disabled="disabled" isvalid="yes" checkexpession="NotNull" />
                        <input id="ApproveDeptId" type="hidden" />
                    </td>
                    <td class="formTitle">审批人<font face="宋体">*</font></td>
                    <td class="formValue">
                        <input id="ApprovePerson" type="text" class="form-control" disabled="disabled" isvalid="yes" checkexpession="NotNull" />
                        <input id="ApprovePersonId" type="hidden" />
                    </td>
                </tr>


            </table>
        </div>
    </div>
</div>*@
<div class="form-button" style=" top: 40px; text-align: left; padding-left: 20px; position: fixed; bottom: auto; z-index: 1000;">
    <a id="btn_Save" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;保&nbsp;&nbsp;存</a>
    &nbsp;&nbsp;
    <a id="btn_Submit" class="btn btn-primary"><i class="fa fa-mail-forward"></i>&nbsp;提&nbsp;&nbsp;交</a>
    &nbsp;&nbsp;
</div>