@{;
ViewBag.Title = "表单页面";
Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Content/scripts/business/Common.js" type="text/javascript"></script>
<!--webUploader文件上传组件-->
<link href="~/content/scripts/plugins/webuploader/webuploader.css" rel="stylesheet" />
<link href="~/content/scripts/plugins/webuploader/webuploader-demo.css" rel="stylesheet" />
<script type="text/javascript" src="~/content/scripts/plugins/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="~/content/scripts/business/fileupload.js"></script>
<script>
    var deptId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptId"; //部门ID
    var deptName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().DeptName"; //部门ID
    var userName = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserName";
    var userId = "@ERCHTMS.Code.OperatorProvider.Provider.Current().UserId";
    var roleNames = "@ERCHTMS.Code.OperatorProvider.Provider.Current().RoleName";//当前用户角色
    var orgcode = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeCode";
    var orgID = "@ERCHTMS.Code.OperatorProvider.Provider.Current().OrganizeId";
    //创建用户机构ID 仅省级页面会用到
    var CreateuserOrgid = request("CreateuserOrgid");
    var keyValue = request('keyValue');
    var action = request('action');
    var testproject = "";
    $(function () {
        if (action == "show") {
            $("input").attr("readonly", "readonly");
            $("input").attr("disabled", "disabled");
            $("a").attr("disabled", "disabled");
            $("div").attr("disabled", "disabled");
            $("textarea").attr("disabled", "disabled");
            top.window.$(".layui-layer-btn0").hide();
        }
        initControl();


    });

    //初始化控件
    function initControl() {
        //样品类型
        ComBoxForData("SampleType", "WaterType");
        $("#TestUserName").val(userName);
        $("#TestUserId").val(userId);

        $("#tabrecord tr").each(function (index, item) {
            var curTitle = $(this).find("td:eq(1)").html();
            if (testproject.indexOf(curTitle) < 0) {
                $(this).css("display", "none");
            } else {
                $(this).css("display", "");
            }
        });

        //获取表单
        if (!!keyValue) {
            $.SetForm({
                url: "../../EnvironmentalManage/Waterquality/GetFormJson",
                param: { keyValue: keyValue },
                success: function (data) {
                    if (data != null) {
                        $("#form1").formDeserialize(data);
                        changeSample();
                    }
                }
            });
        }
        

        $("#HidStandard").click(function () {
            var sampletype = $("#SampleType").attr('data-value');
            if (!!sampletype) {
                dialogOpen({
                    id: 'RewardStandard',
                    title: '水质分析参考',
                    url: '/EnvironmentalManage/Waterquality/Standard?sampletype=' + sampletype,
                    width: ($(top.window).width() - 200) + "px",
                    height: ($(top.window).height() - 200) + "px",
                    btn: []
                });
            }
            else {
                dialogMsg('请选择样品名称！', 0);
            }
        });

        $("#SampleType").bind("change", function () {
            changeSample();
        });


    }


    var changeSample = function() {

        var type = $("#SampleType").attr('data-value');
        switch (type) {
        case "1":
            testproject = new Array("PH", "CODcr", "氟化物", "总砷", "总硬度", "镉", "汞");
            break;
        case "2":
            testproject = new Array("PH", "悬浮物", "CODcr", "氟化物", "总砷");
            break;
        case "3":
            testproject = new Array("PH", "悬浮物", "CODcr", "动植物油");
            break;
        case "4":
            testproject = new Array("PH", "悬浮物", "CODcr", "氟化物", "总镉", "总铬", "总铅", "总锌", "总镍");
            break;
        case "5":
            testproject = new Array("PH", "悬浮物", "CODcr", "氟化物", "总镉", "总铬", "总铅", "总锌", "总镍");
            break;
        case "6":
            testproject = new Array("PH", "悬浮物", "CODcr", "氟化物");
            break;
        default:
            testproject = new Array("PH", "CODcr", "氟化物", "总砷", "总硬度", "镉", "汞");
            break;
        };
        $("#tabrecord tr").each(function (index, item) {
            var curTitle = $(this).find("td:eq(1)").html();
            if (testproject.indexOf(curTitle) < 0) {
                $(this).css("display", "none");
            } else {
                $(this).css("display", "");
            }
        });

    };
    //保存表单;
    function AcceptClick() {
        if (!$('#form1').Validform()) {
            return false;
        }
        var postData = $("#form1").formSerialize(keyValue);
        postData["SampleType"] = $("#SampleType").attr("data-value");

        $("#tabrecord tr").each(function (index, item) {
             var input = $(this).find("input");
             var result = input.text();
            //alert(input.attr("id"));
        });

        $.SaveForm({
            url: "../../EnvironmentalManage/Waterquality/SaveForm?keyValue=" + keyValue,
            param: postData,
            loading: "正在保存数据...",
            success: function () {
                $.currentIframe().$("#gridTable").trigger("reloadGrid");
            }
        });
        return false;
    };


    //function addRecord() {
    //    var trhtml ='<tr><td class="formTitle" style="width: 150px">试验项目：</td>  <td class="formTitle" style="width: 150px"><input type="text" class="form-control" isvalid="yes" /></td> <td class="formTitle" style="width: 150px">单位：</td>';
    //    trhtml  +=
    //    '<td class="formTitle" style="width: 150px"><input  type="text" class="form-control" isvalid="yes" /></td><td class="formTitle" style="width: 150px">试验结果：</td><td class="formValue"><input  type="text" class="form-control" isvalid="yes" /></td></tr>';
    //    $("#tabrecord").append(trhtml);
    //}
    //选择人员
    function setSpecialtyPrincipal(itemName, itemValue) {
        var col = '' + itemName + ',,' + itemValue + ',ControlDeptId,ControlDeptCode,ControlDept';
        selectUser({ deptId: $("#deptId").val(), checkMode: 0, mode: 0, winObject: document.body, domId: col });
    }

</script>
<div class="panel panel-default" id="panel0">
    <div class="panel-heading" style="height: 40px">
        <strong>&nbsp;&nbsp;基本信息</strong>
    </div>
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form">
            <tr>
                <td class="formTitle">样品名称<font face="宋体">*</font></td>
                <td class="formValue">
                    <div id="SampleType" type="select" class="ui-select" isvalid="yes" checkexpession="NotNull"></div>
                </td>
                <td class="formTitle" style="width: 150px">样品编号<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="SampleNo" type="text" class="form-control" isvalid="yes" checkexpession="NotNull" />
                </td>

            </tr>
            <tr>
                <td class="formTitle">试验人员<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="TestUserName" type="text" class="form-control" style="display: inline-block;" readonly isvalid="yes" checkexpession="NotNull" />
                    <input id="TestUserId" type="hidden" />
                   @* <a id="btn_Select" class="btn btn-primary" href="javascript:selectUser({ deptId: '', checkMode: 0, mode: 0, winObject: window.document.body, domId: 'TestUserName,,TestUserId' });" style="background-color: #2e99d4; border-color: #2e99d4; display: inline-block; vertical-align: top; line-height: 14px;">&nbsp;选&nbsp;&nbsp;择</a>*@
                </td>
                <td class="formTitle">试验日期<font face="宋体">*</font></td>
                <td class="formValue">
                    <input id="TestDate" type="text" class="form-control input-wdatepicker" onfocus="WdatePicker({ dateFmt: 'yyyy-MM-dd' })" isvalid="yes" checkexpession="NotNull" />
                </td>
            </tr>
        </table>
    </div>
    <div class="panel-heading" style="height: 40px">
        <strong>&nbsp;&nbsp;试验信息</strong>
        <span class="tools pull-right">
            @*<a id="addRecord" class="btn btn-primary" onclick="addRecord()"><i class="fa fa-plus"></i>&nbsp;新增</a>*@
            <a href="#" id="HidStandard" class="btn btn-primary" title='参考'><i class='fa fa-pencil-square-o'></i>参考</a>
        </span>
    </div>
    <div style="margin-top: 20px; margin-right: 30px;">
        <table class="form" id="tabrecord">
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">PH</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">/</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="PH" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>

            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">悬浮物</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="XFW" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">CODcr</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="CODCR" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">氟化物</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="FHW" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总砷</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZS" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总硬度</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZYD" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">镉</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="GE" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">汞</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="GONG" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总镉</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZGE" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总铬</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZL" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总铅</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZQ" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总锌</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZX" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">总镍</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="ZXIU" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
            <tr>
                <td class="formTitle" style="width: 150px">试验项目：</td>
                <td class="formTitle" style="width: 150px">动植物油</td>
                <td class="formTitle" style="width: 150px">单位：</td>
                <td class="formTitle" style="width: 150px">mg/L</td>
                <td class="formTitle" style="width: 150px">试验结果：</td>
                <td class="formValue">
                    <input id="DZWY" type="text" class="form-control" isvalid="yes" checkexpession="DoubleOrNull" />
                </td>
            </tr>
        </table>
    </div>
</div>
