@using ERCHTMS.Busines.CarManage;
@using ERCHTMS.Busines.SystemManage;
@{
    var a = new HikinoutlogBLL().GetCarPeopleTopData();
    var b = new HikinoutlogBLL().GetTodayCarPeopleCount();
    var c = new DataItemDetailBLL().GetListItems("发电机组负荷");
    var dateNow = DateTime.Now;
    var startWorkDate = new DateTime(2010, 2, 1);
    var diffDay = Math.Abs((dateNow - startWorkDate).Days).ToString();

    var peopleJson = Newtonsoft.Json.JsonConvert.SerializeObject(a["People"]);
    var carListJson = Newtonsoft.Json.JsonConvert.SerializeObject(a["Car"]);
    var peopleList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<object>>(peopleJson);
    var carList = Newtonsoft.Json.JsonConvert.DeserializeObject<List<object>>(carListJson);
}
<style>
    body {
        color: red;
    }

    .content {
        width: 446px;
        height: 256px;
        background: url("~/Content/jnjtIndex/images/bg.jpg");
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        color: red;
        text-align: center;
        background-color: black;
    }

    .title {
        font-size: 26px;
        font-weight: 900;
        margin: 10px 0px 0px 0px;
    }

    .date {
        font-size: 19px;
        font-weight: 900;
    }

    .number {
        display: inline-block;
        /*background-color: #242222;*/
        color: red;
        width: 8px;
        height: 23px;
        font-weight: bold;
        line-height: 23px;
        border-radius: 2px;
    }

    li {
        list-style: none;
    }

    ul {
        -moz-padding-start: 0px;
        -webkit-padding-start: 0px;
        width: 205px;
        -webkit-margin-before: 5px;
        -webkit-margin-after: 5px;
    }

    .body_content .person li {
        height: 28px;
        line-height: 28px;
        border-bottom: 1px solid red;
        font-size: 19px;
    }

    .body_content .comeIn li span {
        display: inline-block;
        width: 90px;
    }

    .body_content .elity li span {
        display: inline-block;
        width: 90px;
    }

    .body_content .person li:nth-child(1) {
        height: 25px;
        line-height: 25px;
        /*background-color: #242222;*/
        color: red;
        font-weight: bold;
        border-radius: 20px;
    }

    .body_content {
        padding: 0 10px;
    }

    .name {
        font-size: 11px;
        /*background-color: #242222;*/
        color: red;
        border-radius: 10px;
    }

        .name li {
            height: 28px;
            line-height: 28px;
        }

            .name li span:nth-child(1) {
                width: 130px;
                text-align: left;
                display: inline-block;
            }


    .tb_inoutCount {
        width: 95%;
        margin: 0px 10px;
    }

        .tb_inoutCount th, td {
            border-bottom: 2px solid red;
            padding: 3px 0px;
            text-align: center;
        }

        .tb_inoutCount th {
            font-size: 22px;
        }

    #InoutDIV table tr td {
        padding: 6px 0px;
    }
</style>
<div class="content">
    <div class="title">内蒙古京泰发电有限责任公司</div>
    <div class="date">
        <img style="margin-left:-15px;" src="~/Content/jnjtIndex/images/date.png" alt="" class="img_date">
        <span id="span_year">@DateTime.Now.ToString("yyyy/MM/dd")</span>&nbsp;
        <span id="span_time">@DateTime.Now.ToString("HH:mm")</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span>安全生产</span>
        <span id="workDays">
            @if (!string.IsNullOrEmpty(diffDay))
            {
                foreach (var item in diffDay)
                {
                    <span class="number">@item</span>
                }
            }
            <span>天</span>
        </span>
    </div>
    <table class="tb_inoutCount" cellspacing="0">
        <tr>
            <th>人员类别</th>
            <th>人员数量</th>
            <th>车辆类别</th>
            <th>车辆数量</th>
        </tr>
        <tr>
            <th>进入人员</th>
            <th>@b["PeopleIn"]</th>
            <th>进入车辆</th>
            <th>@b["CarIn"]</th>
        </tr>
        <tr>
            <th>外出人员</th>
            <th>@b["PeopleOut"]</th>
            <th>外出车辆</th>
            <th>@b["CarOut"]</th>
        </tr>
    </table>
    <div class="body_content">
        <!--<ul style="float: left;" class="person comeIn">
            <li>
                <span>人员类别</span>
                <span>人员数量</span>
            </li>
            <li>
                <span style="font-size:14px !important;">进入人员</span>
                <span id="peopleIn">@b["PeopleIn"]</span>

            </li>
            <li>
                <span  style="font-size:14px !important;">外出人员</span>-->
        @*<span id="carIn">@b["CarIn"]</span>*@
        <!--<span id="peopleOut">@b["PeopleOut"]</span>
        </li>-->
        @*<li>
                <span>外出</span>
                <span id="peopleOut">@b["PeopleOut"]</span>
                <span>外出</span>
                <span id="carOut">@b["CarOut"]</span>
            </li>*@
        <!--</ul>
        <ul style="float: right;" class="person elity" id="PowerCount">
            <li>
                <span>车辆类别</span>
                <span>车辆数量</span>
            </li>
            <li>
                <span  style="font-size:14px !important;">进入车辆</span>
                <span>@b["CarIn"]</span>

            </li>
            <li>
                <span  style="font-size:14px !important;">外出车辆</span>
                <span>@b["CarOut"]</span>
            </li>-->
        @*@if (c != null && c.Count() > 0)
                {
                    foreach (var item in c.Take(2))
                    {
            <li>
                <span>进入车辆</span>
                <span>@b["CarIn"]</span>
                <span>外出车辆</span>
                <span>@b["CarOut"]</span>
            </li>
                    }
                }*@
        <!--</ul>-->
        <div style="clear: both;"></div>
        <div style="font-size:16px; color:white;" id="InoutDIV">
            <table style="float:left; width:205px; border-radius:10px;  text-align:center; font-weight:800;" border="0" cellpadding="0" cellspacing="0">
                @if (peopleList != null && peopleList.Count > 0)
                {
                    foreach (var item in peopleList.Take(2))
                    {
                        var json = Newtonsoft.Json.JsonConvert.DeserializeAnonymousType(Newtonsoft.Json.JsonConvert.SerializeObject(item), new
                        {
                            UserName = string.Empty,
                            CreateDate = DateTime.Now,
                            InOut = string.Empty,
                            AreaName = string.Empty
                        });
                        <tr style="height:28px;height:28px;  color:red">
                            <td>@json.UserName</td>
                            <td>@json.CreateDate.ToString("HH:mm")</td>
                            <td>@Html.Raw(json.InOut + json.AreaName)</td>
                        </tr>
                    }
                }

            </table>


            <table style="float:right; width:205px; font-weight:800;  border-radius:10px; text-align:center;" border="0" cellpadding="0" cellspacing="0">
                @if (carList != null && carList.Count > 0)
                {
                    foreach (var item in carList.Take(2))
                    {
                        var json = Newtonsoft.Json.JsonConvert.DeserializeAnonymousType(Newtonsoft.Json.JsonConvert.SerializeObject(item), new
                        {
                            DriverName = string.Empty,
                            CreateDate = DateTime.Now,
                            InOut = string.Empty,
                            Address = string.Empty,
                            CarNo = string.Empty
                        });
                        <tr style="height:28px; color:red;">
                            <td>@json.CarNo</td>
                            <td>@json.CreateDate.ToString("HH:mm")</td>
                            <td>@Html.Raw(json.InOut + json.Address)</td>
                        </tr>
                    }
                }

            </table>

        </div>
    </div>
</div>